<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.likes.mapper.LikesMapper">

	<select id="likeList" resultType="LikesVO">
		SELECT * FROM likes
	</select>

	<select id="getLike" resultType="LikesVO">
		SELECT *
		FROM LIKES
		WHERE USER_ID = #{userId}
		AND TARGET_NO = #{targetNo}
	</select>
	
	<!-- 좋아요 등록 -->
	<insert id="likeInsert">
		INSERT INTO LIKES
		VALUES('LI'||LIKENO_SEQ.NEXTVAL, #{userId}, #{targetNo}, #{category})
	</insert>
	
	<!-- 좋아요 취소 -->
	<delete id="likeDelete">
		DELETE FROM LIKES
		WHERE USER_ID = #{userId}
		AND TARGET_NO = #{targetNo}
	</delete>
</mapper>