<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.questions.mapper.QuestionsMapper">

	<select id="questionsList" resultType="QuestionsVO">
		select *
		from Questions 
		where target_id =#{targetId}
		and category = #{category}
	</select>
	
	<!-- 문의사항 전체조회 -->
	<select id="qnaList" resultType="QuestionsVO">
		SELECT QU.*, 
			CASE WHEN Q_NO IN (SELECT Q.Q_NO
			FROM QUESTIONS Q, QUESTIONS A
			WHERE Q.Q_NO = A.REREP_TGT) THEN '답변완료'
	        ELSE '미답변'
	        END AS ANS
		FROM QUESTIONS QU
        WHERE USER_ID = #{userId}
	   <!-- <![CDATA[
			 AND ROWNUM <= #{last} 
	    AND RN >= #{first}
		]]>-->
	</select>
	
	<select id="getQuestions" resultType="QuestionsVO">
		select * 
		from Questions
		where category = #{category}
		and target_id = #{targetId}
		and q_no = #{qNo}
	</select>
	
	<!-- 게시글 시퀀스번호 찾기 -->
	<select id="getSeq" resultType="String">
		SELECT 'QU'||(MAX(TO_NUMBER(SUBSTR(Q_NO,3)))+1) q_no
			FROM Questions
	</select>
	
	<insert id="questionsInsert">
		<selectKey keyProperty="qNo" resultType="String" order="BEFORE">
			SELECT 'QU'||(MAX(TO_NUMBER(SUBSTR(Q_NO,3)))+1) q_no
			FROM Questions
		</selectKey>
	
		insert into QUESTIONS(Q_NO,USER_ID,TARGET_ID,TTL,CNTN,WRITING_DT,SECRET_YN,CATEGORY,REREP_TGT)
		values(	#{qNo},
				#{userId},
				#{targetId},
				#{Ttl},
				#{Cntn},
				current_date,
				#{secretYn},
				#{category},
				#{rerepTgt}
				)
	</insert>
	
	<update id="questionsUpdate">
		update QUESTIONS
		set CNTN= #{Cntn},
			WRITING_DT = current_date,
			SECRET_YN = #{secretYn}
		where q_no = #{qNo}
		and user_id = #{userId}
	</update>
	
	<delete id="questionsDelete">
		delete questions
		where q_no = #{qNo}
		and user_id = #{userId}
	</delete>
	
	<!-- 게시글 개수 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM QUESTIONS
	</select>
</mapper>