<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.eventi.left.questions.mapper.QuestionsRepMapper">


	<select id="questionsRepList" resultType="QuestionsRepVO">
		select * from Questions_Rep
	</select>

	<select id="getQuestionsRep" resultType="QuestionsRepVO">
		select * 
		from Questions_Rep
		where Q_no = #{qNo}
	</select>

</mapper>