<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<head>
<style>
#container {
	width: 70%;
	margin: 0 auto;
}

#signIn {
	display: flex;
}

#signInBox {
	padding: 20px;
	min-height: 550px;
	display: flex;
	line-height: 3em;
	flex-direction: column;
}

#signIn-left {
	padding: 20px;
	width: 50%;
	display: inline-block;
	border-right: 1px solid black;
}

#signIn-right {
	padding: 20px;
	width: 50%;
	display: inline-block;
}

#submitArea {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#submitArea button {
	margin-left: 10px;
}

.formLabel {
	width: 100px;
	margin-top: 40px;
}

.formInput {
	width: 300px;
}

#inputEmailChk {
	width: 140px;
    margin-left: 263px;
}

.inputRadio {
	width: 20px;
}

#inputEmailChk {
	width: 140px;
	margin-left: 263px;
}

.busiArea {
	width: 30px;
	margin: 0;
	display: block;
}

#chkArea {
	width: 530px;
	display: flex;
	justify-content: space-evenly;
}

.chkArea {
	width: 180px;
    height: 300px;
    overflow: auto;
    padding: 5px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    border-radius: 10px;
    background: rgba(255,255,255,0.6);
}

.busiTypeR input {
	margin-left: 20px;
}

#modal {
	display: none;
	position: fixed;
	top: 25em;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	width: 100%;
}

#modal h2 {
	margin: 0;
}

#modal button {
	display: inline-block;
	width: 100px;
	border: 0.2px solid black;
	border-radius: 5px;
}

#modal .modal_content {
	width: 350px;
	min-height: 200px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	border: 0.5px solid #666;
	border-radius: 15px;
}

#modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

#modal_login_btn {
	background: #2fb380;
}

#button_box {
	display: flex;
	margin-top: 40px;
	justify-content: flex-end;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div style="background-image: url(&quot;/assets/images/signUpBusi.jpg&quot;);padding-top: 60px;">
		<div id="container">
			<div id="signInBox">
				<form id="signIn" name="signIn">
					<div id="signIn-left">
						<h3 class="mb-4 billing-heading" align="center"><b>기본정보</b>(필수)</h3>
						
						<label for="userId" class="formLabel">아이디</label>
						<input type="text" class="formInput" name="userId" id="inputId" maxLength="12" placeholder="최대 12글자의 영문자,숫자 조합">
						<div>
							<font id="id_feedback" size="2" value="1"></font>
						</div>
						
						<label for="userPassword" class="formLabel">비밀번호</label>
						<input type="password" class="formInput" name="userPassword" id="pw1" maxLength="12" placeholder="숫자와 문자 포함 형태의 6~12자리 이내">
						<div>
							<font id="pwc_feedback" size="2" value="1"></font>
						</div>
						
						<label for="passwordchk" class="formLabel">비밀번호확인</label>
						<input type="password" class="formInput" name="passwordchk" id="pw2">
						<div>
							<font id="pw_feedback" size="2" value="1"></font>
						</div>
						
						<label for="name" class="formLabel">성명</label>
						<input type="text" class="formInput" name="name" id="inputName" placeholder="홍길동"><br>
						
						<label for="userEmail" class="formLabel">이메일주소</label>
						<input type="email" class="formInput" name="userEmail" id="inputEmail" placeholder="eventi@eventi.com">
						<button type='button' id="sendEmail" class="btn btn-default btn-round"><b>인증번호전송</b></button><br>
						<span class="mail_input_box_warn"></span>
						<input id="inputEmailChk" type="text" placeholder="숫자 6자리의 인증번호">
						<div>
							<font id="email_feedback" size="2" value="1"></font>
						</div>
						
						<label for="inputPhone" class="formLabel">전화번호</label>
						<input type="tel" name="userPhone" class="formInput" id="inputPhone" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" maxlength="11" placeholder=" - 제외 11자리 (010XXXXXXXX)"><br>
						<label for="bankCode" class="formLabel">은행사</label>
						<select th:name="bank" id="bankCode" style="width:80px;height:48px;" required>
							<option value=""> 은행사 </option>
							<option th:each="bankCode : ${bankCode}" th:value="${bankCode.codeId}" th:text="${bankCode.codeName}"></option>
						</select>
						<input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" name="accnt" id="inputAccnt" placeholder="- 제외 숫자만" style="width:213px;" ><br>
						<div class="busiTypeR">
							<label>메일 알림수신</label> 
							<label class="labelRadio"><input type="radio" name="userMessaging" value="S1" checked>수신동의</label>
							<label class="labelRadio"><input type="radio" name="userMessaging" value="S0">수신거부</label>
						</div>
					</div>

					<div id="signIn-right">
						<h3 class="mb-4 billing-heading" align="center"><b>사업자정보</b>(필수)</h3>
						<input type="hidden" name="Type" id="busiType" value="U1">
						<label for="b_nm" class="formLabel">상호명</label><input type="text"
							name="Title" class="formInput" id="busiTitle"><br>
						<label for="BNo" class="formLabel">사업자등록번호</label><input
							type="text" name="Num" class="formInput" id="inputBno" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxLength="10" placeholder=" - 제외 숫자 10자리(ex: 1011012345)">
						<button type='button' id="busiChk" class="btn btn-default btn-round"><b>사업자인증</b></button>
						<br>
						<div>
							<font id="busi_feedback" size="2" value="1"></font>
						</div>
						<br>
						<div id="chkArea">
							<div>
								<b>행사가능지역</b>
								<div class="chkArea">
									<div th:each="area : ${busiArea}">
										<input type="checkbox" th:id="${area.codeId}"
											th:value="${area.codeId}" name="Area"> <label
											th:text="${area.codeName}" th:for="${area.codeId}"></label>
									</div>
								</div>
							</div>
							<div>
								<b>행사유형</b>
								<div class="chkArea">
									<div th:each="type : ${busiStyle}">
										<input type="checkbox" th:id="${type.codeId}"
											th:value="${type.codeId}" name="Style"> <label
											th:text="${type.codeName}" th:for="${type.codeId}"></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			<div id="submitArea">
				<button type='reset' class="btn btn-g btn-round btn-lg"><b>초기화</b></button>
				<button type='button' id="busiSignUp" class="btn btn-warning btn-round btn-lg"><b>회원가입</b></button>
			</div>
			</div>
		</div>
		</div>
		<div id="modal">
			<div class="modal_content">
				<h2>회원가입완료!</h2>
				<p>업체회원으로 활동하실 수 있습니다.</p>
				<div id="button_box">
					<button type="button" id="modal_login_btn"
						th:onclick="|location.href='@{loginPage}'|">로그인</button>
					<button type="button" id="modal_main_btn"
						th:onclick="|location.href='/'|">홈으로</button>
				</div>
			</div>
			<div class="modal_layer"></div>
		</div>
		<script>
			var header = $("meta[name='_csrf_header']").attr("content");
			var token = $("meta[name='_csrf']").attr("content");

			/* 아이디 중복 확인 */
			$('#inputId').keyup(function() {
				var inputId = $('#inputId').val(); //입력한 ID
				if(!idFormCheck(inputId)){
					$("#id_feedback").html('사용할 수 없는 아이디 형식입니다.');
					$("#id_feedback").attr('color', '#dc3545');
					$("#id_feedback").attr('value', '1');
				}else{
					$.ajax({
						url : "/memIdCheck",
						type : "post",
						data : {
							inputId : inputId
						},
						datatype : 'json',
						beforeSend : function(xhr) {
							xhr.setRequestHeader(header, token);
						},
						success : function(result) {
							if (result == 1) {
								$("#id_feedback").html('이미 사용중인 아이디입니다.');
								$("#id_feedback").attr('color', '#dc3545');
								$("#id_feedback").attr('value', '1');
							} else {
								$("#id_feedback").html('사용할 수 있는 아이디입니다.');
								$("#id_feedback").attr('color', '#2fb380');
								$("#id_feedback").attr('value', '0');
							}
						},
						error : function() {
							alert("서버 요청 실패");
						}
					})
				}
			})

			//비밀번호 유효성 검사
			$('#pw1').keyup(function() {
				var p1 = $('#pw1').val();
				if (pwFormCheck(p1)) {
					$("#pwc_feedback").html('사용할 수 있는 비밀번호 입니다.');
					$("#pwc_feedback").attr('color', '#2fb380');
					$("#pwc_feedback").attr('value', '0');
				} else {
					$("#pwc_feedback").html('사용할 수 없는 비밀번호 입니다.');
					$("#pwc_feedback").attr('color', '#dc3545');
					$("#pwc_feedback").attr('value', '1');
				}
			})
			
			//아이디 형식 검사 메소드
			function idFormCheck(p1) {
				var form = /^[A-Za-z0-9]{6,12}$/;
				;
				return form.test(p1);
			}
			//비밀번호 형식 검사 메소드
			function pwFormCheck(p1) {
				var form = /^[A-Za-z0-9]{6,12}$/;
				;
				return form.test(p1);
			}

			/* 비밀번호 확인 */
			$('#pw2').keyup(function() {
				var p1 = $('#pw1').val(); //비밀번호 값
				var p2 = $('#pw2').val(); //비밀번호 확인
				if (p1 == p2) {
					$("#pw_feedback").html('비밀번호가 일치합니다.');
					$("#pw_feedback").attr('color', '#2fb380');
					$("#pw_feedback").attr('value', '0');
				} else {
					$("#pw_feedback").html('비밀번호가 일치하지 않습니다.');
					$("#pw_feedback").attr('color', '#dc3545');
					$("#pw_feedback").attr('value', '1');
				}
			})

			/* 이메일 인증번호 전송 */
			var code = ""; //이메일전송 인증번호 저장위한 코드
			$("#sendEmail").click(function() {
				var warnMsg = $(".mail_input_box_warn");
				var email = $("#inputEmail").val(); // 입력한 이메일

				if (mailFormCheck(email)) {
					warnMsg.html("이메일이 전송 되었습니다. 이메일을 확인해주세요.");
					warnMsg.css("display", "inline-block");
				} else {
					warnMsg.html("올바르지 못한 이메일 형식입니다.");
					warnMsg.css("display", "inline-block");
					return false;
				}
				$.ajax({
					type : "GET",
					url : "mailCheck?email=" + email,
					success : function(data) {
						code = data;
						$("#sendEmail").attr('disabled', 'disabled');
					},
					error : function() {
						alert("서버 요청 실패");
					}
				});
			});

			//이메일 형식 검사 메소드
			function mailFormCheck(email) {
				var form = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
				return form.test(email);
			}

			/* 인증번호 비교 */
			$("#inputEmailChk").keyup(function() {
				var inputCode = $("#inputEmailChk").val();
				var checkResult = $("#email_feedback");
				if (inputCode == code) { // 일치할 경우
					checkResult.html("인증번호가 일치합니다.");
					checkResult.attr('color', '#2fb380');
					checkResult.attr('value', '0');
				} else { // 일치하지 않을 경우
					checkResult.html("인증번호를 다시 확인해주세요.");
					checkResult.attr('color', '#dc3545');
					checkResult.attr('value', '1');
				}
			});

			//유효성 최종 검사 후 회원가입 처리
			$("#busiSignUp").click(function() {
				console.log('hey');
				var idCheck = $("#id_feedback").attr('value');
				var pwCheck = $("#pw_feedback").attr('value');
				var pwcCheck = $("#pwc_feedback").attr('value');
				var emailCheck = $("#email_feedback").attr('value');
				var busiCheck = $("#busi_feedback").attr('value');
				var name = $("#inputName").val();
				var vTitle = $("#busiTitle").val();
				var phone = $("#inputPhone").attr('value');
				var accnt = $("#inputAccnt").attr('value');
				

				if (idCheck == 1) {
					alert("아이디 중복체크 검사는 필수입니다.");
				} else if (pwCheck == 1) {
					alert("비밀번호와 비밀번호확인 값이 다릅니다.");
					$("#pw2").focus();
				} else if (pwcCheck == 1) {
					alert("비밀번호를 확인해주세요.");
					$("#pw1").focus();
				} else if (emailCheck == 1) {
					alert("이메일 인증 절차를 진행해 주세요.");
				} else if (name == "") {
					alert("이름을 입력해 주세요.");
					$("#inputName").focus();
				} else if (phone == "") {
					alert("전화번호를 입력해 주세요.");
				} else if (accnt == "") {
					alert("계좌번호를 입력해 주세요.");
				} else if (vTitle == "") {
					alert("상호명을 입력해 주세요.");
					$("#busiTitle").focus();
				} else if (busiCheck == 1) {
					alert("사업자 인증 절차를 진행해 주세요.");
				} else {
					signUp(); //회원가입 함수 실행
				}
			});

			//회원가입 메소드
			function signUp() {
				var busiAreaArr = [];
				var busiStyleArr = [];
				var id = $('#inputId').val()
				var busiNum = $('#inputBno').val();
				var busiTitle = $('#busiTitle').val();
				var busiType = $('#busiType').val();
				var areaChecked = $('input:checkbox[name="Area"]:checked');
				var styleChecked = $('input:checkbox[name="Style"]:checked');
				for (var i = 0; i < areaChecked.length; i++) {
					busiAreaArr.push(areaChecked.eq(i).val())
				}
				for (var i = 0; i < styleChecked.length; i++) {
					busiStyleArr.push(styleChecked.eq(i).val())
				}
				var busiArea = busiAreaArr.toString();
				var busiStyle = busiStyleArr.toString();
				var busi = {
					"userId" : id,
					"busiNum" : busiNum,
					"busiTitle" : busiTitle,
					"busiType" : busiType,
					"busiArea" : busiArea,
					"busiStyle" : busiStyle,
				};
				var data = $('form[name="signIn"]').serializeObject();
				data.busi = busi
				$.ajax({
					url : "/insertBusiMember",
					method : "post",
					contentType : 'application/json',
					data : JSON.stringify(data),
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(result) {
						$("#modal").show();
					},
					error : function() {
						alert("서버 요청 실패");
					}
				})
			}

			//사업자인증
			$('#busiChk')
					.click(
							function() {
								var bno = $('#inputBno').val();
								var busiResult = $("#busi_feedback");
								var data = {
									"b_no" : [ bno ]
								}
								$
										.ajax({
											url : "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=ZP9liKICYhLgOIetbA%2FuHmbWd5%2B0eIbaXupCEqDK%2FkT8pXmtK71I7411M4zxmcpVZamTpeIrDBf1GE1BsfDxvg%3D%3D", // serviceKey 값을 xxxxxx에 입력
											type : "POST",
											data : JSON.stringify(data), // json 을 string으로 변환하여 전송
											dataType : "JSON",
											contentType : "application/json",
											accept : "application/json",
											success : function(result) {
												if (result.match_cnt == 1) { // 진위확인 완료할 경우
													busiResult
															.html("사업자 인증완료!");
													busiResult.attr('color',
															'#2fb380');
													busiResult.attr('value',
															'0');
												} else { // 실패
													busiResult
															.html("사업자 인증실패!");
													busiResult.attr('color',
															'#dc3545');
													busiResult.attr('value',
															'1');
												}
											},
											error : function(result) {
												alert(result.responseText);
											}
										})
							})
		</script>
	</div>
</body>

</html>