<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<head>
	<style>
		#container {
			width: 80%;
			margin: 0 auto;
		}

		#signIn {
			display: flex;
		}

		#signInBox {
			padding: 20px;
			min-height: 550px;
			display: flex;
			line-height: 3em;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		#signIn-left {
			padding: 20px;
			width: 50%;
			display: inline-block;
			border-right: 1px solid black;
		}

		#signIn-right {
			padding: 20px;
			width: 50%;
			display: inline-block;
		}

		#submitArea {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		label {
			width: 130px;
			margin-top: 40px;
		}

		input {
			width: 300px;
			margin-right: 15px;
		}

		.inputRadio {
			width: 20px;
		}

		.labelRadio {
			width: 80px;
		}

		#inputEmailChk {
			width: 150px;
			margin-left: 280px;
		}

		.busiArea {
			width: 30px;
			margin: 0;
			display:block;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-end justify-content-center">
					<div class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 class="mb-0 bread">업체회원 회원가입</h2>
					</div>
				</div>
			</div>
		</section>
		<div id="container">
			<div id="signInBox">
				<form id="signIn" name="signIn">
					<div id="signIn-left">
						<h3 class="mb-4 billing-heading">기본정보(필수)</h3>
						<label for="userId">아이디</label><input type="text" name="userId" id="inputId">
						<div>
							<font id="id_feedback" size="2" value="1"></font>
						</div>
						<label for="userPassword">비밀번호</label><input type="password" name="userPassword" id="pw1"
							placeholder="숫자와 문자 포함 형태의 6~12자리 이내">
						<div>
							<font id="pwc_feedback" size="2" value="1"></font>
						</div>
						<label for="passwordchk">비밀번호확인</label><input type="password" name="passwordchk" id="pw2">
						<div>
							<font id="pw_feedback" size="2" value="1"></font>
						</div>
						<label for="name">성명</label><input type="text" name="name" id="inputName"><br>
						<label for="userEmail">이메일주소</label><input type="text" name="userEmail" id="inputEmail">
						<button type='button' id="sendEmail">인증번호전송</button><br>
						<span class="mail_input_box_warn"></span> <input id="inputEmailChk" type="text">
						<div>
							<font id="email_feedback" size="2" value="1"></font>
						</div>
						<label for="mailGet">메일 알림수신</label>
						<input type="radio" class="inputRadio" name="userMessaging" value="s1" checked><label
							class="labelRadio">수신동의</label>
						<input type="radio" class="inputRadio" name="userMessaging" value="s0"><label
							class="labelRadio">수신거부</label>
					</div>

					<div id="signIn-right">
						<h3 class="mb-4 billing-heading">사업자정보</h3>
						<label for="p_nm">대표자성명</label><input type="text" name="p_nm"><br>
						<label for="BNo">사업자등록번호</label><input type="text" name="BNo"><br>
						<label for="start_dt">개업일자</label><input type="date" name="start_dt"><br>
						<label for="b_nm">상호명</label><input type="text" name="b_nm"><br>
						<label for="busiArea">행사가능지역</label>
						<input th:each="c : ${country}" type="checkbox" class="busiArea" name="busiArea"
							th:text="${c.codeName}" width="20px"><br>
						<label for="password">업체유형</label>
						<div class="radio">
							<label class="mr-3"><input type="radio" name="optradio">
								행사업체</label> <label><input type="radio" name="optradio">렌탈업체</label>
						</div>
					</div>
				</form>
				<div id="submitArea">
					<button class="btn btn-primary py-3 px-5" id="normalSignIn">초기화</button>
					<button class="btn btn-primary py-3 px-5" id="normalSignIn">회원가입</button>
				</div>
			</div>
		</div>
		<script>
			var header = $("meta[name='_csrf_header']").attr("content");
			var token = $("meta[name='_csrf']").attr("content");
			
			/* 아이디 중복 확인 */
			$('#inputId').keyup(function () {
				var inputId = $('#inputId').val(); //입력한 ID
				$.ajax({
					url: "/memIdCheck",
					type: "post",
					data: {
						inputId: inputId
					},
					datatype: 'json',
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (result) {
						if (result == 1) {
							$("#id_feedback").html('이미 사용중인 아이디입니다.');
							$("#id_feedback").attr('color', '#dc3545');
							$("#id_feedback").attr('value', '1');
						} else {
							$("#id_feedback").html('사용할 수 있는 아이디입니다.');
							$("#id_feedback").attr('color', '#2fb380');
							$("#id_feedback").attr('value', '0');
						}
					},
					error: function () {
						alert("서버 요청 실패");
					}
				})
			})

			//비밀번호 유효성 검사
			$('#pw1').keyup(function () {
				var p1 = $('#pw1').val();
				if (pwFormCheck(p1)) {
					$("#pwc_feedback").html('사용할 수 있는 비밀번호 입니다.');
					$("#pwc_feedback").attr('color', '#2fb380');
					$("#pwc_feedback").attr('value', '0');
				} else {
					$("#pwc_feedback").html('사용할 수 없는 비밀번호 입니다.');
					$("#pwc_feedback").attr('color', '#dc3545');
					$("#pwc_feedback").attr('value', '1');
				}
			})

			//비밀번호 형식 검사 메소드
			function pwFormCheck(p1) {
				var form = /^[A-Za-z0-9]{6,12}$/;;
				return form.test(p1);
			}

			/* 비밀번호 확인 */
			$('#pw2').keyup(function () {
				var p1 = $('#pw1').val(); //비밀번호 값
				var p2 = $('#pw2').val(); //비밀번호 확인
				if (p1 == p2) {
					$("#pw_feedback").html('비밀번호가 일치합니다.');
					$("#pw_feedback").attr('color', '#2fb380');
					$("#pw_feedback").attr('value', '0');
				} else {
					$("#pw_feedback").html('비밀번호가 일치하지 않습니다.');
					$("#pw_feedback").attr('color', '#dc3545');
					$("#pw_feedback").attr('value', '1');
				}
			})

			/* 이메일 인증번호 전송 */
			var code = ""; //이메일전송 인증번호 저장위한 코드
			$("#sendEmail").click(function () {
				var warnMsg = $(".mail_input_box_warn");
				var email = $("#inputEmail").val(); // 입력한 이메일

				if (mailFormCheck(email)) {
					warnMsg.html("이메일이 전송 되었습니다. 이메일을 확인해주세요.");
					warnMsg.css("display", "inline-block");
				} else {
					warnMsg.html("올바르지 못한 이메일 형식입니다.");
					warnMsg.css("display", "inline-block");
					return false;
				}
				$.ajax({
					type: "GET",
					url: "mailCheck?email=" + email,
					success: function (data) {
						code = data;
						$("#sendEmail").attr('disabled', 'disabled');
					},
					error: function () {
						alert("서버 요청 실패");
					}
				});
			});

			//이메일 형식 검사 메소드
			function mailFormCheck(email) {
				var form = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
				return form.test(email);
			}

			/* 인증번호 비교 */
			$("#inputEmailChk").keyup(function () {
				var inputCode = $("#inputEmailChk").val();
				var checkResult = $("#email_feedback");
				if (inputCode == code) { // 일치할 경우
					checkResult.html("인증번호가 일치합니다.");
					checkResult.attr('color', '#2fb380');
					checkResult.attr('value', '0');
				} else { // 일치하지 않을 경우
					checkResult.html("인증번호를 다시 확인해주세요.");
					checkResult.attr('color', '#dc3545');
					checkResult.attr('value', '1');
				}
			});
			//유효성 최종 검사 후 회원가입 처리
			$("#normalSignIn").click(function () {
				var idCheck = $("#id_feedback").attr('value');
				var pwCheck = $("#pw_feedback").attr('value');
				var pwcCheck = $("#pwc_feedback").attr('value');
				var emailCheck = $("#email_feedback").attr('value');
				var name = $("#inputName").val();

				if (idCheck == 1) {
					alert("아이디 중복체크 검사는 필수입니다.");
				} else if (pwCheck == 1) {
					alert("비밀번호와 비밀번호확인 값이 다릅니다.");
				} else if (pwcCheck == 1) {
					alert("비밀번호를 확인해주세요.");
				} else if (emailCheck == 1) {
					alert("이메일 인증 절차를 진행해 주세요.");
				} else if (name == "") {
					alert("이름을 입력해 주세요.");
				} else {
					signIn(); //회원가입 함수 실행
				}
			});

			//회원가입 함수
			function signIn() {
				var qualLi = $(".qualLi");
				var qualArray = [];
				for (var i = 0; i < qualLi.length; i++) {
					qualArray.push(qualLi.eq(i).children().eq(0).data('value'));
				}
				console.log(qualArray);
				var data = $('form[name="signIn"]').serializeObject();
				data.crtfs = qualArray;
				$.ajax({
					url: "/insertMember",
					method: "post",
					contentType: 'application/json',
					data: JSON.stringify(data),
					success: function (result) {
						//location.href='/';
						alert('등록완료!');
					},
					error: function () {
						alert("서버 요청 실패");
					}
				})
			}

			/* 
			일반 인증키(Encoding)	
			ZP9liKICYhLgOIetbA%2FuHmbWd5%2B0eIbaXupCEqDK%2FkT8pXmtK71I7411M4zxmcpVZamTpeIrDBf1GE1BsfDxvg%3D%3D
			일반 인증키(Decoding)	
			ZP9liKICYhLgOIetbA/uHmbWd5+0eIbaXupCEqDK/kT8pXmtK71I7411M4zxmcpVZamTpeIrDBf1GE1BsfDxvg==
			
			var data = {
				"b_no": "0000000000",  //사업자번호 "xxxxxxx" 로 조회 시,
      			"start_dt": "20000101",
     			"p_nm": "홍길동",
      			"p_nm2": "홍길동",
				"b_nm": "(주)테스트",
				"corp_no": "0000000000000",
				"b_sector": "",
				"b_type": ""
			}; 
					
				$.ajax({
				  url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=xxxxxx",  // serviceKey 값을 xxxxxx에 입력
				  type: "POST",
				  data: JSON.stringify(data), // json 을 string으로 변환하여 전송
				  dataType: "JSON",
				  contentType: "application/json",
				  accept: "application/json",
				  success: function(result) {
				      console.log(result);
				  },
				  error: function(result) {
				      console.log(result.responseText); //responseText의 에러메세지 확인
				  }
				}); */
		</script>
	</div>
</body>

</html>