<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<style>
		#container {
			width: 20%;
			margin: 0 auto;
			min-height: 800px;
			
		}

		#container form {
			position: relative;
			margin-top: 150px;
			background: none;
			padding-top:100px;
		}

		#form_area {
			position: absolute;
    		width: 25%;
    		padding: 30px;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
		}
		
	</style>

</head>

<body>
	<div layout:fragment="content">
		<section class="home-section home-full-height bg-dark" id="home"
			data-background="/assets/images/login.jpg"
			style="height: 937px; background-image: url(&quot;/assets/images/login.jpg&quot;);">
			<div class="titan-caption">
				<div class="caption-content">
					<div id="form_area">
						<form class="form" action="/login" method="post" style="text-align: left;">
							<label>아이디</label><input type="text" class="form-control" name="userid" placeholder="UserId"><br>
							<label>비밀번호</label><input
								type="password" class="form-control" name="password" placeholder="Password">
							<input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" />
							<font th:if="error" id="valid" style="color: red; font-size: 12px;"><a
									th:text="${exception}"></a></font>
							<p style="color:grey;display:flex;">
								<input type="checkbox" name="remember-me" style="margin:0 5px 0 0;"> 자동로그인
							</p>
							<div style="float: right;">
								<input style="width: 100%;font-weight:700;" class="btn btn-warning btn-round" name="submit" type="submit"
									value="LOGIN"> <br> <a th:href="@{findIdPage}">아이디 찾기</a> <span>|</span> <a
									th:href="@{findPwPage}">비밀번호 찾기</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<script>
			$(function () {
				var session = '[[${session.member != null? session.member.userId:""}]]';
				if (session != '') {
					window.location.href = '/'
				}
			})
		</script>
	</div>
</body>

</html>