<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<head>
<style>
#container {
	width: 20%;
	margin: 0 auto;
	min-height: 800px;
}

#container form {
	position:relative;
	margin-top: 100px;
	background:none;
}
</style>

</head>
<body>
	<div layout:fragment="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-end justify-content-center">
					<div
						class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 class="mb-0 bread">일반회원 회원가입</h2>
					</div>
				</div>
			</div>
		</section>
		<div id="container">
			<form class="px-4 py-3" action="/login" method="post">
				아이디<input type="text" class="form-control" name="userid"
					placeholder="example"> 비밀번호<input type="password"
					class="form-control" name="password" placeholder="Password">
				<input th:name="${_csrf.parameterName}" type="hidden"
					th:value="${_csrf.token}" />
				<p>
					<input type="checkbox" name="remember-me"> 자동로그인
				</p>
				<input name="submit" type="submit" value="로그인">
			</form>
			<a th:href="@{findIdPage}">아이디 찾기</a> 
			<span>|</span> 
			<a th:href="@{findPwPage}">비밀번호 찾기</a>
		</div>
	</div>
</body>
</html>