<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<head>
	<style>
		#container {
			width: 80%;
			margin: 0 auto;
		}

		#signInBox {
			padding: 20px;
			min-height: 550px;
			display: flex;
			line-height: 3em;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

		#signIn-left {
			padding: 20px;
			width: 50%;
			display: inline-block;
			border-right: 1px solid black;
		}

		#signIn-right {
			padding: 20px;
			width: 50%;
			display: inline-block;
		}

		#submitArea {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		label {
			width: 130px;
			margin-top: 40px;
		}

		input {
			width: 300px;
			margin-right: 15px;
		}

		.inputRadio {
			width: 20px;
		}

		.labelRadio {
			width: 80px;
		}

		#inputEmailChk {
			width: 150px;
			margin-left: 280px;
		}

		#modal {
			display: none;
			position: fixed;
			top: 25em;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			width: 100%;

		}

		#modal h2 {
			margin: 0;
		}

		#modal button {
			display: inline-block;
			width: 100px;
			border: 0.2px solid black;
			border-radius: 5px;
		}

		#modal .modal_content {
			width: 350px;
			min-height: 200px;
			margin: 0 auto;
			padding: 20px;
			background: #fff;
			border: 0.5px solid #666;
			border-radius: 15px;
		}

		#modal .modal_layer {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: -1;
		}

		#modal_login_btn {
			background: #2fb380;
		}

		#button_box {
			display: flex;
			margin-top: 40px;
			justify-content: flex-end;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-end justify-content-center">
					<div class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 class="mb-0 bread">일반회원 회원가입</h2>
					</div>
				</div>
			</div>
		</section>
		<div id="container">
			<div id="signInBox">
				<div id="signIn-left">
					<form id="signIn" name="signIn">
						<h3 class="mb-4 billing-heading">기본정보(필수)</h3>
						<label for="id">아이디</label><input type="text" name="userId" id="inputId">
						<div>
							<font id="id_feedback" size="2" value="1"></font>
						</div>

						<label for="password">비밀번호</label><input type="password" name="userPassword" id="pw1"
							placeholder="숫자와 문자 포함 형태의 6~12자리 이내">
						<div>
							<font id="pwc_feedback" size="2" value="1"></font>
						</div>
						<label for="passwordchk">비밀번호확인</label><input type="password" name="passwordchk" id="pw2">
						<div>
							<font id="pw_feedback" size="2" value="1"></font>
						</div>
						<label for="name">성명</label><input type="text" name="name" id="inputName"><br>
						<label for="email">이메일주소</label><input type="text" name="userEmail" id="inputEmail"><button
							type='button' id="sendEmail">인증번호전송</button><br>
						<span class="mail_input_box_warn"></span>
						<input id="inputEmailChk" type="text">
						<div>
							<font id="email_feedback" size="2" value="1"></font>
						</div>
						<label for="mailGet">메일 알림수신</label>
						<input type="radio" class="inputRadio" name="userMessaging" value="S1" checked><label
							class="labelRadio">수신동의</label>
						<input type="radio" class="inputRadio" name="userMessaging" value="S0"><label
							class="labelRadio">수신거부</label>
					</form>
				</div>
				<div id="signIn-right">
					<h3 class="mb-4 billing-heading">사회자/디자이너회원으로 활동하실 계획이라면?(선택)</h3>
					<input type="radio" class="inputRadio" name="certType" value="MC"><label
						class="labelRadio">사회자</label>
					<input type="radio" class="inputRadio" name="certType" value="DESIGNER"><label
						class="labelRadio">디자이너</label>
					<br>
					<label for="name">자격증 발급번호</label><input type="text" id="inputQno">
					<button type='button' id="qPlus">추가</button>
					<ul id="qList">
						<li class="qualLi"><span
								data-value='{"certName":"정보처리기능사","certNum":"12345678901A","certType":"MC"}'>자격증 명:
								정보처리기능사, 자격증발급번호: 12345678901A</span>
							<button type="button" class="quDelBtn">x</button></li>
						<li class="qualLi"><span
								data-value='{"certName":"정보처리기능사","certNum":"12345678901A","certType":"MC"}'>자격증 명:
								정보처리기능사, 자격증발급번호: 12345678901A</span>
							<button type="button" class="quDelBtn">x</button></li>
						<li class="qualLi"><span
								data-value='{"certName":"정보처리기능사","certNum":"12345678901A","certType":"MC"}'>자격증 명:
								정보처리기능사, 자격증발급번호: 12345678901A</span>
							<button type="button" class="quDelBtn">x</button></li>
						<li class="qualLi"><span
								data-value='{"certName":"정보처리기능사","certNum":"12345678901A","certType":"MC"}'>자격증 명:
								정보처리기능사, 자격증발급번호: 12345678901A</span>
							<button type="button" class="quDelBtn">x</button></li>
						<li class="qualLi"><span
								data-value='{"certName":"정보처리기능사","certNum":"12345678901A","certType":"MC"}'>자격증 명:
								정보처리기능사, 자격증발급번호: 12345678901A</span>
							<button type="button" class="quDelBtn">x</button></li>
					</ul>
				</div>
				<div id="submitArea">
					<button type='reset'>초기화</button>
					<button type='button' id="normalSignIn">회원가입</button>
				</div>
			</div>
		</div>
		<div id="modal">
			<div class="modal_content">
				<h2>회원가입완료!</h2>
				<p>일반회원으로 활동하실 수 있습니다.</p>
				<div id="button_box">
					<button type="button" id="modal_login_btn" th:onclick="|location.href='@{loginPage}'|">로그인</button>
					<button type="button" id="modal_main_btn" th:onclick="|location.href='/'|">홈으로</button>
				</div>
			</div>
			<div class="modal_layer"></div>
		</div>

		<script>
			//csrf 설정
			var header = $("meta[name='_csrf_header']").attr("content");
			var token = $("meta[name='_csrf']").attr("content");
			
			/* 아이디 중복 확인 */
			$('#inputId').keyup(function () {
				var inputId = $('#inputId').val(); //입력한 ID
				$.ajax({
					url: "/memIdCheck",
					type: "post",
					data: {
						inputId: inputId
					},
					dataType: 'json',
					beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
					success: function (result) {
						if (result == 1) {
							$("#id_feedback").html('이미 사용중인 아이디입니다.');
							$("#id_feedback").attr('color', '#dc3545');
							$("#id_feedback").attr('value', '1');
						} else {
							$("#id_feedback").html('사용할 수 있는 아이디입니다.');
							$("#id_feedback").attr('color', '#2fb380');
							$("#id_feedback").attr('value', '0');
						}
					},
					error: function () {
						alert("서버 요청 실패");
					}
				})
			})

			//비밀번호 유효성 검사
			$('#pw1').keyup(function () {
				var p1 = $('#pw1').val();
				if (pwFormCheck(p1)) {
					$("#pwc_feedback").html('사용할 수 있는 비밀번호 입니다.');
					$("#pwc_feedback").attr('color', '#2fb380');
					$("#pwc_feedback").attr('value', '0');
				} else {
					$("#pwc_feedback").html('사용할 수 없는 비밀번호 입니다.');
					$("#pwc_feedback").attr('color', '#dc3545');
					$("#pwc_feedback").attr('value', '1');
				}
			})

			//비밀번호 형식 검사 메소드
			function pwFormCheck(p1) {
				var form = /^[A-Za-z0-9]{6,12}$/;
				return form.test(p1);
			}

			/* 비밀번호 확인 */
			$('#pw2').keyup(function () {
				var p1 = $('#pw1').val(); //비밀번호 값
				var p2 = $('#pw2').val(); //비밀번호 확인
				if (p1 == p2) {
					$("#pw_feedback").html('비밀번호가 일치합니다.');
					$("#pw_feedback").attr('color', '#2fb380');
					$("#pw_feedback").attr('value', '0');
				} else {
					$("#pw_feedback").html('비밀번호가 일치하지 않습니다.');
					$("#pw_feedback").attr('color', '#dc3545');
					$("#pw_feedback").attr('value', '1');
				}
			})

			/* 이메일 인증번호 전송 */
			var code = ""; //이메일전송 인증번호 저장위한 코드
			$("#sendEmail").click(function () {
				var warnMsg = $(".mail_input_box_warn");
				var email = $("#inputEmail").val(); // 입력한 이메일

				if (mailFormCheck(email)) {
					warnMsg.html("이메일이 전송 되었습니다. 이메일을 확인해주세요.");
					warnMsg.css("display", "inline-block");
				} else {
					warnMsg.html("올바르지 못한 이메일 형식입니다.");
					warnMsg.css("display", "inline-block");
					return false;
				}
				$.ajax({
					type: "GET",
					url: "mailCheck?email=" + email,
					success: function (data) {
						code = data;
						$("#sendEmail").attr('disabled', 'disabled');
					},
					error: function () {
						alert("서버 요청 실패");
					}
				});
			});

			//이메일 형식 검사 메소드
			function mailFormCheck(email) {
				var form = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
				return form.test(email);
			}

			/* 인증번호 비교 */
			$("#inputEmailChk").keyup(function () {
				var inputCode = $("#inputEmailChk").val();
				var checkResult = $("#email_feedback");
				if (inputCode == code) { // 일치할 경우
					checkResult.html("인증번호가 일치합니다.");
					checkResult.attr('color', '#2fb380');
					checkResult.attr('value', '0');
				} else { // 일치하지 않을 경우
					checkResult.html("인증번호를 다시 확인해주세요.");
					checkResult.attr('color', '#dc3545');
					checkResult.attr('value', '1');
				}
			});

			/* 자격증추가 */
			/* 자격증 진위확인 api사용 */
			$("#qPlus").click(function () {
				var name = $("#inputName").val();
				var qNo = $("#inputQno").val();
				var certType = $('input:radio[name="certType"]').is(':checked').val();
				var qName = "";
				$.ajax({
					url: `qualCheck?no=${qNo}&name=${name}`,
					dataType: "json",
					success: function (result) {
						if (result.result == true) {
							qName = result.certificateName;
							/* li 만들고 append */
							$("#qList").append($("<li/>").attr('class', 'qualLi').append(
								$("<span/>").attr('data-value', '{certName:' + qName + ',certName:' +
									qNo + ',certType:' + certType + '}').text("자격증 명: " + qName +
									", 자격증발급번호: " + qNo),
								$("<button/>").attr({
									type: "button",
									class: "qDel"
								}).text("x").on('click', function () {
									$(this).parentsUntil('#qList').remove(); //삭제버튼 추가
								})
							))
						} else {
							alert('확인되지 않는 자격증입니다.')
						}
					},
					error: function () {
						alert("서버 요청 실패");
					}
				})
			});

			$('.quDelBtn').click(function () {
				$(this).parentsUntil('#qList').remove();
				console.log($(".qualLi").eq(0).children().eq(0).data('value'));
			});

			//유효성 최종 검사 후 회원가입 처리
			$("#normalSignIn").click(function () {
				var idCheck = $("#id_feedback").attr('value');
				var pwCheck = $("#pw_feedback").attr('value');
				var pwcCheck = $("#pwc_feedback").attr('value');
				var emailCheck = $("#email_feedback").attr('value');
				var name = $("#inputName").val();

				if (idCheck == 1) {
					alert("아이디 중복체크 검사는 필수입니다.");
				} else if (pwCheck == 1) {
					alert("비밀번호와 비밀번호확인 값이 다릅니다.");
				} else if (pwcCheck == 1) {
					alert("비밀번호를 확인해주세요.");
				} else if (emailCheck == 1) {
					alert("이메일 인증 절차를 진행해 주세요.");
				} else if (name == "") {
					alert("이름을 입력해 주세요.");
				} else {
					signIn(); //회원가입 함수 실행
				}
			});

			//회원가입 함수
			function signIn() {
				var qualLi = $(".qualLi");
				var qualArray = [];
				for (var i = 0; i < qualLi.length; i++) {
					qualArray.push(qualLi.eq(i).children().eq(0).data('value'));
				}
				var data = $('form[name="signIn"]').serializeObject();
				data.crtfs = qualArray;
				$.ajax({
					url: "/insertMember",
					method: "post",
					contentType: 'application/json',
					data: JSON.stringify(data),
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (result) {
						$("#modal").show();
					},
					error: function () {
						alert("서버 요청 실패");
					}
				});
			}
		</script>
	</div>
</body>

</html>