<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
<head>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
label {
 color: gray;
}
</style>
</head>
<div layout:fragment="content">
   <section class="hero-wrap hero-wrap-2"
      style="background-image: url(&quot;images/bg_2.jpg&quot;); background-position: 50% 0%;"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
         <div
            class="row no-gutters slider-text align-items-end justify-content-center">
            <div
               class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
               <h2 class="mb-0 bread">견적서 상세페이지</h2>
            </div>
         </div>
      </div>
   </section>
<div>
<h3>견적요청서</h3>
<hr>
  <form action="">
    <label for="lname" id="title">어떤 행사를 계획중이신가요?</label>
    <input type="text" id="lname" name="lastname" placeholder="" readonly>
        <label for="lname" id="title">행사 규모는 어느정도이신가요?</label>
    <input type="text" id="lname" name="lastname" placeholder="" readonly>
        <label for="lname" id="title">행사 예정 장소는 어디인가요?</label>
    <input type="text" id="lname" name="lastname" placeholder="" readonly>
        <label for="lname" id="title">행사 날짜를 선택해주세요.</label>
    <input type="text" id="lname" name="lastname" placeholder="" readonly>
        <label for="lname" id="title">행사 시작시간은 언제인가요?</label>
    <input type="text" id="lname" name="lastname" placeholder="" readonly>
        <label for="lname" id="title">행사 예상 소요시간을 선택해주세요.</label>
    <input type="text" id="lname" name="lastname" placeholder="" readonly>
        <label for="lname" id="title">행사 예정지역을 선택해주세요.</label>
    <input type="text" id="lname" name="lastname" placeholder="" readonly>
        <label for="lname" id="title">행사 관련 희망사항을 알려주세요.</label>
    <input type="text" id="lname" name="lastname" placeholder="" readonly>
  </form>
</div>

 <button type="button" class="">제안서 작성</button>
  <button type="button" class="">견적서 삭제</button>
</div>

</html>