<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Big Title</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>
	<table class="table mb-3">
		<thead class="thead-dark">
			<tr>
				<th>견적서번호</th>
				<th>행사유형</th>
				<th>작성일시</th>
				<th>제안서 채택유무</th>
			</tr>
		</thead>
		<tbody id="check">
			<tr th:each="est : ${estList}" th:onclick="|location.href='@{estDetail(eno=${est.eno}, userId=${est.userId}, myId=${session.member.userId})}'|">
				<td th:text=${est.eno}></td> 
				<td th:text=${est.eventType}></td>
				<td th:text=${est.writingDate}></td>
				<td th:text=${est.adoptionYn}></td>
			</tr>
		</tbody>
	</table>
</div>

</html>