<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<head>
	<style>
		.label{
			color: black;
		}
	</style>
</head>

<div layout:fragment="content">

<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">구직신청폼</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>

	<div class="row no-gutters">
		<div class="col-md-7">
			<div class="contact-wrap w-100 p-md-5 p-4">
				<h3 class="mb-4">구직신청폼</h3>
				<form action="/ApplyJob" method="POST" id="ApplyJob" name="ApplyJob" class="contactForm"
					enctype="multipart/form-data">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

					<div class="col-md-12">
						<div class="form-group">
							<label class="label" for="#">게시글번호</label>
							<input type="text" name="jobNo" id="jobNo" th:value="${jobNo}" readonly>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<input type="hidden" name="seekerId" id="seekerId" th:value="admin">
							<label class="label" for="#">이름</label>
							<input type="text" name="userName" id="userName" th:value=${session.member.name} readonly>
							<!--vo와같음 -->
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label class="label" for="#">이메일</label>
							<input type="text" name="userEmail" id="userEmail" th:value=${session.member.userEmail} readonly>
						</div>
					</div>


					<div class="col-md-12">
						<div class="form-group">
							<label class="label" for="#">전화번호</label>
							<input type="text" name="userPhone" id="userPhone" th:value=${session.member.userPhone} readonly>
						</div>
					</div>


					<div class="col-md-12">
						<div class="form-group">
							<label class="label" for="#">구직자정보</label>
							<input type="text" name="seekerCntn" id="seekerCntn">
						</div>
					</div>


					<div class="col-md-12">
						<div class="form-group">
							<label class="label" for="#">자기소개서</label>
							<textarea name="resumeCntn" class="form-control" id="resumeCntn" cols="30"
								rows="4"></textarea>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<input type="file" name="uploadFile">
						</div>
					</div>


					<textarea id="info" name="info" cols="30" rows="4">
[구직 시 유의사항] 
	입사 시 이력서나 증명서에 학력 또는 경력을 허위기재한 경우 채용이 취소될 수 있습니다.
					</textarea>

					<br> <input type="checkbox" name="checkbox" id="resCheck">확인하였습니다.<br>

					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" id="insert" value="등록" class="btn btn-primary">
							<div class="submitting"></div>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
		

	<script>
		//submit 유효성검사
		$('#ApplyJob').submit(function () {
			let check = $('input[type="checkbox"]').is(":checked");
			let seeker = $('#seekerCntn').val();
			let cntn = $('#resumeCntn').val();
			if(!seeker){
				alert('구직자정보를 입력해주세요.');
				return false;
			}else if(check==false){
				alert('유의사항을 확인하세요.');
				return false;
			}else if(!cntn){
				alert('자기소개서를 입력해주세요.');
				return false;
			} else {
				return true;
				
			}
		})
	</script>
</div>
</html>