<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">구직자상세조회</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>
<div class="row no-gutters">
		<div class="col-md-7">
			<div class="contact-wrap w-100 p-md-5 p-4">
				<h3 class="mb-4">구직자 상세조회</h3>
				<form action="/resumeDetail" method="POST" id="resumeDetail" name="resumeDetail"
					class="contactForm" enctype="multipart/form-data"> <!-- 파일 -->
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="ttl">구직신청게시글번호</label> 
									<input type="text" class="form-control" name="resumeNo" id="resumeNo" th:value=${detail.resumeNo}>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">구직자ID</label>
								<input type="text" class="form-control" name="seekerId" id="seekerId" th:value=${detail.seekerId}>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">구직자정보</label>
								<textarea name="seekerCntn" class="form-control" id="seekerCntn" cols="30" rows="4" th:utext=${detail.seekerCntn}></textarea>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">구인게시글번호</label>
								<input type="number" class="form-control" name="jobNo" id="jobNo" th:value=${detail.jobNo}>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">자기소개서</label>
								<textarea name="resumeCntn" class="form-control" id="resumeCntn" cols="30" rows="4" th:utext=${detail.resumeCntn}></textarea>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<input type="file" name="uploadFile" > <!-- th:text=${res.files} -->
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</div>

</html>