<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">구직자조회(동일게시물)</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>

	<table class="table mb-3" >
	<thead class="thead-dark">
			<tr>
				<th>구직신청게시글번호</th>
				<th>구직자ID</th>
				<th>제목</th>
				<th>구인게시글번호</th>
				
			</tr>		
		</thead>
		<tbody>
			<tr th:each="res : ${resumeJob}" 
				th:onclick="|location.href='@{resumeDetail(resumeNo=${res.resumeNo})}'|">
				<td th:text=${res.resumeNo}></td>
				<td th:text=${res.seekerId}></td>
				<td th:text=${res.title}></td>
				<td th:text=${res.jobNo}></td>
			</tr>
		</tbody>
	</table>


<script>

</script>
</div>
</html>