<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
	<section class="module bg-dark-60 gallery-page-header parallax-bg"
		data-background="assets/images/gallery_bg.jpg"
		style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="module-title font-alt">구직자 리스트</h2>
					<div class="module-subtitle font-serif">Small Title</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="module" id="news">
		<input type="checkBox"  class="hire" id="allHire" value="선택채용">
		<button class="btn btn-g btn-round allHire" type="button"><i class="fa fa-cog fa-spin"></i>선택채용</button>
		<button class="btn btn-g btn-round unAllHire" type="button"><i class="fa fa-cog fa-spin"></i>채용취소</button>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="module-title font-alt">구직자 한눈에 보기</h2>
					<div class="module-subtitle font-serif">마음에 드는 구직자가 있다면 채용버튼을
						누르세요.</div>
				</div>
			</div>
			<div class="row multi-columns-row post-columns" id="check">
				<div class="col-sm-6 col-md-4 col-lg-4"
					th:each="res : ${resumeList}">
					<th:block th:if="${res.hire} == 'Y'">
						<td><input class="hire" type="checkBox" th:value="${res.resumeNo}" 
							onkeyup="hire()" name="allHire" checked></td>
					</th:block>

					<th:block th:if="${res.hire} == 'N'">
						<td><input class="hire" type="checkBox" value="N"
							onkeyup="hire()" th:value="${res.resumeNo}" name="allHire" ></td>
					</th:block>

					<div class="post mb-20">
						<div class="post-thumbnail">
							<a href="#"><img th:src="|/fileView/${res.img}|" style="width: 250px; height: 250px" class="img-fluid" alt="Colorlib Template"></a>
						</div>
						<div class="post-header font-alt">
							<h2 class="post-title">
								<a href="#" th:text=${res.jobNo}> </a>
							</h2>
							<div class="post-meta" th:text=${res.seekerId}><a href="#"></a></div>
						</div>
						<div class="post-entry" th:text=${res.title}>
						</div>
						<div class="post-more">
							<a class="more-link" href="#" th:onclick="|location.href='@{resumeDetail(resumeNo=${res.resumeNo})}'|">Read more</a>
						</div>
						<div th:if="${res.hire} == 'Y'">채용</div>
						<div th:unless="${res.hire} == 'Y'">미채용</div>
						
						<button class="btn btn-border-d btn-round hireBtn" type="button"
							id="hireBtn" th:data-resumeno='${res.resumeNo}'>
							<i class="fa fa-child"></i>채용
						</button>
						<button class="btn btn-border-d btn-round unHireBtn" type="button"
							id="unHireBtn" th:data-resumeno='${res.resumeNo}'>
							<i class="fa fa-child"></i> 미채용
						</button>

					</div>
				</div>
			</div>
			
			 <div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">[[${paging}]]
		               <th:block th:replace="fragments/paging :: component(${paging},'gopage')">
		            </div>
		          </div>
		        </div>
		        
		   <div th:each="f : ${file}">
				     <!-- <a th:href="|/fileView/${f.sevNm}|" class="image-popup prod-img-bg"> --> 
				       <img th:src="|/fileView/${f.sevNm}|" style="width: 250px; height: 250px" class="img-fluid" alt="Colorlib Template"></a>
			</div>     
		</div>
	</section>

	<script>
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

//페이징
function gopage(i) {
    console.log(i);
    location.href = '/resumeList?page=' + i;
}

//tr 전체체크시 모든항목 체크되도록 
let allHire = document.querySelector("#allHire")
let hireCheck = document.querySelector(".hire")
allHire.addEventListener('change', function(){
	//forEach 반복문 사용
	document.querySelectorAll('input[class="hire"]').forEach(function(hireCheck){
		hireCheck.checked = allHire.checked;
	})
})
//구직자 선택채용
$('.allHire').on('click', function (e){
	console.log("클릭")
	let checks = [];
 	
	 $("[name='allHire']:checked").each(function(i, checkbox){
		 let obj ={resumeNo:checkbox.value};
		 checks.push(obj);
	})
	console.log(checks)
	if(!confirm('채용하시겠습니까?')){
		return false;
	}else{
		//업데이트처리 ajax
		$.ajax({
			url: '/hireUpdates',
			method: "post",
			contentType: "application/json",
			data: JSON.stringify(checks),
			beforeSend: function (xhr) {
				xhr.setRequestHeader(header, token);
			},
		}).then(res => {
			
				alert(res+'/'+checks.length+'명 채용 완료');
				location.href=`/resumeList`
			
		})  
	} 
});
//구직자 채용
$('.hireBtn').on('click', function (e){
	console.log("클릭")
	if(!confirm('채용하시겠습니까?')){
		return false;
	}else{
		let resumeNo = $(e.target).data('resumeno'); //체크된 공모번호
		console.log(resumeNo)
		//업데이트처리 ajax
		$.ajax({
			url: '/hireUpdate',
			method: "post",
			data: {resumeNo},
			beforeSend: function (xhr) {
				/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
			},
		}).then(res => {
			if (res == 1) {
				alert('채용 완료');
				location.href=`/resumeList`
			} else {
				alert('채용이 불가능합니다.');
			}
		})  
	}
});

//구직자 미채용
$('.unHireBtn').on('click', function (e){
	let trs = document.querySelectorAll('.post-columns');
	
	if(!confirm('채용을 취소하시겠습니까?')){
		return false;
	}else{
		let resumeNo = $(e.target).data('resumeno'); //체크된 공모번호
		//업데이트처리 ajax
		$.ajax({
			url: '/unHireUpdate',
			method: "post",
			data: {resumeNo},
			beforeSend: function (xhr) {
				/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
			},
		}).then(res => {
			if (res == 1) {
				location.href=`/resumeList`
				alert('채용취소완료');
			} else {
				alert('채용취소가 불가능합니다.');
			}
		})   


	}
});
//구직자 부분취소
$('.unAllHire').on('click', function (e){
	console.log("클릭")
	let checks = [];
 	
	 $("[name='allHire']:checked").each(function(i, checkbox){
		 let obj ={resumeNo:checkbox.value};
		 checks.push(obj);
	})
	console.log(checks)
	if(!confirm('채용을 취소하시겠습니까?')){
		return false;
	}else{
		//업데이트처리 ajax
		$.ajax({
			url: '/unHireUpdates',
			method: "post",
			contentType: "application/json",
			data: JSON.stringify(checks),
			beforeSend: function (xhr) {
				xhr.setRequestHeader(header, token);
			},
		}).then(res => {
			
				alert(res+'/'+checks.length+'명 채용 취소완료');
				location.href=`/resumeList`
			
		})  
	} 
});
</script>
</div>
</html>