<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">구직자 리스트</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>
<button type="button" id="hireBtn">채용</button>
<button type="button" id="unHireBtn">미채용</button>
	<table class="table mb-3" >
	<thead class="thead-dark">
			<tr>
				<th><input type="checkBox" value="채용" class="hire" id="allHire" 
					></th> 
				<th>구직신청게시글번호</th>
				<th>구직자ID</th> 
				<th>구직자정보</th>
				<th>구인게시글번호</th>
				<th>채용여부</th>
			</tr>		
		</thead>
		<tbody>
			<tr th:each="res : ${resumeList}">
			<th:block th:if="${res.hire} == 'Y'" >
				<td><input class="hire" type="checkBox" value="hire" onkeyup="hire()" checked></td> 
				</th:block>
				
				<th:block th:if ="${res.hire} == 'N'">
				<td><input class="hire" type="checkBox" value="hire" onkeyup="hire()"></td> 
				</th:block>
				<td th:text=${res.resumeNo}></td>
				<td th:text=${res.seekerId}></td>
				<td th:text=${res.seekerCntn}></td>
				<td th:text=${res.jobNo}>  [[${res.hire}]]</td>
				<td th:if="${res.hire} == 'Y'">채용</td>
				<td th:unless="${res.hire} == 'Y'">미채용</td>
			</tr>
		</tbody>
	</table>


<script>
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

//tr 전체체크시 모든항목 체크되도록 
let allHire = document.querySelector("#allHire")
let hireCheck = document.querySelector(".hire")
allHire.addEventListener('change', function(){
	//forEach 반복문 사용
	document.querySelectorAll('input[value="hire"]').forEach(function(hireCheck){
		hireCheck.checked = allHire.checked;
	})
})
//구직자 채용
document.querySelector('#hireBtn').addEventListener('click', hireSeeker);
function hireSeeker(hireCheck){
	let trs = document.querySelectorAll('table>tbody>tr');
	
	if(!confirm('채용하시겠습니까?')){
		return false;
	}else{
		for (let i = 0; i < trs.length; i++) {
			if (trs[i].children[0].children[0].checked) {
				//alert(trs[i].children[0])
				let resumeNo = trs[i].children[1].textContent; //체크된 공모번호

				//업데이트처리 ajax
  				$.ajax({
					url: '/hireUpdate',
					method: "post",
					data: {resumeNo},
					beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
				}).then(res => {
					if (res == 1) {
						location.href=`/resumeList`
						alert('채용 완료');
					} else {
						alert('채용이 불가능합니다.');
					}
				})   
			}
		}
	}
}
//구직자 미채용
document.querySelector('#unHireBtn').addEventListener('click', unHireSeeker);
function unHireSeeker(hireCheck){
	let trs = document.querySelectorAll('table>tbody>tr');
	
	if(!confirm('채용을 취소하시겠습니까?')){
		return false;
	}else{
		for (let i = 0; i < trs.length; i++) {
			if (trs[i].children[0].children[0].checked) {
				//alert(trs[i].children[0])
				let resumeNo = trs[i].children[1].textContent; //체크된 공모번호

				//업데이트처리 ajax
  				$.ajax({
					url: '/unHireUpdate',
					method: "post",
					data: {resumeNo},
					beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
				}).then(res => {
					if (res == 1) {
						location.href=`/resumeList`
						alert('채용취소완료');
					} else {
						alert('채용취소가 불가능합니다.');
					}
				})   
			}
		}
	}
}
</script>
</div>
</html>