<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.contest.mapper.ContestMapper">

	<!-- 분류별 카테고리/정렬순서 -->
	<sql id="condition">
		<if test="category != null and category != ''">
			and category = #{category}
		</if>
	</sql>
	
	<!-- 검색처리 -->
	<sql id="search">
		<if test="ttl != null and ttl != ''">
			and ttl LIKE '%'||#{ttl}||'%' 
		</if>
		<if test="cntn != null and cntn != ''">
			and cntn LIKE '%'||#{cntn}||'%' 
		</if>
	</sql>
	

	<!-- 공모전 전체조회(임시저장 제외,페이징) -->
	<select id="contestList" resultType="ContestVO">
	SELECT RN,c_no,writer,ttl,cntn,code_select(category) category,dt_reg,dt_cls,dt_extns,pay,save,inq,rprt
	        ,code_select(style) style
	      	,(select count(*) from likes where target_no = c_no) AS likes
	FROM ( select ROWNUM RN, A.*
			        FROM(
			            SELECT *
			            FROM CONTEST
			            WHERE SAVE = 'N'
			            AND DT_CLS > current_date   
			<include refid="condition" />
			order by ${order} DESC
	<![CDATA[
	) A WHERE ROWNUM <= #{last}) WHERE RN >=#{first}
	]]>
	</select>

	<!-- 공모전 등록처리된 개수(임시저장/마감일 지난경우 제외) -->
	<select id="contestCount" resultType="int">
		SELECT COUNT(*)
		FROM CONTEST
		WHERE SAVE = 'N'
		AND NVL2(dt_cls,dt_cls,dt_extns) > SYSDATE
		<include refid="condition" />
	</select>
	
	<!-- 공모전 1건 상세조회 -->
	<select id="getContest" resultType="ContestVO">
		SELECT c_no,writer,ttl,cntn,code_select(category) category,dt_reg,dt_cls,dt_extns,pay,save,inq,rprt
	        ,code_select(style) style
	      	,(select count(*) from likes where target_no = c_no) AS likes
            ,CASE WHEN dt_extns IS NOT NULL THEN CASE WHEN TO_DATE(dt_extns,'YYYY/MM/DD') >= TO_DATE(SYSDATE, 'YYYY/MM/DD') THEN '진행중'
                                                     ELSE '마감'
                                                END
                WHEN dt_extns IS NULL THEN CASE WHEN TO_DATE(dt_cls,'YYYY/MM/DD') >= TO_DATE(SYSDATE, 'YYYY/MM/DD') THEN '진행중'
                                                    ELSE '마감'
                                                END
                END AS ing
		FROM CONTEST
		WHERE
		C_NO = #{cNo}
	</select>
	
	<!-- 나의 공모전 총 등록개수 조회 -->
    <!-- 검색결과만큼 개수반환 -->
	<select id="myContest" resultType="int">
		select count(*) from contest
		where writer = #{writer}
		 <include refid="search" /> 
	</select>
	
	<!-- 나의 공모전 전체목록 조회 -->
	<select id="myContestList" resultType="ContestVO">
		SELECT * FROM ( select ROWNUM RN, A.*FROM(
         SELECT c.*, CASE WHEN dt_extns IS NOT NULL THEN CASE WHEN TO_DATE(dt_extns,'YYYY/MM/DD') >= TO_DATE(SYSDATE, 'YYYY/MM/DD') THEN '진행중'
                                                     ELSE '마감'
                                                END
                WHEN dt_extns IS NULL THEN CASE WHEN TO_DATE(dt_cls,'YYYY/MM/DD') >= TO_DATE(SYSDATE, 'YYYY/MM/DD') THEN '진행중'
                                                    ELSE '마감'
                                                END
                END AS ing
         FROM CONTEST c
         WHERE writer = #{writer}
         <include refid="search" />
         order by c_no DESC
		<![CDATA[
		) A WHERE ROWNUM <= #{last}) WHERE RN >=#{first}
		]]>
	</select>

	<!-- 상세조회 조회수 업데이트 -->
	<update id="selectUpdate">
		update contest
		set INQ = INQ+1
		where c_no = #{cNo}
	</update>

	<!-- 상세조회 좋아요 개수 확인 -->
	<select id="selectLikes" resultType="int">
		SELECT count(*)
		from CONTEST
		a join LIKES b
		on a.c_no = b.target_no
		and a.C_NO = #{cNo}
		and b.category = #{category}
	</select>

	<!-- 공모전 시퀀스번호 찾기 -->
	<select id="getSequence" resultType="String">
		SELECT
		'CO'||(MAX(TO_NUMBER(SUBSTR(C_NO,3)))+1) C_NO
		FROM CONTEST
	</select>


	<!-- 공모전 등록(cno 시퀀스 최대값+1 (문자열->숫자+1->문자열 변경) -->
	<insert id="insertContest">
		<selectKey keyProperty="cNo" resultType="String" order="BEFORE">
			SELECT
			'CO'||(MAX(TO_NUMBER(SUBSTR(C_NO,3)))+1) C_NO
			FROM CONTEST
		</selectKey>
		
		insert into
		CONTEST(C_NO,WRITER,TTL,CNTN,CATEGORY,DT_REG,DT_CLS,PAY,SAVE,STYLE)
		values( #{cNo},
		#{writer},
		#{ttl},
		#{cntn},
		#{category},
		#{dtReg},
		#{dtCls},
		#{pay},
		#{save},
		#{style} )
	</insert>

	<!-- 공모전 제목,내용 수정 -->
	<update id="updateContest">
		update CONTEST
		set TTL = #{ttl},
		CNTN = #{cntn}
		where c_no = #{cNo}
		and writer = #{writer}
	</update>
	
	<!-- 공모전 마감연장일 업데이트 -->
	<update id="updateExtension">
		update CONTEST
		set DT_EXTNS = #{dtExtns}
		where c_no = #{cNo}
		and writer = #{writer}
	</update>

	<!-- 공모전 삭제 -->
	<delete id="deleteContest">
		delete contest
		where c_no = #{cNo}
		and writer = #{writer}
	</delete>
	


</mapper>