<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.contest.mapper.ContestMapper">
	<select id="contestList" resultType="ContestVO">
	SELECT * FROM CONTEST
	</select>

	<select id="getContest" resultType="ContestVO">
	</select>

	<insert id="insertContest">
	
	</insert>

	<update id="updateContest">

	</update>

	<delete id="deleteContest">

	</delete>


</mapper>