<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.contest.mapper.WinnerMapper">
	<select id="winnerList" resultType="WinnerVO">
		SELECT a.*,b.w_no,b.grade,b.w_pay,b.d_no,b.user_id
		FROM CONTEST a join winner b
		on a.c_no = b.co_no
		WHERE a.C_NO = #{coNo}
	</select>

	<select id="getWinner" resultType="WinnerVO">
		SELECT
		a.*,b.w_no,b.grade,b.w_pay,b.d_no,b.user_id
		FROM CONTEST a join winner b
		on a.c_no = b.co_no
		WHERE a.C_NO = #{coNo}
		and b.grade = {grade}
	</select>

	<insert id="insertWinner">
		<selectKey keyProperty="wNo" resultType="String" order="BEFORE">
			SELECT 'WT'||(MAX(TO_NUMBER(SUBSTR(W_NO,3)))+1) W_NO
			FROM WINNER
		</selectKey>
		INSERT INTO WINNER(W_NO,CO_NO,GRADE,W_PAY)
		values(#{wNo},
		#{coNo},
		#{grade},
		#{wPay})
	</insert>
	
	<update id="updateWinner">
		update WINNER
		set d_no = #{dNo},
		    user_id = #{userId}
		where grade = #{grade}
		and CO_NO=#{coNo}
	</update>
	
	<update id="updateSaveWinner">
		update WINNER
		set w_pay = #{wPay}
		where CO_NO= #{coNo}
		and grade = #{grade}
	</update>

	<delete id="deleteWinner">
		delete WINNER
		where co_no = #{coNo}
	</delete>
	
	<select id="updateGetWinner" resultType="WinnerVO">
		select * from winner
		where co_no = #{coNo}
	</select>
	
	<select id="winnerSelect" resultType="map">
		select  (select ttl 
				  from contest 
				  where c_no = w.co_no)ttl,
				  w.*,
				  d.dgn_no,
				  d.user_id,
				  d.name,
	              d.center_img,
				  f.sev_nm sevNm
		from design d join winner w 
		                  on d.c_no = w.co_no
		               join files f 
		               	  on f.target_id = w.d_No
		and co_no = #{coNo}
		and d.center_img = f.f_nm
		order by grade
	</select>
	
</mapper>