<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<!-- 1.사이드바 css적용 -->
<link rel="stylesheet" href="/css/myPageSide.css">
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	footer {
		clear: both;
	}
	#cntn,img{
		margin-top : 50px;
		margin-right : 20px;
	}
</style>
</head>
<body>
	<div layout:fragment="content" class="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-end justify-content-center">
					<div
						class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 th:text="|${design.name} 디자인|" class="mb-0 bread"></h2>
					</div>
				</div>
			</div>
		</section>

		<!-- 3.현재페이지 myPageSide 적용 -->
		<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>
		
		<!-- vo 담긴 리스트 불러오기 <div th:text="${design.files}"></div> -->
		<div th:each="file : ${design.files} ">
			<div id="design" style="float: left ">
				<img th:src="|/fileView/${file.sevNm}|" style="width: 300px; height: 300px">
				<div th:text="|${file.fNo}|"></div>
			</div>
		</div>
		
	</div>
</body>
</html>