<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<!-- 1.사이드바 css적용 -->
<link rel="stylesheet" href="/css/myPageSide.css">
<link rel="stylesheet" href="/css/contest/button.css">
<link rel="stylesheet" href="/css/contest/model.css">
<link href="/css/star.css" rel="stylesheet">
</head>
<body>

	<!-- 2.레이아웃 content적용 -->
	<div layout:fragment="content">
		<h2 hidden="hidden" class="module-title font-alt">공모전리스트</h2>

		<!-- 3.현재페이지 myPageSide 적용 -->
		<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>

		<div class="contest">
			<!-- 게시글 검색 -->
			<form name="searchFrm" id="search">
				<select name="search" class="form-control"
					style="font-size: 18px; font-weight: bold; height: 40px">
					<option value="ttl" selected="selected">제목</option>
					<option value="cntn">내용</option>
				</select> <input type="text" name="ttl" id="input" value=""> <input
					type="hidden" name="page" value="1">
				<button type="submit" id="searchBtn"
					class="btn btn-g btn-round inputBtn">검색</button>
				<button type="button" id="deleteBtn"
					class="btn btn-d btn-round delBtn">삭제</button>
			</form>


			<!-- 테이블 -->
			<table id="table" class="table mb-3">
				<thead class="thead-dark">
					<tr>
						<th><input type="checkBox" value="삭제" class="delete"
							id="allDelete"></th>
						<th>no</th>
						<th>분류별</th>
						<th style="width: 30%;">제목</th>
						<th style="width: 30%;">진행기간</th>
						<th>진행</th>
						<th>지원수</th>
						<th>조회/등록</th>
						<th>공모전</th>
						<th>문의내역</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contest : ${contestList} ">
						<td><input class="check delete" type="checkBox"
							value="delete" onkeyup="myFunction()"></td>

						<td th:text=${contest.cNo}></td>
						<td th:text=${contest.category}></td>
						<td th:text=${contest.ttl}></td>

						<!-- 마감기한만 있을경우 -->
						<th:block th:if="${contest.dtExtns} == null">
							<td
								th:text="|${#dates.format(contest.dtReg, 'yyyy-MM-dd')} ~ ${#dates.format(contest.dtCls, 'yyyy-MM-dd')}"></td>
						</th:block>

						<!-- 마감연장 1회 한경우 -->
						<th:block th:if="${contest.dtExtns} != null">
							<td
								th:text="|${#dates.format(contest.dtReg, 'yyyy-MM-dd')} ~ ${#dates.format(contest.dtExtns, 'yyyy-MM-dd')}"></td>
						</th:block>

						<!-- 임시저장 한경우 -->
						<th:block th:if="${contest.ing} eq '임시저장'">
							<td th:text="${contest.ing}"></td>
							<td th:text="${contest.designCount}"></td>
							<td></td>
							<td><button class="btn btn-g btn-round" type="button"
									id="selete"
									th:onclick="|location.href='@{insert(cNo=${contest.cNo})}'|">공모전등록</button></td>
						</th:block>

						<!-- 공모전 등록한 경우 -->
						<th:block th:if="${contest.ing} eq '마감'">
							<th:block
								th:if="${contest.winnerCheck} == 0 and ${contest.designCount} == 0">
								<td th:text="${contest.ing}"></td>
								<td th:text="${contest.designCount}"></td>
								<td></td>
							</th:block>

							<th:block
								th:if="${contest.winnerCheck} == 0 and ${contest.designCount} > 0">
								<td th:text="${contest.ing}"></td>
								<td th:text="${contest.designCount}"></td>
								<td><button class="btn btn-g btn-round" type="button"
										id="selete"
										th:onclick="|location.href='@{/contest/designRead(cNo=${contest.cNo})}'|">등록</button></td>
							</th:block>

							<th:block th:if="${contest.winnerCheck} > 0">
								<td th:text="종료"></td>
								<td th:text="${contest.designCount}"></td>
								<th:block th:if=" ${contest.designCount} > 0 ">
									<td><button class="btn btn-g btn-round" type="button"
											id="selete"
											th:onclick="|location.href='@{/contest/designRead(cNo=${contest.cNo})}'|">조회</button></td>
									<td><button class="btn btn-g btn-round" type="button"
											th:attr="onclick=|winnerList('${contest.cNo}')|">후기등록</button></td>
								</th:block>
								<th:block th:if=" ${contest.designCount} == 0 ">
									<td></td>
									<td></td>
								</th:block>
							</th:block>

							<td></td>
						</th:block>

						<th:block th:if="${contest.ing} eq '진행'">
							<td th:text="${contest.ing}"></td>
							<td th:text="${contest.designCount}"></td>

							<th:block th:if=" ${contest.designCount} > 0 ">
								<td><button class="btn btn-g btn-round" type="button"
										id="selete"
										th:onclick="|location.href='@{/contest/designRead(cNo=${contest.cNo})}'|">조회</button></td>
							</th:block>
							<th:block th:if=" ${contest.designCount} == 0 ">
								<td></td>
							</th:block>
							<td><button class="btn btn-g btn-round" type="button"
									th:onclick="|location.href='@{select(cNo=${contest.cNo})}'|">조회</button></td>
						</th:block>

						<!-- 문의내역 조회 -->
						<th:block th:if=" ${contest.questionCount} == 0 ">
							<td></td>
						</th:block>
						<th:block th:if=" ${contest.questionCount} > 0 ">
							<td><button class="btn btn-g btn-round questionsList"
									type="button">조회</button></td>
						</th:block>
					</tr>
				</tbody>
			</table>
			<!-- 페이징처리 -->
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<th:block
							th:replace="fragments/paging :: component(${paging},'gopage')">
					</div>
				</div>
			</div>
		</div>

		<!-- 공모전 1건에 대한 문의리스트 모달 -->
		<div id="questionsModel" class="modal">
			<div class="question_modal_content">
				<span id="questionCancel" class="close">&times;</span>
				<h3 id="coNo">공모전 문의내역</h3>
				<div id="modelSelect"></div>
				<div id="qBtn"></div>
			</div>
			<div class="modal_layer"></div>
		</div>

		<!-- 후기등록 우승자선택 모달 -->
		<div id="winnerModel" class="modal">
			<div class="winner_modal_content">
				<span id="winnerCancel" class="close">&times;</span>
				<h3 id="coNo"></h3>
				<div id="modelSelect"></div>
			</div>
			<div class="modal_layer"></div>
		</div>

		<!-- 후기 폼 -->
		<div id="reviewFrm" class="modal">
			<div class="review_modal_content">
				<div style="width: 80%; margin: 0 auto;">
					<h3>후기등록</h3>
					<label>대상</label> <input type="text" id="reviewTgt"
						name="reviewTgt" readonly><br> <label>의뢰자</label> <input
						type="text" id="userId" name="userId"
						th:value="${session.member.userId}" readonly><br>
					<div class="starbox">
						<label>별점</label>
						<div class="starpoint_wrap">
							<div class="starpoint_box">
								<label for="starpoint_1" class="label_star" title="0.5"><span
									class="blind">0.5</span></label> <label for="starpoint_2"
									class="label_star" title="1"><span class="blind">1</span></label>
								<label for="starpoint_3" class="label_star" title="1.5"><span
									class="blind">1.5</span></label> <label for="starpoint_4"
									class="label_star" title="2"><span class="blind">2</span></label>
								<label for="starpoint_5" class="label_star" title="2.5"><span
									class="blind">2.5</span></label> <label for="starpoint_6"
									class="label_star" title="3"><span class="blind">3</span></label>
								<label for="starpoint_7" class="label_star" title="3.5"><span
									class="blind">3.5</span></label> <label for="starpoint_8"
									class="label_star" title="4"><span class="blind">4</span></label>
								<label for="starpoint_9" class="label_star" title="4.5"><span
									class="blind">4.5</span></label> <label for="starpoint_10"
									class="label_star" title="5"><span class="blind">5</span></label>
								<input type="radio" name="starpoint" id="starpoint_1"
									class="star_radio"> <input type="radio"
									name="starpoint" id="starpoint_2" class="star_radio"> <input
									type="radio" name="starpoint" id="starpoint_3"
									class="star_radio"> <input type="radio"
									name="starpoint" id="starpoint_4" class="star_radio"> <input
									type="radio" name="starpoint" id="starpoint_5"
									class="star_radio"> <input type="radio"
									name="starpoint" id="starpoint_6" class="star_radio"> <input
									type="radio" name="starpoint" id="starpoint_7"
									class="star_radio"> <input type="radio"
									name="starpoint" id="starpoint_8" class="star_radio"> <input
									type="radio" name="starpoint" id="starpoint_9"
									class="star_radio"> <input type="radio"
									name="starpoint" id="starpoint_10" class="star_radio">
								<span class="starpoint_bg"></span>
							</div>
						</div>
					</div>
					<br>

					<textarea rows="5" cols="30" id="reviewCntn" name="reviewCntn"
						placeholder="후기를 작성해주세요."></textarea>
					<div id="reviewBtn">
						<button type="button" class="cancle btn btn-g btn-round">취소</button>
						<button type="button" class="btn btn-g btn-round" id="review">등록</button>
					</div>
				</div>
			</div>
			<div class="modal_layer"></div>
		</div>


		<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		//데이터 없을시 마이페이지 첫화면으로 이동
		 $(document).ready(function () {
			  let result = '[[${result}]]';
			if (result != '') {
				$('table').remove();
				$('.pagination').remove();
				$('form[name="searchFrm"]').after('<img src="/assets/images/no_data_found.jpg" style="height:30%; width:70%; margin:100px 0px 50px 250px;">')
			}
		})
		
		//문의내역 조회버튼 누를시 리스트 모달창 띄우기
		$('.questionsList').on("click", function(){
			let cNo = $(this).parent().siblings(':eq(1)').text()
			$.ajax({
				url: '/contest/questionList',
				method: 'post',
				data:{cNo},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
				success: function (result) {
					$('#modelSelect').empty();
					$('#qBtn').empty();
	        		 for(data of result){
	        			 $('#modelSelect').append(`<p>[${data.qNo}] ${data.ttl}</p>`);
	        	   	} 
	        		 $('#qBtn').append(`<button class="btn btn-g btn-round yBtn" type="button" onclick="location.href='/contest/select?cNo=${cNo}'">답변등록폼 이동</button>`)
	        		 $('#questionsModel').css('display', 'block');
	        	   	
		        },
		        fail: function () {
	        		console.log("실패");
		        }
			})
			
		})
		
		//모달창 닫기.
		$('#questionCancel').on("click", function(){
			$('#questionsModel').css('display', 'none');
		})
		
		

		//검색선택
		//기본 ttl, 변경시 적용.
		$('select[name="search"]').on("change", function () {
		    $('#input').attr("name",$(this).val());
		   
		})
		
		//페이지이동 및 검색---------------------------------------------
		//페이징개수 변환 myContest 동적쿼리
		function gopage(i) {
			$('input[name="page"]').val(i);
			$("#search").submit();   
		 }

		// tr 전체체크시 모든항목 체크되도록 -----------------------------------
		let allDelete = document.querySelector("#allDelete")
		let deleteCheck = document.querySelector(".delete")
		allDelete.addEventListener('change', function () {
			//forEach 반복문사용.
			document.querySelectorAll('input[value="delete"]').forEach( function (deleteCheck) {
					deleteCheck.checked = allDelete.checked;
			})
		})
		

		//공모전 삭제
		document.querySelector('#deleteBtn').addEventListener('click', deleteContest);
		
		function deleteContest(deleteCheck) {
			let trs = document.querySelectorAll('table>tbody>tr');

			if (!confirm('공모전을 삭제하시겠습니까?')) {
				return false;
			} else {
				for (let i = 0; i < trs.length; i++) {
					if (trs[i].children[0].children[0].checked) {
						
						let cNo = trs[i].children[1].textContent; //체크된 공모번호

						//삭제처리 ajax
						$.ajax({
							url: '/contest/delete',
							method: "post",
							data: {cNo},
							beforeSend: function (xhr) {
								/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
								xhr.setRequestHeader(header, token);
							},
						}).then(res => {
							if (res == 1) {
								trs[i].remove(); // tr 화면동적 삭제
								alert('삭제 완료');
							} else {
								alert('응모작품이 있어 삭제 불가능합니다.');
							}
						})
					}
				}
			}
		}
		
		//모달창
		var winnerModel = document.getElementById("winnerModel");
	
			// <span> (x), close the modal
			$('.close').on("click", function(e){
					$('#winnerModel').css('display', 'none');
			})
			$('.cancle').on("click", function(e){
				$('#reviewFrm').css('display', 'none');
			})
		
		//공모전 우승자에 대한 정보출력
		function winnerList(coNo){
			console.log(coNo);
			
			$.ajax({
				url: '/winner/List',
				method: 'post',
				data:{ coNo },
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
				success: function (result) {
					
					$('#modelSelect').empty();
	        		for(winner of result){
		        	   	makeWinner(winner);
	        	   	}
	        	   	winnerModel.style.display = "block";
	        	   	
		        },
		        fail: function () {
	        		console.log("실패");
		        }
			})
			
		}
			
			//모달창 우승자정보 생성 붙여넣기
			function makeWinner(data){
				//console.log(data)
				$('#coNo').empty();
				$('#coNo').text("공모전 우승자");
				let img = null;
				
				if(data.grade == 1){
					img = 'first'
				}else if(data.grade == 2){
					img = 'second'
				}else{
					img = 'third'
				}
				
				let design = ` <div >
								<img src="/images/${img}.jpg" style="width: 30px; height: 30px;">
										<span>ID : ${data.userId}</span>
										<button type="button" class="btn btn-g btn-round" onclick="review('${data.userId}')">후기등록</button>
							   </div>
							  `
					$('#modelSelect').append(design);
				
			}
			
			
		////수정중...-------------------------------------------------------------------
		   //후기부분
		   //후기 모달창 띄우기
		   let userId = '[[${session.member.userId}]]';
		   let dgnNo;
		    function review(data) {
		    	
		    	console.log(data);
			   //모달창에 들어갈 내용 지정
			   $('#reviewTgt').val(data)
			   $('#userId').val(userId);
			   $("#reviewFrm").show();
			   $("#winnerModel").hide();
		   }
		   
		   
		   
		   //클릭한 별점 수 저장
		   let stars = 0;
		   $(".label_star").on('click', function() {
			   stars = $(this).text();		   
		   })

		   //모달창에서 후기등록 버튼을 눌렀을 경우
		   $("#review").on('click', function() {
			   let reviewTgt = $("#reviewTgt").val();
			   let category = 'T06';
			   let reviewCntn = $("#reviewCntn").val();
			   let star = stars;
			   
			   //후기 등록
			    $.ajax({
						url : "/review/reviewInsert",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, reviewTgt:reviewTgt, star:star, reviewCntn:reviewCntn, category:category},
						beforeSend : function(xhr)
		                {  
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
							alert('후기등록 완료되었습니다.');
							$("#reviewFrm").hide();
						},
						fail : function(result) {
							console.log(result)
						}
					})
		   })
			
		
	</script>

	</div>
</body>
</html>