<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<link rel="stylesheet" href="/css/myPageSide.css">
<link rel="stylesheet" href="/css/heart.css">
</head>
<body>

	<!-- 2.레이아웃 content적용 -->
	<div layout:fragment="content" class="content">
	
		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">관심공모전</h2>
              </div>
            </div>
          </div>
        </section>
		
		<!-- 3.현재페이지 myPageSide 적용 -->
		<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>
		
		
		<div class="contest">
			<!-- 공모전 리스트 -->
			<div class="row multi-columns-row" id="boxList"> </div>
			<!-- end -->

				<!-- //페이징 경로 :: 문자 -->
				<div class="row mt-5" id="paging">
					<div class="col text-center">
						<div class="block-27" id="returnPaging"> </div>
					</div>
				</div>
	
			
			<!-- 페이징처리 -->
			<input type="hidden" name="page" value="1">
		</div>


	<script >
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	likeSelect();
	
	function gopage(i) {
		let page = $('input[name="page"]').val(i);
		likeSelect();
	}

	//나의 좋아요 공모전박스 생성출력.
	function likeSelect() {
		let page = $('input[name=page]').val();

			$.ajax({
				url: '/contest/ajaxlike',
				method: 'post',
				data:{category:'T01',page},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
			}).then(res => {
				console.log(res);
				//map =>  contest,paging 
				$('#boxList').empty();
				
				//관심 공모전이 없을경우
				if(res.contest == ''){
					$('#boxList').append($('<p>').append("관심 공모전 없습니다."));
				}
				for (contest of res.contest) {
					$('#boxList').append(makeBox_map(contest));
				}

				$('#returnPaging').empty();
				$('#returnPaging').append(makePageing(res.paging));

			})
	}

	//Map : 로그인회원의 좋아요 공모전박스생성
				 function makeBox_map(contest) {
					 let dDay = 'D-'+contest.DDAY;
					 
					 if(contest.IMG == null){
							img =  `<img src="/images/public.jpg" class=" icon-lock" style="width: 400px; height: 400px; ">`
						}else{
							img = `<img src="/fileView/${contest.IMG}" style="width: 400px; height:400px; ">`
						}
					// 마감된 공고문 리스트 생성
					//숫자 문자형 변환 -> - 제거
					if(contest.DDAY < 0){
						data = (contest.DDAY).toString();
						let str = (data.substr(1));
						dDay = 'D+'+str;
						}
					 console.log(dDay)
					
					let p = ` 
						<div class="col-sm-6 col-md-4 col-lg-4" style="width: 400px; height: 400px; margin-bottom: 30px" >
			                <div id="${contest.C_NO}" class="shop-item">
		  					<div id="${contest.C_NO}" class="stage heart active" onclick="loveCheck(this)" style="position:relative; top:90px; z-index: 1;  right: -270px;"></div>
			                  <div class="shop-item-image">${img}
			                    <div class="shop-item-detail">
					   				<div>
					   				 <h3 class="content-box-title font-serif">[${contest.CATEGORY}] ${dDay}</h3>
					   				  <h3 class="content-box-title font-serif">${contest.TTL}</h3>
					                  <h3 class="content-box-title font-serif">₩${contest.PAYCOMMA}</h3>
									   <p>#${contest.STYLE}</p>
					                  <p>
											신고<span id="rprt">${contest.RPRT}</span>
											조회<span id="inq">${contest.INQ}</span>
											좋아요<span id="likes">${contest.LIKES}</span>
									   </p>
									</div>
			                    	<a href="/contest/select?cNo=${contest.C_NO}" class="btn btn-round btn-b">
			                    	<span class="icon-magnifying-glass">상세조회</span></a>
			                    </div>
			                  </div>
			                </div>
			              </div> `;
					
					return p;
				} 

			
	//하트클릭시 DB입력(등록,취소)
	$('#boxList').on("click",".shop-item" ,function(){
		let cNo = $(this).attr("id");
		
	})
	//마이페이지 좋아요 DB삭제
	function loveCheck(e) {
		$(e).toggleClass("active");//css 변경
		//이벤트객체	console.log(this.contest);
		let category = 'T01';
		let targetNo = e.id; //이벤트 윈도우객체에서 찾기.
		
		//하트가 눌리지 않았을 경우 실행
		 if (!($(e).hasClass("active"))) {
			//하트가 눌렸을 경우 실행
				$.ajax({
					url: '../likes/lDelete',
					method: 'post',
					data: {targetNo,category}, 
					beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
				}).then(res => {
					if(res > 0){
						alert('관심공모전 취소완료!')
							$(e).parent().parent().remove(); //확인해보기
					}else{
						alert('관심공모전 취소실패!')
					}
				})
			}
	}	
	
	// 페이징 만들기
	function makePageing(page) {
		if (page.totalRecord == 0) {
			return;
		}
		let pagination = $("<div/>")
		let ul = $("<ul/>").attr("class","pagination");
		if (page.startPage > 1) {
			$(ul).append($("<li/>").html("&laquo;")
									.css("font-size", "30px")
									.attr("class","page-item")
									.on("click", function () {
											gopage(page.startPage - page.pageSize)
									}));
		}

		//페이지 버튼 생성.
		for (let i = page.startPage; i <= page.endPage; i++) {
			if (page.page == i) {
				$(ul).append($("<li/>") .text(i).css("font-size", "20px")
										.css("padding", "10px")
										.css("border-radius", " 10% / 50% ")
										.css("background", "#dce3fd")
										.attr("class", "page-link active")
				);
			} else {
				$(ul).append($("<li/>").text(i).css("font-size", "20px")
										.css("padding", "10px")
										.attr("class", "page-link")
										.on("click", function () {
											gopage($(this).text());
										})); //페이지이동 함수
			}
		}
		if (page.endPage < page.lastPage) {
			$(ul).append($("<li/>").html("&raquo;")
									.css("font-size", "30px")
									.attr("class","page-item")
									.on("click", function () {
											gopage(page.startPage + page.pageSize)
									}));
		}
		pagination.append(ul);
		return pagination;
	}


			
	</script>
	</div>	
</body>
</html>