<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<!-- 1.사이드바 css적용 -->
<link rel="stylesheet" href="/css/myPageSide.css">
</head>
<body>

	<!-- 2.레이아웃 content적용 -->
	<div layout:fragment="content" class="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-end justify-content-center">
					<div
						class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 class="mb-0 bread">공모전 게시글관리</h2>
					</div>
				</div>
			</div>
		</section>

		<!-- 3.현재페이지 myPageSide 적용 -->
		<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>


		<!-- 테이블 -->
		<div id="table">
			<!-- 게시글 검색 -->
			검색  <input type="text" name="search" id="search" onkeyup="myFunction()">
			<button type="button" id="deleteBtn">공모전삭제</button>
			<table border="1" id="myTable">
				<thead>
					<tr>
						<th><input type="checkBox" value="삭제" class="delete" id="allDelete"></th>
						<th>no</th>
						<th>분류별</th>
						<th>작성자</th>
						<th>제목</th>
						<th>진행기간</th>
						<th>진행현황</th>
						<th>지원자조회</th>
						<th>우승자등록</th>
						<th>등록현황</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contest : ${contestList} ">
						<td><input class="check delete" type="checkBox" value="delete" onkeyup="myFunction()"></td>
						
						<!-- 등록된 게시글로 이동 -->
						<th:block th:if="${contest.save} == 'N'">
							<td th:text=${contest.cNo} ></td>
						</th:block>
						
						<!-- 임시저장된 게시글 누를시 수정폼이동 -->
						<th:block th:if="${contest.save} == 'Y'">
							<td th:text=${contest.cNo} th:onclick="|location.href='@{update(cNo=${contest.cNo})}'|"></td>
						</th:block>
							
						<td th:text=${contest.writer}></td>
						<td th:text=${contest.category}></td>
						<td th:text=${contest.ttl}></td>
						<td
							th:text="|${#dates.format(contest.dtReg, 'yyyy-MM-dd')} ~ ${#dates.format(contest.dtCls, 'yyyy-MM-dd')}">
						</td>
						<td>진행현황..</td>
						<td><button type="button" id="selete" th:onclick="|location.href='@{/contest/designRead(cNo=${contest.cNo})}'|">지원자조회</button></td>
						<td><button type="button" id="winnerInsert">우승자등록</button></td>
						
						<th:block th:if="${contest.save} == 'Y'">
							<td th:text="임시저장"></td>
						</th:block>
						<th:block th:if="${contest.save} == 'N'">
							<td th:text="등록완료"></td>
						</th:block>
						
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row mt-5">
			<div class="col text-center">
				<div class="block-27">
					<th:block
						th:replace="fragments/paging :: component(${paging},'gopage')">
				</div>
			</div>
		</div>


		<script>
		//페이지이동
		function gopage(i) {
		    location.href = '/contest/mySelect?page=' + i;
		    
		 }
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		// tr 전체체크시 모든항목 체크되도록 
		let allDelete = document.querySelector("#allDelete")
		let deleteCheck = document.querySelector(".delete")
		allDelete.addEventListener('change', function () {
			//forEach 반복문사용.
			document.querySelectorAll('input[value="delete"]').forEach( function (deleteCheck) {
					deleteCheck.checked = allDelete.checked;
			})
		})
		

		//공모전 삭제
		document.querySelector('#deleteBtn').addEventListener('click', deleteContest);
		
		function deleteContest(deleteCheck) {
			let trs = document.querySelectorAll('table>tbody>tr');

			if (!confirm('공모전을 삭제하시겠습니까?')) {
				return false;
			} else {
				for (let i = 0; i < trs.length; i++) {
					if (trs[i].children[0].children[0].checked) {
						
						let cNo = trs[i].children[1].textContent; //체크된 공모번호

						//삭제처리 ajax
						$.ajax({
							url: '../contest/delete',
							method: "post",
							data: {cNo},
							beforeSend: function (xhr) {
								/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
								xhr.setRequestHeader(header, token);
							},
						}).then(res => {
							if (res == 1) {
								trs[i].remove(); // tr 화면동적 삭제
								alert('삭제 완료');
							} else {
								alert('응모작품이 있어 삭제 불가능합니다.');
							}
						})
					}
				}
			}
		}
		
		function myFunction() {
			let input = document.getElementById("search");
			let filter = input.value.toUpperCase();
			let table = document.getElementById("myTable");
			let tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[4];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
		
	</script>
	</div>
</body>
</html>