<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/myPageSide.css">
<link rel="stylesheet" href="/css/contest/model.css">
</head>
<body>

	<!-- 2.레이아웃 content적용 -->
	<div layout:fragment="content" class="content">
		
    <h2 hidden="hidden" class="module-title font-alt">응모리스트</h2>

		<!-- 3.현재페이지 myPageSide 적용 -->
		<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>
			
		<div class="designDiv" >
			
		<!-- 게시글 검색 -->
			<form id="search" name="designSearchFrm" style="margin:30px 0px 20px 330px;">
					<select name="search" class="form-control" style="font-size: 18px; font-weight:bold; height: 40px">
						<option value="D1" th:selected="${caregory eq 'D1'}">현수막</option>
						<option value="D2" th:selected="${caregory eq 'D2'}">배너</option>
						<option value="D3" th:selected="${caregory eq 'D3'}">로고</option>
						<option value="D4" th:selected="${caregory eq 'D4'}">포스터</option>
						<option value="D5" th:selected="${caregory eq 'D5'}">기타</option>
                	</select>
                	
					<input type="text" name="name" value="" placeholder="제목">
					<input type="hidden" name="page" value="1">
					<input type="hidden" name="caregory" th:value="${caregory}">
					<button type="submit" class="btn btn-g btn-round">검색</button>
			</form>		
			
			
			<div class="row multi-columns-row" id="designList">
				<div th:each="d: ${design} " >
							
							<!-- 현수막 -->
							<th:block th:if="${d.caregory} eq 'D1'">
								<div class="col-sm-6 col-md-4 col-lg-4" style="width: 80%; margin-left: 30px; "> 
									<div class="shop-item">
									<div class="shop-item-image"> <img th:src="|/fileView/${d.sevNm}|" style="width: 100%; height: 200px; "  class="img-fluid">
									  <div class="shop-item-detail">
											<div>
										   			<span class="content-box-title font-serif dNo" th:text="|${d.name}|"></span>
											        <span class="btn btn-round btn-b select" th:id="${d.dgnNo}">상세보기</span>
									        </div>
										</div>
									</div>
									</div>
								</div>
							</th:block>
							
							
							<!-- 배너 -->
							<th:block th:if="${d.caregory} eq 'D2'">
								<div id="d2_margin">
									<div class="col-sm-6 col-md-4 col-lg-4"style="width: 20%; height: 650px;  margin-right:5px; margin-left=400px;"> 
										<div class="shop-item">
											<div class="shop-item-image"> <img th:src="|/fileView/${d.sevNm}|" class="img-fluid" style="width: 100%; height: 650px;">
											  <div class="shop-item-detail">
													<div>
												   			<h3 class="content-box-title font-serif dNo" th:text="|공모전 : ${d.cNo}|"></h3>
												   			<h3 class="content-box-title font-serif dNo" th:text="${d.dgnNo}"></h3>
												   			<h3 class="content-box-title font-serif" th:text="|제목:${d.name}|"></h3>
											        </div>
										       		 <div class="btn btn-round btn-b">
											              <span class="select" th:id="${d.dgnNo}">상세보기</span>
										            </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
								
								
							<!-- 일반 -->
							<th:block th:unless="${d.caregory} eq 'D1' or ${d.caregory} eq 'D2'">
								<div class="col-sm-6 col-md-4 col-lg-4"style="width: 400px;"> 
									<div class="shop-item">
											<div class="shop-item-image"><img th:src="|/fileView/${d.sevNm}|" style="width: 400px; height: 400px; border-radius: 3%;"  class="img-fluid">
											    <div class="shop-item-detail">
													<div>
												   			<h3 class="content-box-title font-serif dNo" th:text="|공모전 : ${d.cNo}|"></h3>
												   			<h3 class="content-box-title font-serif dNo" th:text="${d.dgnNo}"></h3>
												   			<h3 class="content-box-title font-serif" th:text="|제목:${d.name}|"></h3>
											        </div>
											        <div class="btn btn-round btn-b">
											              <span class="select" th:id="${d.dgnNo}">상세보기</span>
										             </div>
												</div>
											</div>
										</div>
									</div>
							</th:block>
							    
							</div>
						</div>
		</div>
		
		<!-- 디자인 상세보기 모달 -->
		<div id="designModel" class="modal">
			<div class="img_modal_content">
				
				<div class="column middle">
					<h3 id="title"></h3>
					<div id="modelSelect" style="margin-top: 60px;"></div>
				</div>
				
				<div class="column side">
				  	<span id="designCancel" class="close">&times;</span>
				   <div id="dgnerSelect"></div>
				</div>
				
			</div>
			<div class="modal_layer"></div>
		</div>
			
			<!-- 페이징처리 -->
			<div th:if="${!#lists.isEmpty(design)}">
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<th:block
								th:replace="fragments/paging :: component(${paging},'gopage')">
						</div>
					</div>
				</div>
			</div>
			
				 
		
		<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		 //데이터 없을시 마이페이지 첫화면으로 이동
		 $(document).ready(function () {
			  let result = '[[${result}]]';
			if (result != '') {
				$('form[name="designSearchFrm"]').after('<img src="/assets/images/no_data_found.jpg" style="height:30%; width:70%; margin:100px 0px 50px 250px;">')
			}
		})
		
		//검색선택
		//카테고리 변경시 적용.
		$('select[name="search"]').on("change", function () {
			$('input[name="caregory"]').val($(this).val());
			console.log($(this).val());
		   
		})
		
		//페이지이동 및 검색
		//페이징개수 변환 myContest 동적쿼리
		function gopage(i) {
			 let caregory = $("#search option:selected").val();
		 	$('input[name="caregory"]').val(caregory);
			$('input[name="page"]').val(i);
			$('form[name="designSearchFrm"]').submit();
		 }
		 
		 
		//디자인선택시 모달창 
			//응모된 1건의 디자인
			// 전체 파일리스트+ 정보출력.
			$('.select').on("click", function(e){
				let dNo = e.target.id
				console.log(dNo);
				
				$.ajax({
					url: '/design/ajaxSelect',
					method: 'post',
					data: {dgnNo:dNo},
					beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
				}).then(res => {
					//공모전정보
					let caregory = res.caregory;
					let cNo = res.cNo
					let contestTtl = res.contestTtl;
					let writer = res.writer;
					let cntn = res.cntn;

					//모달내용을 지운뒤 붙여넣기.
					$('#dgnerSelect').empty();
					$('#modelSelect').empty();
					
					
					let side = ` <div id="designId">
								 <div class="radius">
								 <img class="radius_img" src="/images/profile.jpg">
								 </div>
									<h3>${writer}</h3>
									<div onclick="location.href='/contest/select?cNo=${cNo}'" style="cursor: pointer;">
									<h3>[${caregory}]${contestTtl}</h3>
									</div>
							</div>
								<hr> 
								<p>${cntn}</p>
							<div>
							</div>
									`;
					
					$('#dgnerSelect').append(side);
					//모달내용을 지운뒤 붙여넣기.
					for(file of res.files){
						makeDesign(file.sevNm,dNo,caregory);
					}
					
				})
			})
			
			//모달창 :디자인 응모작품 생성.
			function makeDesign(fileName,dNo,caregory){
				console.log(caregory);
				let design;
				//배너
				if(caregory =='배너'){
					design = `	 <div class="design" id="${dNo}" style="width:60%; margin: 10px auto; margin-bottom:20px; ">
									<img src="/fileView/${fileName}" style="width: 100%; height: 60%;">
								</div>	
							`
					
				//현수막
				}else if(caregory =='현수막'){
					design = `<div class="design " id="${dNo}" style="width:100%; margin-bottom:20px;">
								   <img src="/fileView/${fileName}" style="style=width: 100%; height: 200px;">
							  </div>`
				//그외
				}else{
					design = `	<div class="design" id="${dNo}" style="width:100%; margin: 0 auto; margin-bottom:20px; ">
								    <img src="/fileView/${fileName}" style="width: 100%; height: 600px; ">
								</div>`
				}
				
				
				$('#modelSelect').append(design);
					
			}
			
			// Get the modal
			var modal = document.getElementById("designModel");
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];
			
			// open the modal 
			$('.select').on("click",function() {
			  modal.style.display = "block";
			})
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			  modal.style.display = "none";
			}
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			  if (event.target == modal) {
			    modal.style.display = "none";
			  }
			}
		

		
		</script>
</div>
</body>
</html>
							


