<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- 1.사이드바 css적용 -->
<link rel="stylesheet" href="/css/myPageSide.css">
<style>
/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	height: 60%;
	text-align: left;
	max-height: calc(100vh - 200px);
    overflow-y: auto;
	
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
	
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	
}
#modelBtn{
	text-align: center;
}
.modelBtn1 {
	display :inline-block;
}
</style>
</head>
<body>

	<!-- 2.레이아웃 content적용 -->
	<div layout:fragment="content" class="content">
		
		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">마이페이지</h2>
                <div class="module-subtitle font-serif">공모전 응모관리</div>
              </div>
            </div>
          </div>
        </section>
		
	
		<div style="min-height: 1200px">

		<!-- 3.현재페이지 myPageSide 적용 -->
		<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>
			
		<!-- 리스트 값이 없을경우 -->
		<div th:if="${#lists.isEmpty(design)}">
			<h3>응모한 디자인이 없습니다.</h3>
		</div>	
			
		<!-- 게시글 검색 -->
			<form name="searchFrm">
				<div th:if="${!#lists.isEmpty(design)}">
					디자인명<input type="text" name="name" value="">
					<input type="hidden" name="page" value="1">
					<button type="submit">검색</button>
				</div>
			</form>		
			
			
				
				<div th:each="d: ${design} " >
					<div class="col-sm-6 col-md-4 col-lg-4 design">
						<div class="shop-item">
							<div class="shop-item-image"><img th:src="|/fileView/${d.sevNm}|" style="width: 400px; height: 400px" class="img-fluid">
							    <div class="shop-item-detail">
									<div>
								   			<h3 class="content-box-title font-serif dNo" th:text="|공모전 : ${d.cNo}|"></h3>
								   			<h3 class="content-box-title font-serif dNo" th:text="${d.dgnNo}"></h3>
								   			<h3 class="content-box-title font-serif" th:text="|제목:${d.name}|"></h3>
							        </div>
							        <div class="btn btn-round btn-b">
							              <span class="select">상세보기</span>
						             </div>
								</div>
							</div>
						</div>
					</div>
				</div>
		
		<!-- The Modal -->
			<div id="myModal" class="modal">
	
				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h3 id="title"></h3>
					<div id="modelSelect"></div>
				</div>
			</div>
			
		<!-- 페이징처리 -->
		<div th:if="${!#lists.isEmpty(design)}">
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<th:block
							th:replace="fragments/paging :: component(${paging},'gopage')">
					</div>
				</div>
			</div>
		</div>
		
		</div>
				 
		
		<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		//페이지이동 및 검색
		//페이징개수 변환 myContest 동적쿼리
		function gopage(i) {
			$('input[name="name"]').val('');
			searchFrm.page.value = i;
			searchFrm.submit();
		 }
		 
		 
		//디자인선택시 모달창 
			//응모된 1건의 디자인
			// 전체 파일리스트+ 정보출력.
			$('.select').on("click", function(e){
				let dNo = $(this).parent().prev().children().eq(1).text()
				console.log(dNo)
				
				$.ajax({
					url: '/design/ajaxSelect',
					method: 'post',
					data: {dgnNo:dNo},
					beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
				}).then(res => {
					let user = res.userId;
					let title = res.name;
					let cntn = res.cntn;
					let cNo = res.cNo;
					
					$('#title').empty();
					let content = `<h3>${user} 님의 참여작품 </h3>
									<p>${cNo}</p>
									<p>작품명 : ${title} </p>
									<p>${cntn} </p>
								  `
					
					$('#title').append(content);
					
					//모달내용을 지운뒤 붙여넣기.
					$('#modelSelect').empty();
					for(file of res.files){
						makeDesign(file.sevNm,title,dNo);
					}
					
				})
			})
			
			//모달창 :디자인 응모작품 생성.
			function makeDesign(fileName,dNo){
				let design = `  <div class="design" id="${dNo}" style="float: left; margin:10px">
										<img src="/fileView/${fileName}" style="width: 500px; height: 500px">
							   </div>
							  `
					$('#modelSelect').append(design);
				
			}
			
			// Get the modal
			var modal = document.getElementById("myModal");
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];
			
			// open the modal 
			$('.select').on("click",function() {
			  modal.style.display = "block";
			})
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			  modal.style.display = "none";
			}
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			  if (event.target == modal) {
			    modal.style.display = "none";
			  }
			}
		

		
		</script>
</div>
</body>
</html>
							


