<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<link rel="stylesheet" href="/css/myPageSide.css">
<link rel="stylesheet" href="/css/contest/model.css">
<meta charset="UTF-8">
</head>
<body>
	<!-- 2.레이아웃 content적용 -->
	<div layout:fragment="content" class="content">
	<h2 hidden="hidden" class="module-title font-alt">문의내역</h2>

			<!-- 3.현재페이지 myPageSide 적용 -->
			<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>

			<div class="contest" >
			 	
				<!-- 게시글 검색 -->
				<form name="searchFrm" id="search">
					<select name="search" class="form-control" style="font-size: 18px; font-weight:bold; height: 40px">
						<option value="Ttl" selected="selected">제목</option>
						<option value="Cntn">내용</option>
               		</select>
               		<input type="text" name="ttl" id="input" value="">
					<input type="hidden" name="page" value="1">
					<button type="submit" class="btn btn-g btn-round inputBtn">검색</button>
				</form>
				
				<!-- 테이블 -->
				<table id="table">
					<thead>
						<tr>
							<th style=" width: 100px;">문의No</th>
							<th style=" width: 100px;">게시글No</th>
							<th >문의사항제목</th>
							<th >작성일자</th>
							<th>답변유무</th>
							<th style=" width: 80px;">조회</th>
						</tr>
					</thead>
					<tbody>
						<!-- 답변이아닌 문의내용만 출력할것.. -->
						<tr th:each="q : ${qnaList}" >
							<td th:text=${q.qNo}></td>
							<td th:text=${q.targetId}></td>
							<td th:text=${q.ttl}></td>
							<td th:text="|${#dates.format(q.writingDt, 'yyyy-MM-dd')}"></td>
							<td th:text=${q.ans}></td>
							<td><button type="button" class="select btn btn-g btn-round">조회</button></td>
						</tr>
					</tbody>
				</table>
		
			<!-- 페이징처리  -->
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<th:block
							th:replace="fragments/paging :: component(${paging},'gopage')">
					</div>
				</div>
			</div>
			
		<!--문의내역 상세보기 -->
		<div id="qnaModal" class="modal">
			<div class="modal_content">
				<span class="close">&times;</span>
				<h3 style="text-align: center;">문의내역</h3>
				<div id="qna"></div>
				<div id="qnaRep"></div>
			</div>
			<div class="modal_layer"></div>
		</div>
			
			
		</div>
		<script>
		//데이터 없을시 마이페이지 첫화면으로 이동
		 $(document).ready(function () {
			  let result = '[[${result}]]';
		      console.log(result)
			if (result != '') {
				alert(result);
				location.href='/myPage/userMypage'; 
			}
		})

		//csrf 설정
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		//검색선택
		//기본 ttl, 변경시 적용.
		$('select[name="search"]').on("change", function () {
		    $('#input').attr("name",$(this).val());
		   
		})
		
		//페이징 
		function gopage(i) {
			$('input[name="page"]').val(i);
			$("#search").submit();   
		}
		
		//모달창-----------------------------------------------------------
		// Get the modal
		var qnaModal = document.getElementById("qnaModal");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		
		// 모달창 띄우기.
		// 마감연장일이 이미 지정된 경우 모달창 띄우지 않도록.
		$('.select').on("click", function(){ 
			qnaModal.style.display = "block";
		})
		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			qnaModal.style.display = "none";
		}
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == qnaModal) {
			  qnaModal.style.display = "none";
		  }
		}
		
		$('.select').on("click", function(){
			let qNo = $(this).parent().parent().children('td:eq(0)').text();
			
			$.ajax({
	            url:"/questions/queDetailAjax",
	            method:"post",
	            data : {qNo},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				console.log(res);
				$('#qna').empty();
				$('#qnaRep').empty();
				
				$('#qna').append(make(res[0]));
					if(res[1] !=null && res[1].rerepTgt != null){ 
						$('#qnaRep').append(makeRep(res[1]));
					}					
				})
	        })
			
		
		//문의사항 생성
		function make(data){
			let ul = `  <h4>${data.ttl}</h4>
						<ul style="list-style: none">
								<li>${data.cntn}</li>
								<li></li>
						</ul>
					`;
			return ul;
		} 
		
		//문의답변 생성
		function makeRep(data){
			let ul = `  <h4>답변내용</h4>
						<ul style="list-style: none">
								<li>${data.cntn}</li>
								<li></li>
						</ul>
					`;
			return ul;
		} 
		
			
		</script>
	</div>
</body>
</html>