<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<!-- 1.사이드바 css적용 -->
<link rel="stylesheet" href="/css/myPageSide.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 2.레이아웃 content적용 -->
	<div layout:fragment="content" class="content">

		<section class="module bg-dark-60 gallery-page-header parallax-bg"
			data-background="/assets/images/gallery_bg.jpg"
			style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">마이페이지</h2>
						<div class="module-subtitle font-serif">공모전 문의리스트</div>
					</div>
				</div>
			</div>
		</section>


		<div style="min-height: 700px">
			<!-- 3.현재페이지 myPageSide 적용 -->
			<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>

			<!-- 게시글 검색 -->
			<form name="searchFrm">
				<input type="hidden" name="page" value="1">
			</form>

			
		 	<!-- 문의내역이 없을경우 -->
		 	<div th:if="${#lists.isEmpty(qnaList)}">
				<h3>문의내역이 없습니다.</h3>
			</div>	
		 	
		 	<!-- 문의내역이 있을경우 -->
		 	<div th:if="${!#lists.isEmpty(qnaList)}">
				<!-- 테이블 -->
				<div id="table">
					<table border="1" id="myTable">
						<thead>
							<tr>
								<th>문의사항번호</th>
								<th>타겟아이디</th>
								<th>분류</th>
								<th>문의사항제목</th>
								<th>작성일자</th>
								<th>답변유무</th>
								<th>조회</th>
							</tr>
						</thead>
						<tbody>
							<!-- 답변이아닌 문의내용만 출력할것.. -->
							<tr th:each="q : ${qnaList}" >
								<td th:text=${q.qNo}></td>
								<td th:text=${q.targetId}></td>
								<td th:text=${q.category}></td>
								<td th:text=${q.ttl}></td>
								<td th:text="|${#dates.format(q.writingDt, 'yyyy-MM-dd')}"></td>
								<td th:text=${q.ans}></td>
								<td><button type="button" class="select">조회</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<!-- 페이징처리  <h3 th:text="${paging}"></h3> -->
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<th:block
							th:replace="fragments/paging :: component(${paging},'gopage')">
					</div>
				</div>
			</div>


		</div>
		<script>
		//csrf 설정
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		//페이징 
		function gopage(i) {
			searchFrm.page.value = i;
			searchFrm.submit();
		}
		
		$('.select').on("click", function(){
			let qNo = $(this).parent().parent().children('td:eq(0)').text();
			let category = $(this).parent().parent().children('td:eq(2)').text();
			let targetId = $(this).parent().parent().children('td:eq(1)').text();
			console.log(qNo);
			console.log(category);
			console.log(targetId);
			
			location.href='/questions/queDetail?qNo='+qNo +'&category=' + category + '&targetId=' +targetId;
		});
			
		</script>
	</div>
</body>
</html>