<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<!-- 1.사이드바 css적용 -->
<link rel="stylesheet" href="/css/myPageSide.css">
<link rel="stylesheet" href="/css/contest/cotestForm.css">
<link rel="stylesheet" href="/css/contest/button.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="content">
    <h2 hidden="hidden" class="module-title font-alt">회원승급신청</h2>
		
		<!-- 3.현재페이지 myPageSide 적용 -->
		<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>
		
		<div id="user"style="min-height: 700px;">
			<h3 >회원등급 승급신청</h3>
			<div id="signIn-right">
					<label>사회자</label><input type="radio" name="crtfType" value="MC">
					<label>디자이너</label><input type="radio" name="crtfType" value="DESIGNER"><br>
					<label>자격증명</label> <input type="text" id="crtfName" name="crtfName"><br>
					<label>발급번호</label> <input type="text" id="crtfNum" name="crtfNum">
					<button type='button'  id="qPlus">승급신청</button>
			</div>
			
			<div id="userCrtf">
				<div th:if="${userCrtf} != null">
					<div th:each="data : ${userCrtf}">
						<ul id="qList" style="list-style: none;">
						<li class="qualLi">
							<span th:id="${data.crtfId}" th:text="|자격증명: ${data.crtfName}, 자격증발급번호: ${data.crtfNum}|"></span>
							<button type="button" class="quDelBtn">X</button>
						</li>
					 </ul>						
					</div>
				</div>
			</div>
					
		</div>
	<script>
	//csrf 설정
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

		//승급신청 버튼.
		$('#qPlus').on("click", function(){
			let userId = '[[${session.member.userId}]]';
			let crtfType = $('input:radio[name="crtfType"]:checked').val();
			let crtfName =  $('input[name="crtfName"]').val();
			let crtfNum= $('input[name="crtfNum"]').val();
			
			console.log(crtfType);
			if(crtfType == "" || crtfType ==null){
				alert('승급정보를 선택해주세요');
				return false;
			}
			if(crtfName == "" || crtfNum == ""){
				alert('자격증 정보를 기입해주세요');	
				return false;
			}
			
			if(confirm(crtfName + ' 등록으로 승급신청 하시겠습니까?')){
				$.ajax({
	 	   			url : '/myPage/userUpgrade',
	 	   			method : 'post',
		            data:{userId,crtfName,crtfNum,crtfType},
	 	   			beforeSend : function(xhr)
	 	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	 					xhr.setRequestHeader(header, token);
	 	            },
					success : function(result){
				      if(result != null){
				    	  $('#userCrtf').append(makeli(result));
						  alert('신청완료');
							
				     }else {
							alert('신청실패')	
				     }
					 },
			        fail: function () {
			           }
					})
			
			}else{
				return false;
				
			}
		});
		
		function makeli(data){
			console.log(data);
			let p = `<ul id="qList" style="list-style: none;">
						<li class="qualLi">
							<span id="${data.crtfId}">자격증명: ${data.crtfName}, 자격증발급번호: ${data.crtfNum}</span>
							<button type="button" class="quDelBtn">X</button>
						</li>
					 </ul>
					`;
					
			return p;
		}
	</script>
	</div>
</body>
</html>