<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/test.css">
<!-- <link rel="stylesheet" href="/css/myPageSide.css"> -->
<link rel="stylesheet" href="/css/contest/cotestForm.css">
<link rel="stylesheet" href="/css/contest/model.css">
<link rel="stylesheet" href="/css/contest/button.css">
</head>
<body>
	<div layout:fragment="content" class="content">
		<section class="module bg-dark-60 gallery-page-header parallax-bg"
			data-background="/assets/images/gallery_bg.jpg"
			style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">마이페이지</h2>
						<div class="module-subtitle font-serif">회원정보 조회</div>
					</div>
				</div>
			</div>
		</section>

		<div style="min-height: 700px">
			<!-- 3.현재페이지 myPageSide 적용 -->
		<!-- 	<th:block th:replace="fragments/myPageSide :: myPageSide"></th:block> -->
			<th:block th:replace="fragments/side_test :: myPageSide"></th:block>


			<div id="user">
			<ul>
				
				<li><label>가입일</label><input type="text" th:value="|${#dates.format(user.userRegDate, 'yyyy년 MM월 dd일')}|" disabled="disabled"></li>
				<!-- 회원등급 -->
				<li th:if="${user.auth} == 'ROLE_ADMIN'" ><label>회원등급</label><input type="text" disabled="disabled" value="관리자"></li>
				<li th:if="${user.auth} == 'ROLE_MEM'" ><label>회원등급</label><input type="text" disabled="disabled" value="회원1"></li>
				<li th:if="${user.auth} == 'ROLE_MEMBER'" ><label>회원등급</label><input type="text" disabled="disabled" value="회원2"></li>
				<li th:if="${user.auth} == 'ROLE_BUSI'" ><label>회원등급</label><input type="text" disabled="disabled" value="업체"></li>
				
			
				<li><label>아이디</label><input type="text" th:value="${user.userId}"  readonly="readonly"></li>
				<li><label>이메일</label><input id="userEmail" name="userEmail" type="text" th:value="${user.userEmail}"  readonly="readonly"></li>
				<li><label>성 명</label><input type="text" id="userName" name="userName"  th:value="${user.name}"  readonly="readonly"></li>
				<li><label>연락처</label><input id="userPhone" name="userPhone" type="text" th:value="${user.userPhone}"  readonly="readonly"></li>
			
				<!-- 수신여부 -->
				<li>
					<label>수신여부</label>
					<span><input th:attr="checked=${user.userMessaging} == 'S0'?'true' : 'false'" type="radio" name="userMessaging" value="S0" onclick="return false">수신거부</span>
					<span><input th:attr="checked=${user.userMessaging} == 'S1'?'true' : 'false'" type="radio" name="userMessaging" value="S1" onclick="return false">메일</span>
					<span><input th:attr="checked=${user.userMessaging} == 'S2'?'true' : 'false'" type="radio" name="userMessaging" value="S2" onclick="return false">휴대폰</span>
					<span><input th:attr="checked=${user.userMessaging} == 'S3'?'true' : 'false'" type="radio" name="userMessaging" value="S3" onclick="return false">메일,휴대폰</span>
				</li>
				<!-- 회원계좌번호 -->
				<li>
					<label>예금주</label><input id="depotr" name="depotr"  type="text" th:value="${user.depotr}" readonly="readonly">
				</li>
				<li>
					<label>은행사</label>
					<select id="bank" name="bank"   onFocus="this.initialSelect = this.selectedIndex;" onChange="this.selectedIndex = this.initialSelect;">
						<option value="" >=== 은행코드 ====</option>
						<option value="004" th:selected="${user.bank eq '국민은행'}">국민은행</option>
						<option value="003" th:selected="${user.bank eq '기업은행'}">기업은행</option>
						<option value="011" th:selected="${user.bank eq '농협은행'}">농협은행</option>
						<option value="031" th:selected="${user.bank eq '대구은행'}">대구은행</option>
					</select>
				</li>
				<li>
					<label>계좌번호</label>
					<input id="accnt" name="accnt" type="text" th:value="${user.accnt}" readonly="readonly">
				</li>
				
				<th:block th:if="${user.busiNum} != null">
				<ul >
					<li><label>사업자번호</label><input id="busiNum" name="busiNum" type="text" th:value="${user.busiNum}|" readonly="readonly"></li>
					<li><label>사업자명</label><input id="busiTitle" name="busiTitle" type="text" th:value="${user.busiTitle}|" readonly="readonly"></li>
					
					<li><label>업체유형</label>
						<input type="radio" name="busiType" value="U1" th:checked="${user.busiType eq '기획'}" onclick="return false">기획업체
						<input type="radio" name="busiType" value="U2" th:checked="${user.busiType eq '렌탈'}" onclick="return false">렌탈업체
					</li>
 					
 					<li>
						<label>행사지역</label> 
 						<ul id="busiArea" class="userUlTag">
 							<li th:each="area, t : ${#strings.arraySplit(user.busiArea, ',')}" class='tag-item'>[[${area}]]</li>
 						</ul>
 					</li>
 					
					<li>
						<label>행사스타일</label> 
 						<ul id="busiStyle" class="userUlTag">
 							<li th:each="style, t : ${#strings.arraySplit(user.busiStyle, ',')}" class='tag-item'>[[${style}]]</li>
 						</ul>
					</li>
				</ul>
				</th:block>
			</ul>
				<div  style="position:relative; top:20px; left: 135px;">
				<button type="button" id="update" class="w-btn w-btn-gra1" >수정</button>
				<button type="button" id="delete" class="w-btn w-btn-gra1" >탈퇴</button>
				</div>
			</div>
		</div>

		<!-- 비밀번호 확인창. -->
		<div id="myModal" class="modal">
			<div class="modal_content">
				<span class="close">&times;</span>
				<h3>비밀번호 확인</h3>
				<label>비밀번호</label><input type="text" id="password" name="userPassword" required="required"><br>
				<label>비밀번호확인</label><input type="text" id="passwordchk" name="passwordchk" required="required"><br>
				<font id="pw_feedback" size="2" value="1"></font>
				<div id="checkDiv">
					<button id="check" class="modelBtn1" style="width: 50px;" type="button">확인</button>
				</div>
			</div>
			<div class="modal_layer"></div>
		</div>


		<script>
			let userId = '[[${session.member != null ? session.member.userId :''}]]';
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
		
			var password = $("#pw_feedback").attr('value');
			var passwordchk = $("#pw_feedback").attr('value');
			//모달창-----------------------------------------------------------
			// Get the modal
			var modal = document.getElementById("myModal");

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
				modal.style.display = "none";
				$('#password').val('');
				$('#passwordchk').val('');
				$("#pw_feedback").html('');
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
			

			//수정하기 버튼 누를시
			$('#update').on("click", function() {
				if (!confirm('회원정보를 수정하시겠습니까?')) {
					return false;
				}
				else {
					$('#checkDiv').children('#check').attr('id' , "update")
					// 모달창 띄우기.
					modal.style.display = "block";
					
					//비번 중복체크
					$('#passwordchk').keyup(function () {
						let password = $('#password').val();
						let passwordChk =  $('#passwordchk').val();
						if (password == passwordChk) {
							$("#pw_feedback").html('비밀번호가 일치합니다.');
							$("#pw_feedback").attr('color', '#2fb380');
							$("#pw_feedback").attr('value', '0');
							
						} else {
							$("#pw_feedback").html('비밀번호가 일치하지 않습니다.');
							$("#pw_feedback").attr('color', '#dc3545');
							$("#pw_feedback").attr('value', '1');
						}
					})
				 $('#checkDiv').children('#update').on("click", updateForm);
				}
			})

			
			function updateForm() {
				$('#checkDiv').children('#update').attr('id' , "check")
				modal.style.display = "none";
				let password = $('#password').val();
				
				$.ajax({
	 	   			url : '/myPage/userPwCheck',
	 	   			method : 'post',
	 	   			data : {userId,userPassword:password},
	 	   			beforeSend : function(xhr)
	 	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	 					xhr.setRequestHeader(header, token);
	 	            }
	 	   			,success : function(result){
	 	   			      if(result == true){
	 	   			    	location.href='/myPage/userUpdateForm'; 
	 	   			     }else {
	 	   						alert('비밀번호가 일치하지 않습니다.')	
	 	   			     }
	 	   			}
	 	   			,fail: function () {
	 	   					alert('요청실패')	
	 	   		         }
	 	   			})
			}
			
			//탈퇴누를경우 update 권한수정
			$('#delete').on("click", function() {
				if (!confirm('탈퇴하시겠습니까?')) {
					return false;
				}
				else {
					$('#checkDiv').children('#check').attr('id' , "delete")
					// 모달창 띄우기.
					modal.style.display = "block";
					
					//비번 중복체크
					$('#passwordchk').keyup(function () {
						let password = $('#password').val();
						let passwordChk =  $('#passwordchk').val();
						if (password == passwordChk) {
							$("#pw_feedback").html('비밀번호가 일치합니다.');
							$("#pw_feedback").attr('color', '#2fb380');
							$("#pw_feedback").attr('value', '0');
							
						} else {
							$("#pw_feedback").html('비밀번호가 일치하지 않습니다.');
							$("#pw_feedback").attr('color', '#dc3545');
							$("#pw_feedback").attr('value', '1');
						}
					})
				$('#checkDiv').children('#delete').on("click",userdelete);
				}
			})
			
			function userdelete(){
				$('#checkDiv').children('#delete').attr('id' , "check")
				modal.style.display = "none";
				
			$.ajax({
 	   			url : '/myPage/userStateUpdate',
 	   			method : 'post',
 	   			data : {userId,userState:'leave'},
 	   			beforeSend : function(xhr)
 	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
 					xhr.setRequestHeader(header, token);
 	            },
				success : function(result){
				      if(result > 0){
							alert('회원탈퇴 완료')
							$('.nav').children('li:eq(11)').children('form').submit();
				     }else {
							alert('회원탈퇴 실패')	
				     }
				 },
		        fail: function () {
		           }
				})
			}
		</script>
	</div>
</body>
</html>