<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.files.mapper.FilesMapper">

	<insert id="insertFile">
		insert into FILES(F_NO,TARGET_ID,F_NM,SEV_NM,SAVE_ADDR,CATEGORY)
		values(fno_seq.nextval,#{targetId},#{fNm},#{sevNm},#{saveAddr},#{category})
	</insert>
	
	<select id="NameCheck" resultType="int">
		select count(*) from files
		where F_NM = #{fNm}
		and cateGory = #{category}
	</select>
</mapper>