<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
   <section class="hero-wrap hero-wrap-2"
      style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
         <div
            class="row no-gutters slider-text align-items-end justify-content-center">
            <div
               class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
               <h2 class="mb-0 bread">업체 포트폴리오</h2>
            </div>
         </div>
      </div>
   </section>
   
   <th:block sec:authorize="hasAnyRole('BUSI')">
   <button type="button" class="find-trigger btn-15" th:onclick="checkPrtfl()">나의 포트폴리오</button>
   </th:block>
   
    <table>
      <thead>
         <tr>
            <th>사용자ID</th>   
            <th>한줄소개</th>   
            <th>전화번호</th> 
            <th>작성일자</th>
            <th>이미지</th>  
         </tr>
      </thead>
      <tbody>
         <tr th:each="busi : ${busiList}" th:onclick="|location.href='@{busiSelect(userId=${busi.userId})}'|">
            <td th:text=${busi.userId}></td>
            <td th:text=${busi.intro}></td>
            <td th:text=${busi.tel}></td>
            <td th:text=${busi.dt}></td>
            <td><img th:src="@{/images/}+${busi.img}"></td>
         </tr>
      </tbody>
   </table>
   
   	<!-- 페이징 처리 -->
	<div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
             <th:block th:replace="fragments/paging :: component(${paging},'gopage')">
          </div>
        </div>
      </div>
   
   <script>
	//나의 포트폴리오 확인
 	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");	
 
	function checkPrtfl(){
		let userId = '[[${session.member != null ? session.member.userId :''}]]';
		$.ajax({
			url : "/prtfl/checkBusi",
			method : 'post',
			contentType : 'application/x-www-form-urlencoded',
			data : {userId:userId},
			beforeSend : function(xhr)
           {
				xhr.setRequestHeader(header, token);
           },
			success : function(data) {
				if(data<1){
					if(confirm('등록된 포트폴리오가 없습니다. 등록하시겠습니까?')){
						location.href='/prtfl/busiInsert';
					}
				} else {
					location.href='/prtfl/busiSelect?userId=' + userId;
				}
			},
			fail : function(result) {
				console.log(result)
			}
		})
	}
   </script>
</div>

</html>