<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<link rel="stylesheet" href="/css/prtfl/mcPrtfl.css">
<link rel="stylesheet" href="/css/prtfl/button.css">

<style>
	#imgSize{
		 width:800px; 
		 height:300px;
	}
	
	.post-columns .post{
		margin:0;
	}
	
	.container{
		padding: 30px 0px;
	}
</style>
</head>

<div layout:fragment="content">
   <section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
           <h2 class="module-title font-alt">업체포트폴리오</h2>
           <div class="module-subtitle font-serif">업체포트폴리오</div>
         </div>
       </div>
     </div>
   </section>
   
   <div class="container right">
	   <th:block sec:authorize="hasAnyRole('BUSI')">
	   	<button type="button" class="find-trigger btn-15" th:onclick="checkPrtfl()">나의 포트폴리오</button>
	   </th:block>
   </div>
   
	 <div class="container">
   		<div class="row multi-columns-row post-columns">
	        <div class="col-sm-6 col-md-4 col-lg-4" th:each="busi : ${busiList}">
	          <div class="post">

	            <div class="post-thumbnail"><a th:href="|/prtfl/busiSelect?userId=${busi.userId}|">
	            	<img id="imgSize" th:src="|/fileView/${busi.img}|" alt="Blog-post Thumbnail"></a>
	            </div>

	            <div class="post-header font-alt">
	              <h2 class="post-title" th:text=${busi.busiTitle}><a th:href="|/prtfl/busiSelect?userId=${busi.userId}|"></a></h2>
	              </div>
	            </div>
	            <div class="post-more"><a class="more-link" th:href="|/prtfl/busiSelect?userId=${busi.userId}|">Read more</a></div>
	          </div>
	        </div>   
		</div>
    
   	<!-- 페이징 처리 -->
	<div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
             <th:block th:replace="fragments/paging :: component(${paging},'gopage')">
          </div>
        </div>
      </div>
   
   <script>
	//나의 포트폴리오 확인
 	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");	
 
	function checkPrtfl(){
		let userId = '[[${session.member != null ? session.member.userId :''}]]';
		$.ajax({
			url : "/prtfl/checkBusi",
			method : 'post',
			contentType : 'application/x-www-form-urlencoded',
			data : {userId:userId},
			beforeSend : function(xhr)
           {
				xhr.setRequestHeader(header, token);
           },
			success : function(data) {
				if(data<1){
					if(confirm('등록된 포트폴리오가 없습니다. 등록하시겠습니까?')){
						location.href='/prtfl/busiInsert';
					}
				} else {
					location.href='/prtfl/busiSelect?userId=' + userId;
				}
			},
			fail : function(result) {
				console.log(result)
			}
		})
	}
   </script>
</div>

</html>