<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<head>
<!-- csrf 설정 -->
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<style>
	.label {
		color : black;
	}
	
	#check{
		min-height : 3000px;
	}
	
	.fileShow{
			display : none !important;
	}
	
	ul {
  		padding: 16px 0;
	}
	
	ul li {
	  display: inline-block;
	  margin: 0 5px;
	  font-size: 14px;
	  letter-spacing: -.5px;
	}
	
	form {
	  padding-top: 16px;
	}
	
	ul li.tag-item {
	  padding: 4px 8px;
	  border-radius : 10px;
	  background-color: pink;
	  color: #000;
	}
	
	.tag-item:hover {
	  background-color: #262626;
	  color: #fff;
	}
	
	.area-del-btn, .type-del-btn, .style-del-btn {
	  font-size: 12px;
	  font-weight: bold;
	  cursor: pointer;
	  margin-left: 8px;
	}
		
</style>
</head>

<div layout:fragment="content">
   <section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
           <h2 class="module-title font-alt">디자이너 포트폴리오 등록</h2>
           <div class="module-subtitle font-serif">디자이너 포트폴리오 등록</div>
         </div>
       </div>
     </div>
   </section>
   
   <form action="/prtfl/dgnerInsert" method="POST" id="dgnerForm" name="dgnerForm" class="contactForm" enctype="multipart/form-data">
   <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
   <div id="check">
   <div class="col-md-12">
		<div class="form-group">
			<label class="label" for="imgInp">대표이미지</label> 
			<input type="file" id="imgInp" name="uploadFile"/>
			<div class="fileShow">
				<img id="blah" src="#" alt = "your image" width="250px" />
				<button type="button" id="cancel" class="btn btn-warning cancel">
	              <span>Cancel</span>
	          	</button>
			</div>
		</div>
	</div>
	
	<input type="hidden" class="form-control" name="userId" id="userId" th:value="${session.member != null ? session.member.userId :''}">
	
	<div class="col-md-12">
		<div class="form-group">
			<label class="label" for="userName">닉네임</label> 
			<input type="text" class="form-control" name="userName" id="userNmae">
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
			<label class="label" for="cNm">자격증</label> 
			<input type="text" class="form-control" name="cNm" id="cNm" th:value="포토샵" readonly>
		</div>
	</div><br/>
	
	<div class="col-md-6">
		<div class="form-group">
			<label class="label" for="carrYear">경력</label> 
			<input type="number" class="form-control" name="carrYear" id="carrYear">년
	</div>
	</div>
	
	<div class="col-md-6">
		<div class="form-group">
			<label class="label" for="workPrice">작업비용</label> 
			<input type="number" class="form-control" name="workPrice" id="workPrice">원
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="form-group">
			<label class="label" for="workDt">작업기간</label> 
			<input type="number" class="form-control" name="workDt" id="workDt">일
		</div>
	</div>
	
	<!-- option 디자이너 스타일 -->
	<div class="col-md-12">
		<div class="form-group">
			<label class="label" for="designStyleList">주요 디자인 스타일</label> 
			<select id="designStyleList" name="designStyleList" onchange="designStyleFun(this)">
				<option value="">-- 디자인 스타일 선택 --</option>
				<option th:each="style : ${designStyle}" th:value="${style?.codeId}" th:text="${style?.codeName}"></option>
			</select>
			<input type="hidden" value="" name="style" id="style" />
             <ul id="designStyleL"></ul>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="form-group">
			<label class="label" for="oneIntro">한줄소개</label> 
			<input type="text" class="form-control" name="oneIntro" id="oneIntro" placeholder="나를 한줄로 표현해보세요.">
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="form-group">
			<label class="label" for="career">경력사항</label>
			<textarea name="career" class="form-control" id="career" cols="30" rows="4"></textarea>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="form-group">
			<input type="submit" id="insert" value="등록" class="btn btn-primary">
		</div>
	</div>	
	</div>
	</form>
	
	<script>
	//csrf 설정
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	//네이버스마트에디터 실행
	let oEditors = []
	
	smartEditor = function() {
		console.log("Naver SmartEditor")
		nhn.husky.EZCreator.createInIFrame({
			oAppRef : oEditors,
			elPlaceHolder : "career", //적용하고자하는 textarae태그 영역과 동일한 id 이름 입력
			sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
			fCreator : "createSEditor2"
		})
	}
	
	$(document).ready(function() {
		smartEditor()
	})
     
    //파일 업로드 이미지 미리보기
    //파일 INPUT창에 변화가 있을 경우 실행
    $("#imgInp").on('change', function() {
    	//파일을 올렸을 경우 input type=file은 사라지고 이미지만 띄어진다.
    	$(this).toggleClass("fileShow");
    	$(this).next().toggleClass("fileShow");
		readURL(this);
	});
	
    //이미지 미리보기 처리
	function readURL(input){
		if(input.files && input.files[0]){
			var reader = new FileReader();
			reader.onload = function(e) {
				$("#blah").attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
    
	//파일 삭제
    $("#cancel").on('click', function() {
    	//파일을 지우고 싶을때 삭제버튼을 누르면 이미지는 사라지고 input type=file 입력폼이 다시 나타난다.
    	$(this).parent().prev().toggleClass("fileShow");
    	$(this).parent().toggleClass("fileShow");
    	//file영역에 있던 값 삭제
    	$("#imgInp").val('');
    })
    
    //등록버튼을 눌렀을 경우 아래와 설정을 해주지 않을 경우 태그 속성이 저장되지 않는다.
	$('#insert').on('click', function insert() {
		oEditors.getById["career"].exec("UPDATE_CONTENTS_FIELD", [])
		let career = document.getElementById("career").value;
		
		//디자이너 스타일
		var style = styleTag(); //return array
        $("#style").val(style);
	})
	
	function designStyleFun(e) {
		let tagText = e.options[e.selectedIndex].text;
		let tagValue = e.options[e.selectedIndex].value;
		
		// 값이 없으면 동작 안합니다.
        if (tagValue !== "") {

          // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
          var result = Object.values(styletag).filter(function (word) {
              return word === tagValue;
            })
          // 태그 중복 검사
          if (result.length == 0) {
            $("#designStyleL").append("<li class='tag-item'>" + tagText + "<span class='style-del-btn' idx='" + styleCounter + "'>x</span></li>");  
            styleAddTag(tagValue);
          } else {
            alert("태그값이 중복됩니다.");
          }
        }
        //e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
      };
      
      var styletag = {};
      var styleCounter = 0;
   	  
      //스타일값 서버로 보내기
      function styleAddTag (value) {
        	styletag[styleCounter] = value;
        	styleCounter++;  // del-btn 의 고유 id 가 된다.
        	
        	console.log(styletag);
       }
      
      //서버로 값 보내기
      function styleTag(){
      	return Object.values(styletag).filter(function (word) {
              return word !== "";
          });
      }
      
   	  // 삭제 버튼 
      // 인덱스 검사 후 삭제
      $(document).on("click", ".style-del-btn", function (e) {
            var index = $(this).attr("idx");
            styletag[index] = "";
            $(this).parent().remove();
        });
</script>
</div>
</html>