<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
   
<head>
<!-- csrf 설정 -->
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" href="/css/prtfl/button.css">
<link href="/css/star.css" rel="stylesheet">
<style>
	footer {
		display: none;
	}

	* {
	  box-sizing: border-box;
	}
	
	#check{
		min-height : 2000px;
	}

	#left {
	  float: left;
	  width: 30%;
	  height: 500px; /* only for demonstration, should be removed */
	  padding: 0;
	  position: sticky; 
	  top: 31%;
	}
	
	#detail{
		background-color:white;
		border: 2px solid #DEDADA;
		border-radius: 10px;
		z-index: 2;
	    top: -35%;
	    position: relative; 
	}
	
	/*대표이미지*/
	#backImg{
		width: 300vh;
	}
	
	h3{
		font-weight: bold;
		text-align: center;
		margin-top: 0;
	}
	
	h4{
		font-weight: bold;
		margin-top: 0;
	}
	
	article {
	  float: left;
	  padding: 20px;
	  width: 70%;
	  height: 300px; /* only for demonstration, should be removed */
	}
	
	.border {
		border: 1px solid #D8D8D8;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 3%;
	}
	
	.btnSize {
		width: 250px;
		margin:auto;
        display:block;
        margin-bottom: 3px;
	}
	
	.label {
		color : black;
	}
	
	#btn {
		width: 250px;
		margin:auto;
        display:block;
        margin-bottom: 3px;
	}
	
	.heart {
	  width: 100px;
	  height: 100px;
	  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
	  background-position: 0 0;
	  cursor: pointer;
	  transition: background-position 1s steps(28);
	  transition-duration: 0s;
	 }
	 
	 .active {
	    transition-duration: 1s;
	    background-position: -2800px 0;
	  }
	  
	  #love{
	  	float: right;
	  }
	  
   <!--디자인 상세보기 모달-->
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: -1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
	 	overflow: auto; /* Enable scroll if needed */ 
		background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
		box-sizing: border-box;
	}
	
	.img_modal_content {
		background-color: #fefefe;
		margin : 70px auto;
		border: 1px solid #888;
		width: 60%;
		height: 90%;
		text-align: left;
		
		/* 이미지 스크롤*/
		max-height: calc(100vh - 210px);
	    overflow-y: auto;
	}
	
	/* 스크롤바 지우기 */
	.img_modal_content::-webkit-scrollbar {
	    display: none; /* 크롬, 사파리, 오페라, 엣지 */
	}
	
	.close {
		color: black;
		float: right;
		font-size: 40px;
		font-weight: bold;
		text-align: right;
		margin-right: 10px;
		position: sticky;
	  	top: 0;
	}
	
	.close:hover, .close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	
	#modelBtn {
		text-align: center;
	}
	
	.modelBtn1 {
		display: inline-block;
	}
	
	.modal_content {
		width: 350px;
		min-height: 200px;
		margin: 0 auto;
		padding: 20px;
		background: #fff;
		border: 0.5px solid #666;
		border-radius: 15px;
	}
	
	.modal_layer {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	
	/* Create three unequal columns that floats next to each other */
	.column {
	  float: left;
	  padding: 10px;
	}
	
	/* Left and right column */
	.column.side {
	  width: 30%;
	  height: 100%;
	  float: right;
	  position: sticky;
	  top: 0;
	  background-color: lightGray;
	  padding:20px;
	  
	}
	
	/* Middle column */
	.column.middle {
	  width: 70%;
	  padding:0;
	  
	}
	
	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	  .column.side, .column.middle {
	    width: 100%;
	  }
	}
	
	.box {
	    width: 150px;
	    height: 150px; 
	    border-radius: 100%;
	    overflow: hidden;
	    text-align: center !important;
	    margin:0 auto;
	}
	
	.profile {
	    width: 65%;
	    height: 65%;
	    object-fit: cover;
	    border-radius: 70%;
	    overflow: hidden;
	    margin : 15px auto;
	    z-index: 3;
	    right:-17%;
	    position: relative;  
	}
	
	/*디자인 정렬*/	
	.imgArray {
	    margin: 5%;
	}
	
	/*활동내역*/
	.item{
		display: flex;
	    flex-shrink: 0;
	    -webkit-box-flex: 0;
	    flex-grow: 0;
	    -webkit-box-align: center;
	    align-items: center;
	     margin-bottom: 5px;
	}
	
	.item > .item__emoji{
		font-weight: 400;
	    font-size: 18px;
	    line-height: 26px;
	    width: 18px;
	    margin-right: 7px;
		}
	
	.caption1{
		font-size: 15px;
	    letter-spacing: -0.25px;
	    line-height: 17px;
	    font-weight: bold;
	}
	.item .value{
	    margin-left: auto;
	    font-weight: bold;
	}
	
	/*세부 정보*/
	.detail_tr{
	display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: none;
    padding: 3px 0;
    flex-direction: row;
    align-items: center;
	}
	.detail_th {
    min-width: 100px;
    padding: 0 20px 0 0;
    font-size: 1.06em;
    line-height: 1.5em;
    color: #999;
	}
	.detail_td {
	    font-size: 1.06em;
	    line-height: 1.5em;
	    color: #555;
	}
	
	/*댓글*/
	#replyInsertFrm{
		height: 120px;
	}
	
	.replyBtn{
		background-color: transparent;
		border: 0;
		color: rgba(2,126,251,1);
	}
	
	#repInsertBtn, #logRepBtn{
		background-color: transparent;
		border: 1px solid rgba(2,126,251,1);
		color: rgba(2,126,251,1);
		float: right;
		margin-top: 3px;
		width: 60px;
		height: 32px;
		padding: 0;
	}
	
	#replyInsertFrm{
		height: 120px;
	}
	
	.font-alt{
		font-size: 13px;
	}
	
	/*디자인*/
	#designborder{
		width: 65%;
	}
	
	.right{
	  	display: flex;
	  	justify-content: flex-end;
	  	padding: 10px 0;
	    z-index: 1 ;
	  }
	
	.right #caregory{
		margin-top: 0;
	}
	
	.col-sm-6{
		margin-top: 10px;
	}
	  
	/*체크박스*/
	input[type="checkbox"]{
		z-index: 3;
		width: 30px;
		height: 30px;
		margin-right: 3px;
	}
	
	input[type="checkbox"]:checked {
	   accent-color: #FFDE59;
	}
</style>
</head>

<div layout:fragment="content">
	<img id="backImg" th:src="@{/images/title.png}">
   
   <div class="container">
    <section id="check">
  	<nav id="left">
  	<div id="detail">
  		<!-- 비회원 좋아요버튼-->
	  	<th:block sec:authorize="!isAuthenticated()">
	    	<div id="love" class="stage heart" th:classappend="${like} != null ? active" style="position:relative; z-index: 2; right: -20px;" th:onclick="|location.href='@{/loginPage}'|"></div>
		</th:block>
		<!-- 회원 좋아요버튼-->
		<th:block sec:authorize="isAuthenticated()">
  			<div id="love" class="stage heart" th:classappend="${like} != null ? active"></div>
  		</th:block>
  		<img class="profile" th:src="|/fileView/${dgnerSelect.img}|">
  		
  		<label style="display:none;"class="label" id="userId" th:text="${dgnerSelect.userId}"></label>
  		<h3 id="userName" th:text="|${dgnerSelect.userName}님|"></h3>
  		<p style="font-size: 13px; font-weight: bold; text-align: center; margin: 15px 44px;" th:text="${dgnerSelect.oneIntro}"></p>
  		
  		<th:block sec:authorize="isAuthenticated()">
  		<!-- 현재 로그인된 id와 작성자id가 다를 경우 버튼 나타남 -->
  		<th:block th:if="${session.member.getUserId} != ${dgnerSelect.userId}">
	  		<button style="margin-top: 20px;" type="button" class="find-trigger btn-15 btnSize chattingUp">1:1대화</button>
	  		<button type="button" class="find-trigger btn-1 btnSize punishModalUp">신고하기</button>
  		</th:block>
  		
  		<!-- 현재 로그인된 id와 작성자id가 동일할 경우 버튼 나타남 -->
	    <th:block th:if="${session.member.getUserId} == ${dgnerSelect.userId}">
		   <button style="margin-top: 20px;" type="button" class="find-trigger btn-15 btnSize" th:onclick="|location.href='@{dgnerUpdate(userId=${dgnerSelect.userId})}'|">글 수정하기</button>
		   <button type="button" class="find-trigger btn-1 btnSize" th:attr="onclick=|deleteCheck('${dgnerSelect.userId}')|">글 삭제하기</button>
		</th:block>
  		</th:block>
  		
  		<hr>
  		<div style="margin: 15px 44px;">
  			<p style="font-size: 16px; font-weight: bold;">활동내역</p>
  			<div class="item">
		  		<span class="item__emoji">👓</span>
		  		<div class="caption1">조회수</div> 
		  		<div class="value" th:text="|${dgnerSelect.inq}회|"></div>
	  		</div>
	  		
	  		<div class="item">
		  		<span class="item__emoji">😍</span>
		  		<div class="caption1">좋아요</div> 
		  		<div class="value" id ="likeCount" th:text="|${dgnerSelect.cnt}건|"></div>
	  		</div>
	  		
	  		<div class="item">
		  		<span class="item__emoji">🎨</span>
		  		<div class="caption1">경력</div> 
		  		<div class="value" th:text="|${dgnerSelect.carrYear}년|"></div>
	  		</div>
  		</div>
  	</div>
  </nav>
  
  <article>
    <div role="tabpanel">
                  <ul class="nav nav-tabs font-alt" role="tablist">
                    <li class="active"><a href="#design" data-toggle="tab" aria-expanded="false"><span class="icon-pictures"></span>디자인</a></li>
                    <li><a href="#support" data-toggle="tab" aria-expanded="true"><span class="icon-pencil"></span>소개</a></li>
                    <li><a href="#review" data-toggle="tab" aria-expanded="false"><span class="icon-chat"></span>후기</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane" id="support">
                    	<div class="border">
                    		<div class="detail_tr">
								<p class="detail_th">작업물분위기</p> 
								<p class="detail_td" th:text="${dgnerSelect.style}"></p>
							</div>
							<div class="detail_tr">
								<p class="detail_th">작업기간</p> 
								<p class="detail_td" th:text="${dgnerSelect.workDt}+'일'"></p>
							</div>
							<div class="detail_tr">
								<p class="detail_th">작업비용</p> 
								<p class="detail_td" th:text="|${#numbers.formatInteger(dgnerSelect.workPrice, 0, 'COMMA')}원|"></p>
							</div>
							<div class="detail_tr">
								<p class="detail_th">자격증</p> 
								<p class="detail_td">포토샵1급</p>
							</div>
                    	</div>
                    	
                    	<h4>경력사항</h4>
                    	<div class="border">
                    		<p th:utext="${dgnerSelect.career}"></p>
                    	</div>
					       
                    	<h4>댓글</h4>
                    	<div class="border">
					        <!-- 댓글 작성 -->
						    <form id="replyInsertFrm">
						    	<th:block sec:authorize="!isAuthenticated()">
						    		<textarea class="form-control" name="replyCntn" id="replyCntn" rows="3" placeholder="로그인 후 등록 가능합니다." readonly="readonly"></textarea>
						    		<button type="button" id="logRepBtn">댓글추가</button>
						    	</th:block>
						    
						    	<th:block sec:authorize="isAuthenticated()">
						    		<textarea class="form-control" name="replyCntn" id="replyCntn" rows="3" placeholder="댓글을 입력하세요."></textarea>
						    		<button type="button" id="repInsertBtn">댓글추가</button>
						    	</th:block>
						    </form>
						    
						    <div id=reply>
  							</div>
                    	</div>
                    </div>
                    
                    <!-- 후기카테고리 -->
                    <div class="tab-pane" id="review">
                    	<div class="tab-pane active" id="reviews">
	                    
	                    <th:block th:if="${recount.reavg} != null">
	                     <div class="starDiv">
	                    	<div id="starAge">
	                    	<h3>총 평점</h3>
	                    	<div class="starSize"><span th:each="num: ${#numbers.sequence(1, recount.fullstar)}"><i class="fa fa-star star"></i></span><span th:if="${recount.halfstar > 0}"><i class="fa fa-star-half-full star"></i></span><span th:if="${recount.laststar == 1}"><i class="fa fa-star-o star"></i></span></div>
	                    	<p style="font-size: 16px; font-weight: bold;" th:text="|${recount.reavg} / 5|"><p>
	                    	</div>
	                    	
	                    	<div id="starCount">
	                    	<h3>전체 후기수</h3>
	                    	<i class="starSize">📝</i>
	                    	<p style="font-size: 16px; font-weight: bold;" th:text="|${recount.recount}개|"><p>
	                    	</div>
	                     </div>
	                     
	                   <!-- 정렬순 -->
	                   <div class="right">
					   <select id="order" name="order">
							<option value="writing_dt" selected>작성일순</option>
							<option value="star">별점높은순</option>
							<option value="minStar">별점낮은순</option>
						</select>
						</div>
	                    
                    	<div id="newStar">
                    	<div class="starList" th:each="re : ${reviews}">
		                    <div class="comments reviews">
		                      <div class="comment clearfix">
		                      <div class="comment-avatar"><img src="/images/replyImg.png" alt="avatar"></div>
		                        <div class="comment-content clearfix">
		                          <div class="comment-author font-alt">
		                          <!--별점처리-->
		                          		<span th:each="num: ${#numbers.sequence(1, re.fullstar)}"><i class="fa fa-star star"></i></span><span th:if="${re.halfstar > 0}"><i class="fa fa-star-half-full star"></i></span><span th:each="num: ${#numbers.sequence(1, re.laststar)}" th:if="${re.laststar >= 1}"><i class="fa fa-star-o star"></i></span>
		                          </div>
		                          <div class="comment-body">
		                            <p th:text="${re.reviewCntn}"></p>
		                          </div>
		                          <div class="comment-meta font-alt">
		                          	<span th:text="${re.userId}"></span> - <span th:text="${#dates.format(re.writingDt, 'yyyy/MM/dd')}"></span>
		                          </div>
		                        </div>
		                      </div>
	                    	</div>
	                    </div>
	                    </div>
	                    </th:block>
	                    
	                    <th:block th:if="${recount.reavg} == null">
	                    	<div class="border">
	                    		<h3>후기가 없습니다.</h3>
	                    	</div>
	                    </th:block>
	                  	</div>
                    </div>
                    
                    <!-- 디자인 -->
                    <div class="tab-pane active" id="design">
                    	<th:block sec:authorize="isAuthenticated()">
                    		<button th:if="${session.member.userId} == ${dgnerSelect.userId}" type="button" class="find-trigger btn-1" style="height: 30px; padding: 5px; margin:5px; font-size: 13px;" th:onclick="|location.href='@{/design/myDesignList(userId=${dgnerSelect.userId})}'|">디자인추가</button>
                    	</th:block>

                    	<div class="border" id="designBox">
                    		<div class="right">
							<th:block th:if="${dgnerPrtflVO.winYn} == null">
								<input type="checkbox" name="winYn" id="winYn" value=''>
							</th:block>
							<th:block th:if="${dgnerPrtflVO.winYn} != null">
								<input type="checkbox" name="winYn" id="winYn" th:value="Y" checked="checked">
							</th:block>
							
							<label for="winYn" style="margin-top:5px; height: 20px; z-index: 3; font-size: 18px; margin-right: 20px;">우승작품</label>
						
							<select name="caregory" id="caregory">
								<option value="D4" selected="selected">포스터</option>
								<option value="D1" >현수막</option>
								<option value="D2">배너</option>
								<option value="D3">로고</option>
								<option value="D5">기타</option>
					        </select>
                    		</div>
                    		
                    		<div class="container">
                    		<div id="designborder">
					        </div>
					        </div>
					        
				             <!-- //페이징 경로 :: 문자 -->
							<div class="row mt-5" id="paging">
								<div class="col text-center">
									<div class="block-27" id="returnPaging">
									</div>
								</div>
							</div>
					     </div>
                    </div>
                  </div>
                </div>
  </article>
</section>
</div>
	
	<!-- 신고 폼 -->
	<div id="punishFrm" class="modal">
			<div class="modal_content">
				<h2>신고</h2>
				<div id="box">
					<label>신고대상자</label>
					<input type="text" id="targetId" name="targetId" th:value="${dgnerSelect.userId}" readonly><br>
					<label>신고자</label>
					<th:block sec:authorize="isAuthenticated()">
						<input type="text" id="userId" name="userId" th:value="${session.member.userId}"><br>
					</th:block>
					<label>신고사유</label>
					<textarea rows="5" cols="30" id="banCntn" name="banCntn" placeholder="신고사유에 대해 작성해주세요."></textarea>
					<button type="button" class="cancel">취소</button>
					<button type="button" id="punish">신고</button>
				</div>
			</div>
		<div class="modal_layer"></div>
	</div>
    
	<!-- 디자인 상세보기 모달 -->
	<div id="dseignModel" class="modal">
		<div class="img_modal_content">
			
			<div class="column middle">
				<h4 id="category">분류</h4>
				<h2 id="ttl">제목</h2>
				<div id="modelSelect"></div>
			</div>
			  
			<div class="column side">
			  	<span class="close">&times;</span>
			   <div id="dgnerSelect"></div>
			</div>
			
		</div>
		<div class="modal_layer"></div>
	</div>
	
   <script>
   		//csrf 설정
   		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		desginList();
		
		//하트 이벤트
		//하트를 클릭했을 경우 발생하는 이벤트
		$(".heart").on("click", function () {
			//active 클래스가 없을 경우 생성, 있을 경우 삭제
			$(this).toggleClass("active");
			//하트 기준으로 리스트 정렬 함수
			//range();
		});
		
		//해당 포트폴리오 작성자에 대한 댓글을 가져오기 위해 replyTag에 작성자ID를 구해준다.
   		let replyTgt = '[[${dgnerSelect.userId}]]';

   		//댓글, 대댓글 불러오는 ajax
   		$.ajax({
   			url : '/replyList',
   			method : 'post',
   			data : JSON.stringify({replyTgt:replyTgt, boardCat:'T07'}),
   			contentType : "application/json",
   			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            }
   		}).then(res => {
   			for(reply of res){
   				//댓글일 경우
   				if(reply.rerepTgt == null){
   					$("#reply").append(make(reply));
   				} else { //대댓글일 경우, 대댓글의 경우 rerepTgt컬럼에 대댓글을 단 댓글 번호가 적혀있다.
   					//대댓글은 연관있는 댓글 바로 밑에 들어가야되기 때문에 댓글 생성시 id를 부여하여 rerepTgt이 댓글ID와 같은 번호가 적힌 댓글 밑으로 append한다.
   					$("#" + reply.rerepTgt).append(makeRe(reply));
   				}
   			}
   		})
   		
   		//댓글 tr생성
   		function make(reply){
   			let replyBtn = '';
   			let delBtn = '';
			let upBtn = '';
			let userId = '[[${session.member != null ? session.member.userId :""}]]';
			let dgner = '[[${dgnerSelect.userId}]]'
			
			if(dgner == userId){
				replyBtn = `<button class="reply replyBtn">Reply</button>`;
			}
			
			//댓글 작성자일 경우에만 삭제 버튼 생성
			if(reply.userId == userId){
				delBtn = `<button class='repDelete replyBtn'>삭제</button>`;
				upBtn = `<button class='repUpdate replyBtn'>수정</button>`;
			}
			
   			let p = `
   				<div class="comment clearfix">
                <div class="comment-avatar"><img src="/images/replyImg.png" alt="avatar"></div>
                <div id="${reply.replyNo}">
                <div class="comment-content clearfix">
                  <div class="comment-author font-alt">${reply.userId}</div>
                  <div class="comment-body">
                    <p style="font-size: 16px; font-weight: bold;">${reply.replyCntn}</p>
                  </div>
                  <div class="comment-meta font-alt">${reply.writingDt} ${replyBtn}${delBtn}${upBtn}
                  </div>
                </div>
                </div>
				</div>
				</div>
                `
   			return p;
   		}
   		
   		//대댓글 tr생성
   		function makeRe(reply){
   			let delBtn = '';
			let upBtn = '';
			let userId = '[[${session.member != null ? session.member.userId :""}]]';
			
			//댓글 작성자일 경우에만 삭제 버튼 생성
			if(reply.userId ==userId){
				delBtn = `<button class='repDelete replyBtn'>삭제</button>`;
				upBtn = `<button class='repUpdate replyBtn'>수정</button>`;
			}
   			
   			//한 댓글당 대댓글은 한개만 달수 있기 때문에 댓글에 있는 reply 버튼 삭제
   			$("#" + reply.rerepTgt).children().children().children('button:eq(0)').remove();
   			
   			let p = `<div class="comment clearfix">
                <div class="comment-avatar"><img src="/images/replyImg.png" alt="avatar"></div>
                <div id="${reply.replyNo}">
                <div class="comment-content clearfix">
                  <div class="comment-author font-alt">${reply.userId}</div>
                  <div class="comment-body">
                    <p style="font-size: 16px; font-weight: bold;">${reply.replyCntn}</p>
                  </div>
                  <div class="comment-meta font-alt" id="${reply.replyNo}">${reply.writingDt} ${delBtn}${upBtn}
                  </div>
                </div>
                </div>
              </div>`
            
            return p;
   		}
   		
   	//댓글 추가
		$("#repInsertBtn").on("click", function() {
			//textarea에 있는 값 들고 오기
			let replyCntn = $('#replyCntn').val();
			let userId = '[[${session.member != null ? session.member.userId :""}]]';
			
			$.ajax({
	   			url : '/replyInsert',
	   			method : 'post',
	   			data : JSON.stringify({userId:userId, replyTgt:replyTgt, replyCntn:replyCntn, boardCat:'T07'}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            }
	   		}).then(res => {
	   			//댓글 부분에 등록하기
	   			$("#reply").append(make(res));
	   			$('#replyCntn').val('');
	   		})
		});
		
		//reply버튼을 클릭했을 경우 대댓글 입력 폼 생성
		$(document).on('click', '.reply', function(e){
		    e.preventDefault();
		    //대댓글을 작성할 replyNo 구하기
		    let rerepTgt = $(this).parent().parent().parent("div").attr('id');
		    //대댓글 입력할 수 있는 폼 생성
		  	$(this).parent("div").append(makeFrm(rerepTgt));
		  	
		  	//reply버튼 숨김
		  	$(this).hide();
		})
		
		//대댓글 입력 폼
		function makeFrm(rerepTgt) {
			let form = `<form>
				<input type="hidden" id="rerepTgt" name="rerepTgt" value="${rerepTgt}">
	            <textarea class="form-control" id="reReplyCntn" name="replyCntn" rows="3"></textarea>
	            <button type="button" id="rerepTgt" class="reply">답변</button>
	        </form>`
		    
		    return form;
		}
		
		//대댓글 추가
		$(document).on('click', '#rerepTgt', function(e){
			let replyCntn = $('#reReplyCntn').val();
			let rerepTgt = $('#rerepTgt').val();
			let userId = '[[${session.member != null ? session.member.userId :""}]]';
			
			$(this).parent("form").remove();
			$.ajax({
	   			url : '/replyInsert',
	   			method : 'post',
	   			data : JSON.stringify({userId:userId, replyTgt:replyTgt, replyCntn:replyCntn, boardCat:'T07', rerepTgt:rerepTgt}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            }
	   		}).then(res => {
	   			
	   			$("#" + res.rerepTgt).append(makeRe(res));
	   		})
		})
		
		//댓글 삭제
		$(document).on('click', '.repDelete', function(e){
			let btn=$(this);
			let replyNo = $(this).parent().parent().parent("div").attr('id');
			$.ajax({
				url : '/replyDelete',
				type : 'POST',
				data : {
					replyNo : replyNo
				},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
				},
				success : function(result){
					if(result ==1){
					btn.closest(".comment").remove();
				}
			}
		});		
	});
		
		//댓글 수정 폼으로 변경
		$(document).on('click', '.repUpdate', function(e){
			let replyNo = $(this).parent().parent().parent("div").attr('id');
			let p = $(this).parent().parent("div").children("div:eq(1)").children("p").text()		
			$(this).parent().parent("div").children("div:eq(1)").children("p").replaceWith("<div><input type='hidden' id='replyNo' name='replyNo' value='" + replyNo +"'></input> <input type='text' id='upReplyCntn' name='upReplyCntn' value='" + p + "'></input>");
			
			$(this).toggleClass("updateBtn");
		});
		
		//댓글 수정
		$(document).on('click', '.updateBtn', function(e){
			$(this).toggleClass("updateBtn");
			let btn = $(this);
			let replyCntn = $('#upReplyCntn').val();
			let replyNo = $('#replyNo').val();
			let updateBtn = `<button class='repUpdate'>수정</button>`;
			
			$.ajax({
				url : '/replyUpdate',
				type : 'POST',
				data : JSON.stringify({replyNo : replyNo, replyCntn : replyCntn}),
				contentType : "application/json",
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
				},
				success : function(result){
					btn.parent().parent("div").children("div:eq(1)").replaceWith("<p>" + result.replyCntn + "</p>");
				}		
			})
		});
		
		//디자인 종류별
		$('#caregory').change(function(){
			desginList();
		})
		
		$('#winYn').on('click', function() {
			if($("input[name=winYn]").val() == ''){
				$("input[name=winYn]").val('Y');
				desginList();
			} else {
				$("input[name=winYn]").val('');
				desginList();
			}
		})
		
		//디자인 전체 리스트
		function desginList() {
			let userId = '[[${dgnerSelect.userId}]]'
			let loginId = '[[${session.member != null ? session.member.userId :""}]]';
			let caregory = $("#caregory option:selected").val();
			let winYn = $("input[name=winYn]").val();
			
			$.ajax({
				url: '/prtfl/desginList',
				method: 'post',
				data: {
					userId:userId, loginId:loginId, caregory:caregory, winYn:winYn
				},
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
			}).then(res => {
				$('#designborder').empty();
				for(design of res.designs){
					$('#designborder').append(makeDesgin(design));
				}
				$('#returnPaging').empty();
				$('#returnPaging').append(makePageing(res.paging));
			})
		};
		
		//디자인 리스트
		function makeDesgin(design){
			//로그인 회원의 하트눌려진것만 체크
			let active = null;
			let tag = '';
			if(design.mylike > 0){
				active = 'active';
			}
			
			if(design.caregory == '현수막'){
				tag = `<div class="col-sm-6 col-md-4 col-lg-4" style="width: 93%; margin-left: 10px; "> 
					<div class="shop-item">
					<div class="shop-item-image"> <img src="/fileView/${design.centerImg}" style="width: 1200px; height: 200px; padding: 0;"  class="img-fluid">
					  <div class="shop-item-detail">
					  <div class="stage">
						<div id="${design.dgnNo}" class="stage heart ${active} desgin"></div>
	 					</div>
		              	<a href="#" class="btn btn-round btn-b">
		              	<span id="${design.dgnNo}" class="icon-magnifying-glass">상세조회</span></a>
								</div>
							</div>
							<p>${design.name}</p>
							</div>
						</div>`;
			} else if(design.caregory == '배너'){
				tag = `<div class="col-sm-6 col-md-4 col-lg-4" style="width: 32%; height: 650px; margin-right:5px;"> 
					<div class="shop-item">
					<div class="shop-item-image"> <img src="/fileView/${design.centerImg}" style="width: 100%; height: 550px;">
					  <div class="shop-item-detail">
					  <div class="stage">
						<div id="${design.dgnNo}" class="stage heart ${active} desgin"></div>
	 					</div>
		              	<a href="#" class="btn btn-round btn-b">
		              	<span id="${design.dgnNo}" class="icon-magnifying-glass">상세조회</span></a>
								</div>
							</div>
							<p>${design.name}</p>
							</div>
						</div>`;
			}  else {
				tag = `<div class="col-sm-6 col-md-4 col-lg-4" style="width: 33%; padding-left: 0;"> 
					<div class="shop-item">
					<div class="shop-item-image"> <img src="/fileView/${design.centerImg}" style="width: 250px; height: 250px; border-radius: 3%;" class="img-fluid">
					  <div class="shop-item-detail">
					  <div class="stage">
						<div id="${design.dgnNo}" class="stage heart ${active} desgin"></div>
	 					</div>
		              	<a href="#" class="btn btn-round btn-b">
		              	<span id="${design.dgnNo}" class="icon-magnifying-glass">상세조회</span></a>
								</div>
							</div>
							<p>${design.name}</p>
							</div>
						</div>`;
			}
			 return tag;
		}
	
		// 페이징 만들기
		function makePageing(page) {
			if (page.totalRecord == 0) {
				return;
			}
			
			let pagination = $("<div/>")
			let ul = $("<ul/>").attr("class","pagination");
			if (page.startPage > 1) {
				$(ul).append($("<li/>").html("&laquo;")
										.css("font-size", "30px")
										.attr("class","page-item")
										.on("click", function () {
												gopage(page.startPage - page.pageSize)
										}));
			}
			
			//페이지 버튼 생성.
			for (let i = page.startPage; i <= page.endPage; i++) {
				if (page.page == i) {
					$(ul).append($("<li/>") .text(i).css("font-size", "20px")
											.css("padding", "10px")
											.css("border-radius", " 10% / 50% ")
											.css("background", "#dce3fd")
											.attr("class", "page-link active")
					);
				} else {
					$(ul).append($("<li/>").text(i).css("font-size", "20px")
											.css("padding", "10px")
											.attr("class", "page-link")
											.on("click", function () {
												gopage($(this).text());
											})); //페이지이동 함수
				}
			}
			if (page.endPage < page.lastPage) {
				$(ul).append($("<li/>").html("&raquo;")
										.css("font-size", "30px")
										.attr("class","page-item")
										.on("click", function () {
												gopage(page.startPage + page.pageSize)
										}));
			}
			pagination.append(ul);
			return pagination;
		}
		
		function gopage(i) {
			let userId = '[[${dgnerSelect.userId}]]'
			let page = i;
			let caregory = $("#caregory option:selected").val();
			let winYn = $("input[name=winYn]").val();
			$.ajax({
				url: '/prtfl/desginList',
				method: 'post',
				data: {
					userId:userId, page:page, caregory:caregory, winYn:winYn
				},
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
			}).then(res => {
				$('#designborder').empty();
				for(design of res.designs){
					$('#designborder').append(makeDesgin(design));
				}
				
				$('#returnPaging').empty();
				$('#returnPaging').append(makePageing(res.paging));
			})
		}
		
		//디자이너 좋아요 처리
		$("#detail #love").on("click", function() {
			 console.log('클릭')
			 $(this).toggleClass("active");
			 let userId = '[[${session.member != null ? session.member.userId :""}]]';
			 let targetNo = '[[${dgnerSelect.userId}]]';
			 let category = 'T07';
			 
			 //좋아요를 추가했을 경우
		     if(!$(this).hasClass("active")){
		    	 $(this).addClass("active");
		    	 //총 좋아요수 처리
		    	 let likeCount = $('#likeCount').text();
		    	 let likePlus = parseInt(likeCount) + 1
		    	 $('#likeCount').text(likePlus + '건');
		    	 
		    	 //post방식으로 좋아요 등록하기
		    	 $.ajax({
						url : "/likes/lInsert",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetNo:targetNo, category:category},
						beforeSend : function(xhr)
		                {  
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
						},
						fail : function(result) {
							alert('필수항목을 입력해주세요')
						}
					})
		     } else if ($(this).hasClass("active")){ //좋아요를 취소했을 경우
		    	 $(this).removeClass("active");
		    	 //총 좋아요수 처리
		    	 let likeCount = $('#likeCount').text();
		    	 let likeMin = parseInt(likeCount) - 1
		    	 $('#likeCount').text(likeMin + '건');
		    	 
		    	//post방식으로 좋아요 취소하기
		    	 $.ajax({
						url : "/likes/lDelete",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetNo:targetNo, category:category},
						beforeSend : function(xhr)
		                {
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
							//alert('좋아요 취소 완료');
						},
						fail : function(result) {
							alert('필수항목을 입력해주세요')
						}
					})
		     }
	 })
	   	
		//디자인별 좋아요 처리
		 $(document).on('click', '.desgin', function(e){
			 $(this).toggleClass("active");
			 let userId = '[[${session.member != null ? session.member.userId :""}]]';
			 let targetNo = $(this).attr('id');
			 let category = 'T09';
			 
			  //좋아요를 추가했을 경우
		     if($(this).hasClass("active")){
		    	 //post방식으로 좋아요 등록하기
		    	 $.ajax({
						url : "/likes/lInsert",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetNo:targetNo, category:category},
						beforeSend : function(xhr)
		                {  
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
						},
						fail : function(result) {
							alert('필수항목을 입력해주세요')
						}
					})
		     } else if (!$(this).hasClass("active")){ //좋아요를 취소했을 경우	 
		    	//post방식으로 좋아요 취소하기
		    	 $.ajax({
						url : "/likes/lDelete",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetNo:targetNo, category:category},
						beforeSend : function(xhr)
		                {
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
							//alert('좋아요 취소 완료');
						},
						fail : function(result) {
							alert('필수항목을 입력해주세요')
						}
					})
		     }
		 }) 
		 
		   //신고부분
		   //신고 모달창 띄우기
		   $('.punishModalUp').on('click', function() {
			   console.log('클릭');
			   $("#punishFrm").show();
		   })
		   
		   //모달창에서 취소를 눌렀을 경우
		   $(".cancel").on('click', function() {
				$(".modal").hide();
			});
		   
		   //모달창에서 신고를 눌렀을 경우
		   $("#punish").on('click', function() {
			   let targetId = '[[${dgnerSelect.userId}]]';
			   let targetCat = 'T07';
			   let banCntn = $("#banCntn").val();
			   let userId = '[[${session.member != null ? session.member.userId :""}]]';
			   let banType = 'P2';
			    $.ajax({
						url : "/punishInsert",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetId:targetId, banType:banType, banCntn:banCntn, targetCat:targetCat},
						beforeSend : function(xhr)
		                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
							alert('신고되었습니다.');
							$("#punishFrm").hide();
						},
						fail : function(result) {
							console.log(result)
						}
					})
		   })
		   
		   //채팅버튼을 눌렀을 때
			$(".chattingUp").on("click", function () {
				$(".chat").toggleClass("active");
				let toId = '[[${dgnerSelect.userId}]]';

				//채팅방 구독 생성
				function createChatRoom() {
					console.log("1 채팅방 생성");
					let chatroomDataList = new Array();
					let chatroomData1 = {
							toId : toId,
							fromId : fromId
					};
					chatroomDataList.push(chatroomData1);
					let chatroomData2 = {
							toId : fromId,
							fromId : toId
					};
					chatroomDataList.push(chatroomData2);
					
					console.log(JSON.stringify(chatroomDataList));
					
					$.ajax({
			   			url : '/chatInsert',
			   			method : 'post',
			   			data : JSON.stringify(chatroomDataList),
			   			contentType : "application/json; charset=UTF-8",
			   			beforeSend : function(xhr)
			            {  
							xhr.setRequestHeader(header, token);
			            }
			   		}).then(res => {
			   			cId = res;
			   			chattingList(cId)
			   		})
				}
			   	
			   	function chattingList(cId){
			   		console.log('chattingList:', cId);
			   		$.ajax({
						url : '/chatSelect',
						method : 'post',
			   			data : JSON.stringify({toId:toId, fromId:fromId}),
			   			contentType : "application/json; charset=UTF-8",
			   			beforeSend : function(xhr)
			            {   
							xhr.setRequestHeader(header, token);
			            }
			   		}).then(res => {
			   			$(".chat-list").empty();
			   			for(r of res){
			   				$(".chat-list").append(makeList(r));
			   			}
			   			message(cId);
			   		})
			   		
			   		$(".chat-popup").show();
			   	}
		
				function makeList(r){
					let list = `<a onclick="message('${r.cid}')" class="d-flex align-items-center">
									<div class="flex-grow-1 ms-3">
										<h3>🔔${r.toId}</h3>
									</div>
								 </a>`;
					return list;
				}
					
				//채팅화면이 나타난다.
				if ($(".chat").hasClass("active")) {
					$.ajax({
						url : '/checkChat',
						method : 'post',
			   			data : JSON.stringify({toId:toId, fromId:fromId}),
			   			contentType : "application/json; charset=UTF-8",
			   			beforeSend : function(xhr)
			            {   
							xhr.setRequestHeader(header, token);
			            }
			   		}).then(res => {
			   			if(res != ''){
			   				console.log('res.cId:', res.cid);
			   				chattingList(res.cid);
			   			} else {
			   				createChatRoom();
			   			}
			   		})
					$(".chat-popup").show();
					$(".chatbox").show();
				}
		
				//채팅화면이 사라진다.
				if (!$(".chat").hasClass("active")) {
					$(".chat-popup").hide();
					$(".chatbox").hide();
				}
			});
		   
			// Get the modal
			var designModel = document.getElementById("dseignModel");
			
			
			$('.close').on("click", function(){
				designModel.style.display = "none";
			})
		   
		   //디자인상세조회
		   $('#designBox').on("click", "span" ,function(e){
			    let dNo = e.target.id
				designModel.style.display = "block";
				
				$.ajax({
					url: '/design/ajaxSelect',
					method: 'post',
					data: {dgnNo:dNo},
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
				}).then(res => {
// 					let title = res.name;
// 					let category = res.caregory;
// 					$('#designModel').empty();
// 					$('#dgnerSelect').empty();
					
// 					$('#ttl').text(title);
// 					$('#category').text(res.caregory);
					
// 					$('#modelSelect').empty();
// 					//모달내용을 지운뒤 붙여넣기.
// 					for(file of res.files){
// 						$('#modelSelect').append(makeDesignModel(file.sevNm,title,dNo, category));
// 					}

					$('#dgnerSelect').empty();
					
					let user = res.userId;
					let title = res.name;
					let cntn = '';
					let contest='';
					let category = res.caregory;
					$('#designModel').empty();
					$('#dgnerSelect').empty();
					
					$('#ttl').text(title);
					$('#category').text(res.caregory);
					
					
					if(res.cNo != null){
						contest = `<a href="/contest/select?cNo=${res.cNo}">
							<button type="button">응시공모전 보기</button>
							</a>`
					}
					
					if(res.cntn != null){
						cntn = `<p><small>${res.cntn}</small></p>
									<hr>`
					}
					
					
					let content = ` 
									<h5><small>DESING BY</small> ${user}</h5>
									<h5><smll>우승횟수 ${res.cnt}회</small></h5>
									
									<hr>
									${cntn}
									${contest}
								  `
					
					$('#dgnerSelect').append(content);
					
					$('#modelSelect').empty();
					//모달내용을 지운뒤 붙여넣기.
					for(file of res.files){
						$('#modelSelect').append(makeDesignModel(file.sevNm,title,dNo,category));
					}
				})
			}) 
			
			//모달창 :디자인 상세 이미지.
			function makeDesignModel(fileName,title,dNo,category){
				let design='';
				if(category =='현수막'){
					design = `<div class="design " id="${dNo}" style="width:100%; margin-bottom:20px;">
						   <img src="/fileView/${fileName}" style="style=width: 100%; height: 200px;">
					  </div>`
				} else if(category =='배너'){
					design = `<div class="design" id="${dNo}" style="width:60%; margin: 10px auto; margin-bottom:20px;">
								<img src="/fileView/${fileName}" style="width: 100%; height: 60%;">
						  	  </div>`
				} else {
					design = `<div class="design" id="${dNo}" style="float: left ">
								<img src="/fileView/${fileName}" style="width: 1000px; height: 900px">
							  </div>`
				}
				
				return design;
			}
			
			$('.close').on("click", function(){
				$("#designModel").hide();
			})
			
			//포트폴리오 삭제
			function deleteCheck(userId) {
			   if(!confirm('정말 삭제하시겠습니까?')){
				   return false;
			   } else {
				   location.href='/prtfl/dgnerDelete?userId='+userId;
			   }
		     }
			

	   //별점 정렬
	   $('#order').change(function() {
		   let order = $("#order option:selected").val();
		   let reviewTgt = '[[${dgnerSelect.userId}]]';
		   let category = 'T07';
		   $.ajax({
				url : "/review/List",
				method : 'post',
				contentType : 'application/x-www-form-urlencoded',
				data : JSON.stringify({order:order, reviewTgt:reviewTgt, category:category}),
	   			contentType : "application/json",
				beforeSend : function(xhr)
               {
   				xhr.setRequestHeader(header, token);
               },
				success : function(data) {
					$('#newStar').empty();
					for(d of data){
						$('#newStar').append(newStarList(d));
					}
				},
				fail : function(result) {
					alert('필수항목을 입력해주세요')
				}
			})
	   })
	   
	   function newStarList(data){
		   let star=``;
		   for(let i=0; i<data.fullstar; i++){
			  star += `<i class="fa fa-star star"></i>`;
		   }
		   
		   if(data.halfstar > 0){
			   for(let i=0; i<1; i++){
					  star += `<i class="fa fa-star-half-full star"></i>`;
				}
		   }
		   
		   if(data.laststar >= 1){
			   for(let i=0; i<data.laststar; i++){
					  star += `<i class="fa fa-star-o star"></i>`;
				}
		    }
		   
		   
		   let tag = `<div class="starList">
               <div class="comments reviews">
               <div class="comment clearfix">
               <div class="comment-avatar"><img src="/images/replyImg.png" alt="avatar"></div>
                 <div class="comment-content clearfix">
                   <div class="comment-author font-alt">
                   <!--별점처리-->
                   		<span>${star}</span>
                   </div>
                   <div class="comment-body">
                     <p>${data.reviewCntn}</p>
                   </div>
                   <div class="comment-meta font-alt">
                   	<span>${data.userId}</span> - <span>${data.writingDt}</span>
                   		
                   </div>
                 </div>
               </div>
         	</div>
         </div>`
		  
        return tag;
	   }
   </script>
</div>
</html>