<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<link rel="stylesheet" href="/css/prtfl/mcPrtfl.css">
<link rel="stylesheet" href="/css/prtfl/button.css">
</head>

<div layout:fragment="content">
   <section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
           <h2 class="module-title font-alt">사회자포트폴리오</h2>
           <div class="module-subtitle font-serif">사회자포트폴리오</div>
         </div>
       </div>
     </div>
   </section>
      
   <div class="container right">    
   <!-- 포트폴리오 -->
   <th:block sec:authorize="hasAnyRole('MC')">
   <button type="button" class="find-trigger btn-15" th:onclick="checkPrtfl()">나의 포트폴리오</button>
   </th:block>
   
   <!-- 정렬순 -->
   <select id="order" name="order">
   		<option value="">==========</option>
		<option value="dt" th:selected="${mcPrtflVO.order=='dt'}">작성일순</option>
		<option value="inq" th:selected="${mcPrtflVO.order=='inq'}">조회순</option>
		<option value="cnt" th:selected="${mcPrtflVO.order=='cnt'}">좋아요순</option>
	</select>
	
	<button class="find-trigger btn-15" data-target="#finds" data-toggle="modal">상세조회</button>
	
	<!-- 비회원 좋아요버튼-->
	<th:block sec:authorize="!isAuthenticated()">
		<div class="stage">
			<div id="logOut" class="stage heart" th:onclick="|location.href='@{/loginPage}'|"></div>
		</div>
	</th:block>
	
	<!-- 회원 좋아요버튼-->
	<th:block sec:authorize="isAuthenticated()">
		<div class="stage">
	  		<div id="love" class="love stage heart" th:classappend="${param.userId} !=null ? active"></div>
	   	</div>
   	</th:block>
   	</div>
   
   <section class="module">
	 <div class="container">
   		<div class="row multi-columns-row post-columns">
	        <div class="col-sm-6 col-md-4 col-lg-4" th:each="mc : ${mcList}">
	          <div class="post">

	            <div class="post-thumbnail"><a th:href="|/prtfl/mcSelect?userId=${mc.userId}|">
	            	<img th:src="|/fileView/${mc.img}|" alt="Blog-post Thumbnail" style="border-radius: 70%"></a>
	            </div>

	            <div class="post-header font-alt">
	              <h2 class="post-title" th:text=${mc.userName}><a th:href="|/prtfl/mcSelect?userId=${mc.userId}|"></a></h2>
	              <th:block sec:authorize="!isAuthenticated()">
						<div class="stage">
							<div class="stage heart" th:onclick="|location.href='@{/loginPage}'|"></div>
						</div>
				   </th:block>
				   
				   <!-- 회원 좋아요버튼-->
					<th:block sec:authorize="isAuthenticated()">
						<div class="stage">
					  		<div class="love stage heart" th:id="${mc.userId}" th:classappend="${mc.userLike} == 1 ? active"></div>
					   	</div>
				   	</th:block>
	              <div class="post-meta"><a th:href="|/prtfl/mcSelect?userId=${mc.userId}|" th:text="${mc.carrYear} + '년 &nbsp;| ' + ${mc.mcArea} +' | 좋아요 ' + ${mc.cnt} + '건 | 조회수 ' + ${mc.inq}"></a>
	              </div>
	            </div>
	            <div class="post-entry">
	              <p th:text=${mc.oneIntro}></p>
	            </div>
	            <div class="post-more"><a class="more-link" th:href="|/prtfl/mcSelect?userId=${mc.userId}|">Read more</a></div>
	          </div>
	        </div>   
		</div>
      </div>
    </section>
    
    
<!-- 상세조회 모달 -->
<div id="finds" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <div class="modal-mcContent">
      <div class="modal-body">
        <button data-dismiss="modal" class="close">&times;</button>
        <h4>상세검색</h4>
        <form id="searchForm">          
		  <label>경력</label>
			  <select class="sizeLabel form-control" id="minyear" name="minyear">
					<option value="">-- 경력 --</option>
					<option value="">-- 경력없음 --</option>
					<option th:value="1" th:text="1년이상"></option>
					<option th:value="2" th:text="2년이상"></option>
					<option th:value="3" th:text="3년이상"></option>
					<option th:value="4" th:text="4년이상"></option>
					<option th:value="5" th:text="5년이상"></option>
					<option th:value="10" th:text="10년이상"></option>
			  </select>
        
          <label>지역선택</label>          
          <select class="form-control" id="mcArea" name="mcArea">
				<option value="">-- 지역을 선택해 주세요. --</option>
				<option th:each="area : ${areas}" th:value="${area?.codeId}" th:text="${area?.codeName}"></option>
		  </select>
		  
		  <label>분야</label>
		  <select class="form-control" id="mcType" name="mcType">
				<option value="">-- 행사분야를 선택해 주세요. --</option>
				<option th:each="type : ${types}" th:value="${type?.codeId}" th:text="${type?.codeName}"></option>
		  </select>
		  
		  <label>진행스타일</label>
		  <div class="form_toggle row-vh d-flex flex-row justify-content-between" >
          <div class="form_radio_btn">
          	<th:block th:each="style : ${mcStyles}">
				<input th:id="${style?.codeId}" type="radio" name="progStyle" th:value="${style?.codeId}">
			 	<label th:for="${style?.codeId}" th:text="${style?.codeName}"></label>
		 	</th:block>
		  </div>
          </div>
		  
          <input id="find" class="btn find" type="submit" value="조회" />
        </form>
      </div>
    </div>
  </div>  
</div>

   <!-- 페이징 처리 -->
		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
               <th:block th:replace="fragments/paging :: component(${paging},'gopage')">
            </div>
          </div>
        </div>
	
	<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		//페이징 처리
		function gopage(i) {
			location.href='/prtfl/mcList?page=' + i;
		}
		
		//나의 포트폴리오 확인
		function checkPrtfl(){
			let userId = '[[${session.member != null ? session.member.userId :''}]]';
			$.ajax({
				url : "/prtfl/checkMc",
				method : 'post',
				contentType : 'application/x-www-form-urlencoded',
				data : {userId:userId},
				beforeSend : function(xhr)
                {
    				xhr.setRequestHeader(header, token);
                },
				success : function(data) {
					if(data<1){
						if(confirm('등록된 포트폴리오가 없습니다. 등록하시겠습니까?')){
							location.href='/prtfl/mcInsert';
						}
					} else {
						location.href='/prtfl/mcSelect?userId=' + userId;
					}
				},
				fail : function(result) {
					console.log(result)
				}
			})
		}
		
		
		//좋아요 처리
		 $(".love").on("click", function() {
			 $(this).toggleClass("active");
			 let userId = '[[${session.member != null ? session.member.userId :''}]]';
			 let targetNo = $(this).attr('id');
			 let category = 'T06';
			 
			 //좋아요를 추가했을 경우
		     if($(this).hasClass("active")){
		    	 //총 좋아요수 처리
		    	 let likeCount = $('#likeCount').text();
		    	 $('#likeCount').text(parseInt(likeCount) + 1);
		    	 
		    	 //post방식으로 좋아요 등록하기
		    	 $.ajax({
						url : "/likes/lInsert",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetNo:targetNo, category:category},
						beforeSend : function(xhr)
		                {  
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
						},
						fail : function(result) {
							alert('필수항목을 입력해주세요')
						}
					})
		     } else if (!$(this).hasClass("active")){ //좋아요를 취소했을 경우
		    	 //총 좋아요수 처리
		    	 let likeCount = $('#likeCount').text();
		    	 $('#likeCount').text(parseInt(likeCount) - 1);
		    	 
		    	//post방식으로 좋아요 취소하기
		    	 $.ajax({
						url : "/likes/lDelete",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetNo:targetNo, category:category},
						beforeSend : function(xhr)
		                {
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
							//alert('좋아요 취소 완료');
						},
						fail : function(result) {
							alert('필수항목을 입력해주세요')
						}
					})
		     }
		 })
		 
		 $("#love").on("click", function() {
			 range();
		 })
		 
		 $('#order').change(function() {
 			range();
 		 });
		 
		//정렬 리스트 불러오는 함수
	  	function range() {
	 		//정렬 기준
	 		let userId = '[[${session.member != null ? session.member.userId :''}]]';
			let lclsf = $("input[name=lclsf]:checked").val();
			let type = 'T06';
			let order = $("#order option:selected").val();
			
			//get방식으로 보내기	
			if($("#love").hasClass("active")){ //하트가 눌렸을 경우 실행
				location.href=`/prtfl/mcList?order=${order}&userId=${userId}`
			} else if (!$("#love").hasClass("active")){ //하트가 눌리지 않았을 경우 실행
				location.href=`/prtfl/mcList?order=${order}`
			}
	  	}
		
		$('#find').on('click', function(){
			let find = $("#searchForm").serialize()
		})
	</script>
</div>
</html>