<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
   
<head>
<!-- csrf 설정 -->
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<style>
	footer {
		clear:both;
	}
</style>
</head>

<div layout:fragment="content">

   <section class="hero-wrap hero-wrap-2"
      style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
         <div
            class="row no-gutters slider-text align-items-end justify-content-center">
            <div
               class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
               <h2 class="mb-0 bread">사회자 포트폴리오</h2>
            </div>
         </div>
      </div>
   </section>
   
    <table>
      <thead>
         <tr>
            <th>사용자ID</th>   
            <th>한줄소개</th>   
            <th>경력</th>   
         </tr>
      </thead>
      <tbody>
         <tr th:each="mc : ${mcSelect}">
            <td id="userId" th:text=${mc.userId}></td>
            <td th:text=${mc.oneIntro}></td>
            <td th:text=${mc.carrYear}></td>
         </tr>
      </tbody>
   </table>
    
    <div>
    	<div class="pt-5 mt-5" >
          <h3 class="mb-5">댓글</h3>
            	<ul class="comment-list" id=reply>
           		</ul>
        </div>
    </div>
   
   <script>
   		//csrf 설정
   		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
   		
		//해당 포트폴리오 작성자에 대한 댓글을 가져오기 위해 replyTag에 작성자ID를 구해준다.
   		let replyTag = $('#userId').text();

   		//댓글, 대댓글 불러오는 ajax
   		$.ajax({
   			url : '/replyList',
   			method : 'post',
   			data : JSON.stringify({replyTgt:replyTag, boardCat:'T06'}),
   			contentType : "application/json",
   			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            }
   		}).then(res => {
   			for(reply of res){
   				//댓글일 경우
   				if(reply.rerepTgt == null){
   					$("#reply").append(make(reply));
   				} else { //대댓글일 경우, 대댓글의 경우 rerepTgt컬럼에 대댓글을 단 댓글 번호가 적혀있다.
   					//대댓글은 연관있는 댓글 바로 밑에 들어가야되기 때문에 댓글 생성시 id를 부여하여 rerepTgt이 댓글ID와 같은 번호가 적힌 댓글 밑으로 append한다.
   					$("#" + reply.rerepTgt).append(makeRe(reply));
   				}
   			}
   		})
   		
   		//댓글 tr생성
   		function make(reply){
   			let p = `
                  <li class="comment">
                    <div class="comment-body"  id="${reply.replyNo}">
                      <h3>${reply.userId}</h3>
                      <div class="meta">${reply.writingDt}</div>
                      <p>${reply.replyCntn}</p>
                      <p><a href="#" class="reply">Reply</a></p>
                    </div>
                   </li>
                `
   			return p;
   		}
   		
   		//대댓글 tr생성
   		function makeRe(reply){
   			//한 댓글당 대댓글은 한개만 달수 있기 때문에 댓글에 있는 reply 버튼 삭제
   			$("#" + reply.rerepTgt).children('p:eq(1)').remove();
   			
   			let p = `<ul class="children">
                <li class="comment">
                <div class="comment-body">
                  <h3>${reply.userId}</h3>
                  <div class="meta">${reply.writingDt}</div>
                  <p>${reply.replyCntn}</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
              </li>
            </ul>`
            
            return p;
   		}
   </script>

</div>

</html>