<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
   
<head>
<!-- csrf 설정 -->
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" href="/css/prtfl/button.css">
<link href="/css/star.css" rel="stylesheet">
<style>
	footer {
		display: none;
	}

	* {
	  box-sizing: border-box;
	}
	
	#check{
		min-height : 2000px;
	}

	#left {
	  float: left;
	  width: 30%;
	  height: 500px; /* only for demonstration, should be removed */
	  padding: 0;
	  position: sticky; 
	  top: 31%;
	}
	
	#detail{
		background-color:white;
		border: 2px solid #DEDADA;
		border-radius: 10px;
		z-index: 2;
	    top: -35%;
	    position: relative; 
	}
	
	article {
	  float: left;
	  padding: 20px;
	  width: 70%;
	  height: 300px; /* only for demonstration, should be removed */
	}
	
	.border {
		border: 1px solid #D8D8D8;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 3%;
	}
	
	#videoFrm{
		padding: 5px;
	}
	
	.label {
		color : black;
	}
	
	.btnSize {
		width: 250px;
		margin:auto;
        display:block;
        margin-bottom: 3px;
	}
	
	.heart {
	  width: 100px;
	  height: 100px;
	  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
	  background-position: 0 0;
	  cursor: pointer;
	  transition: background-position 1s steps(28);
	  transition-duration: 0s;
	 }
	 
	 .active {
	    transition-duration: 1s;
	    background-position: -2800px 0;
	  }
	  
	  #love{
	  	float: right;
	  }
	  
   .modal {
		display: none;
		position: fixed;
		top: 25em;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		width: 100%;
	}

	.modal h2 {
		margin: 0;
	}

	.modal button {
		display: inline-block;
		width: 100px;
		border: 0.2px solid black;
		border-radius: 5px;
	}

	.modal .modal_content {
		width: 350px;
		min-height: 200px;
		margin: 0 auto;
		padding: 20px;
		background: #fff;
		border: 0.5px solid #666;
		border-radius: 15px;
	}

	.modal .modal_layer {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	
	.box {
	    width: 150px;
	    height: 150px; 
	    border-radius: 100%;
	    overflow: hidden;
	    text-align: center !important;
	    margin:0 auto;
	}
	
	.profile {
	    width: 65%;
	    height: 65%;
	    object-fit: cover;
	    border-radius: 70%;
	    overflow: hidden;
	    margin : 15px auto;
	    z-index: 3;
	    right:-17%;
	    position: relative;   
	}
	
	h3{
		font-weight: bold;
		text-align: center;
		margin-top: 0;
	}
	
	h4{
		font-weight: bold;
		margin-top: 0;
	}

	.item{
		display: flex;
	    flex-shrink: 0;
	    -webkit-box-flex: 0;
	    flex-grow: 0;
	    -webkit-box-align: center;
	    align-items: center;
	     margin-bottom: 5px;
	}
	
	.item > .item__emoji{
		font-weight: 400;
	    font-size: 18px;
	    line-height: 26px;
	    width: 18px;
	    margin-right: 7px;
		}
	
	.caption1{
		font-size: 15px;
	    letter-spacing: -0.25px;
	    line-height: 17px;
	    font-weight: bold;
	}
	.item .value{
	    margin-left: auto;
	    font-weight: bold;
	}
	
	.detail_tr{
	display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: none;
    padding: 3px 0;
    flex-direction: row;
    align-items: center;
	}
	.detail_th {
    min-width: 100px;
    padding: 0 20px 0 0;
    font-size: 1.06em;
    line-height: 1.5em;
    color: #999;
	}
	.detail_td {
	    font-size: 1.06em;
	    line-height: 1.5em;
	    color: #555;
	}
	
	#videoFrm{
	text-align: center;
	}
	
	.videoSize{
	   width:360px; 
	   height: 200px;
	   padding: 5px;
	}
	
	.replyBtn{
		background-color: transparent;
		border: 0;
		color: rgba(2,126,251,1);
	}
	
	#repInsertBtn, #logRepBtn{
		background-color: transparent;
		border: 1px solid rgba(2,126,251,1);
		color: rgba(2,126,251,1);
		float: right;
		margin-top: 3px;
		width: 60px;
		height: 32px;
		padding: 0;
	}
	
	#replyInsertFrm{
		height: 120px;
	}
	
	.font-alt{
		font-size: 13px;
	}
	
	#backImg{
		width: 300vh;
	}
</style>
</head>

<div layout:fragment="content">
   <img id="backImg" th:src="@{/images/title.png}">
   
   <div class="container">
   <section id="check">
	 <nav id="left">
	  <div id="detail">
	    <!-- 비회원 좋아요버튼-->
	  	<th:block sec:authorize="!isAuthenticated()">
	    	<div id="love" class="stage heart" th:classappend="${like} != null ? active" style="position:relative; z-index: 2; right: -20px;" th:onclick="|location.href='@{/loginPage}'|"></div>
		</th:block>
		<!-- 회원 좋아요버튼-->
		<th:block sec:authorize="isAuthenticated()">
	    	<div id="love" class="stage heart" th:classappend="${like} != null ? active" style="position:relative; z-index: 2; right: -20px;"></div>
		</th:block>
		<img class="profile" th:src="|/fileView/${file.sevNm}|">
  		
  		<label style="display:none;"class="label" id="userId" th:text="${mcSelect.userId}"></label>
  		<h3 id="userName" th:text="|${mcSelect.userName}님|"></h3>
  		<p style="font-size: 13px; font-weight: bold; text-align: center; margin: 15px 44px;" th:text="${mcSelect.oneIntro}"></p>
  		
  		<th:block sec:authorize="isAuthenticated()">
  		<!-- 현재 로그인된 id와 작성자id가 다를 경우 버튼 나타남 -->
  		<th:block th:if="|${session.member.getUserId()}| != ${mcSelect.userId}">
	  		<button style="margin-top: 20px;" type="button" class="find-trigger btn-15 btnSize chattingUp">1:1대화</button>
	  		<button type="button" class="find-trigger btn-1 btnSize castingUp">의뢰하기</button>
		</th:block>
		<!-- 현재 로그인된 id와 작성자id가 동일할 경우 버튼 나타남 -->
		<th:block th:if="|${session.member.getUserId()}| == ${mcSelect.userId}">
		   <button style="margin-top: 20px;" type="button" class="find-trigger btn-15 btnSize" th:onclick="|location.href='@{mcUpdate(userId=${mcSelect.userId})}'|">수정하기</button>
		   <button type="button" class="find-trigger btn-1 btnSize" th:attr="onclick=|deleteCheck('${mcSelect.userId}')|">삭제하기</button>
   		</th:block>
   		</th:block>
		
		<hr>
		<div style="margin: 15px 44px;">
	  		<p style="font-size: 16px; font-weight: bold;">활동내역</p>
	  		<div class="item">
		  		<span class="item__emoji">🚗</span>
		  		<div class="caption1">활동지역</div> 
		  		<div class="value" id="mcArea" th:text="${mcSelect.mcArea}"></div>
	  		</div>
	  		
	  		<div class="item">
		  		<span class="item__emoji">👓</span>
		  		<div class="caption1">조회수</div> 
		  		<div class="value" th:text="|${mcSelect.inq}회|"></div>
	  		</div>
	  		
	  		<div class="item">
		  		<span class="item__emoji">😍</span>
		  		<div class="caption1">좋아요</div> 
		  		<div class="value" id ="likeCount" th:text="|${mcSelect.cnt}건|"></div>
	  		</div>
	  		
	  		<div class="item">
		  		<span class="item__emoji">🎙</span>
		  		<div class="caption1">경력</div> 
		  		<div class="value" th:text="|${mcSelect.carrYear}년|"></div>
	  		</div>
	  		
	  		<div class="item">
		  		<span class="item__emoji">🚨</span>
		  		<div class="caption1">신고건수</div> 
		  		<div class="value" th:text="|${mcSelect.rprt}건|"></div>
	  		</div>
  		</div>
  	</div>
  </nav>
  
  <article>
    <div role="tabpanel">
                  <ul class="nav nav-tabs font-alt" role="tablist">
                    <li class="active"><a href="#support" data-toggle="tab" aria-expanded="true"><span class="icon-pictures"></span>포트폴리오</a></li>
                    <li><a href="#sales" data-toggle="tab" aria-expanded="false"><span class="icon-chat"></span>후기</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="support">
                    	<div class="border">
							<div class="detail_tr">
								<p class="detail_th">세부분야</p> 
								<p class="detail_td" th:text="${mcSelect.mcType}"></p>
							</div>
							<div class="detail_tr">
								<p class="detail_th">진행스타일</p> 
								<p class="detail_td" th:text="${mcSelect.progStyle}"></p>
							</div>
							<div class="detail_tr">
								<p class="detail_th">자격증</p> 
								<p class="detail_td">레크리에이션지도자1급</p>
							</div>
							<div class="detail_tr">
								<p class="detail_th">섭외비</p> 
								<p class="detail_td" th:text="|${#numbers.formatInteger(mcSelect.castingPrice, 0, 'COMMA')}원|"></p>
							</div>
                    	</div>

                    	<h4>자기소개</h4>
                    	<div class="border">
							<p th:utext="${mcSelect.selfIntro}"></p>
                    	</div>
                    	
                    	<h4>경력사항</h4>
                    	<div class="border">
							<p th:utext="${mcSelect.career}"></p>
                    	</div>

                    	<h4>동영상
                    	<th:block sec:authorize="isAuthenticated()">
                    	<button th:if="|${session.member.getUserId()}| == ${mcSelect.userId}" type="button" class="find-trigger btn-1" style="height: 30px; padding: 5px; margin:5px; font-size: 13px;" th:onclick="|location.href='@{/move/moveList(userId=${mcSelect.userId})}'|">동영상추가</button>
                    	</th:block>
                    	</h4>
                    	<div class="border">
                    		<div id="videoFrm">
                    		</div>
                    		
							 <!-- //페이징 경로 :: 문자 -->
							<div class="row mt-5" id="paging">
								<div class="col text-center">
									<div class="block-27" id="returnPaging">
									</div>
								</div>
							</div>
                    	</div>
                    	
                    	<h4>댓글</h4>
                    	<div class="border">
					        <!-- 댓글 작성 -->
						    <form id="replyInsertFrm">
						    	<th:block sec:authorize="!isAuthenticated()">
						    		<textarea class="form-control" name="replyCntn" id="replyCntn" rows="3" placeholder="로그인 후 등록 가능합니다." readonly="readonly"></textarea>
						    		<button type="button" id="logRepBtn">댓글추가</button>
						    	</th:block>
						    
						    	<th:block sec:authorize="isAuthenticated()">
						    		<textarea class="form-control" name="replyCntn" id="replyCntn" rows="3" placeholder="댓글을 입력하세요."></textarea>
						    		<button type="button" id="repInsertBtn">댓글추가</button>
						    	</th:block>
						    </form>
						    
						    <div id=reply>
  							</div>
                    	</div>
                    </div>
                    
                    <!-- 후기카테고리 -->
                    <div class="tab-pane" id="sales">
                    	<div class="tab-pane active" id="reviews">
	                    <th:block th:if="${recount.reavg} != null">
	                    <div class="starDiv">
	                    	<div id="starAge">
	                    	<h3>총 평점</h3>
	                    	<div class="starSize"><span th:each="num: ${#numbers.sequence(1, recount.fullstar)}"><i class="fa fa-star star"></i></span><span th:if="${recount.halfstar > 0}"><i class="fa fa-star-half-full star"></i></span><span th:if="${recount.laststar == 1}"><i class="fa fa-star-o star"></i></span></div>
	                    	<p style="font-size: 16px; font-weight: bold;" th:text="|${recount.reavg} / 5|"><p>
	                    	</div>
	                    	
	                    	<div id="starCount">
	                    	<h3>전체 후기수</h3>
	                    	<i class="starSize">📝</i>
	                    	<p style="font-size: 16px; font-weight: bold;" th:text="|${recount.recount}개|"><p>
	                    	</div>
	                    </div>
	                    
	                    <!-- 정렬순 -->
	                   <div class="right">
					   <select id="order" name="order">
							<option value="writing_dt" selected>작성일순</option>
							<option value="star">별점높은순</option>
							<option value="minStar">별점낮은순</option>
						</select>
						</div>
						
						<div id="newStar">
                    	<div class="starList" th:each="re : ${reviews}">
		                    <div class="comments reviews">
		                      <div class="comment clearfix">
		                      <div class="comment-avatar"><img src="/images/replyImg.png" alt="avatar"></div>
		                        <div class="comment-content clearfix">
		                          <div class="comment-author font-alt">
		                          <!--별점처리-->
		                          		<span th:each="num: ${#numbers.sequence(1, re.fullstar)}"><i class="fa fa-star star"></i></span><span th:if="${re.halfstar > 0}"><i class="fa fa-star-half-full star"></i></span><span th:if="${re.laststar == 1}"><i class="fa fa-star-o star"></i></span>
		                          </div>
		                          <div class="comment-body">
		                            <p th:text="${re.reviewCntn}"></p>
		                          </div>
		                          <div class="comment-meta font-alt">
		                          	<span th:text="${re.userId}"></span> - <span th:text="${#dates.format(re.writingDt, 'yyyy/MM/dd')}"></span>
		                          		
		                          </div>
		                        </div>
		                      </div>
	                    	</div>
	                    </div>
	                    </div>
	                    </th:block>
	                    
	                    <th:block th:if="${recount.reavg} == null">
	                    	<div class="border">
	                    		<h3>후기가 없습니다.</h3>
	                    	</div>
	                    </th:block>
	                  	</div>
                    </div>
                  </div>
                </div>
  </article>
</section>
</div>

	<!-- 의뢰하기 폼 -->
	<div id="castingFrm" class="modal">
			<div class="modal_content">
				<form id="castingCntn">
					<h2>의뢰</h2>
					<div id="box">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						<label>사회자</label>
						<input type="text" id="userId" name="userId" th:value="${mcSelect.userId}" readonly><br>
						<label>의뢰자</label>
						<th:block sec:authorize="isAuthenticated()">
						<input type="text" id="clientId" name="clientId" th:value="|${session.member.getUserId()}|"><br>
						</th:block>
						<label>행사분야</label>
						<select id="eType" name="eType">
							<option value="">-- 행사분야 선택 --</option>
							<option th:each="type : ${types}" th:value="${type?.codeId}" th:text="${type?.codeName}"></option>
						</select><br>
						<label>행사소개</label>
						<textarea rows="5" cols="30" id="eIntro" name="eIntro" placeholder="행사에 대해 작성해주세요."></textarea><br>
						<label>행사날짜</label>
						<input type="date" id="eSdt" name="eSdt">-<input type="date" id="eLdt" name="eLdt"><br>
						<label>행사시간</label>
						<input type="time" id="eStime" name="eStime">-<input type="time" id="eLtime" name="eLtime"><br>
						<label>섭외비</label>
						<input type="number" id="castingPrice" name="castingPrice">원
						
						<button type="button" class="cancel">취소</button>
						<button type="button" id="casting">의뢰하기</button>
					</div>
				</form>
			</div>
		<div class="modal_layer"></div>
	</div>
	
   <script>
   		//csrf 설정
   		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
   		moveList();
		
		function moveList() {
			let replyTgt = '[[${mcSelect.userId}]]';
			$.ajax({
				url: '/move/moveList',
				method: 'post',
				data: {
					userId:replyTgt
				},
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
			}).then(res => {
				console.log(res)
				for(video of res.videos){
					$('#videoFrm').append(makeVideo(video));
				}
				$('#returnPaging').append(makePageing(res.paging));
			})
		}
		
		//비디오 리스트
		function makeVideo(video){
			let tag = `<video class="videoSize" src="/fileView/${video.move}" controls></video>`
			        
			 return tag;
		}
	
		// 페이징 만들기
		function makePageing(page) {
			if (page.totalRecord == 0) {
				return;
			}
			
			let pagination = $("<div/>")
			let ul = $("<ul/>").attr("class","pagination");
			if (page.startPage > 1) {
				$(ul).append($("<li/>").html("&laquo;")
										.css("font-size", "30px")
										.attr("class","page-item")
										.on("click", function () {
												gopage(page.startPage - page.pageSize)
										}));
			}
			
			//페이지 버튼 생성.
			for (let i = page.startPage; i <= page.endPage; i++) {
				if (page.page == i) {
					$(ul).append($("<li/>") .text(i).css("font-size", "20px")
											.css("padding", "10px")
											.css("border-radius", " 10% / 50% ")
											.css("background", "#dce3fd")
											.attr("class", "page-link active")
					);
				} else {
					$(ul).append($("<li/>").text(i).css("font-size", "20px")
											.css("padding", "10px")
											.attr("class", "page-link")
											.on("click", function () {
												gopage($(this).text());
											})); //페이지이동 함수
				}
			}
			if (page.endPage < page.lastPage) {
				$(ul).append($("<li/>").html("&raquo;")
										.css("font-size", "30px")
										.attr("class","page-item")
										.on("click", function () {
												gopage(page.startPage + page.pageSize)
										}));
			}
			pagination.append(ul);
			return pagination;
		}
		
		function gopage(i) {
			let replyTgt = '[[${mcSelect.userId}]]';
			let page = i;
			$.ajax({
				url: '/move/moveList',
				method: 'post',
				data: {
					userId:replyTgt, page:page
				},
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
			}).then(res => {
				$('#videoFrm').empty();
				for(video of res.videos){
					$('#videoFrm').append(makeVideo(video));
				}
				
				$('#returnPaging').empty();
				$('#returnPaging').append(makePageing(res.paging));
			})
		}
		
		//해당 포트폴리오 작성자에 대한 댓글을 가져오기 위해 replyTag에 작성자ID를 구해준다.
   		let replyTgt = '[[${mcSelect.userId}]]';
   		//댓글, 대댓글 불러오는 ajax
   		$.ajax({
   			url : '/replyList',
   			method : 'post',
   			data : JSON.stringify({replyTgt:replyTgt, boardCat:'T06'}),
   			contentType : "application/json",
   			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            }
   		}).then(res => {
   			for(reply of res){
   				//댓글일 경우
   				if(reply.rerepTgt == null){
   					$("#reply").append(make(reply));
   				} else { //대댓글일 경우, 대댓글의 경우 rerepTgt컬럼에 대댓글을 단 댓글 번호가 적혀있다.
   					//대댓글은 연관있는 댓글 바로 밑에 들어가야되기 때문에 댓글 생성시 id를 부여하여 rerepTgt이 댓글ID와 같은 번호가 적힌 댓글 밑으로 append한다.
   					$("#" + reply.rerepTgt).append(makeRe(reply));
   				}
   			}
   		})
   		
   		//댓글 tr생성
   		function make(reply){
   			let replyBtn = '';
   			let delBtn = '';
			let upBtn = '';
			let userId = '[[${session.member != null ? session.member.userId :""}]]';
			let mc = '[[${mcSelect.userId}]]'
			
			//포트폴리오 작성자만 대댓글 등록 가능
			if(mc == userId){
				replyBtn = `<button class="reply replyBtn">Reply</button>`;
			}
			
			//댓글 작성자일 경우에만 삭제 버튼 생성
			if(reply.userId == userId){
				delBtn = `<button class='repDelete replyBtn'>삭제</button>`;
				upBtn = `<button class='repUpdate replyBtn'>수정</button>`;
			}
			
   			let p = `
   				<div class="comment clearfix">
	                <div class="comment-avatar"><img src="/images/replyImg.png" alt="avatar"></div>
	                <div id="${reply.replyNo}">
	                <div class="comment-content clearfix">
	                  <div class="comment-author font-alt">${reply.userId}</div>
	                  <div class="comment-body">
	                    <p style="font-size: 16px; font-weight: bold;">${reply.replyCntn}</p>
	                  </div>
	                  <div class="comment-meta font-alt">${reply.writingDt} ${replyBtn}${delBtn}${upBtn}
	                  </div>
	                </div>
	                </div>
					</div>
				</div>
                `
   			return p;
   		}
   		
   		//대댓글 tr생성
   		function makeRe(reply){
   			let delBtn = '';
			let upBtn = '';
			let userId = '[[${session.member != null ? session.member.userId :""}]]';
			
			//댓글 작성자일 경우에만 삭제 버튼 생성
			if(reply.userId ==userId){
				delBtn = `<button class='repDelete replyBtn'>삭제</button>`;
				upBtn = `<button class='repUpdate replyBtn'>수정</button>`;
			}
   			
   			//한 댓글당 대댓글은 한개만 달수 있기 때문에 댓글에 있는 reply 버튼 삭제
   			$("#" + reply.rerepTgt).children().children().children('button:eq(0)').remove();
   			
   			let p = `<div class="comment clearfix">
                <div class="comment-avatar"><img src="/images/replyImg.png" alt="avatar"></div>
                <div id="${reply.replyNo}">
                <div class="comment-content clearfix">
                  <div class="comment-author font-alt">${reply.userId}</div>
                  <div class="comment-body">
                    <p style="font-size: 16px; font-weight: bold;">${reply.replyCntn}</p>
                  </div>
                  <div class="comment-meta font-alt" id="${reply.replyNo}">${reply.writingDt} ${delBtn}${upBtn}
                  </div>
                </div>
                </div>
              </div>`
            
            return p;
   		}
   		
   	//댓글 추가
		$("#repInsertBtn").on("click", function() {
			console.log('클릭')
			//textarea에 있는 값 들고 오기
			let replyCntn = $('#replyCntn').val();
			let userId = '[[${session.member != null ? session.member.userId :""}]]';
			
			$.ajax({
	   			url : '/replyInsert',
	   			method : 'post',
	   			data : JSON.stringify({userId:userId, replyTgt:replyTgt, replyCntn:replyCntn, boardCat:'T06'}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            }
	   		}).then(res => {
	   			//댓글 부분에 등록하기
	   			$("#reply").prepend(make(res));
	   			$('#replyCntn').val('');
	   		})
		});
		
		//reply버튼을 클릭했을 경우 대댓글 입력 폼 생성
		$(document).on('click', '.reply', function(e){
		    e.preventDefault();
		    //대댓글을 작성할 replyNo 구하기
		    let rerepTgt = $(this).parent().parent().parent("div").attr('id');
		    //대댓글 입력할 수 있는 폼 생성
		  	$(this).parent("div").append(makeFrm(rerepTgt));
		  	
		  	//reply버튼 숨김
		  	$(this).hide();
		})
		
		//대댓글 입력 폼
		function makeFrm(rerepTgt) {
			let form = `<form>
				<input type="hidden" id="rerepTgt" name="rerepTgt" value="${rerepTgt}">
	            <textarea class="form-control" id="reReplyCntn" name="replyCntn" rows="3"></textarea>
	            <button type="button" id="rerepTgt" class="reply">답변</button>
	        </form>`
		    
		    return form;
		}
		
		//대댓글 추가
		$(document).on('click', '#rerepTgt', function(e){
			let replyCntn = $('#reReplyCntn').val();
			let rerepTgt = $('#rerepTgt').val();
			let userId = '[[${session.member != null ? session.member.userId :""}]]';
			
			$(this).parent("form").remove();
			$.ajax({
	   			url : '/replyInsert',
	   			method : 'post',
	   			data : JSON.stringify({userId:userId, replyTgt:replyTgt, replyCntn:replyCntn, boardCat:'T06', rerepTgt:rerepTgt}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            }
	   		}).then(res => {
	   			
	   			$("#" + res.rerepTgt).append(makeRe(res));
	   		})
		})
		
		//댓글 삭제
		$(document).on('click', '.repDelete', function(e){
			let btn=$(this);
			let replyNo = $(this).parent().parent().parent("div").attr('id');
			$.ajax({
				url : '/replyDelete',
				type : 'POST',
				data : {
					replyNo : replyNo
				},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
				},
				success : function(result){
					if(result ==1){
					btn.closest(".comment").remove();
				}
			}
		});		
	});
		
		//댓글 수정 폼으로 변경
		$(document).on('click', '.repUpdate', function(e){
			let replyNo = $(this).parent().parent().parent("div").attr('id');
			let p = $(this).parent().parent("div").children("div:eq(1)").children("p").text()
			$(this).parent().parent("div").children("div:eq(1)").children("p").replaceWith("<div><input type='hidden' id='replyNo' name='replyNo' value='" + replyNo +"'></input> <input type='text' id='upReplyCntn' name='upReplyCntn' value='" + p + "'></input>");
			
			$(this).toggleClass("updateBtn");
		});
		
		//댓글 수정
		$(document).on('click', '.updateBtn', function(e){
			$(this).toggleClass("updateBtn");
			let btn = $(this);
			let replyCntn = $('#upReplyCntn').val();
			let replyNo = $('#replyNo').val();
			let updateBtn = `<button class='repUpdate'>수정</button>`;
			
			$.ajax({
				url : '/replyUpdate',
				type : 'POST',
				data : JSON.stringify({replyNo : replyNo, replyCntn : replyCntn}),
				contentType : "application/json",
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
				},
				success : function(result){
					btn.parent().parent("div").children("div:eq(1)").replaceWith("<p>" + result.replyCntn + "</p>");
				}		
			})
		});
   		
   	 $("#love").on("click", function() {
		 $(this).toggleClass("active");
		 let userId = '[[${session.member != null ? session.member.userId :""}]]';
		 let targetNo = '[[${mcSelect.userId}]]';
		 let category = 'T06';
		 
		 //좋아요를 추가했을 경우
	     if($(this).hasClass("active")){
	    	 //총 좋아요수 처리
	    	 let likeCount = $('#likeCount').text();
	    	 let likePlus = parseInt(likeCount) + 1
	    	 $('#likeCount').text(likePlus + '건');

	    	 //post방식으로 좋아요 등록하기
	    	 $.ajax({
					url : "/likes/lInsert",
					method : 'post',
					contentType : 'application/x-www-form-urlencoded',
					data : {userId:userId, targetNo:targetNo, category:category},
					beforeSend : function(xhr)
	                {  
	    				xhr.setRequestHeader(header, token);
	                },
					success : function(data) {
					},
					fail : function(result) {
						alert('필수항목을 입력해주세요')
					}
				})
	     } else if (!$(this).hasClass("active")){ //좋아요를 취소했을 경우
	    	 //총 좋아요수 처리
	    	 let likeCount = $('#likeCount').text();
	    	 let likeMin = parseInt(likeCount) - 1
	    	 $('#likeCount').text(likeMin + '건');
	    	 
	    	//post방식으로 좋아요 취소하기
	    	 $.ajax({
					url : "/likes/lDelete",
					method : 'post',
					contentType : 'application/x-www-form-urlencoded',
					data : {userId:userId, targetNo:targetNo, category:category},
					beforeSend : function(xhr)
	                {
	    				xhr.setRequestHeader(header, token);
	                },
					success : function(data) {
						//alert('좋아요 취소 완료');
					},
					fail : function(result) {
						alert('필수항목을 입력해주세요')
					}
				})
	     }
	 })
	 
	   //신고부분
	   //신고 모달창 띄우기
	   $('.punishModalUp').on('click', function() {
		   console.log('클릭');
		   $("#punishFrm").show();
	   })
	   
	   //모달창에서 취소를 눌렀을 경우
	   $(".cancel").on('click', function() {
			$(".modal").hide();
		});
	   
	   //모달창에서 신고를 눌렀을 경우
	   $("#punish").on('click', function() {
		   let targetId = '[[${mcSelect.userId}]]';
		   let targetCat = 'T06';
		   let banCntn = $("#banCntn").val();
		   let userId = '[[${session.member != null ? session.member.userId :""}]]';
		   let banType = 'P2';
		    $.ajax({
					url : "/punishInsert",
					method : 'post',
					contentType : 'application/x-www-form-urlencoded',
					data : {userId:userId, targetId:targetId, banType:banType, banCntn:banCntn, targetCat:targetCat},
					beforeSend : function(xhr)
	                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	    				xhr.setRequestHeader(header, token);
	                },
					success : function(data) {
						alert('신고되었습니다.');
						$("#punishFrm").hide();
					},
					fail : function(result) {
						console.log(result)
					}
				})
	   })
	   
	   
	   
	   //의뢰 모달창 띄위기
	    $('.castingUp').on('click', function() {
		   $("#castingFrm").show();
	   })
	   
	   //모달창에서 의뢰요청을 눌렀을 경우
	   $("#casting").on('click', function() {
		   let parm = $("#castingCntn").serialize();
		   
		   $.ajax({
				url : "/casting/castingInsert",
				method : 'post',
				contentType : 'application/x-www-form-urlencoded',
				data : parm,
				beforeSend : function(xhr)
               {  
   				xhr.setRequestHeader(header, token);
               },
				success : function(data) {
					alert('의뢰가 등록되었습니다.');
					$("#castingFrm").hide();
				},
				fail : function(result) {
					console.log(result)
				}
			})
		    
	   })
	   
	   //채팅버튼을 눌렀을 때
		$(".chattingUp").on("click", function () {
			$(".chat").toggleClass("active");
			
			let toId = '[[${mcSelect.userId}]]';
			console.log("로그인된 아이디== "+fromId)
			console.log("메세지받을 아이디== "+toId)
			//채팅방 구독 생성
			function createChatRoom() {
				console.log("1 채팅방 생성");
				let chatroomDataList = new Array();
				let chatroomData1 = {
						toId : toId,
						fromId : fromId
				};
				chatroomDataList.push(chatroomData1);
				let chatroomData2 = {
						toId : fromId,
						fromId : toId
				};
				chatroomDataList.push(chatroomData2);
				
				console.log(JSON.stringify(chatroomDataList));
				
				$.ajax({
		   			url : '/chatInsert',
		   			method : 'post',
		   			data : JSON.stringify(chatroomDataList),
		   			contentType : "application/json; charset=UTF-8",
		   			beforeSend : function(xhr)
		            {  
						xhr.setRequestHeader(header, token);
		            }
		   		}).then(res => {
		   			console.log("2 채팅방 생성 번호: " + cId);
		   			cId = res;
		   			chattingList(cId)
		   		})
			}
		   	
		   	function chattingList(cId){
		   		console.log('chattingList:', cId);
		   		$.ajax({
					url : '/chatSelect',
					method : 'post',
		   			data : JSON.stringify({toId:toId, fromId:fromId}),
		   			contentType : "application/json; charset=UTF-8",
		   			beforeSend : function(xhr)
		            {   
						xhr.setRequestHeader(header, token);
		            }
		   		}).then(res => {
		   			$(".chat-list").empty();
		   			for(r of res){
		   				$(".chat-list").append(makeList(r));
		   			}
		   			message(cId);
		   		})
		   		
		   		$(".chat-popup").show();
		   	}
	
			function makeList(r){
				let list = `<a onclick="message('${r.cid}')" class="d-flex align-items-center">
								<div class="flex-grow-1 ms-3">
									<h3>🔔${r.toId}</h3>
								</div>
							 </a>`;
				return list;
			}
				
			//채팅화면이 나타난다.
			if ($(".chat").hasClass("active")) {
				$.ajax({
					url : '/checkChat',
					method : 'post',
		   			data : JSON.stringify({toId:toId, fromId:fromId}),
		   			contentType : "application/json; charset=UTF-8",
		   			beforeSend : function(xhr)
		            {   
						xhr.setRequestHeader(header, token);
		            }
		   		}).then(res => {
		   			if(res != ''){
		   				console.log('res.cId:', res.cid);
		   				chattingList(res.cid);
		   			} else {
		   				createChatRoom();
		   			}
		   		})
				$(".chat-popup").show();
				$(".chatbox").show();
			}
	
			//채팅화면이 사라진다.
			if (!$(".chat").hasClass("active")) {
				$(".chat-popup").hide();
				$(".chatbox").hide();
			}
		});
	   
	   //별점 정렬
	   $('#order').change(function() {
		   let order = $("#order option:selected").val();
		   let reviewTgt = '[[${mcSelect.userId}]]';
		   let category = 'T06';
		   $.ajax({
				url : "/review/List",
				method : 'post',
				contentType : 'application/x-www-form-urlencoded',
				data : JSON.stringify({order:order, reviewTgt:reviewTgt, category:category}),
	   			contentType : "application/json",
				beforeSend : function(xhr)
               {
   				xhr.setRequestHeader(header, token);
               },
				success : function(data) {
					$('#newStar').empty();
					for(d of data){
						$('#newStar').append(newStarList(d));
					}
				},
				fail : function(result) {
					alert('필수항목을 입력해주세요')
				}
			})
	   })
	   
	   function newStarList(data){
		   let star=``;
		   for(let i=0; i<data.fullstar; i++){
			  star += `<i class="fa fa-star star"></i>`;
		   }
		   
		   if(data.halfstar > 0){
			   for(let i=0; i<1; i++){
					  star += `<i class="fa fa-star-half-full star"></i>`;
				}
		   }
		   
		   if(data.laststar >= 1){
			   for(let i=0; i<data.laststar; i++){
					  star += `<i class="fa fa-star-o star"></i>`;
				}
		    }
		   
		   
		   let tag = `<div class="starList">
               <div class="comments reviews">
               <div class="comment clearfix">
               <div class="comment-avatar"><img src="/images/replyImg.png" alt="avatar"></div>
                 <div class="comment-content clearfix">
                   <div class="comment-author font-alt">
                   <!--별점처리-->
                   		<span>${star}</span>
                   </div>
                   <div class="comment-body">
                     <p>${data.reviewCntn}</p>
                   </div>
                   <div class="comment-meta font-alt">
                   	<span>${data.userId}</span> - <span>${data.writingDt}</span>
                   		
                   </div>
                 </div>
               </div>
         	</div>
         </div>`
		  
        return tag;
	   }
	   
	   function deleteCheck(userId) {
		   if(!confirm('정말 삭제하시겠습니까?')){
			   return false;
		   } else {
			   location.href='/prtfl/mcDelete?userId='+userId;
		   }
	   }
   </script>
</div>
</html>