<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventi.left.bboard.mapper.BboardMapper">
	
	<!-- 전체 리스트에서 정렬 조건 -->
	<sql id="bSelect">
		<!-- 대분류 정렬 -->
		<if test="lclsf !=null and lclsf != ''">
			<if test="lclsf != 'all'">
				AND LCLSF = #{lclsf}			
			</if>
		</if>

		<!-- 검색 정렬 -->
		<if test="ttl !=null and ttl != ''">
			AND ( TTL LIKE '%${ttl}%' OR CNTN LIKE '%${ttl}%' ) <!-- where or를 ()로 묶어야 밑으로 안감 and가 먼저  -->
		</if>
	</sql>
	
	<!-- 전체 리스트에서 좋아요 정렬 -->
	<sql id="likeSelect">
		<if test="writer != null and writer != ''">
			AND l.user_id = #{writer}
		</if>
	</sql>
	
	<!-- type별 전체 게시글 조회 -->
	<!-- 서브쿼리 이용해서 게시글 번호 별 좋아요 수도 함께 가져온다. -->
	<!-- 좋아요순으로 정렬을 하고 싶을 경우 ${order}에 좋아요 수 컬럼 별칭을 넣어주면 된다. -->
	<select id="bboardList" resultType="com.eventi.left.bboard.service.BboardVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
		SELECT DISTINCT b.*, (select count(*) from likes where target_no = b.b_board_no) AS cnt, rpad(substr(WRITER,'1','1'),LENGTH(WRITER),'*') AS CHECKANO
		FROM B_BOARD b LEFT JOIN likes l
		ON b.b_board_no = l.target_no
		WHERE TYPE = #{type}
		AND SAVE = 'N'
		<include refid="bSelect" />
		<include refid="likeSelect" />
		ORDER BY ${order} DESC
		<![CDATA[
				   ) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 마이페이지에서 내가 쓴 게시글 가져오기 -->
	<select id="myBboardList" resultType="com.eventi.left.bboard.service.BboardVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
		SELECT DISTINCT B.B_BOARD_NO, B.WRITER, B.TTL, B.LCLSF, 
		       B.MCLSF, B.CNTN, B.INQ, B.DT, CODE_SELECT(B.TYPE) TYPE, B.SAVE , 
		       (SELECT COUNT(*) FROM LIKES WHERE TARGET_NO = B.B_BOARD_NO) AS CNT
		 FROM B_BOARD B
		WHERE B.WRITER = #{writer}
		<include refid="bSelect" />
		ORDER BY ${order} DESC
		<![CDATA[
			) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 내가 작성한 게시글 총 건수 -->
	<select id="myListCount" resultType="int">
		SELECT COUNT(*)
		FROM B_BOARD b
		Where writer = #{writer}
		<include refid="bSelect" />
	</select>
	
	<!-- 조건별 게시글 총 건수 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM B_BOARD b LEFT JOIN likes l
		ON b.b_board_no = l.target_no
		WHERE TYPE = #{type}
		AND SAVE = 'N'
		<include refid="bSelect" />
		<include refid="likeSelect" />
	</select>
	
	<!-- 게시글 단건 조회 -->
	<select id="bboardSelect" resultType="com.eventi.left.bboard.service.BboardVO">
		SELECT b.*, (select count(*) from likes where target_no = b.b_board_no) AS cnt, rpad(substr(WRITER,'1','1'),LENGTH(WRITER),'*') AS CHECKANO
		FROM B_BOARD b
		WHERE B_BOARD_NO = #{bBoardNo}
	</select>
	
	<!-- 임시저장한 게시글 불러오기 -->
	<select id="bSave" resultType="com.eventi.left.bboard.service.BboardVO">
		SELECT *
		FROM B_BOARD
		WHERE WRITER = #{writer}
		AND SAVE = 'Y'
	</select>
	
	<!-- 조회수 +1 -->
	<update id="inqUpdate">
		UPDATE B_BOARD
		SET INQ = INQ+1
		WHERE B_BOARD_NO = #{bBoardNo}
	</update>
	
	<!-- 게시글 시퀀스번호 찾기 -->
	<select id="getSeq" resultType="String">
		SELECT 'BB' || (MAX(TO_NUMBER(SUBSTR(B_BOARD_NO,3)))+1) B_BOARD_NO
		FROM B_BOARD
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="bboardInsert">
		<selectKey keyProperty="bBoardNo" resultType="String" order="BEFORE">
			SELECT 'BB' || (MAX(TO_NUMBER(SUBSTR(B_BOARD_NO,3)))+1) B_BOARD_NO
			FROM B_BOARD
		</selectKey>
	
		INSERT INTO B_BOARD(B_BOARD_NO, WRITER, TTL, LCLSF, MCLSF, CNTN, ANO, TYPE, SAVE)
		VALUES(#{bBoardNo}, #{writer}, #{ttl}, #{lclsf}, #{mclsf}, #{cntn}, #{ano}, #{type}, #{save}) 
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="bboardUpdate">
		UPDATE B_BOARD
		SET WRITER=#{writer}, TTL=#{ttl}, LCLSF=#{lclsf}, MCLSF=#{mclsf}, CNTN=#{cntn}, SAVE=#{save}
		WHERE B_BOARD_NO = #{bBoardNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="bboardDelete">
		DELETE FROM B_BOARD
		WHERE B_BOARD_NO = #{bBoardNo}
	</delete>
</mapper>