<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.reply.mapper.ReplyMapper">

	<!-- 댓글 불러오기 -->
	<select id="replyList" resultType="com.eventi.left.reply.service.ReplyVO">
	  SELECT R.*, NVL(REREP_TGT, REPLY_NO) GP FROM REPLY R
      WHERE REPLY_TGT = #{replyTgt} AND BOARD_CAT = #{boardCat}
      ORDER BY GP DESC , WRITING_DT DESC
	</select>
	
	<!-- 댓글 한건 보기 -->
	<select id="getReply" resultType="ReplyVO">
		SELECT *
		FROM REPLY
		WHERE REPLY_NO = #{replyNo}
	</select>
	
	<!-- 댓글 입력 -->
	<insert id="replyInsert">
		<selectKey keyProperty="replyNo" resultType="String" order="BEFORE">
			SELECT 'RP'||REPLYNO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO REPLY(REPLY_NO, USER_ID, REPLY_TGT, REPLY_CNTN, WRITING_DT, BOARD_CAT, REREP_TGT)
		VALUES(#{replyNo}, #{userId}, #{replyTgt}, #{replyCntn}, SYSDATE, #{boardCat}, #{rerepTgt})
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="replyUpdate">
		UPDATE REPLY
		SET REPLY_CNTN = #{replyCntn}
		WHERE REPLY_NO = #{replyNo}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="replyDelete">
		DELETE FROM REPLY
		WHERE REPLY_NO=#{replyNo}
	</delete>
	
	<!-- 댓글이 달린 게시글 삭제시 해당하는 댓글 및 대댓글도 함께 삭제 -->
	<delete id="replySelectDelete">
		DELETE FROM REPLY
		WHERE REPLY_TGT = #{replyTgt}
		AND BOARD_CAT = #{boardCat}
	</delete>
</mapper>