'<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<head>
<script src="https://kit.fontawesome.com/a532c3d0aa.js" crossorigin="anonymous"></script>
<style>
	.fa-user{
	font-size: 35px;
	}
	.bubble
	{
	    position: relative;
	    width: 300px;
	    height: 120px;
	    padding: 15px;
	    background: #eee;
	    border-radius: 10px;
	    margin-left: 25px;
	
	}
	.replyInsert{
		display: flex;
	    align-items: center;
	}
	.bubble:after
	{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 16px 15px 16px 0;
	border-color: transparent #eee;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 42px;
	}
	button{
	float: right;
    margin-top: -20px;
	}
</style>
</head>   
   
   
<div layout:fragment="content">
	<section class="module bg-dark-60 gallery-page-header parallax-bg"
		data-background="assets/images/gallery_bg.jpg"
		style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="module-title font-alt">상세조회</h2>
					<div class="module-subtitle font-serif">Small Title</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="ftco-section ftco-degree-bg">
		<div class="container" style="margin-left: 340px;">
		  <div class="row">
			<div class="col-lg-8 ftco-animate">
				<h2 class="mb-3 mt-5" th:text="|제목: ${queDetail[0].ttl}|"></h2>
					<button class="btn btn-g btn-round queDelete" type="button" th:data-qno="${queDetail[0].qNo}"><i class="fa fa-cog fa-spin"></i>삭제</button>	
					<p th:text="|작성일자: ${#dates.format(queDetail[0].writingDt, 'yyyy-MM-dd')}|"></p>
				<hr>
				<p class="mb-3 mt-5" th:text=${queDetail[0].qNo} id="qNo"></p>
				<p th:text=${queDetail[0].targetId} hidden="hidden"></p>
				<p class="mb-3" th:text="|작성자: ${queDetail[0].userId}|"><p>
				<p th:utext="|내용: ${queDetail[0].cntn}|"></p>
				<p th:text=${queDetail[0].category} hidden="hidden"></p>
				<p th:text=${queDetail[0].rerepTgt}></p>
			</div>
		</div>
		
	<!-- 답변보이는 곳 시작-->				
	<div class="comments"  id=reply style="padding-bottom:20px">
       <h4 class="comment-title font-alt" style="width: 740px;">Leave a Comment</h4>
                 
	<!-- 답변이 있는경우 -->	
 		<div  th:if="${#lists.size(queDetail)}>1"  class="replyInsert">
	 		<div class="icon"><i class="fa-solid fa-user"></i></div>
	 		<div class="bubble"> 
				<p id="replyCntn"  th:utext="${queDetail[1].cntn}" ></p>
			</div>			
		</div>

      	
 	<!-- 답변등록 -->   	              
   <form action="/questions/insertQna" method="POST" id="questionsInsert" 
   		name="questionsInsert" th:unless="${#lists.size(queDetail)}>1" style="width: 740px;" >
	   <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> 
	   <input type="hidden" id="qNo" name="rerepTgt" th:value="${queDetail[0].qNo}">
	   <input type="hidden" name="category" th:value="T14">
	   <input type="hidden"  name="targetId" th:value="QN123"> 
	   <input type="hidden" class="form-control" name="userId" id="userId" th:value="${session.member.userId}" readonly>      
		<div class="col-md-12">
			<div class="form-group">
				<label class="label" for="#">답변</label>
				<textarea name="cntn" class="form-control" id="cntn" cols="30" rows="4" ></textarea>
			</div>
		</div>
			
		 <div class="col-md-12">
			<div class="form-group">
			<button class="btn btn-d btn-round" type="submit"  id="insert" style="margin: 2px;"><i class="fa fa-comments-o"></i> 답변등록</button>
				<div class="submitting"></div>
			</div>
		</div> 
	</form>					
	</div>	
	<!-- 답변보이는 곳 끝-->
	
		</div>
	</section>
<script>
//csrf 설정
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	//글삭제
	$('.queDelete').on('click', function (e){
		//let trs = document.querySelectorAll('.post-columns');
		
		if(!confirm('글을 삭제하시겠습니까?')){
			return false;
		}else{
			let qNo = $(e.target).data('qno'); //체크된 공모번호
			//업데이트처리 ajax
			$.ajax({
				url: '/questions/delete',
				method: "post",
				data: {qNo},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
			}).then(res => {
				if (res == 1) {
					location.href=`/questions/myqnaList`
					alert('삭제완료');
				} else {
					alert('삭제가 불가능합니다.');
				}
			})   
		}
	});

</script>
</div>
</html>