'<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">

	<section class="module bg-dark-60 gallery-page-header parallax-bg"
		data-background="assets/images/gallery_bg.jpg"
		style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="module-title font-alt">상세조회</h2>
					<div class="module-subtitle font-serif">Small Title</div>
				</div>
			</div>
		</div>
	</section>

	<!-- 현재 로그인된 id와 작성자id가 동일할 경우 버튼 나타남 -->
	<!-- <th:block th:if="${session.member.userId} == ${queDetail.userId}">
	</th:block>
 -->

	
	<section class="ftco-section ftco-degree-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 ftco-animate">
					<h2 class="mb-3 mt-5" th:text=${queDetail[1].qNo} id="qNo"></h2>
					<h2 class="mb-3" th:text=${queDetail[1].userId}></h2>
					<p th:text=${queDetail[1].targetId}></p>
					<p th:text=${queDetail[1].ttl}></p>
					<p th:text=${queDetail[1].cntn}></p>
					<p th:text=${queDetail[1].writingDt}></p>
					<p th:text=${queDetail[1].secretYn}></p>
					<p th:text=${queDetail[1].category}></p>
					<p th:text=${queDetail[1].rerepTgt}></p>

					<!--<div class="tag-widget post-tag-container mb-5 mt-5">
						<div class="tagcloud">
							<a href="#" class="tag-cloud-link"
								th:onclick="|location.href='@{proUpdate(proNo=${proDetail.proNo})}'|">수정</a>
							<a href="#" class="tag-cloud-link"
								th:onclick="|location.href='@{proDelete(proNo=${proDetail.proNo})}'|">삭제</a>
						</div>
					</div>-->
					
		 <div class="comments"  id=reply th:if="${#lists.size(queDetail)}>1">
                  <h4 class="comment-title font-alt">답변</h4>
                  <div class="comment clearfix">
                    <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg" alt="avatar"></div>
                    <div class="comment-content clearfix">
                      <div class="comment-author font-alt" th:text=${queDetail[0].ttl}><a href="#">관리자</a></div>
                      <form action="replyInsert">
						<textarea name="replyCntn" id="replyCntn" rows="3" cols="90" ></textarea>
						<button type="button" id="replyInsertBtn">댓글작성</button>
                      Today, 14:55 - 
                    	</form>
                      </div>
                    </div>
                  </div>		
                  			
				</div>
			</div>
		</div>
	</section>
<script>
//csrf 설정
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

</script>
</div>
</html>