<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">문의사항게시판</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>
        
  
	 
	   
	<button type="button" class="btn btn-outline-primary" 
	th:onclick="|location.href='@{queInsert}'|">문의등록</button>
	
	<table class="table mb-3" >
	<thead class="thead-dark">
			<tr>
				<th>문의사항번호</th>
				<th>문의사항제목</th>
				<th>작성일자</th>
				<th>답변유무</th>
			</tr>			
		</thead>
		<tbody>
			<tr th:each="q : ${qnaList}" th:onclick="|location.href='@{queDetail(qNo=${q.qNo},category=${q.category}, targetId=${q.targetId})}'|">
				<td th:text=${q.qNo}></td>
				<td th:text=${q.ttl}></td>
				<td th:text=${q.writingDt}></td>
				<td th:text=${q.ans}></td>
			</tr>
		</tbody>
	</table> 
	<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		               <th:block th:replace="fragments/paging :: component(${paging},'gopage')">
		            </div>
		          </div>
		        </div>
<script>
//csrf 설정
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

//페이징 
function gopage(i) {
    location.href = '/queList?page=' + i;
}
</script>	
</div>

</html>