<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	.label {
		color : black;
	}
	
	#check{
		min-height : 3000px;
	}
	
	.fileShow{
			display : none !important;
	}
</style>
</head>
<body>
	<div layout:fragment="content" class="content">

		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">물품리스트</h2>
                <div class="module-subtitle font-serif">물품리스트</div>
              </div>
            </div>
          </div>
        </section>
        
        <!-- 의뢰 리스트 -->
	<table class="table mb-3">
		<thead class="thead-dark">
			<tr>
			    <th><input type="checkBox"></th>
			    <th>사회자ID</th>
				<th>의뢰자ID</th>
				<th>행사분야</th>
				<th>행사요일</th>
				<th>행사시간</th>
				<th>섭외비</th>
				<th>진행현황</th>
				<th>상태</th>
			</tr>
		</thead>
		<tbody id="check">
			<tr th:each="cast : ${casting}" th:id="${cast.castingNo}">
				<td><input type="checkBox"></td>
				<td th:text="${cast.userId}"></td>
				<td th:text="${cast.clientId}"></td>
				<td th:text="${cast.eType}"></td>
				<td th:text="|${#dates.format(cast.eSdt, 'yyyy/MM/dd')} - ${#dates.format(cast.eLdt, 'yyyy/MM/dd')}|"></td>
				<td th:text = "|${cast.eStime} ~ ${cast.eLtime}|"></td>
				<td th:text = "${cast.castingPrice}"></td>
				<td th:text = "${cast.progress}"></td>
				<th:block th:if="${cast.progress} == '결제전'">
				<td><button type="button" class="castingOk" th:text="수락"></button><button type="button" class="castingNo" th:text="거절"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '결제중'">
				<td><button type="button" class="cashback" th:text="결제하기"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '행사전'">
				<td><button type="button" th:text="행사취소"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '행사완료'">
				<td><button type="button" th:text="후기작성"></button></td>
				</th:block>
			</tr>
		</tbody>
	</table>
					     	
	<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		//사회요청거절
		$(".castingNo").on('click', function() {
			let castingNo = $(this).parent().parent().attr('id');
			let progress = "행사취소";
			
			 $.ajax({
		   			url : '/casting/progUpdate',
		   			method : 'post',
		   			data : JSON.stringify({progress:progress, castingNo:castingNo}),
		   			contentType : "application/json",
		   			beforeSend : function(xhr)
		            {   
						xhr.setRequestHeader(header, token);
		            }
		   		}).then(res => {
		   			console.log(res);
		   		}) 
			})
			
			//사회요청수락
			$(".castingOk").on('click', function() {
				let castingNo = $(this).parent().parent().attr('id');
			    let progress = "결제중";

				 $.ajax({
			   			url : '/casting/progUpdate',
			   			method : 'post',
			   			data : JSON.stringify({progress:progress, castingNo:castingNo}),
			   			contentType : "application/json",
			   			beforeSend : function(xhr)
			            {   
							xhr.setRequestHeader(header, token);
			            }
			   		}).then(res => {
			   			console.log(res);
			   		}) 
			})
			
			$(".cashback").on('click', function(){
				console.log('클릭')
				
				let amount = $(this).parent().prev().prev().text()
				let buyer_email = '[[${session.member.userEmail}]]';
				let buyer_name = '[[${session.member.name}]]';
				let buyer_tel = '[[${session.member.userPhone}]]';
				let userId = '[[${session.member.userId}]]';
				let targetId = $(this).parent().prev().prev().prev().prev().prev().prev().prev().text();
				let castingNo = $(this).parent().parent().attr('id');
				
				console.log(targetId)
				//결제
				const IMP = window.IMP; // 생략 가능
				IMP.init("imp42430553"); // 예: imp00000000a
				
				var today = new Date();
				var hours = today.getHours(); // 시
				var minutes = today.getMinutes();  // 분
				var seconds = today.getSeconds();  // 초
				var milliseconds = today.getMilliseconds();
				var makeMerchantUid = hours + minutes + seconds + milliseconds;
				
				IMP.request_pay({
					pg: 'kicc',
					pay_method: 'card',
					merchant_uid: "evt" + makeMerchantUid, //상점에서 생성한 고유 주문번호
					name: '사회자섭외비',  //'주문명:결제테스트',
					amount: amount,  // 가격1,
					buyer_email: buyer_email,	//'tpgns5890@naver.com',
					buyer_name: buyer_name,	//'천세훈',
					buyer_tel: buyer_tel	//'010-3670-5890'
				}, function(rsp) {
					if (rsp.success) {
						$.ajax({
							url: "/pay/requestPay",
							method: "POST",
							contentType: "application/json",
							dataType: "json",
							data: JSON.stringify({
								moType:'M1',
								moPrice:amount,
								userId:userId,
								userName:rsp.buyer_name,
								payNo:rsp.pg_tid, // 결제 고유번호
								targetId:targetId,
						       	moCat:'T06'
						   }),
						   beforeSend : function(xhr){
			                    xhr.setRequestHeader(header, token);
			               },
			               success: function(res){
			                  alert("결제완료되었습니다.");
			                  updateSt(castingNo);
			               },
			               error: function(err){
			                  console.log(err)
			               }
				})
					} else {
						alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
					}
				})
			})
			
			function updateSt(castingNo){
				let progress = "행사전";
				$.ajax({
		   			url : '/casting/progUpdate',
		   			method : 'post',
		   			data : JSON.stringify({progress:progress, castingNo:castingNo}),
		   			contentType : "application/json",
		   			beforeSend : function(xhr)
		            {   
						xhr.setRequestHeader(header, token);
		            }
		   		}).then(res => {
		   			console.log(res);
		   		}) 
			}
	</script>
	</div>
</body>
</html>