<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>의뢰내역</title>
<link rel="stylesheet" href="/css/myPageSide.css">
<link href="/css/star.css" rel="stylesheet">
<style>
	.label {
		color : black;
	}
	
	.fileShow{
			display : none !important;
	}
	
	.fullSize{
		margin-left: 250px;
		min-height: 600px;
	}
	
	.contentSize{
		margin: 100px 20px;
	}
	
	.table>tbody>tr>td, .table>thead>tr>th {
		vertical-align: baseline;
		text-align : center;
	}

	th{
		background-color: #FFDE59;
	}
	
	.modal {
		display: none;
		position: fixed;
		top: 15em;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		width: 100%;
	}

	.modal h2 {
		margin: 0;
	}

	.modal button {
		display: inline-block;
		width: 100px;
		border: 0.2px solid black;
		border-radius: 5px;
	}

	.modal .modal_content {
		width: 350px;
		min-height: 200px;
		margin: 0 auto;
		padding: 20px;
		background: #fff;
		border: 0.5px solid #666;
		border-radius: 15px;
	}

	.modal .modal_layer {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	
	.cancelCntn {
	  padding: 15px 20px;
	  background-color: #444444;
	  border-radius: 5px;
	  color: #ffffff;
	  display: none;
	}
	
	.cancelTitle:hover + .cancelCntn {
	  display: block;
	}
	
	.close {
		color: black;
		float: right;
		font-size: 40px;
		font-weight: bold;
		text-align: right;
		margin-right: 10px;
		}
		
		.close:hover, .close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}
		
		#modal {
			display: none;
			position: fixed;
			top: 15em;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			width: 100%;

		}
		
		/*modal 설정*/
		.modal label{
			font-size: 18px;
			display: inline-block;
	    	text-align: left;
	    	width: 100px;
		}
		
		.modal input{
			height: 40px;
			width: 150px;
			margin: 5px 0;
		}

		.modal h2 {
			margin: 0;
			text-align: center;
			color: #3a6351;
			font-weight: bold;
		}

		#modal button {
			display: inline-block;
		    width: 100%;
		    border: 0.2px solid black;
		    border-radius: 5px;
		    margin-top: 5px;
		    height: 30px;
		    font-weight: bold;
		}

		#modal .modal_content {
			width: 350px;
			min-height: 200px;
			margin: 0 auto;
			padding: 20px;
			background: #fff;
			border: 0.5px solid #666;
			border-radius: 15px;
		}

		#modal .modal_layer {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: -1;
		}
		
		tbody tr:hover{
			background:#FFF2CC;
		}
		
			.blueBtn{
		background-color: #FFDE58;
		border: 1px solid #FFDE58;
		color: black;
		margin-top: 3px;
		margin-left: 5px;
		width: 100px;
		height: 50px;
		padding: 0;
		border-radius: 5px;
		font-weight: bold;
		font-size: 18px;
	}
	
	.blueBtn:hover {
		background-color: white;
		color: black;
		border: 1px solid #FFDE58;
		font-size: 18px;
	}
	
	.bageBtn{
		background-color: #FAF8F1;
		border: 1px solid #FAF8F1;
		color: black;
		margin-top: 3px;
		margin-left: 5px;
		width: 100px;
		height: 50px;
		padding: 0;
		border-radius: 5px;
		font-weight: bold;
		font-size: 18px;
	}
	
	.bageBtn:hover {
		background-color: white;
		color: black;
		border: 1px solid #FAEAB1;
		font-size: 18px;
	}
</style>
</head>
<body>
	<div layout:fragment="content" class="content">
       <h2 hidden="hidden" class="module-title font-alt">의뢰리스트</h2>

        
        <th:block th:replace="fragments/myPageSide :: myPageSide"></th:block>
        <div class="fullSize">
        <div class="contentSize">
        <!-- 의뢰 리스트 -->
	<!-- 게시글 리스트 -->
		<table class="table mb-3">
			<thead class="thead-dark">
		<thead>
			<tr>
			    <th><input type="checkBox" value="삭제" class="delete" id="allDelete"></th>
			    <th>사회자ID</th>
				<th>의뢰자ID</th>
				<th>행사분야</th>
				<th>행사요일</th>
				<th>행사시간</th>
				<th>섭외비</th>
				<th>진행현황</th>
				<th>상태</th>
			</tr>
		</thead>
		<tbody id="check">
			<tr th:each="cast : ${casting}" th:id="${cast.castingNo}">
				<td><input class="check delete" type="checkBox" value="delete" onkeyup="myFunction()"></td>
				<td th:text="${cast.userId}"></td>
				<td th:text="${cast.clientId}"></td>
				<td th:text="${cast.eType}"></td>
				<td th:text="|${#dates.format(cast.eSdt, 'yyyy/MM/dd')} - ${#dates.format(cast.eLdt, 'yyyy/MM/dd')}|"></td>
				<td th:text = "|${cast.eStime} ~ ${cast.eLtime}|"></td>
				<td th:text = "${cast.castingPrice}"></td>
				<td th:text = "${cast.progress}"></td>
				<th:block th:if="${cast.progress} == '결제전' and ${param.userId} != null">
				<td><button type="button" class="castingOk" th:text="수락"></button><button type="button" class="castingNo" th:text="거절"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '결제진행중' and ${param.clientId} != null">
				<td><button type="button" class="cashback" th:text="결제하기"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '행사전' and ${param.userId} != null">
				<td><button type="button" class="mcCancel" th:text="행사취소"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '행사전' and ${param.clientId} != null">
				<td><button type="button" class="clientCancel" th:text="행사취소"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '행사완료' and ${param.clientId} != null">
				<td><button type="button" class="review" th:text="정산"></button><button type="button" class="noshow" th:text="노쇼"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '행사취소'">
				<td><p class="cancelTitle">취소사유...</p><div class="cancelCntn" th:text="${cast.cancel}"></div></td>
				</th:block>
			</tr>
		</tbody>
	</table>
		</div></div>
	<!-- 후기 폼 -->
    <div id="reviewFrm" class="modal">
			<div class="modal_content">
				<label>대상</label>
				<input type="text" id="reviewTgt" name="reviewTgt" readonly>				
				<input type="hidden" id="userId" name="userId" th:value="${session.member.userId}" readonly>
				
				<br/>
				<label>별점</label>
				<div class="starpoint_wrap">
				  <div class="starpoint_box">
				    <label for="starpoint_1" class="label_star" title="0.5"><span class="blind">0.5</span></label>
				    <label for="starpoint_2" class="label_star" title="1"><span class="blind">1</span></label>
				    <label for="starpoint_3" class="label_star" title="1.5"><span class="blind">1.5</span></label>
				    <label for="starpoint_4" class="label_star" title="2"><span class="blind">2</span></label>
				    <label for="starpoint_5" class="label_star" title="2.5"><span class="blind">2.5</span></label>
				    <label for="starpoint_6" class="label_star" title="3"><span class="blind">3</span></label>
				    <label for="starpoint_7" class="label_star" title="3.5"><span class="blind">3.5</span></label>
				    <label for="starpoint_8" class="label_star" title="4"><span class="blind">4</span></label>
				    <label for="starpoint_9" class="label_star" title="4.5"><span class="blind">4.5</span></label>
				    <label for="starpoint_10" class="label_star" title="5"><span class="blind">5</span></label>
				    <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
				    <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
				    <span class="starpoint_bg"></span>
				  </div>
				</div>
				<br>
				
				<label>후기</label>
				<textarea rows="5" cols="40" id="reviewCntn" name="reviewCntn" placeholder="후기를 작성해주세요."></textarea>
				<div style="text-align: center;">
					<button type="button" class="cancel bageBtn">취소</button>
					<button type="button" id="review" class="blueBtn">후기등록</button>
				</div>
			</div>
		<div class="modal_layer"></div>
	</div>
	
	<!-- 행사취소 폼 -->
    <div id="cancelFrm" class="modal">
			<div class="modal_content">
				<form id="cancelCheck" action="/casting/progUpdate" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<input type="hidden" id="castingNo" name="castingNo" readonly><br>
				
					<h2>행사취소 사유</h2>
					<th:block th:if="${param.userId} != null">
					<h4 style="color:red;">*취소시 포트폴리오에서 취소횟수를 확인할 수 있습니다.</h4>
					</th:block>
					<input type="hidden" id="mcId" name="mcId">
					<input type="hidden" id="clientId" name="clientId">
					<input type="hidden" id="progress" name="progress" th:value="행사취소">
					
					<p style="color:red;"><span id="client" th:text="지은"></span>님의 행사를 취소하시겠습니까?</p>
					
					<label>취소사유</label>
					<textarea rows="5" cols="40" id="cancel" name="cancel" placeholder="신고사유에 대해 작성해주세요."></textarea>
					
					<div style="text-align: center;">
					<button type="button" class="bageBtn cancel">나가기</button>
					<th:block th:if="${param.userId} != null">
					<button type="button" class="blueBtn" id="mcCancel">취소등록</button>
					</th:block>
					
					<th:block th:if="${param.clientId} != null">
					<button type="button" class="blueBtn" id="clientCancel">취소등록</button>
					</th:block>
					</div>
				</form>		
			</div>
		<div class="modal_layer"></div>
	</div>
	
	<!-- 신고 폼 -->
	<div id="punishFrm" class="modal">
			<div class="modal_content">
				<h2>신고</h2>
				<div id="box">
					<input type="hidden" id="castNo" name="castingNo" readonly><br>
					<label>신고대상자</label>
					<input type="text" id="targetId" name="targetId"readonly><br>
					<input type="hidden" id="userId" name="userId" th:value="${session.member.userId}"><br>
					<label>신고사유</label>
					<textarea rows="5" cols="40" id="banCntn" name="banCntn" placeholder="신고사유에 대해 작성해주세요."></textarea>
					<div style="text-align: center;">
						<button type="button" class="bageBtn cancel">취소</button>
						<button type="button" class="blueBtn" id="punish">신고</button>
					</div>
				</div>
			</div>
		<div class="modal_layer"></div>
	</div>
	
	<!-- 상세보기 -->
	<div id="modal">
			<div class="modal_content">
				<span class="close">&times;</span>
				<h3>임시저장된 게시글입니다.</h3>
				<p>불러올 게시글 제목을 선택해 주세요.</p>
				<div id="button_box">
					
				</div>
			</div>
			<div class="modal_layer"></div>
		</div>
					     	
	<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		//새로고침할때 필요
		let param = '[[${param.userId}]]';
		
		//진행현황 업데이트 함수(의뢰번호, 진행현황)
		function updateSt(castingNo, progress){
			$.ajax({
	   			url : '/casting/progUpdate',
	   			method : 'post',
	   			data : JSON.stringify({progress:progress, castingNo:castingNo}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   
					xhr.setRequestHeader(header, token);
	            }
	   		}).then(res => {
	   			if(param != ''){
	   				location.href='/casting/mcCastingList?userId=[[${session.member.userId}]]';
	   			} else {
	   				location.href='/casting/mcCastingList?clientId=[[${session.member.userId}]]';
	   			}
	   		}) 
		}
		
		//사회자가 의뢰요청 거절했을 경우
		$(".castingNo").on('click', function() {
			let castingNo = $(this).parent().parent().attr('id');		
			updateSt(castingNo, "요청거절") 
			alert("거절 처리되었습니다.")
		})
			
			//사회자가 의뢰요청 수락했을 경우
			$(".castingOk").on('click', function() {
				let castingNo = $(this).parent().parent().attr('id');
			    if(confirm('추후 행사 취소할 경우 사용 제한될 수 있습니다.')){
			    	updateSt(castingNo, "결제진행중")
			    	alert("수락 처리되었습니다.")
			    }
			})
			
			
			//클라이언트가 결제버튼을 클릭했을 경우
			$(".cashback").on('click', function(){
				//결제에 넘어갈 데이터 저장
				let amount = $(this).parent().prev().prev().text()
				let buyer_email = '[[${session.member.userEmail}]]';
				let buyer_name = '[[${session.member.name}]]';
				let buyer_tel = '[[${session.member.userPhone}]]';
				let userId = '[[${session.member.userId}]]';
				let targetId = $(this).parent().prev().prev().prev().prev().prev().prev().prev().text();
				let castingNo = $(this).parent().parent().attr('id');

				//결제 시작
				const IMP = window.IMP; // 생략 가능
				IMP.init("imp42430553"); // 예: imp00000000a
				
				var today = new Date();
				var hours = today.getHours(); // 시
				var minutes = today.getMinutes();  // 분
				var seconds = today.getSeconds();  // 초
				var milliseconds = today.getMilliseconds();
				var makeMerchantUid = hours + minutes + seconds + milliseconds;
				
				IMP.request_pay({
					pg: 'kicc',
					pay_method: 'card',
					merchant_uid: "evt" + makeMerchantUid, //상점에서 생성한 고유 주문번호
					name: '사회자섭외비',  //'주문명:결제테스트',
					amount: amount,  // 가격,
					buyer_email: buyer_email,	//이메일,
					buyer_name: buyer_name,	//결제자 이름,
					buyer_tel: buyer_tel	//결제자 번호
				}, function(rsp) {
					//결제가 성공했을 경우
					if (rsp.success) {
						//정산DB에 저장
						$.ajax({
							url: "/pay/requestPay",
							method: "POST",
							contentType: "application/json",
							dataType: "json",
							data: JSON.stringify({
								moType:'M1',
								moPrice:amount,
								userId:userId,
								userName:rsp.buyer_name,
								payNo:rsp.pg_tid, // 결제 고유번호
								targetId:targetId,
						       	moCat:'T06'
						   }),
						   beforeSend : function(xhr){
			                    xhr.setRequestHeader(header, token);
			               },
			               success: function(res){
			                  alert("결제완료되었습니다.");
			                  updateSt(castingNo, '행사전');
			               },
			               error: function(err){
			                  console.log(err)
			               }
				})
					} else {
						alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
					}
				})
			})
		
		   //환불금액저장
		   let mcPay = 0;
		   let clientPay = 0;
		
		   //후기부분
		   //후기 모달창 띄우기
		   let castingNo = '';
		   $('.review').on('click', function() {
			   //모달창에 들어갈 내용 지정
			   castingNo=$(this).parent().parent().attr('id');
			   let targetId = $(this).parent().prev().prev().prev().prev().prev().prev().prev().text();
			   let castingPrice = $(this).parent().prev().prev().text();
			   
			   //사회자에게 섭외비 정산
			   mcPay = castingPrice;
			   
			   $('#reviewTgt').val(targetId)
			   $("#reviewFrm").show();
		   })
		   
		   //클릭한 별점 수 저장
		   let stars = 0;
		   $(".label_star").on('click', function() {
			   stars = $(this).text();		   
		   })

		   //모달창에서 후기등록 버튼을 눌렀을 경우
		   $("#review").on('click', function() {
			   let reviewTgt = $("#reviewTgt").val();
			   let category = 'T06';
			   let reviewCntn = $("#reviewCntn").val();
			   let userId = '[[${session.member.userId}]]';
			   let star = stars;
			   
			   //후기 등록
			    $.ajax({
						url : "/review/reviewInsert",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, reviewTgt:reviewTgt, star:star, reviewCntn:reviewCntn, category:category},
						beforeSend : function(xhr)
		                {  
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
							mcRefund(reviewTgt);
							alert('후기등록 및 정산이 완료되었습니다.');
							$("#reviewFrm").hide();
							updateSt(castingNo,'정산완료');
						},
						fail : function(result) {
							console.log(result)
						}
					})
		   })
		   
		   //노쇼처리
		   $(".noshow").on('click', function(){
			   let mc = $(this).parent().prev().prev().prev().prev().prev().prev().prev().text();
			   
			   //환불비용저장
			   let castingPrice = $(this).parent().prev().prev().text();
			   clientPay = castingPrice;
			   
			   $("#targetId").val(mc);
			   $("#punishFrm").show();
			   
			   let castingNo=$(this).parent().parent().attr('id');
			   $("#castNo").val(castingNo);
			   
			   //신고모달창
			   $("#punishFrm").show();
			   
		   	})
		   	
		   	//노쇼신고버튼 클릭시
		   	$("#punish").on('click', function() {
			   let targetId = $("#targetId").val();
			   let targetCat = 'T06';
			   let banCntn = $("#banCntn").val();
			   let userId = '[[${session.member.userId}]]';
			   let banType = 'P2';
			   let castingNo = $("#castNo").val();
			   let client = $("#userId").val();
			   
			    $.ajax({
						url : "/punishInsert",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetId:targetId, banType:banType, banCntn:banCntn, targetCat:targetCat},
						beforeSend : function(xhr)
		                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
							//진행현황 업데이트
							updateSt(castingNo, "노쇼");
							//환불처리
							clientRefund(client)
				   			alert('사회자 신고가 완료되었습니다.');
				   			if(param != ''){
				   				location.href='/casting/mcCastingList?userId=[[${session.member.userId}]]';
				   			} else {
				   				location.href='/casting/mcCastingList?clientId=[[${session.member.userId}]]';
				   			}
						},
						fail : function(result) {
							console.log(result)
						}
					})
		   		})
		   
		   //사회자가 취소할 경우
		   $(".mcCancel").on('click', function(){
			   castingNo=$(this).parent().parent().attr('id');
			   let client = $(this).parent().prev().prev().prev().prev().prev().prev().text();
			   let mc = $(this).parent().prev().prev().prev().prev().prev().prev().prev().text();
			   let castingPrice = $(this).parent().prev().prev().text();
			   
			   //환불금액 정해주기
			   clientPay = castingPrice;
			   
			   //정산처리
			   $.ajax({
				   url : '/casting/refund',
				   method : 'post',
		   		   data : JSON.stringify({castingNo:castingNo}),
		   		   contentType : "application/json",
		   		   beforeSend : function(xhr)
		            {   
						xhr.setRequestHeader(header, token);
		            }
			   }).then(res => {
				   console.log(res)
				   console.log(res.lastday <= 3)
				   if(res.lastday <= 3){
					   confirm('행사 3일전에는 취소가 불가능합니다.');
				   } else {
					   //의뢰번호
					   $('#castingNo').val(castingNo);
					   //클라이언트ID
					   $('#client').text(client);
					   $('#clientId').val(client);
					   //사회자ID
					   $('#mcId').val(mc);
					   $("#cancelFrm").show();
				   }
			   })
		   })
		   
		   //모달창에서 행사 취소 버튼을 눌렀을 경우
		   $("#mcCancel").on('click', function(){
			   if(confirm('정말 취소하시겠습니까?')){
				   let castingNo = $("#castingNo").val();
				   let userId =  $("#userId").val();
				   let progress = '행사취소';
				   let cancel = $("#cancel").val();
				   let clientId =  $("#clientId").val();

				   //진행현황 업데이트
				    $.ajax({
			   			url : '/casting/progUpdate',
			   			method : 'post',
			   			data : JSON.stringify({castingNo:castingNo, userId:userId, progress:progress, cancel:cancel}),
			   			contentType : "application/json",
			   			beforeSend : function(xhr)
			            {   
							xhr.setRequestHeader(header, token);
			            }
			   		}).then(res => {
			   			clientRefund(clientId)
			   			alert('행사가 취소되었습니다.');
			   			if(param != ''){
			   				location.href='/casting/mcCastingList?userId=[[${session.member.userId}]]';
			   			} else {
			   				location.href='/casting/mcCastingList?clientId=[[${session.member.userId}]]';
			   			}
			   		}) 
			   }  
		   })
		   
		   //모달창에서 취소를 눌렀을 경우
		   $(".cancel").on('click', function() {
				$(".modal").hide();
			});
		   
		   //클라이언트가 행사 취소를 누를 경우
		   $(".clientCancel").on('click', function(){
			   let castingNo = $(this).parent().parent().attr('id');
			   let client = $(this).parent().prev().prev().prev().prev().prev().prev().text();
			   let castingPrice = $(this).parent().prev().prev().text();
			   let mc = $(this).parent().prev().prev().prev().prev().prev().prev().prev().text();
			   
			   //현재날짜기준으로 행사까지 몇일 남았는지 확인
			   $.ajax({
				   url : '/casting/refund',
				   method : 'post',
		   		   data : JSON.stringify({castingNo:castingNo}),
		   		   contentType : "application/json",
		   		   beforeSend : function(xhr)
		            {   
						xhr.setRequestHeader(header, token);
		            }
			   }).then(res => {
				   //환불 받을 금액 처리
				   if(confirm(res.checks + '원 환불됩니다. 취소하시겠습니까?')){
					   clientPay = res.checks;
					   mcPay = castingPrice - clientPay;

					   //의뢰번호
					   $('#castingNo').val(castingNo);
					   //클라이언트번호
					   $('#client').text(client);
					   $('#clientId').val(client);
					   //사회자ID
					   $('#mcId').val(mc);
					   
					   $("#cancelFrm").show();
				   }
			   })
		   })
		   
		   //모달창에서 행사취소 버튼을 눌렀을 경우
		   $("#clientCancel").on('click', function(){
			   if(confirm('정말 취소하시겠습니까?')){
				   let castingNo = $("#castingNo").val();
				   let userId =  $("#mcId").val();
				   let clientId =  $("#clientId").val();
				   let progress = '행사취소';
				   let cancel = $("#cancel").val();

				     $.ajax({
			   			url : '/casting/progUpdate',
			   			method : 'post',
			   			data : JSON.stringify({castingNo:castingNo, userId:userId, progress:progress, cancel:cancel}),
			   			contentType : "application/json",
			   			beforeSend : function(xhr)
			            {   
							xhr.setRequestHeader(header, token);
			            }
			   		}).then(res => {
			   			//사회자 환불금액이 0일 경우 실행x
			   			if(mcPay != 0){			   				
			   				mcRefund(userId);
			   			}
			   			
			   			//클라이언트 환불금액이 0일 경우 실행x
			   			if(clientPay != 0){
				   			clientRefund(clientId);
			   			}
			   			
			   			alert('행사가 취소되었습니다.');
			   			if(param != ''){
			   				location.href='/casting/mcCastingList?userId=[[${session.member.userId}]]';
			   			} else {
			   				location.href='/casting/mcCastingList?clientId=[[${session.member.userId}]]';
			   			}
			   		}) 
			   }
		   })
		   
		   //사회자 정산처리
		   function mcRefund(mc){
			   //클라이언트가 사회자한테 보내는 것이기 때문에 session으로 처리
			   let userId = '[[${session.member.userId}]]';
			   let targetId = mc;
				
			   //정산내역 보내기
			    $.ajax({
					url: "/pay/requestPay",
					method: "POST",
					contentType: "application/json",
					dataType: "json",
					data: JSON.stringify({
						moType:'M2',
						moPrice:mcPay,
						userId:userId,
						targetId:targetId,
				       	moCat:'T06'
				   }),
				   beforeSend : function(xhr){
	                    xhr.setRequestHeader(header, token);
	               },
	               success: function(res){

	               },
	               error: function(err){
	                  console.log(err)
	               }
		   		})
		   }
		   
		   //클라이언트 정산
		   function clientRefund(client){
			   //사회자가 취소할 경우 업체 이름으로 가야되기 때문에 client로 설정
			   let userId = client;
			   let targetId = client;
				
			   //정산처리
			    $.ajax({
					url: "/pay/requestPay",
					method: "POST",
					contentType: "application/json",
					dataType: "json",
					data: JSON.stringify({
						moType:'M2',
						moPrice:clientPay,
						userId:userId,
						targetId:targetId,
				       	moCat:'T06'
				   }),
				   beforeSend : function(xhr){
	                    xhr.setRequestHeader(header, token);
	               },
	               success: function(res){

	               },
	               error: function(err){
	                  console.log(err)
	               }
		   		})
		   }
		   
		// 전체체크시 모든항목 체크 
			let allDelete = document.querySelector("#allDelete")
			let deleteCheck = document.querySelector(".delete")
			allDelete.addEventListener('change', function () {
				//forEach 반복문사용.
				document.querySelectorAll('input[value="delete"]').forEach( function (deleteCheck) {
						deleteCheck.checked = allDelete.checked;
				})
			})
			
			function cntn(text){
				$("#modal").hide();
			
		}
	</script>
	</div>
</body>
</html>