<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	.label {
		color : black;
	}
	
	#check{
		min-height : 3000px;
	}
	
	.fileShow{
			display : none !important;
	}
</style>
</head>
<body>
	<div layout:fragment="content" class="content">

		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">물품리스트</h2>
                <div class="module-subtitle font-serif">물품리스트</div>
              </div>
            </div>
          </div>
        </section>
        
        <!-- 의뢰 리스트 -->
	<table class="table mb-3">
		<thead class="thead-dark">
			<tr>
			    <th><input type="checkBox"></th>
				<th>의뢰자ID</th>
				<th>행사분야</th>
				<th>행사요일</th>
				<th>행사시간</th>
				<th>섭외비</th>
				<th>진행현황</th>
				<th>상태</th>
			</tr>
		</thead>
		<tbody id="check">
			<tr th:each="cast : ${casting}" id=${cast.castingNo}>
				<td><input type="checkBox"></td>
				<td th:text="${cast.clientId}"></td>
				<td th:text="${cast.eType}"></td>
				<td th:text="|${#dates.format(cast.eSdt, 'yyyy/MM/dd')} - ${#dates.format(cast.eLdt, 'yyyy/MM/dd')}|"></td>
				<td th:text = "|${cast.eStime} ~ ${cast.eLtime}|"></td>
				<td th:text = "${cast.castingPrice}"></td>
				<td th:text = "${cast.progress}"></td>
				<th:block th:if="${cast.progress} == '결제전'">
				<td><button type="button" id="castingOk" th:text="수락"></button><button type="button" id="castingNo" th:text="거절"></button></td>
				</th:block>
				<th:block th:if="${cast.progress} == '행사전'">
				<td><button type="button" th:text="행사취소"></button></td>
				</th:block>
			</tr>
		</tbody>
	</table>
					     	
	<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		$("#castingNo").on('click', function() {
			let progress = "행사취소";
			
			$.ajax({
				
			})
		})
	</script>
	</div>
</body>
</html>