<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.promotion.mapper.PromotionBoardMapper">
<sql id="pSelect">
	
		<!-- 검색창 입력 시 -->
		<where>
		<if test="eName !=null and eName != ''">
			AND (E_NAME LIKE '%${eName}%' OR INTRO LIKE '%${eName}%' ) <!-- where or를 ()로 묶어야 밑으로 안감 and가 먼저  -->
		</if>
		<!-- option 선택 시-->
		<if test="eType !=null and eType != ''">
			AND E_TYPE = #{eType}
		</if>
		</where>
</sql>	
		
	<!-- 홍보게시판 메인 -->
	<select id="proList" resultType="com.eventi.left.promotion.service.PromotionVO">
		SELECT PRO_NO, USER_ID, E_NAME, code_select(E_TYPE) E_TYPE, IMG, SEE
		 FROM (SELECT ROWNUM RN, A.* 
		        FROM(SELECT * FROM PROMOTION_BOARD
		<include refid="pSelect" />
	<![CDATA[
			   ) A WHERE ROWNUM <= #{last}) 
	    WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 게시글 개수 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM PROMOTION_BOARD
	</select>
	
	<!-- 게시판 조회수 -->
	<update id="seeUp" parameterType="com.eventi.left.promotion.service.PromotionVO">
		UPDATE PROMOTION_BOARD SET
		SEE = SEE+1
		WHERE PRO_NO = #{proNo}
	</update>
	
	<!-- 게시글 상세조회 -->
	<select id="proDetail" resultType="com.eventi.left.promotion.service.PromotionVO">
		SELECT *
		FROM PROMOTION_BOARD
		WHERE PRO_NO  = #{proNo}
	</select>
	
	<!-- 게시글 시퀀스번호 찾기 -->
	<select id="getSeq" resultType="String">
		SELECT 'PB' || (MAX(TO_NUMBER(SUBSTR(PRO_NO,3)))+1) PRO_NO
		FROM PROMOTION_BOARD
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="proInsert">
		<selectKey keyProperty="proNo" resultType="String" order="BEFORE">
			SELECT 'PB' || (MAX(TO_NUMBER(SUBSTR(PRO_NO,3)))+1) PRO_NO
		FROM PROMOTION_BOARD
		</selectKey>
	
		INSERT INTO PROMOTION_BOARD
		(PRO_NO, USER_ID, E_NAME, E_SDAY, E_EDAY, LOC, INTRO, E_TYPE, ENTRANCE, ACCOMMODATE, IMG, SEE, DT) <!-- DB -->
		VALUES(#{proNo}, #{userId}, #{eName}, 
				#{eSday}, #{eEday}, #{loc}, #{intro}, #{eType}, #{entrance}, #{accommodate}, #{img}, #{see}, sysdate) <!-- VO -->
	</insert>
	
	<!-- 게시글 수정 proNo, userid, see (부분수정)-->
	<update id="proUpdate" parameterType="com.eventi.left.promotion.service.PromotionVO">
		UPDATE PROMOTION_BOARD
		SET 
		E_NAME = #{eName},
		E_SDAY = #{eSday},
		E_EDAY = #{eEday},
		LOC = #{loc},
		INTRO = #{intro},
		E_TYPE = #{eType},
		ENTRANCE = #{entrance},
		ACCOMMODATE = #{accommodate},
		IMG = #{img}	
		WHERE PRO_NO=#{proNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="proDelete">
		DELETE FROM PROMOTION_BOARD
		WHERE PRO_NO=#{proNo}
	</delete>
	
	<!-- 댓글 조회 -->
	<select id="proReply" resultType="com.eventi.left.reply.service.ReplyVO">
		SELECT *
		FROM REPLY
		WHERE BOARD_CAT = 'T02'
		AND REPLY_TGT = #{replyTgt}
	</select>
	
</mapper>