<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.promotion.mapper.PromotionBoardMapper">

	<!-- 홍보게시판 메인 -->
	<select id="proList" resultType="com.eventi.left.promotion.service.PromotionVO">
		SELECT PRO_NO, USER_ID, E_NAME, E_TYPE, IMG, SEE
		FROM PROMOTION_BOARD
	</select>
	
	<!-- 게시판 조회수 -->
	<update id="seeUp" parameterType="com.eventi.left.promotion.service.PromotionVO">
		UPDATE PROMOTION_BOARD SET
		SEE = SEE+1
		WHERE PRO_NO = #{proNo}
	</update>
	
	<!-- 게시글 상세조회 -->
	<select id="proDetail" resultType="com.eventi.left.promotion.service.PromotionVO">
		SELECT *
		FROM PROMOTION_BOARD
		WHERE PRO_NO  = #{proNo}
	</select>
	
	
	<!-- 게시글 등록 -->
	<insert id="proInsert">
		INSERT INTO PROMOTION_BOARD
		(PRO_NO, USER_ID, E_NAME, E_SDAY, E_EDAY, LOC, INTRO, E_TYPE, ENTRANCE, ACCOMMODATE, IMG, SEE) <!-- DB -->
		VALUES('PB'|| PROMOTION_BOARD_SEQ.NEXTVAL, #{userId}, #{eName}, 
				#{eSday}, #{eEday}, #{loc}, #{intro}, #{eType}, #{entrance}, #{accommodate}, #{img}, #{see}) <!-- VO -->
	</insert>
	
	<!-- 게시글 수정 proNo, userid, see (부분수정)-->
	<update id="proUpdate" parameterType="com.eventi.left.promotion.service.PromotionVO">
		UPDATE PROMOTION_BOARD
		SET 
		E_NAME = #{eName},
		E_SDAY = #{eSday},
		E_EDAY = #{eEday},
		LOC = #{loc},
		INTRO = #{intro},
		E_TYPE = #{eType},
		ENTRANCE = #{entrance},
		ACCOMMODATE = #{accommodate},
		IMG = #{img}	
		WHERE PRO_NO=#{proNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="proDelete">
		DELETE FROM PROMOTION_BOARD
		WHERE PRO_NO=#{proNo}
	</delete>
	
	<!-- 댓글 조회 -->
	<select id="proReply" resultType="com.eventi.left.reply.service.ReplyVO">
		SELECT *
		FROM REPLY
		WHERE BOARD_CAT = 'T06'
		AND REPLY_TGT = #{replyTgt}
	</select>
</mapper>