<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.notice.mapper.NoticeMapper">
<sql id="nSelect">
	<!-- 검색창 입력 시 -->
		<if test="ttl !=null and ttl != ''">
			AND ( TTL LIKE '%${ttl}%' OR NOTICE_CNTN LIKE '%${ttl}%' ) <!-- where or를 ()로 묶어야 밑으로 안감 and가 먼저  -->
		</if>
</sql>	
	<!-- 게시글 전체조회 -->
	<select id="noticeList" resultType="com.eventi.left.notice.service.NoticeVO">
		SELECT NOTICE_NO, TTL, DT, SEE
		FROM NOTICE
		<include refid="nSelect" />
		<!--	<![CDATA[
			   ) A WHERE ROWNUM <= #{last}) 
	    WHERE RN >= #{first}
		]]>-->
	</select>
	
	<!-- 게시글 개수 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM NOTICE
	</select>
	
	<!-- 게시글 시퀀스번호 찾기 -->
	<select id="getSeq" resultType="String">
		SELECT 'NO' || (MAX(TO_NUMBER(SUBSTR(NOTICE_NO,3)))+1) NOTICE_NO
		FROM NOTICE
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="nocInsert">
	<selectKey keyProperty="proNo" resultType="String" order="BEFORE">
			SELECT 'NO' || (MAX(TO_NUMBER(SUBSTR(NOTICE_NO,3)))+1) NOTICE_NO
		FROM NOTICE
	</selectKey>
		
		INSERT INTO NOTICE
		(NOTICE_NO, TTL, NOTICE_CNTN, DT, IMG, USER_ID) <!-- DB -->
		VALUES('NO'|| NOTICE_SEQ.NEXTVAL, #{ttl}, #{noticeCntn}, #{dt}, #{img}, #{userId}) <!-- VO -->
	</insert>
	
	<!-- 게시판 조회수 -->
	<update id="seeUp" parameterType="com.eventi.left.notice.service.NoticeVO">
		UPDATE NOTICE SET
		SEE = SEE+1
		WHERE NOTICE_NO  = #{noticeNo}
	</update>
	
	<!-- 게시글 상세조회 -->
	<select id="nocDetail" resultType="com.eventi.left.notice.service.NoticeVO">
		SELECT *
		FROM NOTICE
		WHERE NOTICE_NO  = #{noticeNo}
	</select>
	
	
	<!-- 게시글 수정 noticeNo, userid, see 제외-->
	<update id="nocUpdate" parameterType="com.eventi.left.notice.service.NoticeVO">
		UPDATE NOTICE
		SET 
		TTL = #{ttl},
		NOTICE_CNTN = #{noticeCntn},
		DT = #{dt},
		IMG = #{img}	
		WHERE NOTICE_NO=#{noticeNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="nocDelete">
		DELETE FROM NOTICE
		WHERE NOTICE_NO=#{noticeNo}
	</delete>
</mapper>