.find-trigger {
  font-weight: bold;
  color: black;
  padding: 15px 30px;
  border-radius: 10px;
  position: relative; 
  top: 50%;
  border:0;
  margin-left: 10px;
}

.btn-15 {
  background-image: linear-gradient(-225deg, #fceabb 0%, #FFDE59 100%);
  color:black;
  z-index: 1;
  height: 50px;
  margin-right: 10px;
  margin-top: 20px
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: white;
  border-radius:10px;
  transition: all 0.8s ease;
}
.btn-15:hover {
  border: 1px solid #FFDE59;
  border-radius:10px;
  color: black;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

/* 다른 색상 버튼 */
.btn-1 {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  color:black;
  z-index: 1;
  height: 50px;
  margin-right: 10px;
  margin-top: 20px
}
.btn-1:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: white;
  border-radius:10px;
  transition: all 0.8s ease;
}
.btn-1:hover {
  border: 1px solid rgba(2,126,251,1);
  border-radius:10px;
  color: black;
}
.btn-1:hover:after {
  left: 0;
  width: 100%;
}
.btn-1:active {
  top: 2px;
}

/*노랑색 버튼*/
.btn-2 {
  background-color: #FFDE59;
  color:black;
  z-index: 1;
  height: 50px;
  margin-right: 10px;
  margin-top: 20px
}
.btn-2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: white;
  border-radius:10px;
  transition: all 0.8s ease;
}
.btn-2:hover {
  border: 1px solid #FFDE59;
  border-radius:10px;
  color: black;
}
.btn-2:hover:after {
  left: 0;
  width: 100%;
}
.btn-2:active {
  top: 2px;
}