<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.resume.mapper.ResumeBoardMapper">
	
	<!-- 전체간단조회(메인구인게시판) -->
	<select id="getResumeList" resultType="com.eventi.left.resume.service.ResumeBoardVO">
		SELECT R.RESUME_NO, R.SEEKER_ID, R.SEEKER_CNTN, R.JOB_NO, J.USER_ID, R.HIRE 
		FROM RESUME_BOARD R, JOB_BOARD J
		WHERE R.JOB_NO = J.JOB_NO 
		AND J.JOB_NO IN (SELECT JOB_NO 
						FROM JOB_BOARD
						WHERE USER_ID = #{seekerId})
	</select>
	
	<!-- 전체간단조회(상세구인게시판) -->
	<select id="getResumeJob" resultType="com.eventi.left.resume.service.ResumeBoardVO">
		SELECT R.RESUME_NO, R.SEEKER_ID, R.SEEKER_CNTN, R.JOB_NO, J.USER_ID 
		FROM RESUME_BOARD R, JOB_BOARD J
		WHERE R.JOB_NO = J.JOB_NO 
		AND J.JOB_NO = #{jobNo}
	
	</select>
	
	<!-- 상세조회 -->
	<select id="getResumeDetail" resultType="com.eventi.left.resume.service.ResumeBoardVO"> 
		SELECT * 
		FROM RESUME_BOARD
		WHERE RESUME_NO = #{resumeNo}
	</select>
	
	
	<!-- 구직신청폼 이동 -->
	<select id="getApplyForm" resultType="com.eventi.left.resume.service.ResumeBoardVO"> 
		SELECT USER_NAME, USER_EMAIL, USER_PHONE 
		FROM MEMBERS
		WHERE USER_ID = #{userId}
	</select>
	
	<!-- 구직신청 -->
	<insert id="ApplyInsert">
		INSERT INTO RESUME_BOARD
		(RESUME_NO, SEEKER_ID, SEEKER_CNTN, JOB_NO, RESUME_CNTN, FILES, USER_NAME, USER_EMAIL, USER_PHONE) <!-- DB -->
		VALUES('RB'|| RESUME_BOARD_SEQ.NEXTVAL, #{seekerId}, #{seekerCntn}, 
				#{jobNo}, #{resumeCntn}, #{files}, #{userName}, #{userEmail}, #{userPhone}) <!-- VO -->
	</insert>
	
	<!-- 구직자 채용 -->
	<update id="hireUpdate" parameterType="com.eventi.left.resume.service.ResumeBoardVO">
		UPDATE RESUME_BOARD
		SET   HIRE = 'Y'
		WHERE RESUME_NO = #{resumeNo}
	</update>
	
	<!-- 구직자 미채용 -->
	<update id="unHireUpdate" parameterType="com.eventi.left.resume.service.ResumeBoardVO">
		UPDATE RESUME_BOARD
		SET HIRE = 'N'
		WHERE RESUME_NO = #{resumeNo}
	</update>
</mapper>