<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.resume.mapper.ResumeBoardMapper">

<sql id="search">
		<if test="title !=null and title != ''">
			AND TITLE LIKE '%'||#{title}||'%'  <!-- where or를 ()로 묶어야 밑으로 안감 and가 먼저  -->
		</if>
		<if test="cntn!=null and cntn!=null != ''">
			AND CNTN LIKE '%'||#{cntn}||'%'  
		</if>
</sql>
	
	<!-- 전체간단조회(메인구인게시판) -->
	<select id="getResumeList" resultType="com.eventi.left.resume.service.ResumeBoardVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (        
		SELECT R.RESUME_NO, R.SEEKER_ID, R.TITLE, R.JOB_NO, 
						(SELECT F.SEV_NM 
		                  FROM FILES F
		                   WHERE F.TARGET_ID = R.RESUME_NO
		                   AND ROWNUM=1) AS "IMG", J.USER_ID, R.HIRE  
				
				FROM RESUME_BOARD R, JOB_BOARD J
				WHERE R.JOB_NO = J.JOB_NO 
				AND J.JOB_NO IN (SELECT JOB_NO 
								FROM JOB_BOARD 
								WHERE USER_ID = #{seekerId})
		<![CDATA[
					   ) A WHERE ROWNUM <= #{last}) 
			    WHERE RN >= #{first}
		]]> 
	</select>
	
	<!-- 전체간단조회(상세구인게시판) -->
	<select id="getResumeJob" resultType="com.eventi.left.resume.service.ResumeBoardVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (                     
		SELECT R.RESUME_NO, R.SEEKER_ID, R.TITLE, R.JOB_NO, 
				(SELECT SEV_NM 
		          FROM FILES 
		          WHERE TARGET_ID = RESUME_NO
		         AND ROWNUM=1) AS "IMG", J.USER_ID 
				        
				FROM RESUME_BOARD R, JOB_BOARD J
				WHERE R.JOB_NO = J.JOB_NO 
				AND J.JOB_NO = #{jobNo}
				
				<![CDATA[
					   ) A WHERE ROWNUM <= #{last}) 
			    WHERE RN >= #{first}
			    ]]>
	</select>
	
	<!-- 게시글 개수 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM RESUME_BOARD
		WHERE JOB_NO = #{jobNo}
	</select>
	
	<!-- 상세조회 -->
	<select id="getResumeDetail" resultType="com.eventi.left.resume.service.ResumeBoardVO"> 
		SELECT * 
		FROM RESUME_BOARD
		WHERE RESUME_NO = #{resumeNo}
	</select>
	
	<!-- 댓글 조회 -->
	<select id="resReply" resultType="com.eventi.left.reply.service.ReplyVO">
		SELECT *
		FROM REPLY
		WHERE BOARD_CAT = 'T13'
		AND REPLY_TGT = #{replyTgt}
	</select>
	
	<!-- 구직신청폼 이동 -->
	<select id="getApplyForm" resultType="com.eventi.left.resume.service.ResumeBoardVO"> 
		SELECT USER_NAME, USER_EMAIL, USER_PHONE 
		FROM MEMBERS
		WHERE USER_ID = #{userId}
	</select>
	
	<!-- 게시글 시퀀스번호 찾기 -->
	<select id="getSeq" resultType="String">
		SELECT 'RB' || NVL((MAX(TO_NUMBER(SUBSTR(RESUME_NO,3)))+1),1) RESUME_NO
		FROM RESUME_BOARD
	</select>
	
	<!-- 구직신청 -->
	<insert id="ApplyInsert">
		<selectKey keyProperty="resumeNo" resultType="String" order="BEFORE">
		SELECT 'RB' || NVL((MAX(TO_NUMBER(SUBSTR(RESUME_NO,3)))+1),1) RESUME_NO
		FROM RESUME_BOARD
		</selectKey>
	
		INSERT INTO RESUME_BOARD
		(RESUME_NO, SEEKER_ID, TITLE, JOB_NO, CNTN, IMG, USER_NAME, USER_EMAIL, USER_PHONE, JOB_WRITER) <!-- DB -->
		VALUES(#{resumeNo}, #{seekerId}, #{title}, 
				#{jobNo}, #{cntn}, #{img}, #{userName}, #{userEmail}, #{userPhone}, #{jobWriter}) <!-- VO -->
	</insert>
	
	<!-- 구직자 채용 -->
	<update id="hireUpdate" parameterType="com.eventi.left.resume.service.ResumeBoardVO">
		UPDATE RESUME_BOARD
		SET   HIRE = 'Y'
		WHERE RESUME_NO = #{resumeNo}
	</update>
	
	<!-- 구직자 미채용 -->
	<update id="unHireUpdate" parameterType="com.eventi.left.resume.service.ResumeBoardVO">
		UPDATE RESUME_BOARD
		SET HIRE = 'N'
		WHERE RESUME_NO = #{resumeNo}
	</update>
	
	<!-- 마이페이지 내정보 조회 -->
	<select id="seekerInfo" resultType="com.eventi.left.resume.service.ResumeBoardVO">
		SELECT * 
		FROM (SELECT ROWNUM RN, A.* 
		       FROM(SELECT * FROM RESUME_BOARD
		WHERE SEEKER_ID = #{seekerId}
			<include refid="search" />
		<![CDATA[
			   ) A WHERE ROWNUM <= #{last}) 
	    WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 마이페이지 구직취소(삭제) -->
	<delete id="applyDelete">
		DELETE FROM RESUME_BOARD
		WHERE RESUME_NO= #{resumeNo}
	</delete>
</mapper>