<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.resume.mapper.ResumeBoardMapper">
	<select id="getResumeList" resultType="com.eventi.left.resume.service.ResumeBoardVO">
		SELECT *
		FROM RESUME_BOARD
	</select>

</mapper>