<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.admin.mapper.AdminMapper">

	<!-- 회원 검색 조건 -->
	<sql id="mSelect">
		<where>
			<!-- 회원등급별 정렬 -->
			<if test='auth eq "1".toString()'>
				AND USER_GRADE != 'ROLE_BUSI'
			</if>
			<if test='auth eq "2".toString()'>
				AND USER_GRADE = 'ROLE_BUSI'
			</if>

			<!-- 회원아이디 검색처리 -->
			<if test="userId != null and userId != ''">
				AND USER_ID LIKE '%'||#{userId}||'%'
			</if>

			<!-- 계정상태 정렬 -->
			<if
				test="userState != '' and userState != null and userState != 'Normal'">
				AND USER_STATE = #{userState}
			</if>
		</where>
	</sql>
	
	<!-- 자격증 검색 조건 (where) -->
	<sql id="cSelectw">
		<where>
			<!-- 승급유형별 정렬 -->
			<if test="crtfType != null and crtfType != ''">
				AND CRTF_TYPE = #{crtfType}
			</if>
			
			<!-- 승인상태별 정렬 -->
			<if test="accpYN != null and accpYN != ''">
				AND ACCP_YN = #{accpYN}
			</if>

			<!-- 회원아이디 검색처리 -->
			<if test="userId != null and userId != ''">
				AND USER_ID LIKE '%'||#{userId}||'%'
			</if>
		</where>
	</sql>
	
	<!-- 자격증 검색 조건 -->
	<sql id="cSelect">
			<!-- 승급유형별 정렬 -->
			<if test="crtfType != null and crtfType != ''">
				AND CRTF_TYPE = #{crtfType}
			</if>
			
			<!-- 승인상태별 정렬 -->
			<if test="accpYN != null and accpYN != ''">
				AND ACCP_YN = #{accpYN}
			</if>

			<!-- 회원아이디 검색처리 -->
			<if test="userId != null and userId != ''">
				AND USER_ID LIKE '%'||#{userId}||'%'
			</if>
	</sql>

	<!-- 전체 회원 조회 -->
	<select id="memberList" resultType="MemberVO">
		SELECT 	USER_ID,
				USER_PASSWORD,
				USER_EMAIL,
				USER_NAME NAME,
				USER_PHONE,
				USER_MESSAGING,
				USER_GRADE AUTH,
				RPRT,
				DEPOTR,
				BANK,
				ACCNT,
				USER_REGDATE,
				USER_STATE
		FROM 	(SELECT ROWNUM RN, A.*
				FROM 	(SELECT *
						FROM MEMBERS
						<include refid="mSelect" />
						ORDER BY USER_REGDATE DESC
			  	<![CDATA[
			  			) A 
			  	WHERE ROWNUM <= #{last}) 
		WHERE 	RN >= #{first}
			  	]]>
	</select>

	<!-- 조건별 회원정보 총 개수 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM MEMBERS
		<include refid="mSelect" />
	</select>

	<!-- 자격증 list -->
	<select id="certList" resultType="CrtfVO">
		SELECT 	CRTF_ID,
				USER_ID,
				CRTF_NAME,
				CRTF_NUM,
				ACCP_YN,
				CRTF_TYPE,
				ACCP_DATE,
				REQ_DATE
		FROM 	(SELECT ROWNUM RN, A.*
				FROM	(SELECT *
						FROM CERTIFICATE
						WHERE ACCP_YN = #{accpYN}
						<include refid="cSelect" />
						ORDER BY REQ_DATE DESC
			   <![CDATA[
			   			) A 
			  	WHERE ROWNUM <= #{last}) 
		WHERE RN >= #{first}
					]]>
	</select>

	<!-- 자격증 count -->
	<select id="certCount" resultType="int">
		SELECT COUNT(*)
		FROM CERTIFICATE
		<include refid="cSelectw" />
	</select>
	
	<!-- 자격증 update -->
	<update id="crtfUpdate">
		UPDATE CERTIFICATE
		SET ACCP_YN = #{accpYN}, ACCP_DATE = SYSDATE
		WHERE CRTF_ID = #{crtfId}
	</update>

	<!-- 공모전 count -->
	<select id="contCount" resultType="int">
		SELECT COUNT(*)
		FROM CONTEST
		WHERE (CASE WHEN DT_EXTNS IS NOT NULL THEN DT_EXTNS
            		ELSE DT_CLS
               END <![CDATA[) < SYSDATE]]>
	</select>
	
	<!-- 공모전 list -->
	<select id="contestList" resultType="hashmap">
		SELECT	C_NO cNo, 
        		PAY pay, 
        		WRITER writer, 
        		TTL ttl, 
        		TO_CHAR(DT_REG, 'YYYY-mm-dd') dtReg, 
        		TO_CHAR((CASE 	WHEN DT_EXTNS IS NOT NULL THEN DT_EXTNS
        				ELSE DT_CLS
        				END), 'YYYY-mm-dd') dtCls, 
        		(SELECT USER_ID
        		FROM WINNER
        		WHERE CO_NO = C_NO
        		AND GRADE = 1) AS firstId,
        		(SELECT USER_ID
        		FROM WINNER 
        		WHERE CO_NO = C_NO
        		AND GRADE = 2) AS secondId, 
        		(SELECT USER_ID
        		FROM WINNER w
        		WHERE CO_NO = C_NO
        		AND GRADE = 3) AS thirdId
		FROM	(SELECT ROWNUM RN, A.*
				FROM	(SELECT *
						FROM 	CONTEST
						WHERE 	(CASE WHEN DT_EXTNS IS NOT NULL THEN DT_EXTNS
            					ELSE DT_CLS
            					END<![CDATA[) < SYSDATE) A 
			  	WHERE ROWNUM <= #{last}) 
		WHERE RN >= #{first}]]>
	</select>
	
	<!-- 회원신고count -->
	<select id="punishCount" resultType="int">
		SELECT COUNT(*)
		FROM PUNISH
		WHERE BAN_TYPE = #{banType}
		<include refid="pSelect" />
	</select>
	
	<!-- 회원신고 조회 -->
	<select id="punishList" resultType="PunishVO">
	SELECT 	PUN_NO,
			USER_ID,
			TARGET_ID,
			(SELECT CODE_NAME
			FROM MNCODE
			WHERE CODE_ID = TARGET_CAT)	TARGET_CAT,
			DT,
			BAN_TYPE,
			BAN_CNTN,
			BAN_RSLT
	FROM 	(SELECT ROWNUM RN, A.*
			FROM	(SELECT *
					FROM PUNISH
					WHERE BAN_TYPE = #{banType}
					<include refid="pSelect" />
			<![CDATA[) A 
			WHERE ROWNUM <= #{last}) 
		WHERE RN >= #{first}]]>
	</select>
	
	<!-- 신고 where 조건 (where) -->
	<sql id="pSelect">
			<!-- 승급유형별 정렬 -->
			<if test="targetCat != null and targetCat != ''">
				AND TARGET_CAT = #{targetCat}
			</if>
			<!-- 회원아이디 검색처리 -->
			<if test="userId != null and userId != ''">
				AND (USER_ID LIKE '%'||#{userId}||'%'
					OR TARGET_ID LIKE '%'||#{userId}||'%')
			</if>
	</sql>
	
	<!-- 신고 타겟 코드 조회 -->
	<select id="getCat" resultType="CodeVO">
		SELECT CODE_ID, CODE_NAME
		FROM MNCODE 
		WHERE CL_ID = 'T'
		ORDER BY CODE_ID
	</select>
	
	<select id="punishBrdList" resultType="hashmap">
		SELECT	PUN_NO,
				USER_ID,
				TARGET_ID,
				TARGET_CAT,
				DT,
				BAN_TYPE,
				BAN_CNTN,
				BAN_RSLT
		FROM	(SELECT ROWNUM RN, A.*
				FROM	(SELECT *
						FROM 	PUNISH
						WHERE 	WHERE BAN_TYPE = #{banType}
						<include refid="pSelect" />
			   <![CDATA[) A 
			  	WHERE ROWNUM <= #{last}) 
		WHERE RN >= #{first}]]>
	</select>
	
</mapper>