<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<head>
	<style>
		.heart {
			width: 100px;
			height: 100px;
			background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
			background-position: 0 0;
			cursor: pointer;
			transition: background-position 1s steps(28);
			transition-duration: 0s;
		}

		.active {
			transition-duration: 1s;
			background-position: -2800px 0;
		}
	</style>

	<!-- csrf 설정 -->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content" class="content">
		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/images/board.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">블라인드게시판</h2>
                <th:block th:if="${type =='T04'}">
                	<div class="module-subtitle font-serif">자유게시판</div>
                </th:block>
                <th:block th:if="${type =='T05'}">
                	<div class="module-subtitle font-serif">멘토링게시판</div>
                </th:block>
              </div>
            </div>
          </div>
        </section>
	
	<div class="container">
	<button type="button" class="btn btn-primary" th:onclick="|location.href='@{bInsert(type=${type})}'|">글
		등록하기</button>

	<!-- 라디오 버튼 게시글별 정렬 -->
	<th:block th:if="${type =='T04'}">
		<input type="radio" name="lclsf" value="all" checked>전체
		<input type="radio" name="lclsf" value="genrl" th:checked="${bboardVO.lclsf=='genrl'}">일반
		<input type="radio" name="lclsf" value="reply" th:checked="${bboardVO.lclsf=='reply'}">후기
	</th:block>
	<th:block th:if="${type =='T05'}">
		<input type="radio" name="lclsf" value="all" checked>전체
		<input type="radio" name="lclsf" value="mc" th:checked="${bboardVO.lclsf=='mc'}">사회자
		<input type="radio" name="lclsf" value="dgner" th:checked="${bboardVO.lclsf=='dgner'}">디자이너
	</th:block>

	<!-- option 게시글별 조회수, 작성일순 정렬기준 -->
	<select id="order" name="order">
		<option value="dt" th:selected="${bboardVO.order=='dt'}">작성일순</option>
		<option value="inq" th:selected="${bboardVO.order=='inq'}">조회순</option>
		<option value="cnt" th:selected="${bboardVO.order=='cnt'}">좋아요순</option>
	</select>

	<!-- 게시글 검색 -->
	<input type="text" name="search">
	<input type="button" id="find" value="찾기">

	<!-- 좋아요 기능 -->
	<div class="stage">
		<div id="love" class="stage heart" th:classappend="${param.writer} !=null ? active"></div>
	</div>

	<!-- 게시글 리스트 -->
	<table class="table mb-3">
		<thead class="thead-dark">
			<tr>
				<th>게시판번호</th>
				<th>분류</th>
				<th:block th:if="${type =='T05'}">
				<th>중분류</th>
				</th:block>
				<th>작성자</th>
				<th>제목</th>
				<th>작성일자</th>
				<th>조회수</th>
				<th>좋아요수</th>
			</tr>
		</thead>
		<tbody id="check">
			<tr th:each="b : ${bList}" th:onclick="|location.href='@{bSelect(bBoardNo=${b.bBoardNo})}'|">
				<td th:text=${b.bBoardNo}></td>
				<!-- 대분류별 if문 처리 -->
				<td th:if="${b.lclsf} == 'genrl'" th:text="일반"></td>
				<td th:if="${b.lclsf} == 'reply'" th:text="후기"></td>
				<td th:if="${b.lclsf} == 'mc'" th:text="사회자"></td>
				<td th:if="${b.lclsf} == 'dgner'" th:text="디자이너"></td>
				
				<th:block th:if="${type =='T05'}">
				<!-- 중분류별 if문 처리 -->
				<td th:if="${b.mclsf} == 'contract'" th:text="계약"></td>
				<td th:if="${b.mclsf} == 'freelancer'" th:text="프리랜서"></td>
				<td th:if="${b.mclsf} == 'style'" th:text="스타일"></td>
				<td th:if="${b.mclsf} == 'advice'" th:text="조언"></td>
				<td th:if="${b.mclsf} == 'etc'" th:text="기타"></td>
				</th:block>
				
				<!-- 익명일 경우 처리 -->
				<td th:if="${b.ano} == 'N'" th:text=${b.writer}></td>
				<td th:if="${b.ano} == 'Y'" th:text=${b.checkano}></td>
				<td th:text=${b.ttl}></td>
				<td th:text="${#dates.format(b.dt, 'yyyy/MM/dd')}"></td>
				<td th:text=${b.inq}></td>
				<td th:text=${b.cnt}></td>
			</tr>
		</tbody>
	</table>

	<!-- 페이징 처리 -->
	<div class="row mt-5">
		<div class="col text-center">
			<div class="block-27">
				<th:block th:replace="fragments/paging :: component(${paging},'gopage')">
			</div>
		</div>
	</div>
	</div>
	
	<script>
		//csrf 설정
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		//페이지이동
		function gopage(i) {
			let userId = '[[${session.member.userId}]]';
			let lclsf = $("input[name=lclsf]:checked").val();
			let type = '[[${type}]]';
			let order = $("#order option:selected").val();
			//location.href = '/bboard/bList?type=T04&page=' + i;
			if ($("#love").hasClass("active")) { //하트가 눌렸을 경우 실행
				location.href = `/bboard/bList?lclsf=${lclsf}&type=${type}&order=${order}&writer=${userId}&page=` + i;
			} else if (!$("#love").hasClass("active")) {
				location.href = `/bboard/bList?lclsf=${lclsf}&type=${type}&order=${order}&page=` + i;
			}
		}

		//라디오 버튼 정렬 클릭시
		$("input:radio[name=lclsf]").click(function () {
			range();
		})

		//옵션 정렬 클릭시
		$('#order').change(function () {
			range();
		});

		//하트를 클릭했을 경우 발생하는 이벤트
		$(".heart").on("click", function () {
			//active 클래스가 없을 경우 생성, 있을 경우 삭제
			$(this).toggleClass("active");
			//하트 기준으로 리스트 정렬 함수
			range();
		});

		//검색 기능
		$('#find').click(function () {
			//정렬 기준
			let userId = '[[${session.member.userId}]]';
			let lclsf = $("input[name=lclsf]:checked").val();
			let search = $("input[name=search]").val();
			let order = $("#order option:selected").val();
			let type = '[[${type}]]';

			//get방식으로 보내기	
			if ($("#love").hasClass("active")) { //하트가 눌렸을 경우 실행
				location.href = `/bboard/bList?type=${type}&ttl=${search}&lclsf=${lclsf}&order=${order}&writer=${userId}`
			} else if (!$("#love").hasClass("active")) { //하트가 눌리지 않았을 경우 실행
				location.href = `/bboard/bList?type=${type}&lclsf=${lclsf}&order=${order}&ttl=${search}`
			}

			$("input[name=search]").val('');
		})

		//정렬 리스트 불러오는 함수
		function range() {
			//정렬 기준
			let userId = '[[${session.member.userId}]]';
			let lclsf = $("input[name=lclsf]:checked").val();
			let type = '[[${type}]]';
			let order = $("#order option:selected").val();

			//get방식으로 보내기	
			if ($("#love").hasClass("active")) { //하트가 눌렸을 경우 실행
				location.href = `/bboard/bList?lclsf=${lclsf}&type=${type}&order=${order}&writer=${userId}`
			} else if (!$("#love").hasClass("active")) { //하트가 눌리지 않았을 경우 실행
				location.href = `/bboard/bList?lclsf=${lclsf}&type=${type}&order=${order}`
			}
		}
	</script>
</div>
</html>