<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<head>
<style>
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  }
  
  .active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
  
  #modal {
			display: none;
			position: fixed;
			top: 25em;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			width: 100%;
		}

		#modal h2 {
			margin: 0;
		}

		#modal button {
			display: inline-block;
			width: 100px;
			border: 0.2px solid black;
			border-radius: 5px;
		}

		#modal .modal_content {
			width: 350px;
			min-height: 200px;
			margin: 0 auto;
			padding: 20px;
			background: #fff;
			border: 0.5px solid #666;
			border-radius: 15px;
		}

		#modal .modal_layer {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: -1;
		}

</style>

<!-- csrf 설정 -->
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<div layout:fragment="content">
   <section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
           <h2 class="module-title font-alt">Big Title</h2>
           <div class="module-subtitle font-serif">Small Title</div>
         </div>
       </div>
     </div>
   </section>
   
   <!-- 현재 로그인된 id와 작성자id가 동일할 경우 버튼 나타남 -->
   <th:block th:if="${session.member.userId} == ${bSelect.writer}">
   <button type="button" class="btn btn-primary" th:onclick="|location.href='@{bUpdate(bBoardNo=${bSelect.bBoardNo})}'|">글 수정하기</button>
   <button type="button" class="btn btn-primary" th:onclick="|location.href='@{bDelete(bBoardNo=${bSelect.bBoardNo}, type=${bSelect.type})}'|">글 삭제하기</button>
   </th:block>
   
   <!-- 신고하기 -->
   <button type="button" class="btn btn-primary" id="modalUp">신고하기</button>
   
   <!-- 해당 게시글에 좋아요를 눌렀을 경우에는 채워진 하트가 나타남 -->
   <th:block th:if="${like == null}">
   	<div class="stage">
  		<div class="stage heart"></div>
  		<span id="likeCount" th:text="${bSelect.cnt}"></span>
   	</div>
   </th:block>
   
   <th:block th:if="${like != null}">
   	<div class="stage">
  		<div class="stage heart active"></div>
  		<span id="likeCount" th:text="${bSelect.cnt}"></span>
   	</div>
   </th:block>
   
   <!-- 테이블 생성 -->
   <table class="table mb-3">
      <thead class="thead-dark">
         <tr>
            <th>게시판번호</th>   
            <th>작성자</th>   
            <th>제목</th>
            <th>내용</th>
            <th>조회수</th>
            <th>작성일자</th>
            <th>타입</th>   
         </tr>
      </thead>
      <tbody>
         <tr>
            <td id="bBoardNo" th:text=${bSelect.bBoardNo}></td>
            <td th:if="${bSelect.ano} == 'N'" th:text=${bSelect.writer}></td>
	        <td th:if="${bSelect.ano} == 'Y'" th:text=${bSelect.checkano}></td>
            <td th:text=${bSelect.ttl}></td>
            <td th:utext=${bSelect.cntn}></td>
            <td th:text=${bSelect.inq}></td>
            <td th:text="${#dates.format(bSelect.dt, 'yyyy/MM/dd')}"></td>
            <td id = "type" th:text=${bSelect.type}></td>
         </tr>
      </tbody>
   </table>
   	
   	<!-- 이미지 나타내기 -->	
	<div th:each="f : ${file}">
       <a th:href="|/fileView/${f.sevNm}|" class="image-popup prod-img-bg">
       <img th:src="|/fileView/${f.sevNm}|" style="width: 250px; height: 250px" class="img-fluid" alt="Colorlib Template"></a>
   	</div>

   <!-- 댓글 폼 -->
   <div>
    	<div class="pt-5 mt-5" >
          <h3 class="mb-5">댓글</h3>
          <ul class="comment-list" id=reply></ul>
        </div>
    </div>
    
    <!-- 댓글 작성 -->
    <form id="replyInsertFrm">
    	<textarea name="replyCntn" id="replyCntn" cols="30" rows="4" placeholder="댓글을 입력하세요."></textarea>
    	<button type="button" id="repInsertBtn">댓글추가</button>
    </form>
    
    <!-- 신고 등록 폼 -->
    <div id="modal">
			<div class="modal_content">
				<h2>신고</h2>
				<div id="box">
					<label>신고게시글</label>
					<input type="text" id="targetId" name="targetId" th:value="${bSelect.bBoardNo}" readonly><br>
					<label>신고자</label>
					<input type="text" id="userId" name="userId" th:value="${session.member.userId}"><br>
					<label>신고사유</label>
					<textarea rows="5" cols="30" id="banCntn" name="banCntn" placeholder="신고사유에 대해 작성해주세요."></textarea>
					<button type="button" id="cancel">취소</button>
					<button type="button" id="punish">신고</button>
				</div>
			</div>
		<div class="modal_layer"></div>
	</div>
   
   <script>
   $(function() {
	    //csrf 설정
	    var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		let userId = '[[${session.member.userId}]]';
		let type = '[[${bSelect.type}]]';
		let bBoardNo = '[[${bSelect.bBoardNo}]]';
		
		//댓글 불러오기
		$.ajax({
   			url : '/replyList',
   			method : 'post',
   			data : JSON.stringify({boardCat:type, replyTgt:bBoardNo}),
   			contentType : "application/json",
   			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            }
   		}).then(res => {
   			for(reply of res){
   				//댓글일 경우
   				if(reply.rerepTgt == null){
   					$("#reply").append(make(reply));
   				} else {
   					//대댓글일 경우, 대댓글의 경우 rerepTgt컬럼에 대댓글을 단 댓글 번호가 적혀있다.
   					//대댓글은 연관있는 댓글 바로 밑에 들어가야되기 때문에 댓글 생성시 id를 부여하여 rerepTgt이 댓글ID와 같은 번호가 적힌 댓글 밑으로 append한다.
   					$("#" + reply.rerepTgt).append(makeRe(reply));
   				}
   			}
   		})
		
   	//댓글 tr생성
   		function make(reply){
			let delBtn = '';
			let upBtn = '';
			let userId = '[[${session.member != null ? session.member.userId :''}]]';
			
			//댓글 작성자일 경우에만 삭제 버튼 생성
			if(reply.userId ==userId){
				delBtn = `<button class='repDelete'>삭제</button>`;
				upBtn = `<button class='repUpdate'>수정</button>`;
			}
			
   			let p = `
                  <li class="comment">
                    <div class="comment-body"  id="${reply.replyNo}">
                      <h3>${reply.userId}</h3>
                      <div class="meta">${reply.writingDt}</div>
                      <p>${reply.replyCntn}</p>
                      <button type="button" class="reply">Reply</button>
                      ${delBtn} ${upBtn}
                    </div>
                   </li>
                `
   			return p;
   		}
   		
   		//대댓글 tr생성
   		function makeRe(reply){
   			let delBtn = '';
			let upBtn = '';
			let userId = '[[${session.member != null ? session.member.userId :''}]]';
			
			//댓글 작성자일 경우에만 삭제 버튼 생성
			if(reply.userId ==userId){
				delBtn = `<button class='repDelete'>삭제</button>`;
				upBtn = `<button class='repUpdate'>수정</button>`;
			}
   			
   			//한 댓글당 대댓글은 한개만 달수 있기 때문에 댓글에 있는 reply 버튼 삭제
   			$("#" + reply.rerepTgt).children('button:eq(0)').remove();
   			
   			let p = `<ul class="children">
                <li class="comment">
                <div class="comment-body" id="${reply.replyNo}">
                  <h3>${reply.userId}</h3>
                  <div class="meta">${reply.writingDt}</div>
                  <p>${reply.replyCntn}</p>
                  ${delBtn} ${upBtn}
                </div>
              </li>
            </ul>`
            
            return p;
   		}

		//댓글 추가
		$("#repInsertBtn").on("click", function() {
			//textarea에 있는 값 들고 오기
			let replyCntn = $('#replyCntn').val();
			
			$.ajax({
	   			url : '/replyInsert',
	   			method : 'post',
	   			data : JSON.stringify({userId:userId, replyTgt:bBoardNo, replyCntn:replyCntn, boardCat:type}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            }
	   		}).then(res => {
	   			//댓글 부분에 등록하기
	   			$("#reply").append(make(res));
	   			$('#replyCntn').val('');
	   		})
		});
		
		//reply버튼을 클릭했을 경우 대댓글 입력 폼 생성
		$(document).on('click', '.reply', function(e){
		    e.preventDefault();
		    //대댓글을 작성할 replyNo 구하기
		    let rerepTgt = $(this).parent("div").attr('id');
		    //대댓글 입력할 수 있는 폼 생성
		  	$(this).parent("div").append(makeFrm(rerepTgt));
		  	
		  	//reply버튼 숨김
		  	$(this).hide();
		})
		
		//대댓글 입력 폼
		function makeFrm(rerepTgt) {
			let form = `<form>
				<input type="hidden" id="rerepTgt" name="rerepTgt" value="${rerepTgt}">
	            <textarea class="form-control" id="replyCntn" name="replyCntn" rows="3"></textarea>
	            <button type="button" id="rerepTgt" class="reply">답변</button>
	        </form>`
		    
		    return form;
		}
		
		//대댓글 추가
		$(document).on('click', '#rerepTgt', function(e){
			let replyCntn = $('#replyCntn').val();
			let rerepTgt = $('#rerepTgt').val();
			
			$(this).parent("form").remove();
			$.ajax({
	   			url : '/replyInsert',
	   			method : 'post',
	   			data : JSON.stringify({userId:userId, replyTgt:bBoardNo, replyCntn:replyCntn, boardCat:type, rerepTgt:rerepTgt}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            }
	   		}).then(res => {
	   			
	   			$("#" + res.rerepTgt).append(makeRe(res));
	   		})
		})
		
		//댓글 삭제
		$(document).on('click', '.repDelete', function(e){
			let btn=$(this);
			let replyNo = $(this).parent("div").attr('id');
			$.ajax({
				url : '/replyDelete',
				type : 'POST',
				data : {
					replyNo : replyNo
				},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
				},
				success : function(result){
					if(result ==1){
					btn.closest(".comment").remove();
				}
			}
		});		
	});
		
		//댓글 수정 폼으로 변경
		$(document).on('click', '.repUpdate', function(e){
			let replyNo = $(this).parent("div").attr('id');
			let p = $(this).parent("div").children("p").text();			
			$(this).parent().children('p').replaceWith("<div><input type='hidden' id='replyNo' name='replyNo' value='" + replyNo +"'></input> <input type='text' id='replyCntn' name='replyCntn' value='" + p + "'></input>");
			
			$(this).toggleClass("updateBtn");
		});
		
		//댓글 수정
		$(document).on('click', '.updateBtn', function(e){
			$(this).toggleClass("updateBtn");
			let btn = $(this);
			let replyCntn = $('#replyCntn').val();
			let replyNo = $('#replyNo').val();
			let updateBtn = `<button class='repUpdate'>수정</button>`;
			
			$.ajax({
				url : '/replyUpdate',
				type : 'POST',
				data : JSON.stringify({replyNo : replyNo, replyCntn : replyCntn}),
				contentType : "application/json",
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
				},
				success : function(result){
					btn.parent().children('div:eq(1)').replaceWith("<p>" + result.replyCntn + "</p>");
				}		
			})
		});
		
	   //좋아요를 눌렀을 경우
	   $(".heart").on("click", function() {
		 //클래스가 없을 경우 생성, 클래스가 있을 경우 삭제
	     $(this).toggleClass("active");
	     
	     //좋아요를 추가했을 경우
	     if($(this).hasClass("active")){
	    	 //총 좋아요수 처리
	    	 let likeCount = $('#likeCount').text();
	    	 $('#likeCount').text(parseInt(likeCount) + 1);
	    	 
	    	 //post방식으로 좋아요 등록하기
	    	 $.ajax({
					url : "/likes/lInsert",
					method : 'post',
					contentType : 'application/x-www-form-urlencoded',
					data : {userId:userId, targetNo:bBoardNo, category:type},
					beforeSend : function(xhr)
	                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	    				xhr.setRequestHeader(header, token);
	                },
					success : function(data) {
					},
					fail : function(result) {
						alert('필수항목을 입력해주세요')
					}
				})
	     } else if (!$(this).hasClass("active")){ //좋아요를 취소했을 경우
	    	 //총 좋아요수 처리
	    	 let likeCount = $('#likeCount').text();
	    	 $('#likeCount').text(parseInt(likeCount) - 1);
	    	 
	    	//post방식으로 좋아요 취소하기
	    	 $.ajax({
					url : "/likes/lDelete",
					method : 'post',
					contentType : 'application/x-www-form-urlencoded',
					data : {userId:userId, targetNo:bBoardNo, category:type},
					beforeSend : function(xhr)
	                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	    				xhr.setRequestHeader(header, token);
	                },
					success : function(data) {
						//alert('좋아요 취소 완료');
					},
					fail : function(result) {
						alert('필수항목을 입력해주세요')
					}
				})
	     }
	   });
	   
	   //신고부분
	   //신고 모달창 띄우기
	   $('#modalUp').on('click', function() {
		   console.log('클릭');
		   $("#modal").show();
	   })
	   
	   //모달창에서 취소를 눌렀을 경우
	   $("#cancel").on('click', function() {
			$("#modal").hide();
		});
	   
	   //모달창에서 신고를 눌렀을 경우
	   $("#punish").on('click', function() {
		   let targetId = $("#targetId").val();
		   let banCntn = $("#banCntn").val();
		   console.log(userId, targetId, banCntn, type);
		   
		    $.ajax({
					url : "/punishInsert",
					method : 'post',
					contentType : 'application/x-www-form-urlencoded',
					data : {userId:userId, targetId:bBoardNo, banCntn:banCntn, targetCat:type},
					beforeSend : function(xhr)
	                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
	    				xhr.setRequestHeader(header, token);
	                },
					success : function(data) {
						alert('신고되었습니다.');
						$("#modal").hide();
					},
					fail : function(result) {
						alert('필수항목을 입력해주세요')
					}
				})
	   })
	 });
   </script>
</div>
</html>