<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<head>
	<style>
		.fileDown{
			display : none;
		}
	</style>
</head>

<div layout:fragment="content">
	<section class="hero-wrap hero-wrap-2"
		style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text align-items-end justify-content-center">
				<div
					class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
					<th:block th:if="${bSelect.type =='T04'}">
						<h2 class="mb-0 bread">자유게시글 수정</h2>
					</th:block>
					<th:block th:if="${bSelect.type =='T05'}">
						<h2 class="mb-0 bread">멘토링게시글 수정</h2>
					</th:block>
				</div>
			</div>
		</div>
	</section>

	<div class="row no-gutters">
		<div class="col-md-7">
			<div class="contact-wrap w-100 p-md-5 p-4">
				<th:block th:if="${bSelect.type =='T04'}">
					<h3 class="mb-4">자유게시판 수정</h3>
				</th:block>
				<th:block th:if="${bSelect.type =='T05'}">
					<h3 class="mb-4">멘토링게시판 수정</h3>
				</th:block>
				<form action="/bboard/bUpdate" method="POST" id="bBoardForm" name="bBoardForm" class="contactForm" enctype="multipart/form-data">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="hidden" name="bBoardNo" id="bBoardNo" th:value="${bSelect.bBoardNo}">
								
								<label class="label" for="ttl">제목</label> 
								<input type="text" class="form-control" name="ttl" id="ttl" th:value="${bSelect.ttl}">
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="email">작성자</label> 
								<input type="email" class="form-control" name="writer" id="writer" th:value="${bSelect.writer}" readonly="readonly">
							</div>
						</div>
						
						<th:block th:if="${bSelect.type =='T04'}">
							<div class="col-md-12">
								<div class="form-group">
									<label class="label" for="lclsf">분류</label> 
									<input type="radio" name="lclsf"  th:attr="checked=${bSelect.lclsf == 'genrl' ? 'true' : 'false'}" onclick="return(false);">일반 
									<input type="radio" name="lclsf" th:attr="checked=${bSelect.lclsf == 'reply' ? 'true' : 'false'}" onclick="return(false);">후기
								</div>
							</div>
						</th:block>
			`			
						<th:block th:if="${bSelect.type == 'T05'}">
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="lclsf">직업</label> 
								<input type="radio" name="lclsf" th:attr="checked=${bSelect.lclsf == 'mc' ? 'true' : 'false'}" onclick="return(false);">사회자 
								<input type="radio" name="lclsf" th:attr="checked=${bSelect.lclsf == 'dgner' ? 'true' : 'false'}" onclick="return(false);">디자이너
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="mclsf">질문</label> 
								<select id="mclsf" name="mclsf" disabled>
									<option value="" disabled>질문내용을 선택해 주세요.</option>
									<option value="계약" th:attr="selected=${bSelect.mclsf == '계약' ? 'true' : 'false'}">계약</option>
									<option value="진행" th:attr="selected=${bSelect.mclsf == '진행' ? 'true' : 'false'}">진행</option>
									<option value="기타" th:attr="selected=${bSelect.mclsf == '기타' ? 'true' : 'false'}">기타</option>
								</select>
							</div>
						</div>
						</th:block>
,
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">내용</label>
								<textarea name="cntn" class="form-control" id="cntn" cols="30" rows="4" th:utext="${bSelect.cntn}"></textarea>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group" id="fileInsert">
								<!-- 이미지가 있을 경우와 없을 경우 if문으로 처리 -->
								<input type="file" id="imgInp" name="uploadFile" th:if="${bSelect.img == null}"/>
								<div th:if="${bSelect.img != null}">
									<img id="blah" th:src="@{/images/} + ${bSelect.img}" alt = "your image" width="250px" />
									<button type="button" id="cancel" class="btn btn-warning cancel">
						              <span>Cancel</span>
						          	</button>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" id="update" value="수정" class="btn btn-primary">
								<div class="submitting"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

		<script>
		//네이버 스마트에디터 생성
		let oEditors = []

		smartEditor = function() {
			console.log("Naver SmartEditor")
			nhn.husky.EZCreator.createInIFrame({
				oAppRef : oEditors,
				elPlaceHolder : "cntn",
				sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
				fCreator : "createSEditor2"
			})
		}

		$(document).ready(function() {
			smartEditor()
		})
		
		//파일 업로드 이미지 미리보기
	    //파일 INPUT창에 변화가 있을 경우 실행
	    $(document).on("change", "#imgInp", function() {
			$("#imgInp").toggleClass("fileDown");
	    	//파일을 다시 등록하는 과정에서 이미지 미리보기 부분이 사라지지 않아서 삭제처리
	    	//#imgInp의 바로 밑의 형제 삭제
	    	$("#imgInp").next().remove();
	    	
	    	//이미지 미리보기 생성
	    	let fileForm = `
				<div>
				<img id="blah" src="#" alt = "your image" width="250px" />
				<button type="button" id="cancel" class="btn btn-warning cancel">
	              <span>Cancel</span>
	          	</button>
			</div>`
	    	
	    	$("#fileInsert").append(fileForm);
	    	
			readURL(this);
		});
		
	    //이미지 미리보기 처리
		function readURL(input){
			if(input.files && input.files[0]){
				var reader = new FileReader();
				
				reader.onload = function(e) {
					$("#blah").attr('src', e.target.result);
				}
				
				reader.readAsDataURL(input.files[0]);
			}
		}
	    
	    //파일 삭제
	    $(document).on('click', "#cancel", function() {
	    	//파일 등록부분 모두 삭제 후 다시 생성
	    	$("#fileInsert").empty();
	    	
	    	let fileForm = `<input type="file" id="imgInp" name="uploadFile" />
				<div class="fileDown">
				<img id="blah" src="#" alt = "your image" width="250px" />
				<button type="button" id="cancel" class="btn btn-warning cancel">
	              <span>Cancel</span>
	          	</button>
			</div>`
	    	
	    	$("#fileInsert").append(fileForm);
	    })
		
	    //수정버튼을 눌렀을 경우 아래와 설정을 해주지 않을 경우 태그 속성이 저장되지 않는다.
		$('#update').on('click', function insert() {
			oEditors.getById["cntn"].exec("UPDATE_CONTENTS_FIELD", [])
			let cntn = document.getElementById("cntn").value;
			/*let bBoardNo = document.getElementById("bBoardNo").value;

			var data = $('form[name="bBoardForm"]').serializeArray();
			//공모전테이블 등록처리
			$.ajax({
				url : "/bboard/bUpdate",
				method : 'post',
				contentType : 'application/x-www-form-urlencoded',
				data : data,
				success : function(data) {
					alert('수정완료!');
					location.href = '/bboard/bSelect?bBoardNo=' + bBoardNo;
				},
				fail : function(result) {
					alert('필수항목을 입력해주세요')
				}
			})*/
		})
	</script>
</div>
</html>