<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
 
<div layout:fragment="content">
<style>
.ans{
	visibility: hidden;
}

</style> 
<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">공지사항</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>
 

<form method="post">


		<input type="text" title="검색">
		<input type="submit" value="검색">

<ul id="ul">
<th:block  th:each="faq : ${faqList}">
				<li><label th:text=${faq.faqNo}></label> 
				  	<label th:text=${faq.faqTtl} class="ttl"></label>
				  	<textarea cols="30" rows="5" th:text=${faq.faqAns} class="ans"  ></textarea>
				 </li>		
</th:block>
</ul>
</form>
		
<script>
	const ul = document.querySelector('#ul');
	ul.addEventListener('click', function (ev){
		ev.target.nextElementSibling.classList.toggle("ans")
	});
	
	
</script>
</div>
</html>