<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
 
<div layout:fragment="content">
<style>
.ans{
	visibility: hidden;
}

</style> 
<section id="picture "class="module bg-dark-60 gallery-page-header parallax-bg" 
		data-background="/images/que.jpeg" style="background-image: url(&quot;assets/images/que.jpeg&quot;); background-size: 100%;">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt" style="margin: 0;">공지사항</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
</section>
 

<!--<form method="post">


		<input type="text" title="검색">
		<input type="submit" value="검색">

<ul id="ul">
<th:block  th:each="faq : ${faqList}">
				<li><label th:text=${faq.faqNo}></label> 
				  	<label th:text=${faq.faqTtl} class="ttl"></label>
				  	<textarea cols="30" rows="5" th:text=${faq.faqAns} class="ans"  ></textarea>
				 </li>		
</th:block>
</ul>
</form>-->

		<div class="container">
            <div class="row mb-60">
              <div class="col-sm-8 col-sm-offset-2">
                
                <form action="/faqList">
                  <div class="search-box">
                    <input class="form-control" type="text" name="faqTtl" placeholder="검색...">
                    <button class="search-btn" type="submit" id="find" value="찾기"><i class="fa fa-search"></i></button>
                  </div>
                </form>
                <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{faqInsert}'|">글등록</button>
                <!--  <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{faqDelete(faqNo=${faq.faqNo})}'|">삭제</button>-->
                
                
              </div> 
            </div>
            <div class="row" >
            	
              <div class="col-sm-8 col-sm-offset-2" >
             	<input type="checkBox"  class="hire" id="allDelete" value="선택채용">
                <div role="tabpanel" >
                  <ul class="nav nav-tabs font-alt" role="tablist">
                    <li class="active"><a href="#support" data-toggle="tab"><span class="icon-tools-2"></span>support</a></li>
                  </ul>
                  <div class="tab-content" >
                    <div class="tab-pane active" id="support">
                      <div class="panel-group" id="accordion">
                        <div class="panel panel-default" th:each="faq, number : ${faqList}">

                          <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" th:href="|#support${number.count}|" aria-expanded="true" class="" th:text=${faq.faqTtl}>Support Question 1</a></h4>
                          </div>
                          <div class="panel-collapse collapse " th:id="|support${number.count}|" aria-expanded="true" style="">
                            <div class="panel-body" th:text=${faq.faqAns} id="ans">.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<script>
//csrf 설정
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

	$('.heading').on('click', function (ev){
		ev.target.nextElementSibling.classList.toggle("ans")
	});
	
	//검색기능

	$('#find').click(function() {
		//입력한 값 가져오기
		let search = $("input[name=search]").val();
		
		$.ajax({
			url : '/faqList',
			method : 'post',
			data : {faqTtl:search}, //title = search(title변수안에 data)
			beforeSend : function(xhr)
	        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
	        }
		}).then(res => {
			//tbody밑에 있는 데이터 지우기
			
			$("#check").empty();
			
			//tbody에 들어갈 tr 생성
			for(r of res){ //제목, 내용 검색 시
				//if(r.title.includes(search) || r.jobCntn.includes(search)){
					//alert(r.loc)
					$("#check").append(makeTr(r));
	   			//}
			}
		})
			
		$("input[name=search]").val('');
		})
	//tr 생성 함수
	function makeTr(r){
	console.log(r)
	let tr = `<tr onclick="location.href='/nocDetail?noticeNo=${r.noticeNo}'">
					<td>${r.noticeNo}</td>
					<td>${r.ttl}</td>
		 			<td>${r.dt}</td> 
					<td>${r.userId}</td>
			  </tr>`
	return tr;		
	}	
</script>
</div>
</html>