<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="adminSideFragment">
	<div class="admin_side_nav">
		<!-- <a href="/admin/adminMain"><b>메인</b></a> -->
		<a href="/admin/memberList"><b>전체회원정보</b></a>
		<a href="/admin/certList"><b>자격증승인</b></a>
		<a href="/admin/adminContest"><b>공모전상금정산</b></a>
		<a href="/admin/adminBanMem"><b>신고회원관리</b></a>
		<a href="/admin/adminBanBrd"><b>신고게시글관리</b></a>
		<a href="/admin/adminMoney"><b>회계관리</b></a>
	</div>
</div>

</html>