<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layouts/default_layout}" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/assets/css/adminSideBar.css">

<div th:fragment="adminSideFragment">
	<div class="admin_side_nav">
	  <a href="#">메인</a>
	  <a href="#">회원관리</a>
	  <a href="#">회원관리</a>
	  <a href="#">신고회원관리</a>
	  <a href="#">신고게시글관리</a>
	  <a href="#">공모전관리</a>
	  <a href="#">회계관리</a>
	</div>
</div>
</html>