<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="footerFragment">
  <div class="module-small bg-dark">
    <div class="container">
      <div class="row" style="display: flex;justify-content: space-around;">
        <div class="col-sm-3">
          <div class="widget">
            <h5 class="widget-title font-alt">About EVENTI</h5>
            <p>Phone: 010-3670-5890</p>
            <p>Email: tpgns5890@naver.com</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="widget">
            <h5 class="widget-title font-alt">Recent Comments</h5>
            <ul class="icon-list">
              <li>CSH on Designer Desk Essentials</li>
              <li>SJE on Realistic Business Card Mockup</li>
              <li>KKM on Eco bag Mockup</li>
              <li>BSB on Bottle Mockup</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="widget">
            <h5 class="widget-title font-alt">Categories</h5>
            <ul class="icon-list">
              <li><a href="/estList">견적</a></li>
              <li><a href="/contest/List">공모전</a></li>
              <li><a href="/design/designList">포트폴리오</a></li>
              <li><a href="/jobList">구인구직</a></li>
              <li><a href="/proList">홍보게시판</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider-d">
  <footer class="footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="copyright font-alt">© 2023&nbsp;<a href="/">EVENTI</a>, All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>

</html>