<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">EVENTI</a>
      </div>
      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">견적</a>
            <ul class="dropdown-menu">
              <li class="dropdown"><a class="dropdown" href="/estForm">견적작성</a></li>
              <li class="dropdown"><a class="dropdown" href="/estList">견적게시판</a>
            </li></ul>
          </li>
          <li class="dropdown"><a href="#">대여</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">포트폴리오</a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown"><a class="dropdown" href="/prtfl/mcList">사회자</a></li>
              <li class="dropdown"><a class="dropdown" href="/design/designList">디자인</a></li>
              <li class="dropdown"><a class="dropdown" href="/prtfl/busiList">행사업체</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/contest/List">공모전</a></li>
          <li class="dropdown"><a href="/jobList">구인구직</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">게시판</a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown"><a class="dropdown" href="/bboard/bList?type=T04">자유게시판</a></li>
              <li class="dropdown"><a class="dropdown" href="/bboard/bList?type=T05">멘토링게시판</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/proList">홍보게시판</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">공지사항</a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown"><a class="dropdown" href="/nocList">공지사항</a></li>
              <li class="dropdown"><a class="dropdown" href="product-single.html">Q&amp;A</a></li>
              <li class="dropdown"><a class="dropdown" href="/faqList">FAQ</a></li>
            </ul>
          </li>
		  <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/myPage/test" class="nav-link">My</a></li>
          <li>
            <div class="reg">
						<input type="button" th:onclick="|location.href='@{/memQualification}'|" sec:authorize='!isAuthenticated()' value="회원가입"/>
						<input type="button" th:onclick="|location.href='@{/loginPage}'|" sec:authorize='!isAuthenticated()' value="로그인"/>
						<form method="post" action="../logout"	sec:authorize="isAuthenticated()">
							<input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" />
							<input type="submit" value="로그아웃"/>
						</form>
					</div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

</html>