<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<div th:fragment="myPageSide">

	<div id="wrapper">
		<div class="topbar" style="position: absolute; top: 0;">
			<!-- 왼쪽 메뉴 -->
			<div class="left side-menu">
				<div class="sidebar-inner">
					<div id="sidebar-menu">
						<ul>
							<li class="has_sub"><a href="javascript:void(0);"
								class="waves-effect"> <i class="fas fa-bars"></i>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 왼쪽 서브 메뉴 -->
			<div class="left_sub_menu">
				<div class="sub_menu">
					<h2 id="mypage_h2"></h2>
					<ul class="big_menu">
						<li>내정보관리<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
							<li><a href="/myPage/userMypage">회원정보조회</a></li>
							<li><a href="/myPage/userUpgradeForm">승급신청</a></li>
						</ul>
					</ul>
					<ul class="big_menu">
						<li>공모전관리<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
							<li><a href="/contest/mySelect">공모전리스트</a></li>
							<li><a href="/design/designMypage">응모리스트</a></li>
							<li><a href="/contest/like">관심리스트</a></li>
							<li><a href="/contest/qnaList">문의내역</a></li>
						</ul>
					</ul>
					<ul class="big_menu">
						<li>견적/제안서<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
						</ul>
					</ul>
					<ul class="big_menu">
						<li>의뢰내역<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
								<li><a th:href="|/casting/mcCastingList?userId=${session.member.userId}|">사회요청내역</a></li>
								<li><a th:href="|/casting/mcCastingList?clientId=${session.member.userId}|">의뢰내역</a></li>
				
						</ul>
					</ul>
					<ul class="big_menu">
						<li>구인구직<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
							<li><a href="/myJobList">구인게시글 관리</a></li>
							<li><a href="/seekerInfo">구직신청내역</a></li>
						</ul>
					</ul>
					<ul class="big_menu">
						<li>홍보게시판<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
								<li><a href="/myProList">홍보게시글 관리</a></li>
						</ul>
					</ul>
					<ul class="big_menu">
						<li>블라인드게시판<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
								<li><a href="/bboard/myBlist">나의 게시글</a></li>
						</ul>
					</ul>
					<ul class="big_menu">
						<li>사회자포트폴리오<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
							<li><a href="/prtfl/mcInsert">사회자포트폴리오 등록</a></li>
							<li><a th:href="|/prtfl/mcSelect?userId=${session.member.userId}|">사회자포트폴리오</a></li>
							<li><a th:href="|/move/moveList?userId=${session.member.userId}|">동영상모음</a></li>
						</ul>
					</ul>
					<ul class="big_menu">
						<li>디자이너포트폴리오<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
							<li><a href="/prtfl/dgnerInsert">디자이너포트폴리오 등록</a></li>
							<li><a th:href="|/prtfl/dgnerSelect?userId=${session.member.userId}|">디자이너포트폴리오</a></li>
							<li><a href="/design/myDesignInsert">디자인 등록</a></li>
						</ul>
					</ul>
					<ul class="big_menu">
						<li>업체포트폴리오<i class="arrow fas fa-angle-right"></i></li>
						<ul class="small_menu">
								<li><a href="/prtfl/busiInsert">업체포트폴리오 등록</a></li>
								<li><a th:href="|/prtfl/busiSelect?userId=${session.member.userId}|">업체포트폴리오</a></li>
								<li><a href="/rent/rentGdList">물품리스트</a></li>
								<li><a href="/eventImg/eventImgList">행사사진 리스트</a></li>
						</ul>
					</ul>			
				</div>
			</div>
		</div>
	</div>
	<script>
	change();
	
		$(function() {
			$(".has_sub").click(function() {
				$(".left_sub_menu").fadeToggle(300);
			});
			// 왼쪽메뉴 드롭다운
			$(".sub_menu ul.small_menu").hide();
			$(".sub_menu ul.big_menu").click(function() {
				$("ul", this).slideToggle(300);
			});
		});
		
		 function change(){
			 console.log($('h2').text());
			$('#mypage_h2').empty();
			$('#mypage_h2').html($('h2').text());
		}
	</script>
</div>
</html>