/* 세션 크기 */
.module, .module-small {
	padding: 70px 0;
}

.content-box-title {
	margin: 0 auto !important;
}

ul {
	padding: 0px;
	list-style: none;
}

.contestDiv {
	height: 100vh;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 140px;
}

.designDiv {
	height: 100vh;
	margin: 100px 20px 0 20px;
}

.contest {
	height: 100vh;
	margin: 100px auto;
	margin-left: 270px;
	margin-bottom: 50px;
}

.designReadList {
	width: 100%;
	margin: 120px auto;
	margin-left: 170px;
	margin-bottom: 50px;
}

.contestLikeDiv {
	margin: 50px 50px 50px 270px;
}

#boxList {
	margin: 0 auto;
	margin-top: 50px;
	margin-left: 370px;
	margin-bottom: 50px;
}

#contestDList {
	margin: 10px auto 0 150px;
}

#designList {
	margin: 10px auto 50px 320px;
}

#d2_margin {
	margin-left: 50px;
}

#likeList {
	margin: 0px auto;
	width: 1270px;
}

#likeList .shop-item {
	position: relative;
	text-align: center;
	margin: 0 0 50px;
	top: -80px;
}
/* 페이징 */
.block-27 {
	width: 100%;
}

#paging {
	width: 100%;
}

/* 테이블 */
#table  tr:hover {
	background: #f2f7fc;
}

#table {
	margin: 10px auto;
	width: 90%;
	text-align-last: center;
	border-collapse: collapse;
}

#table thead th {
	background-color: #FAB955;
	padding: 7px 0px;
	text-align: center;
	font-weight: border;
	font-size: 16px;
	color: black;
	text-transform: uppercase;
}

#table tbody td {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	font-weight: 300;
	font-size: 14px;
	color: black;
	text-align: center
}

#deleteBtn {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 165px;
}

#search {
	padding-top: 10px;
	margin: 10px auto;
	width: 90%;
}

#search .form-control {
	display: inline-block;
	width: 10%;
	height: 35px !important;
	font-size: 16px !important;
}

label {
	display: inline-block;
	text-align: center;
	width: 40px;
	font-weight: bold;
	font-size: 18px;
}

input[type="text"] {
	width: 200px;
	padding: 5px;
	margin: px;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 35px;
}

.inputBtn, .delBtn, #searchBtn {
	font-size: 16px;
	height: 30px;
}

.btn, #deleteBtn {
	margin: 5px;
}

.col text-center {
	width: 1500px;
	margin-left: 400px;
}

/* 사이드바 메뉴  */
.side-menu {
	top: 50px;
	width: 45px;
	z-index: 10;
	background: black;
	bottom: 50px;
	height: 100%;
	margin-bottom: -70px;
	margin-top: 0px;
	padding-bottom: 70px;
	position: fixed;
}

.sidebar-inner {
	height: 100%;
	padding-top: 30px;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
	border: 0;
	font-weight: normal;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
}

#sidebar-menu>ul>li a {
	color: #fff;
	font-size: 16px;
	display: block;
	padding: 14px 0px;
	margin: 0px 0px 0px 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	width: 28px;
	cursor: pointer;
}

#sidebar-menu .fas {
	padding-left: 6px;
}

/* 사이드 메뉴 */
.left_sub_menu {
	position: fixed;
	top: 50px;
	width: 200px;
	z-index: 10;
	left: 45px;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	bottom: 50px;
	height: 100%;
	margin-bottom: -70px;
	margin-top: 0px;
	padding-bottom: 0px;
	color: black;
}

.sub_menu {
	margin-top: 50px;
}

.left_sub_menu>.sub_menu li:hover {
	background-color: #eee;
}

.left_sub_menu>.sub_menu li {
	color: #333;
	font-size: 17px;
	font-weight: 600;
	padding: 20px 0px 8px 14px;
	border-bottom: 1px solid #e1e1e1;
}

.sub_menu>h2 {
	padding-bottom: 4px;
	border-bottom: 3px solid #797979;
	margin-top: 30px;
	font-size: 21px;
	font-weight: 600;
	color: #333;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'NotoKrB';
	line-height: 35px;
}

.sub_menu .fas {
	color: #ff5858;
	font-size: 20px;
	line-height: 20px;
	float: right;
	margin-right: 20px;
}

.sub_menu>.big_menu>.small_menu li {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 0px solid #e1e1e1;
	margin-left: 14px;
	padding-top: 8px;
}

.big_menu {
	cursor: pointer;
}

ul {
	padding-inline-start: 0px;
}

a {
	color: #797979;
	text-decoration: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.has_sub {
	width: 100%;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

.hide_sidemenu {
	display: none;
}

/* 페이징 */
.page-link {
	cursor: pointer;
}