<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.common.mapper.CodeMapper">
	
	<select id="codeSelect" resultType="string">
		select code_select(#{code})
		FROM DUAL
	</select>
	
	<select id="getCountry" resultType="CodeVO">
		SELECT CODE_ID, CODE_NAME
		FROM MNCODE 
		WHERE CL_ID = 'A'
	</select>
	
	<select id="getType" resultType="CodeVO">
		SELECT CODE_ID, CODE_NAME
		FROM MNCODE 
		WHERE CL_ID = 'E'
	</select>
	
	<select id="getMcStyle" resultType="CodeVO">
		SELECT CODE_ID, CODE_NAME
		FROM MNCODE 
		WHERE CL_ID = 'ST'
	</select>
	
	<select id="getContestStyle" resultType="CodeVO">
		SELECT CODE_ID, CODE_NAME
		FROM MNCODE 
		WHERE CL_ID = 'DS'
	</select>
	
</mapper>