<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.money.mapper.MoneyMapper">
	
	<select id="moneyList" resultType="MoneyVO">
		SELECT MO_NUM,BANK_NAME,BANK_ACCOUNT,MO_TYPE,MO_PRICE,USER_ID,PAY_NO,SETT_YN,TARGET_ID
		FROM MONEY
	</select>
	
	<select id="userMoneyList" resultType="MoneyVO">
		SELECT MO_NUM,BANK_NAME,BANK_ACCOUNT,MO_TYPE,MO_PRICE,USER_ID,PAY_NO,SETT_YN,TARGET_ID
		FROM MONEY
		where user_id = #{userId}
	</select>
	
	<select id="oneMoneySelect" resultType="MoneyVO">
		SELECT MO_NUM,BANK_NAME,BANK_ACCOUNT,MO_TYPE,MO_PRICE,USER_ID,PAY_NO,SETT_YN,TARGET_ID
		FROM MONEY
		where target_id = #{targetId}
	</select>
	
	<insert id="insertMoney">
		insert into money(mo_num,
							bank_name,
							bank_account,
							mo_type,
							mo_price,
							user_id,
							pay_no,
							sett_yn,
							target_id)
			values(
					money_seq.nextval,
			        #{bankName},
			        #{bankAccount},
			        #{moType},
			        #{moPrice},
			        #{userId},
			        #{payNo},
			        #{settYN},
			        #{targetId}
	       		 )
	</insert>
	
	<update id="updateMoney">
		update money
		set sett_yn =  #{settYN}
		where MO_NUM = #{moNum}
	</update>
	
</mapper>