<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.eventi.left.questions.mapper.QuestionsMapper">

	<select id="questionsList" resultType="QuestionsVO">
		select * 
		from Questions
		where category = #{category}
		and target_id = #{targetId}
	</select>
	
	<insert id="questionsInsert">
		insert into QUESTIONS(Q_NO,USER_ID,TARGET_ID,TTL,CNTN,WRITING_DT,SECRET_YN,CATEGORY,REREP_TGT)
		values('QU'||qno_seq.NEXTVAL,
				#{userId},
				#{targetId},
				#{Ttl},
				#{Cntn},
				#{writingDt},
				#{secretYn},
				#{category},
				#{rerepTgt}
				)
	</insert>
	
	<update id="questionsUpdate">
	
	</update>
	
	<delete id="questionsDelete">
	
	</delete>

</mapper>