<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
   
<div layout:fragment="content">

<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">상세조회</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
</section>
	
   <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <img src="images/image_1.jpg" alt="" class="img-fluid">  
            <h2 class="mb-3 mt-5" th:text=${proDetail.proNo} id="proNo"></h2>
            <h2 class="mb-3" th:text=${proDetail.eName}></h2>
            <p th:text=${proDetail.userId}></p>
			<p th:text=${proDetail.eSday}></p>
				<p th:text=${proDetail.eEday}></p>
				<p th:text=${proDetail.loc}></p>
				<p th:text=${proDetail.intro}></p>
				<p th:text=${proDetail.eType}></p>
				<p th:text=${proDetail.entrance}></p>
				<p th:text=${proDetail.accommodate}></p>
				<p th:text=${proDetail.img}></p>
				<p th:text=${proDetail.see}></p>
			
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link" th:onclick="|location.href='@{proUpdate(proNo=${proDetail.proNo})}'|">수정</a>
                <a href="#" class="tag-cloud-link" th:onclick="|location.href='@{proDelete(proNo=${proDetail.proNo})}'|">삭제</a>
              </div>
            </div>
            
<!-- 댓글 -->
            
            <div class="pt-5 mt-5">
              <h3 class="mb-5">6 Comments</h3>
              <ul class="comment-list" id=reply>
              </ul>
             </div>
             
              <!-- <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div> 
            </div>-->
  
<!-- 댓글 끝-->    
        <!--   </div> .col-md-8
          <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="fa fa-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div> -->
             

<!--             <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                    <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                    <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="fa fa-calendar"></span> Apr. 18, 2020</a></div>
                    <div><a href="#"><span class="fa fa-user"></span> Admin</a></div>
                    <div><a href="#"><span class="fa fa-comment"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">counsel</a>
                <a href="#" class="tag-cloud-link">problem</a>
                <a href="#" class="tag-cloud-link">family</a>
                <a href="#" class="tag-cloud-link">personal</a>
                <a href="#" class="tag-cloud-link">business</a>
                <a href="#" class="tag-cloud-link">computer</a>
                <a href="#" class="tag-cloud-link">house</a>
                <a href="#" class="tag-cloud-link">technology</a>
              </div>
            </div> -->

         <!--    <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div> -->
         

        </div>
      </div>
      </div>
    </section> <!-- .section -->
    
<script>
//csrf 설정
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

//해당 포트폴리오 작성자에 대한 댓글을 가져오기 위해 replyTag에 proNo를 구해준다.
let replyTag = $('#proNo').text();
	//alert(replyTag);
	
	//댓글, 대댓글 불러오는 ajax
	 $.ajax({
		url : '/proReply', //controller에서 설정한 경로
		method : 'post',
		data : JSON.stringify({replyTgt:replyTag}),
		contentType : "application/json",
		beforeSend : function(xhr)
        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			xhr.setRequestHeader(header, token);
        }
		
	}).then(res => {
		for(reply of res){
			//댓글일 경우
			if(reply.rerepTgt == null){
				$("#reply").append(make(reply));
			} else { //대댓글일 경우
				$("#" + reply.rerepTgt).append(makeRe(reply));
			}
		}
	})
	
	 //댓글 tr생성
	function make(reply){
		let btn = ''; 
		let userId = '[[${session.member != null ? session.member.userId :''}]]';
		if(reply.userId ==userId){
			btn = `<button class='repDelete' href="${reply.replyNo}">삭제</button>`			
		}
		let p =`<li class="comment">
			<div class="comment-body" id="${reply.replyNo}">
			<h3>${reply.userId}</h3>
            <div class="meta">${reply.writingDt}</div>
            <p>${reply.replyCntn} ${btn}</p>
            <p><a href="#" class="reply">Reply</a></p>
			</div>
			</li>`
		
		return p;
	}
	 $(document).on('click', '.repDelete', function(e){
			let btn=$(this);
			let replyNo = $(this).attr("href");	
			$.ajax({
				data : {
					replyNo : replyNo
				},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
				},
				url : '/replyDelete',
				type : 'POST',
				success : function(result){
					if(result ==1){
					btn.parentsUntil(".comment").remove();
				
				}
			}
		});		
	});
	
	
	
	//대댓글 tr생성
	//한 댓글당 대댓글은 한개만 달수 있기 때문에 댓글에 있는 reply 버튼 삭제
	function makeRe(reply){
		$("#" + reply.rerepTgt).children('p:eq(1)').remove();
		
		let p = `<ul class="children">
        <li class="comment">
        <div class="comment-body">
          <h3>${reply.userId}</h3>
          <div class="meta">${reply.writingDt}</div>
          <p>${reply.replyCntn}</p>
          <p><a href="#" class="reply">Reply</a></p>
        </div>
      </li>
    </ul>`
    
    return p; 
	}
	
	//댓글삭제
	
</script>
</div>
</html>