<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/default_layout}">
<head>
<link rel="stylesheet" href="/css/contest/button.css"><!--버튼 스타일 -->
<script src="https://kit.fontawesome.com/a532c3d0aa.js" crossorigin="anonymous"></script>
<style>
.fa-user{
font-size: 35px;
}
.container {
    width: 60% !important;
}
p{
	font-size: 18px;
	font-weight: blod;
	margin-bottom: 30px;
}
h4 {
    margin: 30px 0 20px;
}
.promotionBtn,#liCntn,#liQuestions,#lientry{
	z-index: 1 ;
}
#menu{
    margin-top: 30px;
}
.container .topBox{
    padding: 20px;
    box-shadow: 2px 10px 9px 5px rgb(0 0 0 / 4%);
    border-radius: 20px;
    padding-top: 20px;
    height: 610px;
}
#showBox{
	padding: 5px 50px;
	 height: 610px;
}
button {
      all: unset;
      background-color: #FAB955;
      color: white;
      padding: 5px 25px;
      border-radius: 10px;
      cursor: pointer;
   }
/* 버튼 */

</style>
</head>
<body>
<div layout:fragment="content">

<section id="picture "class="module bg-dark-60 gallery-page-header parallax-bg" 
		data-background="/images/promotion.jpg" style="background-image: url(&quot;assets/images/promotion.jpg&quot;); background-size: 100%;">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt" style="margin: 0;">상세조회</h2>
              </div>
            </div>
          </div>
</section>

	<!-- 게시물 -->
	<div class="container">
    	<div class="row topBox"> 
			<div class="col-lg-6 mb-5 ftco-animate fadeInUp ftco-animated">
			<!-- 이미지 출력 -->
			 <img th:src="|/fileView/${proDetail.img}|" style="width: 500px; height: 570px" class="img-fluid" alt="Colorlib Template">		
			</div>
			
		<div id="showBox" class="col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated">
			<div id="show"></div>
				<!-- 제목 -->
				<div style="height: 50px;">
					<h2 th:text=${proDetail.eName} style="display: inline-block; margin-right: 5px;"></h2>
					<!-- 조회수 -->
						<span style='font-size: 30px;'>&#128065;</span>
						<span id="see" th:text="${proDetail.see}"></span>
				</div>
				<h4 th:text="|글번호: ${proDetail.proNo}|" id="proNo"></h4>
				<h4 th:text="|작성자: ${proDetail.userId}|"></h4>
				<h4 th:utext="|정보: ${proDetail.intro}|"></h4>
		<div>
			<p th:text="|행사유형: ${proDetail.eType}|"></p>
		</div>
		<div>
			<p th:text="|위치: ${proDetail.loc}|"></p>
		</div>
		<div>
			<p th:text="|작성날짜: ${#dates.format(proDetail.dt, 'yyyy-MM-dd')}|"></p>
		</div>
      	<!-- 현재 로그인된 id와 작성자id가 동일할 경우 버튼 나타남 -->
			<th:block th:if="${session.member} and ${session.member.userId} == ${proDetail.userId}">
				<div class="promotionBtn_user">
					<a href="#" class="w-btn w-btn-gra1"
						th:onclick="|location.href='@{proUpdate(proNo=${proDetail.proNo})}'|">수정</a>
					<a href="#" class="w-btn w-btn-gra1"
						th:onclick="|location.href='@{proDelete(proNo=${proDetail.proNo})}'|">삭제</a>
				</div>
			</th:block>	
		</div>
	</div>        
						
	<div class="comments"  id=reply sec:authorize="isAuthenticated()">
		<h4 class="comment-title font-alt">There are comments</h4>
         <div class="comment clearfix">
              <div class="comment-avatar"><div class="icon"><i class="fa-solid fa-user"></i></div></div>
             	 <div class="comment-content clearfix">
	                <div class="comment-author font-alt"><a href="#">댓글을 입력하세요.</a></div>
	                <!-- <form action="replyInsert"> -->
						<textarea name="replyCntn" id="replyCntn" rows="4" cols="80"></textarea>
						<button class="button post-button "type="button" th:id="replyInsertBtn">작성</button>
	              <!-- 	</form> -->
                </div>
           </div>
    </div> 
    
		<div>
			<div class="block-27" id="returnPaging" style="width: 100px; margin: 0 auto"></div>
		</div>
		</div>
<script>
//csrf 설정
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	let userId = '[[${session.member != null ? session.member.userId :''}]]'; //누가 작성했는지 db에 보냄
	let proNo = '[[${proDetail.proNo}]]';
	let boardCat = 'T02';
	
	//댓글 불러오는 ajax
	 $.ajax({
		url : '/replyList', //controller에서 설정한 경로
		method : 'post',
		data : JSON.stringify({replyTgt:proNo, boardCat:boardCat}),
		contentType : "application/json",
		beforeSend : function(xhr)
        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			xhr.setRequestHeader(header, token);
        }
	}).then(res => {
		for(reply of res){
			console.log(reply)
			//댓글일 경우
			if(reply.rerepTgt == null){
				$("#reply").append(make(reply));
			} else { //대댓글일 경우
				$("#" + reply.rerepTgt).append(makeRe(reply));
			}
		}
	})
	
	 //댓글 tr생성
	function make(reply){
		let delbtn = '';
		let upBtn = '';
		let userId = '[[${session.member != null ? session.member.userId :''}]]';
		
		if(reply.userId ==userId){
			delbtn = `<button class='repDelete' style="margin:-10px">삭제</button>`;
			upBtn = `<button class='repUpdate' style="margin:8px">수정</button>`;
		}
		
		let p =`
			<div class="comment">
				<div class="comment-body" id="${reply.replyNo}">
				<h3>${reply.userId}</h3>
	            <div class="meta">${reply.writingDt}</div>
	            <p style="height: 10px; margin: 5px;">${reply.replyCntn}</p>
	            <button type="button" class="reply" style="margin:8px">Reply</button>
	            ${delbtn} ${upBtn}
				</div>
			</div>`
		
		return p;
	}
	//대댓글 tr생성
	function makeRe(reply){
		let delBtn = '';
		let upBtn = '';
		let userId = '[[${session.member != null ? session.member.userId :''}]]';
		
		//댓글 작성자일 경우에만 삭제 버튼 생성
		if(reply.userId ==userId){
			delbtn = `<button class='repDelete'>삭제</button>`;
			upBtn = `<button class='repUpdate'>수정</button>`;
		}
		//한 댓글당 대댓글은 한개만 달수 있기 때문에 댓글에 있는 reply 버튼 삭제
		$("#" + reply.rerepTgt).children('button:eq(0)').remove();
		
	let p = `
		<div class="children">
	        <div class="comment">
		        <div class="comment-body"  id="${reply.replyNo}">
		          <h3>${reply.userId}</h3>
		          <div class="meta">${reply.writingDt}</div>
		          <p style="margin: 0px;">${reply.replyCntn}</p>
		          ${delBtn} ${upBtn}
		        </div>
	      </div>
	    </div>`
    
    return p; 
	}
	
	//댓글 추가
	$("#replyInsertBtn").on("click", function(){
		//textarea에 있는 값 들고 오기
		console.log('클릭')
		let replyCntn = $('#replyCntn').val();
		console.log(replyCntn)
		
		$.ajax({
			url : '/replyInsert', //controller에서 설정한 경로
			method : 'post',
			data : JSON.stringify({replyTgt:proNo, userId:userId, replyCntn:replyCntn, boardCat:boardCat}),
			contentType : "application/json",
			beforeSend : function(xhr)
	        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
	        }
		}).then(res => {
				//댓글등록
				$('#reply').append(make(res));
				//내용 비워주기
				$('#replyCntn').val('');
		})
	});
	
	//reply버튼을 클릭했을 경우 대댓글 입력 폼 생성
	$(document).on('click', '.reply', function(e){
		e.preventDefault();
		//대댓글을 작성할 replyNo 구하기
		let rerepTgt = $(this).parent("div").attr('id');
		//대댓글 폼 생성
		$(this).parent("div").append(makeFrm(rerepTgt));
		//reply버튼 숨김
		$(this).hide();
	})
	
	//대댓글 폼
	function makeFrm(rerepTgt){
		let form = 
			`<form>
				<input type= "hidden" id="rerepTgt" name="rerepTgt" value="${rerepTgt}">
				<textarea class="form-control" id="cntn" name="cntn" rows="3"></textarea>
				<button type="button" id="rerepTgt" class="reply">답변</button>
			</form>`
					
		return form;
	}	
	
	//대댓글 추가
	$(document).on('click', '#rerepTgt', function(e){
		let cntn = $('#cntn').val();
		let rerepTgt = $('#rerepTgt').val();
		
		$(this).parent("form").remove();
		$.ajax({
   			url : '/replyInsert',
   			method : 'post',
   			data : JSON.stringify({replyTgt:proNo, userId:userId, replyCntn:cntn, boardCat:boardCat, rerepTgt:rerepTgt}),
   			contentType : "application/json",
   			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            }
   		}).then(res => {
   			
   			$("#" + res.rerepTgt).append(makeRe(res));
   		})
	})
	
	//댓글 삭제
	$(document).on('click', '.repDelete', function(e){
		let btn=$(this);
		let replyNo = $(this).parent("div").attr('id');
		$.ajax({
			url : '/replyDelete',
			type : 'POST',
			data : {
				replyNo : replyNo
			},
			beforeSend: function (xhr) {
				/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
			},
			success : function(result){
				if(result ==1){
				btn.closest(".comment").remove();
			}
		}
	});		
});
	
	//댓글 수정 폼으로 변경
	$(document).on('click', '.repUpdate', function(e){
		let replyNo = $(this).parent("div").attr('id');
		let p = $(this).parent("div").children("p").text();			
		$(this).parent().children('p').replaceWith("<div><input type='hidden' id='replyNo' name='replyNo' value='" + replyNo +"'></input> <input type='text' id='replyCntn' name='replyCntn' value='" + p + "'></input>");
		
		$(this).toggleClass("updateBtn");
	});
	
	//댓글 수정
	$(document).on('click', '.updateBtn', function(e){
		$(this).toggleClass("updateBtn");
		let btn = $(this);
		let replyCntn = btn.closest(".comment-body").find('#replyCntn').val();
		let replyNo = $('#replyNo').val();
		let updateBtn = `<button class='repUpdate'>수정</button>`;
		
		$.ajax({
			url : '/replyUpdate',
			type : 'POST',
			data : JSON.stringify({replyNo : replyNo, replyCntn : replyCntn}),
			contentType : "application/json",
			beforeSend: function (xhr) {
				/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token); //403오류, type post일때 넣기
			},
			success : function(result){
				btn.parent().children('div:eq(1)').replaceWith("<p>" + result.replyCntn + "</p>");
			}		
		})
	});
</script>
</div>
</body>
</html>