<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
<section class="hero-wrap hero-wrap-2"
      style="background-image: url(&quot;images/bg_2.jpg&quot;); background-position: 50% 0%;"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
         <div
            class="row no-gutters slider-text align-items-end justify-content-center">
            <div
               class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
               <h2 class="mb-0 bread"></h2>
            </div>
         </div>
      </div>
   </section>

  <section class="module" id="team">
  <!-- 게시글 검색 -->
  <form action="/proList" id="searchForm">
	<input type="text" name="eName" >
	<input type="submit" id="find" value="찾기">

<label>행사유형</label>
<select id="etype" name="eType"  onchange="order()">
		<option value="" selected>------</option>
		<option value="E00" th:selected="${promotionVO.eType=='E00'}" >기타</option>
		<option value="E01" th:selected="${promotionVO.eType=='E01'}" >결혼식</option>
		<option value="E02" th:selected="${promotionVO.eType=='E02'}" >돌잔치</option>
		<option value="E03" th:selected="${promotionVO.eType=='E03'}" >개인행사</option>
		<option value="E04" th:selected="${promotionVO.eType=='E04'}" >기업행사</option>
		<option value="E05" th:selected="${promotionVO.eType=='E05'}" >각종축제</option>
		<option value="E06" th:selected="${promotionVO.eType=='E06'}" >기념식</option>
		<option value="E07" th:selected="${promotionVO.eType=='E07'}" >가요제</option>
		<option value="E08" th:selected="${promotionVO.eType=='E08'}" >플리마켓</option>
		<option value="E09" th:selected="${promotionVO.eType=='E09'}" >체육대회</option>
		<option value="E10" th:selected="${promotionVO.eType=='E10'}" >단합행사</option>
		<option value="E11" th:selected="${promotionVO.eType=='E11'}" >세미나</option>
		<option value="E12" th:selected="${promotionVO.eType=='E12'}" >포럼</option>
		<option value="E13" th:selected="${promotionVO.eType=='E13'}" >워크샵</option>
		<option value="E14" th:selected="${promotionVO.eType=='E14'}" >전시회</option>
		<option value="E15" th:selected="${promotionVO.eType=='E15'}" >박람회</option>
		<option value="E00" th:selected="${promotionVO.eType=='E00'}" >기타</option>
	</select> 

<!-- 게시글 정렬기준 -->
<label>정렬기준</label>
	<select id="see" name="orderCol" onchange="order()">
		<option value="" selected>------</option>
		<option value="dt">작성순</option>
		<option value="see">조회수</option>
	</select>	
	</form>
  <button class="btn btn-d btn-circle" type="button" onclick="proInsert()"><i class="fa fa-heart" ></i> 게시글등록</button>
  
          <div class="container" >
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt" id="check">홍보게시판</h2>
                <div class="module-subtitle font-serif">원하는 유형의 글을 조회하고 참여해보세요.</div>
              </div>
            </div>
            <div class="row">
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" th:each="pro : ${proList}" onclick="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="team-item" id="check" > 
                  <div class="team-image" th:onclick="|location.href='@{proDetail(proNo=${pro.proNo})}'|"> <img th:src="|/fileView/${pro.img}|" style="width: 250px; height: 250px" class="img-fluid" alt="Colorlib Template">
                    <div class="team-detail" > 										
                      <h5 class="font-alt" th:text=${pro.proNo}>Hi all</h5>
                      <p class="font-serif" th:text=${pro.eType}></p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-role" th:text=${pro.eName}>Art Director</div>
                    <div class="team-name" th:text=${pro.see}>조회수</div>
                  </div>
                  
                </div>
              </div>
             
            </div>
          </div>
          
          <div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		               <th:block th:replace="fragments/paging :: component(${paging},'gopage')">
		            </div>
		          </div>
		        </div>
		        
		<!-- 이미지 나타내기 -->	
					<div th:each="f : ${file}">
				     <!-- <a th:href="|/fileView/${f.sevNm}|" class="image-popup prod-img-bg"> --> 
				       <img th:src="|/fileView/${f.sevNm}|" style="width: 250px; height: 250px" class="img-fluid" alt="Colorlib Template"></a>
				   	</div>
          
        </section>
    <!--</section>-->
<script>
//정렬
function order(){
let etype = $("#etype").val(); //공통으로 씀 
	location.href=`/proList?eType=${etype}`
}

//csrf 설정
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

link1 = 'proInsert'; //구인등록폼 이동
function proInsert(){
	location.href = link1;
}
//페이징
function gopage(i) {
    console.log(i);
    location.href = '/proList?page=' + i;
}
//정렬
	function order(){
		//let etype = $("#etype").val(); //공통으로 씀
		let param = $("#searchForm").serialize()
		location.href=`/proList?${param}`
	}

//검색기능
	$('#find').click(function() {
		//입력한 값 가져오기
		let search = $("input[name=search]").val();
		
		$.ajax({
			url : '/proList',
			method : 'post',
			data : {eName:search}, //title = search(title변수안에 data)
			beforeSend : function(xhr)
	        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
	        }
		}).then(res => {
			//tbody밑에 있는 데이터 지우기
			
			$("#check").empty();
			
			//tbody에 들어갈 tr 생성
			for(r of res){ //제목, 내용 검색 시
				//if(r.title.includes(search) || r.jobCntn.includes(search)){
					//alert(r.loc)
					$("#check").append(makeTr(r));
	   			//}
			}
		})
			
		$("input[name=search]").val('');
		})
	//tr 생성 함수
	function makeTr(r){
	console.log(r)
	let tr = `<tr onclick="location.href='/proDetail?proNo=${r.proNo}'">
					<td>${r.proNo}</td>
					<td>${r.eName}</td>
		 			<td>${r.etype}</td> 
					<td>${r.userId}</td>
			  </tr>`
	return tr;		
}	
	
	
</script>	
</div>

</html>