<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.job.mapper.JobBoardMapper">
	<select id="getJobList" resultType="com.eventi.left.job.service.JobBoardVO">
		SELECT *
		FROM JOB_BOARD
	</select>

	<select id="getJob" resultType="com.eventi.left.job.service.JobBoardVO">
		SELECT *
		FROM JOB_BOARD
		WHERE JOB_NO  = #{jobNo}
	</select>
	
	<update id="getJobUpdate" parameterType="com.eventi.left.job.service.JobBoardVO">
		UPDATE JOB_BOARD
		SET JOB_CNTN = #{jobCntn},
		PAY = #{pay},
		LOC = #{loc},
		E_TYPE = #{eType},
		W_SDAY = #{wSday},
		W_EDAY = #{wEday},
		W_HOUR = #{wHour},
		QUALIFICATION = #{qualification},
		PREFERENCE = #{preference},
		IMG = #{img}	
		WHERE JOB_NO=#{jobNo}
	</update>
	
</mapper>