<!DOCTYPE html>
<!-- 타임리프 세팅해야 사용가능  -->
<html xmlns:th = "http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

   <table>
      <thead>
         <tr>
            <th>사원번호</th>   
            <th>이름</th>   
            <th>성</th>   
         </tr>
      </thead>
      <tbody>
         <tr th:each="emp : ${empList}">
            <td th:text=${emp.employeeId}></td>
            <td th:text=${emp.firstName}></td>
            <td th:text=${emp.lastName}></td>
            <td th:text=${emp.hireDate}></td>
         </tr>
      </tbody>
   </table>
</body>
</html>