<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
	<div class="hero-wrap"
		style="background-image: url('https://wallpaperbat.com/img/161854-edm-festival-wallpaper.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-8 ftco-animate d-flex align-items-end">
					<div class="text w-100 text-center">
						<h1 class="mb-4">
							Good <span>Price</span> for Good <span>Events</span>.
						</h1>
						<p>
							<a href="/" class="btn btn-primary py-2 px-4">견적 내기</a> <a
								href="#" class="btn btn-white btn-outline-white py-2 px-4">Read
								more</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>This is Content</h2>
	<hr>
	<hr>
	<hr>

	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
</div>

</html>