<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
   
   <head>
<style>
#modal {
	display: none;
	position: fixed;
	top: 25em;
	left: 0; width : 100%;
	height: 100%;
	z-index: 1;
	width: 100%;
	
}

#modal h2 {
	margin: 0;
}

#modal button {
	display: inline-block;
	width: 100px;
	border: 0.2px solid black;
	border-radius:5px;
}

#modal .modal_content {
	width: 350px;
    min-height: 200px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	border: 0.5px solid #666;
    border-radius: 15px;
}

#modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

#modal_login_btn{
	background:#2fb380;
}
#button_box{
	display:flex;
	margin-top: 40px;
	justify-content: flex-end;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  }
  
  .active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }

</style>
</head>
<body>
<div layout:fragment="content">

<<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">게시판 상세조회</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>
<button type="button" class="btn btn-outline-primary" 
		th:onclick="|location.href='@{resumeJob(jobNo=${job.jobNo})}'|">신청자조회</button>
		
<button type="button" class="btn btn-outline-primary" 
		th:onclick="|location.href='@{jobUpdate(jobNo=${job.jobNo})}'|">수정</button>
		 
<button type="button" class="btn btn-outline-primary" 
		th:onclick="|location.href='@{jobDelete(jobNo=${job.jobNo})}'|">삭제</button>		
		
<button type="button" class="btn btn-outline-primary" 
		th:onclick="|location.href='@{ApplyForm(jobNo=${job.jobNo})}'|">구직신청</button>

<th:block th:if ="${like == null}">		
<div class="stage">
  		<div id="love" class="stage heart"></div>
</div>
</th:block>

<th:block th:if ="${like != null}">		
<div class="stage">
  		<div id="love" class="stage heart active"></div>
</div>
</th:block>	
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-wallet"></span></div>
                  <h3 class="count-to font-alt" th:data-countto="${job.pay}" th:text="${job.pay}"></h3>
                  <h5 class="count-title font-serif">수당</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-profile-male"></span></div>
                  <h3 class="count-to font-alt" th:data-countto="${job.reCount}" th:text="${job.reCount}"></h3>
                  <h5 class="count-title font-serif">지원자수</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-calendar"></span></div>
                  <h3 class="count-to font-alt" th:data-countto="${job.remain}" th:text="|${job.remain} 일전|"></h3>
                  <h5 class="count-title font-serif">마감일</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-heart"></span></div>
                  <h3 class="count-to font-alt" th:data-countto="${job.cnt}"  th:text=${job.cnt}></h3>
                  <h5 class="count-title font-serif">좋아요수</h5>
                </div>
              </div>
            </div>
          </div>

	<table class="table mb-3" >
	<thead class="thead-dark">
         <tr>   
            <th>구인게시글번호</th>
            	<th>제목</th>
				<th>내용</th>
				<th>위치</th>
				<th>행사유형</th>
				<th>근무시작일</th>
				<th>근무종료일</th>
				<th>근무시간</th>
				<th>자격</th>
				<th>우대사항</th>
				<th>이미지</th>
				<th>회원ID</th>
				<th>작성날짜</th>  
         </tr>
      </thead>
      <tbody>
         <tr>
         		<td th:text=${job.title}></td>
				<td th:text=${job.jobNo}></td>
				<td th:text=${job.jobCntn}></td>
				<td th:text=${job.loc}></td>
				<td th:text=${job.eType}></td>
				<td th:text=${job.wSday}></td>
				<td th:text=${job.wEday}></td>
				<td th:text=${job.wHour}></td>
				<td th:text=${job.qualification}></td>
				<td th:text=${job.preference}></td>
				<td th:text=${job.img}></td>
				<td th:text=${job.userId}></td>
				<td th:text="${#dates.format(job.dt, 'yyyy/MM/dd')}"></td>
			</tr>
      </tbody>
      
   </table>
   <div id="modal">
		<div class="modal_content">
			<h1>등록완료!</h1>
			<div id="button_box">
				<button type="button" id="modal_close_btn">닫기</button>
			</div>
		</div> 
		<div class="modal_layer"></div>
	</div>
	
	<!-- 이미지 나타내기 -->	
			<div th:each="f : ${file}">
				 <!-- <a th:href="|/fileView/${f.sevNm}|" class="image-popup prod-img-bg"> --> 
				 <img th:src="|/fileView/${f.sevNm}|" style="width: 250px; height: 250px" class="img-fluid" alt="Colorlib Template"></a>
			</div>
<script>
//script에서 th값 가져올때는 <!--/*[[]]*/*/-->대괄호 쓰기!

//csrf 설정
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

 $(function(){
	let result = '[[${result}]]' 
	if(result !="") {
		$("#modal").show();
	}	
}) 
/*모달 창 닫기*/
			$("#modal_close_btn").on('click', function() {
				$("#modal").hide();
			});
			
			
			//좋아요를 눌렀을 경우
			   $(".heart").on("click", function() {
				 //클래스가 없을 경우 생성, 클래스가 있을 경우 삭제
			     $(this).toggleClass("active");
			     let userId = '[[${session.member.userId}]]';
			     let targetNo = '[[${job.jobNo}]]';
			     let category = "T03";
			     
			     //좋아요를 추가했을 경우
			     if($(this).hasClass("active")){
			    	 //총 좋아요수 처리
			    	//let likeCount = $('#likeCount').text();
			    	// $('#likeCount').text(parseInt(likeCount) + 1);
			    	 
			    	 //post방식으로 좋아요 등록하기
			    	 $.ajax({
							url : "/likes/lInsert",
							method : 'post',
							contentType : 'application/x-www-form-urlencoded',
							data : {userId, targetNo, category},
							beforeSend : function(xhr)
			                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			    				xhr.setRequestHeader(header, token);
			                },
							success : function(data) {
								//alert('좋아요 등록 완료');
							},
							fail : function(result) {
								alert('필수항목을 입력해주세요')
							}
						})
			     } else if (!$(this).hasClass("active")){ //좋아요를 취소했을 경우
			    	 //총 좋아요수 처리
			    	// let likeCount = $('#likeCount').text();
			    	// $('#likeCount').text(parseInt(likeCount) - 1);
			    	 
			    	//post방식으로 좋아요 취소하기
			    	 $.ajax({
							url : "/likes/lDelete",
							method : 'post',
							contentType : 'application/x-www-form-urlencoded',
							data : {userId, targetNo},
							beforeSend : function(xhr)
			                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			    				xhr.setRequestHeader(header, token);
			                },
							success : function(data) {
								//alert('좋아요 취소 완료');
							},
							fail : function(result) {
								alert('필수항목을 입력해주세요')
							}
						})
			     }
			   });
			
</script>
</div>
</body>
</html>