<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
<div layout:fragment="content">

<section class="hero-wrap hero-wrap-2 mb-4 "
      style="background-image: url(&quot;images/bg_2.jpg&quot;); background-position: 50% 0%;"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
         <div
            class="row no-gutters slider-text align-items-end justify-content-center">
            <div
               class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
               <h2 class="mb-0 bread">구인게시판 상세조회</h2>
            </div>
         </div>
      </div>
   </section>
<button type="button" class="btn btn-outline-primary" th:myName = "${job.jobNo}" 
	th:onclick="jobViewOne(this.getAttribute('myName'))">신청자조회</button>
	 <table class="table mb-3" >
	<thead class="thead-dark">
         <tr>
            <th>구인게시글번호</th>
				<th>내용</th>
				<th>수당</th>
				<th>위치</th>
				<th>행사유형</th>
				<th>근무시작일</th>
				<th>근무종료일</th>
				<th>근무시간</th>
				<th>자격</th>
				<th>우대사항</th>
				<th>이미지</th>
				<th>회원ID</th>
				<th>관심수</th> 
         </tr>
      </thead>
      <tbody>
         <tr th:each="job : ${jobDetail}" >
				<td th:text=${job.jobNo}></td>
				<td th:text=${job.jobCntn}></td>
				<td th:text=${job.pay}></td>
				<td th:text=${job.loc}></td>
				<td th:text=${job.eType}></td>
				<td th:text=${job.wSday}></td>
				<td th:text=${job.wEday}></td>
				<td th:text=${job.wHour}></td>
				<td th:text=${job.qualification}></td>
				<td th:text=${job.preference}></td>
				<td th:text=${job.img}></td>
				<td th:text=${job.userId}></td>
				<td th:text=${job.interest}></td>
			</tr>
      </tbody>
   </table>
<script>
link1 = 'jobViewOne?jobNo='; //구직신청자 조회(한 게시물에 신청)
function jobViewOne(jobNo){
	location.href = link1+jobNo;
}
</script>
</div>
</html>