<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">



<head>
<style>
.label{
color: black;
}
#modal {
			display: none;
			position: fixed;
			top: 25em;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			width: 100%;

		}

		#modal h2 {
			margin: 0;
		}

		#modal button {
			display: inline-block;
			width: 100px;
			border: 0.2px solid black;
			border-radius: 5px;
		}

		#modal .modal_content {
			width: 350px;
			min-height: 200px;
			margin: 0 auto;
			padding: 20px;
			background: #fff;
			border: 0.5px solid #666;
			border-radius: 15px;
		}

		#modal .modal_layer {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: -1;
		}

		#modal_login_btn {
			background: #2fb380;
		}

		#button_box {
			display: flex;
			margin-top: 40px;
			justify-content: flex-end;
		}
</style>
</head>
<div layout:fragment="content">
<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">게시글 등록 </h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>

	<div class="row no-gutters">
		<div class="col-md-7">
			<div class="contact-wrap w-100 p-md-5 p-4">
				<h3 class="mb-4">구인게시글 작성</h3>
				<form action="/jobInsert" method="POST" id="jobInsert" name="jobInsert"
					class="contactForm" enctype="multipart/form-data"> <!-- 파일 -->
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<input type="button" id="saveFile" value="불러오기" class="btn btn-primary">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="ttl">제목</label> 
									<input type="text" class="form-control" name="title" id="title" >
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">내용</label>
								<textarea name="jobCntn" class="form-control" id="jobCntn" cols="30" rows="4"></textarea>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">수당</label>
								<input type="number" class="form-control" name="pay" id="pay" >
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">위치</label>
								<textarea name="loc" class="form-control" id="loc" cols="30" rows="4" ></textarea>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">행사유형</label> 
								<select id="eType" name="eType">
									<option value="">행사유형을 선택해 주세요.</option>
									<option th:each="type : ${types}" th:value="${type?.codeId}" th:text="${type?.codeName}"></option>
								</select>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">근무시작일</label>
								<input type="date" name="wSday" id="wSday">
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">근무종료일</label>
								<input type="date" name="wEday" id="wEday">
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">근무시간</label>
								<input type="number" name="wHour" id="wHour">
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">자격</label>
								<textarea name="qualification" class="form-control" id="qualification" cols="30" rows="4" ></textarea>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">우대사항</label>
								<textarea name="preference" class="form-control" id="preference" cols="30" rows="4" ></textarea>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">마감일</label>
								<input type="date" name="closeDt" id="closeDt">
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<input type="file" id="imgInp" name="uploadFile" multiple="multiple"/>
								<div class="fileDown">
									<img id="blah" src="#" alt = "your image" width="250px" />
									<button type="button" id="cancel" class="btn btn-warning cancel">
						              <span>Cancel</span>
						          	</button>
								</div>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="userId">회원ID</label>
								<input type="text" class="form-control" name="userId" id="userId" th:value="${session.member.userId}" readonly>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" id="insert" value="등록"
									class="btn btn-primary">
									<input type="checkbox" id="save" name="save" th:value="N" class="btn btn-primary">임시저장
								<div class="submitting"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div id="modal">
			<div class="modal_content">
				<h2>임시저장된 게시글입니다.</h2>
				<p>불러올 게시글을 선택해 주세요.</p>
				<div id="button_box">
					<!-- <button type="button" id="modal_login_btn" th:onclick="|location.href='@{loginPage}'|">로그인</button>
					<button type="button" id="modal_main_btn" th:onclick="|location.href='/'|">홈으로</button> -->
				</div>
			</div>
			<div class="modal_layer"></div>
		</div>
<script>
//csrf 설정
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
//네이버 
let oEditors = []

smartEditor = function() {
	console.log("Naver SmartEditor")
	nhn.husky.EZCreator.createInIFrame({
		oAppRef : oEditors,
		elPlaceHolder : "jobCntn",
		sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
		fCreator : "createSEditor2"
	})
}

$(document).ready(function() {
	smartEditor()
})
		
$('#insert').on('click', function insert() {
			 oEditors.getById["jobCntn"].exec("UPDATE_CONTENTS_FIELD", []) //글자스타일 -태그를 db에 저장해줌
			let jobCntn = document.getElementById("jobCntn").value //태그 생성 
		})
		
	//파일 업로드 이미지 미리보기
	    //파일 INPUT창에 변화가 있을 경우 실행
	    $("#imgInp").on('change', function() {
	    	//파일을 올렸을 경우 input type=file은 사라지고 이미지만 띄어진다.
	    	$(this).toggleClass("fileDown");
	    	//사진부분, <div> 미리 보이게 되면 사진이 없어서 엑박나오니까 없어지게,,
	    	$(this).next().toggleClass("fileDown");
			readURL(this);
		});
		
	    //이미지 미리보기 처리
		function readURL(input){
	    	//input.files(list)의 첫번째 항목
	    	//첨부파일 여러개 넣어도 하나의 사진만 보여줌.
			if(input.files && input.files[0]){
				var reader = new FileReader();
				reader.onload = function(e) {
					$("#blah").attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
	    
	    //파일 삭제
	    $("#cancel").on('click', function() {
	    	//파일을 지우고 싶을때 삭제버튼을 누르면 이미지는 사라지고 input type=file 입력폼이 다시 나타난다.
	    	$(this).parent().prev().toggleClass("fileDown");
	    	$(this).parent().toggleClass("fileDown");
	    	//file영역에 있던 값 삭제
	    	$("#imgInp").val('');
	    })
	    
	    //임시저장 체크박스를 클릭했을 경우
	    $('#save').click(function(){
	    	if($('#save').is(':checked')){
				$('#save').val('Y');
			};
	    })
	    
	    //임시저장 체크박스를 클릭했을 경우
	    $('#ano').click(function(){
	    	if($('#ano').is(':checked')){
				$('#ano').val('Y');
			};
	    })
	    
	    //불러오기
		 $('#saveFile').on('click', function() {
			let userId = '[[${session.member.userId}]]';
			
			//게시글 불러오기
			$.ajax({
				url : "/jSave",
				method : 'post',
				data : JSON.stringify({userId:userId, save:'Y'}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            },
				success : function(data) {
					console.log("=======",data);
					//임시저장된 게시글이 없을 경우
					if(data == 0){
						alert('임시저장된 게시글이 없습니다.');
					} else {
						$("#button_box").empty();
						for(r of data){
							$("#modal").show();
							$("#button_box").append(a(r));
						}
					}
				},
				fail : function(result) {
					alert('필수항목을 입력해주세요')
				}
			})
		})
		
		function a(r) {
	    	let p = `<button type="button" id="modal_login_btn" onclick=checkFile('${r.jobNo}')>${r.jobNo}</button>`;
	    	return p;
	    }
	    
	    //임시저장된 게시글 중 한건 가져오기
	    function checkFile(no) {
	    	$("#modal").hide();
	    	
	    	let jobNo = no;

	    	//게시글 불러오기
			$.ajax({
				url : "/jSelect",
				method : 'POST',
				data : JSON.stringify({jobNo:jobNo}),
	   			contentType : "application/json",
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            },
				success : function(data) {
					console.log(data);
							//번호
							$("#jobNo").val(data.jobNo);
							//제목
							$("#title").val(data.title);
							//수당
						 	$("#pay").val(data.pay);
						 	//위치
							$("#loc").val(data.loc);
							//근무시간
							$("#wHour").val(data.wHour);
							//자격
							$("#qualification").val(data.qualification);
							//우대사항
							$("#preference").val(data.preference);
							///행사유형
	    					$("#eType").val(data.etype).prop("selected", true);
							
							oEditors.getById["jobCntn"].exec("PASTE_HTML", [data.jobCntn]);
							$("#jobInsert").attr("action", "/job/jobUpdate");
						},
				fail : function(result) {
					alert('필수항목을 입력해주세요')
				}
	    })
	    }
	</script>
</div>
</html>