<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">

<section class="hero-wrap hero-wrap-2 mb-4 "
      style="background-image: url(&quot;images/bg_2.jpg&quot;); background-position: 50% 0%;"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
         <div
            class="row no-gutters slider-text align-items-end justify-content-center">
            <div
               class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
               <h2 class="mb-0 bread">구인게시판</h2>
            </div>
         </div>
      </div>
   </section>
   
<div class="dropdown">
<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
    구인종류
  </a>
  
 <div class="dropdown-menu">
    <a class="dropdown-item" href="#">기념식</a>
    <a class="dropdown-item" href="#">축제/가요제/플리마켓</a>
    <a class="dropdown-item" href="#">체육대회/단합행사</a>
    <a class="dropdown-item" href="#">세미나/포럼/워크샵</a>
    <a class="dropdown-item" href="#">전시회/박람회</a>
    <a class="dropdown-item" href="#">신념회/송년회</a>
  </div>
</div>
<button type="button" class="btn btn-outline-primary" onclick="jobInsert()" >구인등록</button>
<button type="button" class="btn btn-outline-primary" onclick="resumeList()">신청자조회</button>
	<table class="table mb-3" >
	<thead class="thead-dark">
			<tr>
				<th>구인게시글번호</th>
				<th>제목</th>
				<th>행사유형</th>
				<th>회원ID</th>
			</tr>		
		</thead>
		<tbody>
			<tr th:each="job : ${jobList}" th:myName = "${job.jobNo}"
			th:onclick="jobDetail(this.getAttribute('myName'))">
				<td th:text=${job.jobNo}></td>
				<td th:text=${job.title}></td>
				<td th:text=${job.eType}></td>
				<td th:text=${job.userId}></td>
			</tr>
		</tbody>
	</table>
	
<script>
link1 = 'jobInsert'; //구인등록폼 이동
function jobInsert(){
	location.href = link1;
}

link2 = 'resumeList?userId='; //신청자전체조회
function resumeList(userId){
	location.href = link2+userId;
}
link3 = 'jobDetail?jobNo='; //게시글 상세조회
function jobDetail(jobNo){
	console.log(jobNo)
	location.href = link3+jobNo;
}
</script>
</div>

</html>