<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorate="~{layouts/default_layout}">
<head>
<style>
.heart {
	width: 100px;
	height: 100px;
	background:
		url("https://cssanimation.rocks/images/posts/steps/heart.png")
		no-repeat;
	background-position: 0 0;
	cursor: pointer;
	transition: background-position 1s steps(28);
	transition-duration: 0s;
}

.active {
	transition-duration: 1s;
	background-position: -2800px 0;
}

.border {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 15%;
}
.like{
	float:right;	
	
}


</style>

</head>

<div layout:fragment="content">

<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">구인게시판</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>
   
<div >
<form id="searchForm">
<!-- option 게시글별 조회수, 작성일순 정렬기준 -->
<label>행사유형</label>
	<select id="etype" name="eType"  onchange="order()">
		<option value="" selected>------</option>
		<option value="E00" th:selected="${jobBoardVO.eType=='E00'}" >기타</option>
		<option value="E01" th:selected="${jobBoardVO.eType=='E01'}" >결혼식</option>
		<option value="E02" th:selected="${jobBoardVO.eType=='E02'}" >돌잔치</option>
		<option value="E03" th:selected="${jobBoardVO.eType=='E03'}" >개인행사</option>
		<option value="E04" th:selected="${jobBoardVO.eType=='E04'}" >기업행사</option>
		<option value="E05" th:selected="${jobBoardVO.eType=='E05'}" >각종축제</option>
		<option value="E06" th:selected="${jobBoardVO.eType=='E06'}" >기념식</option>
		<option value="E07" th:selected="${jobBoardVO.eType=='E07'}" >가요제</option>
		<option value="E08" th:selected="${jobBoardVO.eType=='E08'}" >플리마켓</option>
		<option value="E09" th:selected="${jobBoardVO.eType=='E09'}" >체육대회</option>
		<option value="E10" th:selected="${jobBoardVO.eType=='E10'}" >단합행사</option>
		<option value="E11" th:selected="${jobBoardVO.eType=='E11'}" >세미나</option>
		<option value="E12" th:selected="${jobBoardVO.eType=='E12'}" >포럼</option>
		<option value="E13" th:selected="${jobBoardVO.eType=='E13'}" >워크샵</option>
		<option value="E14" th:selected="${jobBoardVO.eType=='E14'}" >전시회</option>
		<option value="E15" th:selected="${jobBoardVO.eType=='E15'}" >박람회</option>
		<option value="E00" th:selected="${jobBoardVO.eType=='E00'}" >기타</option>
	</select> 
	
<!-- 게시글 정렬기준 -->
<label>정렬기준</label>
	<select id="see" name="orderCol" onchange="order()">
		<option value="" selected>------</option>
		<option value="dt">작성순</option>
		<option value="see">조회수</option>
		<option value="cnt">좋아요순</option>
	</select>
	<!-- 게시글 검색 -->
	<input type="text" name="title">
	<input type="button" id="find" value="찾기" onclick="order()">
</form>
</div>

<button type="button" class="btn btn-outline-primary" onclick="jobInsert()" sec:authorize="isAuthenticated()">구인등록</button>
<button type="button" class="btn btn-outline-primary" onclick="resumeList()" sec:authorize="isAuthenticated()">지원자조회</button>


<!-- 좋아요 -->	
<div class="stage">
  		<div id="love" class="stage heart" th:classappend="${param.userId} !=null ? active" sec:authorize="isAuthenticated()" ></div>
</div>	
<!--	<table class="table mb-3" >
	<thead class="thead-dark">
			<tr>
				<th>구인게시글번호</th>
				<th>제목</th>
				<th>행사유형</th>
				<th>회원ID</th>
				<th>좋아요수</th>
				<th>지원자수</th>
				<th>작성날짜</th>
				<th>마감일</th>
				<th>남은 마감일</th>
				<th>조회수</th>
				
			</tr>		
		</thead>
		<tbody id="check">
			<tr th:each="job : ${jobList}" th:myName = "${job.jobNo}"
			th:onclick="jobDetail(this.getAttribute('myName'))">
				<td th:text=${job.jobNo}></td>
				<td th:text=${job.title}></td>
				<td th:text=${job.eType}></td>
				<td th:text=${job.userId}></td>
				<td th:utext=${job.cnt}></td>
				<td th:text=${job.reCount}></td>
				<td th:text="${#dates.format(job.dt, 'yyyy/MM/dd')}"></td>
				<td th:text="${#dates.format(job.closeDt, 'yyyy/MM/dd')}"></td>
				
				<th:block th:if="${job.remain > 0}">
					<td  th:text="|${job.remain} 일전|"></td>
				</th:block>
				<th:block th:unless="${job.remain > 0} ">
					<td th:text="마감"></td>
				</th:block>

				<td th:text=${job.see}></td>
			</tr>
		</tbody>
	
	</table>
	-->
<!--<div class="rows">
	<div class="border" th:each="job : ${jobList}" th:myName = "${job.jobNo}"
			th:onclick="jobDetail(this.getAttribute('myName'))">
	
		<div class="like">
			<div id="love" class="stage heart" th:classappend="${param.userId} !=null ? active" sec:authorize="isAuthenticated()" ></div>
		</div>
		<p class="logo"><span><img src=""></span></p>
		<p class="name" th:text=${job.title}>테스</p>
		<p class="cntn">내</p>
		
	
		<div class="etc"></div>
			<th:block th:if="${job.remain > 0}">
					<td  th:text="|${job.remain} 일전|"></td>
				</th:block>
				<th:block th:unless="${job.remain > 0} ">
					<td th:text="마감"></td>
				</th:block>
			<p class="right" th:text="|${job.reCount}명 지원|">야야</p>
	</div>		
	</div>	-->	
		
	<section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Exclusive products</h2>
                <div class="module-subtitle font-serif">The languages only differ in their grammar, their pronunciation and their most common words.</div>
              </div>
            </div>
            <div class="row">
              <div class="owl-carousel text-center owl-loaded owl-drag" data-items="5" data-pagination="false" data-navigation="false">
  
              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1050px, 0px, 0px); transition: all 0s ease 0s; width: 2400px;"><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-3.jpg" alt="Derby shoes"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Derby shoes</a></h4>£54.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-2.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-4.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£14.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-5.jpg" alt="Chelsea boots"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Chelsea boots</a></h4>£44.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-6.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                    </div>
                  </div>
                </div></div><div class="owl-item" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-1.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£12.00
                    </div>
                  </div>
                </div></div><div class="owl-item" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-3.jpg" alt="Derby shoes"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Derby shoes</a></h4>£54.00
                    </div>
                  </div>
                </div></div><div class="owl-item active" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-2.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                    </div>
                  </div>
                </div></div><div class="owl-item active" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-4.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£14.00
                    </div>
                  </div>
                </div></div><div class="owl-item active" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-5.jpg" alt="Chelsea boots"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Chelsea boots</a></h4>£44.00
                    </div>
                  </div>
                </div></div><div class="owl-item active" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-6.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned active" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-1.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£12.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-3.jpg" alt="Derby shoes"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Derby shoes</a></h4>£54.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-2.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-4.jpg" alt="Leather belt"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£14.00
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 150px;"><div class="owl-item">
                  <div class="col-sm-12">
                    <div class="ex-product"><a href="#"><img src="assets/images/shop/product-5.jpg" alt="Chelsea boots"></a>
                      <h4 class="shop-item-title font-alt"><a href="#">Chelsea boots</a></h4>£44.00
                    </div>
                  </div>
                </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>
            </div>
          </div>
        </section>
				
				
	<section class="module" id="news">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Our News</h2>
              </div>
            </div>
            <div class="row multi-columns-row post-columns wo-border">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-40">
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">Receipt of the new collection</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-40">
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">Sale of summer season</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-40">
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">New lookbook</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-40">
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">Receipt of the new collection</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-40">
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">Sale of summer season</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-40">
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">New lookbook</a></h2>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>			
				
				
				
	<div class="row mt-5">
		 <div class="col text-center">
			<div class="block-27">
				<th:block th:replace="fragments/paging :: component(${paging},'gopage')">
		    </div>
		 </div>
	</div>
		        
	<!-- 이미지 나타내기 -->	
	<div th:each="f : ${file}">
	<!-- <a th:href="|/fileView/${f.sevNm}|" class="image-popup prod-img-bg"> --> 
		<img th:src="|/fileView/${f.sevNm}|" style="width: 250px; height: 250px" class="img-fluid" alt="Colorlib Template"></a>
	</div>	
	        
<script>
//csrf 설정
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

//페이징
function gopage(i) {
    console.log(i);
    location.href = '/jobList?page=' + i;
}
//링크
link1 = 'jobInsert'; //구인등록폼 이동
function jobInsert(){
	location.href = link1;
}
link2 = 'resumeList?userId=[[${session.member != null ? session.member.userId :''}]]';//신청자전체조회
function resumeList(userId){
	location.href = link2;
}
link3 = 'jobDetail?jobNo='; //게시글 상세조회
function jobDetail(jobNo){
	console.log(jobNo)
	location.href = link3+jobNo;
}

	//정렬
	function order(){
		//let etype = $("#etype").val(); //공통으로 씀
		let param = $("#searchForm").serialize()
		location.href=`/jobList?${param}`
	}
	
	//검색 기능
	$('#find').click(function() {
		//입력한 값 가져오기
		let search = $("input[name=search]").val();
		
		//post방식으로 리스트 불러오기
	$.ajax({
		url : '/jobList',
		method : 'post',
		data : {title:search}, //title = search(title변수안에 data)
		beforeSend : function(xhr)
        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
			xhr.setRequestHeader(header, token);
        }
	}).then(res => {
		//tbody밑에 있는 데이터 지우기
		
		$("#check").empty();
		
		//tbody에 들어갈 tr 생성
		for(r of res){ //제목, 내용 검색 시
			//if(r.title.includes(search) || r.jobCntn.includes(search)){
				//alert(r.loc)
				$("#check").append(makeTr(r));
   			//}
		}
	})
		
	$("input[name=search]").val('');
	})
	
	//tr 생성 함수
	function makeTr(r){
	console.log(r)
	let tr = `<tr onclick="location.href='/jobDetail?jobNo=${r.jobNo}'">
					<td>${r.jobNo}</td>
					<td>${r.title}</td>
		 			<td>${r.etype}</td> 
					<td>${r.userId}</td>
			  </tr>`
	return tr;
}
	
	//좋아요를 눌렀을 경우
	    $(".heart").on("click", function() {
		 let etype = $("#etype").val();
		 
		 //클래스가 없을 경우 생성, 클래스가 있을 경우 삭제
	     $(this).toggleClass("active");
	     //controller에 job이 없음, 두가지로 좋아요한 게시물 정렬 
	     let category = "T03";
	     
	     if($("#love").hasClass("active")){ //하트가 눌렸을 경우 실행
	     //좋아요를 추가했을 경우
	     let userId = '[[${session.member != null ? session.member.userId :''}]]';
	     location.href=`/jobList?userId=${userId}&eType=${etype}` //변수넣기 
	    	
	     } else if (!$("#love").hasClass("active")){ //하트가 눌리지 않았을 경우 실행
	    	 location.href=`/jobList?eType=${etype}`
	     }
	   });
	

</script>
</div>

</html>