<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>구인게시글번호</th>
				<th>수당</th>
				<th>위치</th>
				<th>행사유형</th>
				<th>근무일</th>
				<th>근무시간</th>
				<th>자격</th>
				<th>우대사항</th>
				<th>구인게시글내용</th>
				<th>이미지</th>
				<th>회원ID</th>
				<th>관심수</th>
			</tr>		
		</thead>
		<tbody>
			<tr th:each="job : ${jobList}">
				<td th:text=${job.jobNo}></td>
				<td th:text=${job.pay}></td>
				<td th:text=${job.faqTtl}></td>
			</tr>
		</tbody>
	</table>
</body>
</html>