<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<link rel="stylesheet" href="/css/contest/model.css">
<link rel="stylesheet" href="/css/contest/cotestForm.css">
<link rel="stylesheet" href="/assets/jquery-ui/jquery-ui.css">
<style>
	.label{
	color: black;
	display: inline-block;
    text-align: left;
    width: 70px;
    font-weight: bold;
    font-size: 18px;
	}
</style>
</head>
<div layout:fragment="content">
	<section id="picture "class="module bg-dark-60 gallery-page-header parallax-bg" 
			data-background="/images/notice.jpg" style="background-image: url(&quot;assets/images/notice.jpg&quot;); background-size: 100%;">
	          <div class="container">
	            <div class="row">
	              <div class="col-sm-6 col-sm-offset-3">
	                <h2 class="module-title font-alt" style="margin: 0;">게시글 등록</h2>
	              </div>
	            </div>
	          </div>
</section>
<div class="contestContainer">        
<div class="container">
	<div class="row no-gutters">
		<div class="col-md-7">
			<div class="contact-wrap w-100 p-md-5 p-4">
				<h3 class="mb-4" style="display: flex;">[공지사항 작성]</h3>
				<form action="/nocInsert" method="POST" id="nocInsert" name="nocInsert"
					class="contactForm" enctype="multipart/form-data"> <!-- 파일 -->
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<input type="text" name="userId" id="userId" hidden="hidden" th:value="admin">
					
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="ttl">제목</label> 
									<input type="text" class="form-control" name="ttl" id="ttl" >
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">내용</label>
								<textarea name="noticeCntn" class="form-control" id="noticeCntn" style="width: 550px;" cols="30" rows="4"></textarea>
							</div>
						</div>
		
						<div class="col-md-12">
							<div class="form-group">
								<input type="file" name="uploadFile">
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" id="insert" value="등록"
									class="btn btn-primary">
								<div class="submitting"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<script>
//csrf 설정
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

let oEditors = []

smartEditor = function() {
	console.log("Naver SmartEditor")
	nhn.husky.EZCreator.createInIFrame({
		oAppRef : oEditors,
		elPlaceHolder : "noticeCntn",
		sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
		fCreator : "createSEditor2"
	})
}

$(document).ready(function() {
	smartEditor()
})
		
$('#insert').on('click', function insert() {
			 oEditors.getById["noticeCntn"].exec("UPDATE_CONTENTS_FIELD", []) //글자스타일 -태그를 db에 저장해줌
			let noticeCntn = document.getElementById("noticeCntn").value //태그 생성 
			//alert(jobCntn);
			 <!--var data = $('form[name="jobInsert"]').serializeArray();
			//구직테이블 입력처리
			$.ajax({
				url : "/jobInsert", //controller 링크
				method : 'post',
				contentType : 'application/x-www-form-urlencoded',
				data : data,
				success : function(data) {
					if (data == 1){
					alert('등록완료!');
					location.href = '/jobList';
					}else 
						alert('등록실패')
				},
				fail : function(result) {
					alert('필수항목을 입력해주세요')
				}
			}) -->
			
		})	
	</script>
</div>
</html>