<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
	<style>
		.label{
			color: black;
		}
	</style>
</head>

<div layout:fragment="content">
<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">게시글수정</h2>
                <div class="module-subtitle font-serif">Small Title</div>
              </div>
            </div>
          </div>
        </section>
	<div class="row no-gutters">
		<div class="col-md-7">
			<div class="contact-wrap w-100 p-md-5 p-4">
				<h3 class="mb-4">홍보게시글 수정</h3>
				<form action="/nocUpdate" method="POST" id="nocUpdate" name="nocUpdate"
					class="contactForm" enctype="multipart/form-data"> <!-- 파일 -->
					<div class="row">
					 	<div class="col-md-12">
							<div class="form-group">
							<input type="hidden" name="noticeNo" id="noticeNo" th:value="${nocUpdate.noticeNo}">
							
								<label class="label" for="#">회원ID</label>
								<input type="text" name="userId" id="userId" >
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="ttl">제목</label> 
									<input type="text" class="form-control" name="ttl" id="ttl" th:value=${nocUpdate.ttl} >
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">내용</label>
								<textarea name="noticeCntn" class="form-control" id="noticeCntn" cols="30" rows="4" th:utext=${nocUpdate.noticeCntn}></textarea>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<label class="label" for="#">작성날짜</label>
								<input type="date" class="form-control" name="dt" id="dt" th:value=${nocUpdate.dt}>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<input type="file" name="uploadFile">
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" id="update" value="수정"
									class="btn btn-primary">
								<div class="submitting"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

<script>
let oEditors = []

smartEditor = function() {
	console.log("Naver SmartEditor")
	nhn.husky.EZCreator.createInIFrame({
		oAppRef : oEditors,
		elPlaceHolder : "noticeCntn", 
		sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
		fCreator : "createSEditor2"
	})
}

$(document).ready(function() {
	smartEditor()
})
		
$('#update').on('click', function update() {
	alert("클릭")
	oEditors.getById["noticeCntn"].exec("UPDATE_CONTENTS_FIELD", [])
	let noticeCntn = document.getElementById("noticeCntn").value;
	alert(noticeCntn)
	
	let noticeNo = document.getElementById("noticeNo").value;

	var data = $('form[name="nocUpdate"]').serializeArray();

	//공지테이블 수정처리
/* 	$.ajax({
		url : "/nocUpdate",
		method : 'post',
		contentType : 'application/x-www-form-urlencoded',
		data : data,
		success : function(data) {
			if(data == 1){
			alert('수정완료!');
			location.href = '/nocList';
			}else
				alert('수정실패')
		},
		fail : function(result) {
			alert('필수항목을 입력해주세요')
		}
	}) */
})
	</script>
</div>
</html>