/* 공모전 등록,응모 폼 */
.fileDown {
	display: none;
}

h3 {
	font-weight: bold;
	text-align: center;
}

.contestContainer {
	padding-top: 30px;
	width: 800px;
	margin: 0 auto;
	min-height: 1600px
}

ul {
	padding: 0px;
	list-style: none;
}

select, input[type=text], input[type=number], input[type=date] {
	width: 50%;
	padding: 12px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=radio] {
	margin: 5px;
}

label {
	display: inline-block;
	text-align: left;
	width: 100px;
	font-weight: bold;
	font-size: 18px;
}

ul li.tag-item {
	display: inline-block;
	margin: 0 5px;
	font-size: 14px;
	letter-spacing: -.5px;
	padding: 4px 8px;
	border-radius: 10px;
	background-color: pink;
	color: #000;
}

.tag-item:hover {
	background-color: #262626;
	color: #fff;
}

.area-del-btn, .type-del-btn, .style-del-btn {
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 8px;
}

.contestTag {
	margin-left: 110px;
}
/* 회원정보 폼 */
.userUlTag {
	margin-left: 110px;
}

#user {
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 600px;
	margin-bottom: 60px;
	margin-top: 100px;
}

#signIn-right label {
	width: 70px;
}

#signIn-right input[type="text"] {
	width: 15%;
}
/* 디자인응모폼 */
#winnerInput {
	margin-left: 300px;
}

#winnerInput input[type="text"] {
	width: 15%;
}

#winnerInput button {
	width: 118px
}