/* 공모전 등록,응모 폼 */
.fileDown {
	display: none;
}

.contestContainer h3, #user h3, #userUpgrade h3 {
	font-weight: bold;
	text-align: center;
}

.contestContainer {
	background-color: #f7f6f6;
	margin: 40px auto 40px;
	padding: 20px 50px 20px 50px;
	width: 48%;
	border-radius: 20px;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

#contestCheck {
	margin-bottom: 20px;
	margin-right: 5px;
}

#saveFile {
	float: right;
	font-size: 16px;
	font-weight: bold;
}

#checkbox_div {
	width: 150px;
	margin: 3px auto;
	font-weight: bolder;
}

ul {
	padding: 0px;
	list-style: none;
}

select, input[type=text], input[type=number], input[type=date] {
	width: 50%;
	padding: 12px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=radio] {
	margin: 5px;
}

label {
	display: inline-block;
	text-align: left;
	width: 70px;
	font-weight: bold;
	font-size: 18px;
}

ul li.tag-item {
	display: inline-block;
	margin: 0 5px;
	font-size: 14px;
	letter-spacing: -.5px;
	padding: 4px 8px;
	border-radius: 10px;
	background-color: pink;
	color: #000;
}

/* 등록폼 버튼정렬 */
.contestBtn {
	width: 30%;
	margin: 0 auto 0px;
}

.contestBtn button {
	margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
}

.tag-item:hover {
	background-color: #262626;
	color: #fff;
}

.area-del-btn, .type-del-btn, .style-del-btn {
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 8px;
}

.contestTag {
	margin-left: 110px;
}
/* 회원정보 폼 */
#user {
	width: 80%;
	margin: 80px 0 60px 240px;
}
#user box {
	width: 60%;
	margin: 0 auto;
}

.box {
	padding: 40px 40px 40px 40px;
	width: 60%;
	margin: 0px auto 70px;
	border-radius: 20px;
	background: #f2f7fc;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .1);
}

.box li {
	width: 80%;
	margin: 0px auto;
}

#userUpgrade {
	width: 80%;
	margin: 0 auto;
	margin: 140px 250px;
}
#userUpgrade  box {
	width: 800px;
    margin: 0px auto 50px;
}

#user input[type=text], #user select {
	width: 70%;
	padding: 12px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}



.userBtn {
	width: 30%;
	margin: 0px auto;
}

#user h3, #userUpgrade h3 {
	text-align: center;
	padding-bottom: 10px;
}

#upgrade {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 10px;
}

#upgrade label {
	line-height: 65px;
}

#upgrade button {
	height: 40px;
	margin-top: 14px;
}

#userUpgrade input[type="text"] {
	width: 20%;
}

.userUlTag {
	margin-left: 110px;
}

#signIn-right label {
	width: 70px;
}

#signIn-right input[type="text"] {
	width: 15%;
}
/* 디자인응모폼 */
#winnerInput {
	margin-left: 300px;
}

#winnerInput input[type="text"] {
	width: 15%;
}

#winnerInput button {
	width: 118px
}