<!--공모전 디자인 미리보기 모달-->
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: -1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}
.img_modal_content {
	background-color: #fefefe;
	margin : 70px auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	height: 70%;
	text-align: left;
	
	/* 이미지 스크롤*/
	max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
	position: sticky;
	top: 0;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#modelBtn {
	text-align: center;
}

.modelBtn1 {
	display: inline-block;
}

<!--공모전 신고,마감연장 모달-->

#rprtModal h2,
 #extensionModal h2 {
	margin: 0;
} 

#rprtModal button,
 #extensionModal button {
	display: inline-block;
	width: 100px;
	border: 0.2px solid black;
	border-radius: 5px;
}

.modal_content {
	width: 350px;
	min-height: 200px;
	background: #fff;
	border: 0.5px solid #666;
	border-radius: 15px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 250px;
}

.modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
