.yBtn {
	background-color: #FAB955 !important;
}

.modal h3 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

.modal h4 {
	text-align: center;
	font-weight: 700;
	margin-bottom: 10px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 60px;
	font-weight: bold;
	text-align: right;
	position: sticky;
	margin: 5px 15px 10px 0;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#modelBtn {
	text-align: center;
}

.modelBtn {
	width: 40%;
	margin: 0 auto;
}

.modelBtn1 {
	display: inline-block;
}

<!--
공모전 신고, 마감연장 모달-->#rprtModal h2, #extensionModal h2 {
	margin: 0;
}

#rprtModal button, #extensionModal button {
	display: inline-block;
	width: 100px;
	border-radius: 5px;
}

.modal_content {
	width: 300px;
}
/* 우승자 디자인모달 */
.img_modal_content {
	background-color: #fefefe;
	margin: 70px auto;
	width: 65%;
	/* 	width: 55%; */
	height: 80%;
	text-align: left;
	/* 이미지 스크롤*/
	max-height: calc(100vh - 210px);
	overflow-y: auto;
	/* 	둥글게,그림자 효과 */
	border-radius: 3%;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}
.w_img_modal_content {
	background-color: #fefefe;
	margin: 70px auto;
	width: 55%;
	/* 	width: 55%; */
	height: 80%;
	text-align: left;
	/* 이미지 스크롤*/
	max-height: calc(100vh - 210px);
	overflow-y: auto;
	/* 	둥글게,그림자 효과 */
	border-radius: 3%;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}
/* 응모 디자인모달 */
.dImg_modal_content {
	background-color: #fefefe;
	margin: 70px auto;
	width: 65%;
	/* 	width: 55%; */
	height: 70%;
	text-align: left;
	/* 이미지 스크롤*/
	max-height: calc(100vh - 210px);
	overflow-y: auto;
	/* 	둥글게,그림자 효과 */
	border-radius: 3%;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.modal_content, .dank_modal_content, .pw_modal_content,
	.rprt_modal_content, .pay_modal_content, .winner_modal_content,
	.review_modal_content, .qna_modal_content, .pwUpdat_modal_content,
	.question_modal_content, .extension_modal_content, .save_modal_content
	{
	min-height: 200px;
	border: 0.5px solid #666;
	border-radius: 15px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 250px;
	/* 	둥글게,그림자 효과 */
	background: #fff;
	border-radius: 3%;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}
/* 임시저장 불러오기 모달 */
.save_modal_content {
	width: 400px;
}
/* 마감연장 모달 */
.extension_modal_content {
	height: 300px;
	width: 350px;
}

#extension {
	height: 37px;
	width: 100px;
	border: 0;
}

#updateModel {
	text-align: center;
	font-size: 18px;
}
/* 결제모달 */
.pay_modal_content {
	width: 500px;
	padding: 40px;
}

.pay_modal_content #contestPay {
	width: 80%;
	margin: 0 auto;
	font-size: 18px;
}

#Payment {
	width: 100px !important;
}

#contestPay li {
	margin-top: 5px;
}

#contestPay li:last-child {
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	margin: 20px;
	font-weight: 800;
}
/* 계좌변경모달 */
.dank_modal_content {
	width: 500px;
	padding-left: 50px;
}

.dank_modal_content h3 {
	text-align: center;
	margin-bottom: 10px;
}

/* 패스워드변경 및 수정전 비번확인 모달 */
.pw_modal_content {
	width: 500px;
}

.pwUpdat_modal_content {
	width: 600px;
}

/* 신고모달 */
.rprt_modal_content {
	width: 400px;
	padding: 35px;
}

.rprt_modal_content label {
	width: 100px !important;
}

#rprtBox {
	width: 90%;
	margin: 0 auto;
}

.rprt_modal_content h2 {
	font-weight: bold;
	text-align: center;
}

/* 우승자 등록 모달 */
.winner_modal_content {
	width: 400px;
	height: 280px;
	padding-top: 40px;
}

#winnerCancel {
	position: sticky;
	top: 0;
}

#modelSelect {
	margin: 50px auto;
	width: 85%;
	font-size: 18px;
}
/* 리뷰모달 */
.review_modal_content {
	width: 400px;
	height: 450px;
}

.review_modal_content lable, input {
	margin-bottom: 10px;
}

#reviewBtn {
	display: flex;
	width: 45%;
	margin: 10px auto;
}

#reviewCntn {
	width: 100%;
}

.starbox {
	display: flex;
	padding: 5px 0 0 0;
}
/* 문의모달 */
.question_modal_content {
	width: 600px;
}

.qna_modal_content {
	width: 35%;
	padding: 35px;
	/* 스크롤*/
	max-height: calc(100vh - 210px);
	overflow-y: auto;
}

.question_modal_content #modelSelect p {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 5px 10px 0px;
	border-bottom: 1px solid lightgray;
}

#qnaBox {
	display: flex;
}

.qDiv {
	display: flex;
}

.qna_modal_content #qna {
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 20px;
	background-color: #f7f6f6;
	border-radius: 20px;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .1);
}

.qna_modal_content #qnaRep {
	width: 40%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 20px;
	background-color: #fdfbdd;
	border-radius: 20px;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .1);
}

.qBtn {
	margin-bottom: 10px;
	width: 85px;
}

.pw_modal_content label, .pwUpdat_modal_content label {
	display: inline-block;
	text-align: left;
	width: 110px;
	font-size: 18px;
}

#pwModel label {
	width: 100px;
	text-align: left;
}

.bannerModel {
	width: 100px;
	min-height: 200px;
	background: #fff;
	border: 0.5px solid #666;
	border-radius: 15px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 250px;
	/* 	둥글게,그림자 효과 */
	border-radius: 3%;
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

/* 모달 전체 레이아웃 */
.modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

/* 모달 사이드 */
/* Create three unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
}

/* Middle column */
.column.middle {
	margin-left: 25px;
	width: 65%;
	padding: 0;
}

/* Left and right column */
.column.side {
	width: 30%;
	height: 100%;
	float: right;
	position: sticky;
	top: 0;
	background-color: lightGray;
	padding: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column.side, .column.middle {
		width: 100%;
	}
}

/* 사이드 프로필사진 */
.radius {
	width: 50px;
	height: 50px;
	border-radius: 70%;
	overflow: hidden;
	margin: 0;
}

.radius_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 디자인 */
#designId {
	display: flex;
	flex-wrap: wrap;
}

#designId h3 {
	margin-left: 10px;
	text-align: left;
}
/* 스크롤바 지우기 */
.w_img_modal_content::-webkit-scrollbar ,.img_modal_content::-webkit-scrollbar, .dImg_modal_content::-webkit-scrollbar ,.img_modal_content::-webkit-scrollbar, .qna_modal_content::-webkit-scrollbar
	{
	display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* 모달 전체 라벨 */
.modal label {
	display: inline-block;
	text-align: left;
	width: 70px;
	font-size: 18px;
}

#pwModel #checkDiv {
	width: 130px;
	margin: 10px auto;
}

#pwUpdateModel #checkDiv {
	width: 130px;
	margin: 10px auto;
}

#checkDiv button {
	font-size: 18px;
	margin-right: 10px;
	width: 100px !important;
}