<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eventi.left.estimate.mapper.EstMapper">
	<!-- 견적요청서 전체조회 -->
	<select id="getEstList" resultType="EstVO">
		SELECT E_NO, EVENT_TYPE, WRITING_DT, ADOPTION_YN
		FROM estimate
	</select>

	<select id="getEst" resultType="EstVO">
		SELECT *
		FROM ESTIMATE
		WHERE ENO = #{eno}
	</select>
</mapper>