@charset "UTF-8";

.admin_side_nav {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	margin-top:50px;	
	background-color: rgba(10, 10, 10, 0.9);
	overflow-x: hidden;
	padding-top: 20px;
}

.admin_side_nav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 1.5em;
	color: #818181;
	display: block;
}

.admin_side_nav a:hover{
	color: #f1f1f1;
}