<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventi.left.prtfl.mapper.McPrtflMapper">
	<select id="mcAll" resultType="com.eventi.left.prtfl.service.McPrtflVO">
		SELECT *
		FROM MC_PRTFL
	</select>
	
	<select id="mcSelect" resultType="com.eventi.left.prtfl.service.McPrtflVO">
		SELECT *
		FROM MC_PRTFL
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="mcReply" resultType="com.eventi.left.reply.service.ReplyVO">
		SELECT *
		FROM REPLY
		WHERE BOARD_CAT = 'T06'
		AND REPLY_TGT = #{replyTgt}
	</select>
</mapper>