<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventi.left.prtfl.mapper.McPrtflMapper">
	<!-- 전체 리스트에서 좋아요 정렬 -->
	<sql id="likeSelect">
			<if test="userId != null and userId != ''">
				AND l.user_id = #{userId}
			</if>
	</sql>
	
	<!-- 사회자 전체조회 -->
	<select id="mcAll" resultType="com.eventi.left.prtfl.service.McPrtflVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
		SELECT m.user_id, m.one_intro, m.carr_year,
       		   m.casting_price, codeArr_select(m.mc_area) mc_area, codeArr_select(m.mc_type) mc_type, 
       		   codeArr_select(m.prog_style) prog_style, m.self_intro, m.career, m.inq, m.dt, 
       		   m.user_name, (select count(*) from likes where target_no = m.user_id) AS cnt, f.sev_nm img
		FROM MC_PRTFL m, LIKES l, FILES F
		WHERE M.USER_ID = L.TARGET_NO(+)
        AND M.IMG = F.F_NM(+)
		<include refid="likeSelect" />
		ORDER BY ${order} DESC
		<![CDATA[
			) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 사회자포트폴리오 총 건수 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM MC_PRTFL
	</select>
	
	<!-- 사회자 단건조회 -->
	<select id="mcSelect" resultType="com.eventi.left.prtfl.service.McPrtflVO">
		SELECT m.user_id, m.one_intro, m.carr_year,
       		   m.casting_price, codeArr_select(m.mc_area) mc_area, codeArr_select(m.mc_type) mc_type, 
       		   codeArr_select(m.prog_style) prog_style, m.self_intro, m.career, m.inq, m.dt,
       		   m.user_name, (select count(*) from likes where target_no = m.user_id) AS cnt, F.SEV_NM img
		FROM MC_PRTFL m, LIKES l, FILES F
		WHERE M.USER_ID = L.TARGET_NO(+)
		AND M.IMG = F.F_NM(+)
		AND m.USER_ID = #{userId}
	</select>
	
	<!-- 사회자별 리플 -->
	<select id="mcReply" resultType="com.eventi.left.reply.service.ReplyVO">
		SELECT *
		FROM REPLY
		WHERE BOARD_CAT = 'T06'
		AND REPLY_TGT = #{replyTgt}
	</select>
	
	<!-- 조회수 +1 -->
	<update id="inqUpdate">
		UPDATE MC_PRTFL
		SET INQ = INQ+1
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 사회자 입력 -->
	<insert id="mcInsert">
		INSERT INTO MC_PRTFL(USER_ID, USER_NAME, ONE_INTRO, CARR_YEAR, CASTING_PRICE, MC_AREA, MC_TYPE, PROG_STYLE, SELF_INTRO, CAREER, img, DT)
		VALUES(#{userId}, #{userName}, #{oneIntro}, #{carrYear}, #{castingPrice}, #{mcArea}, #{mcType}, #{progStyle}, #{selfIntro}, #{career}, #{img}, SYSDATE)
	</insert>
	
	<!-- 사회자 수정 -->
	<update id="mcUpdate">
		UPDATE MC_PRTFL
		SET ONE_INTRO = #{oneIntro}, CARR_YEAR = #{carrYear}, CASTING_PRICE = #{castingPrice}, MC_AREA = #{mcArea}, MC_TYPE = #{mcType}, PROG_STYLE = #{progStyle}, CAREER = #{career}, img = #{img}
		WHERE USER_ID = #{userId}
	</update>
	
</mapper>