<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/contest/model.css"><!-- 모달 스타일 -->
<link rel="stylesheet" href="/css/contest/button.css"><!--버튼 스타일 -->
<link rel="stylesheet" href="/css/heart.css"><!-- 좋아요 스타일 -->
<meta charset="UTF-8">
<style>
	p{
		font-size: 18px;
		font-weight: blod;
		margin-bottom: 30px;
	}
</style>
</head>
<body>
	<div layout:fragment="content" class="content">
		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
			<div class="container" >
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">공모전</h2>
						<div class="module-subtitle font-serif" th:text="|${contest.ttl}|"></div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-section" style="padding-top: 20px">
			<div class="container" >
				<div class="row" style="padding-top: 20px"> 
					<div class="col-lg-6 mb-5 ftco-animate fadeInUp ftco-animated">
						<!-- 이미지 출력 -->
						<div th:if="${contest.img} != null">
							<img th:src="|/fileView/${contest.img}|" style="width: 500px; height: 600px; margin:0px;">
						</div>					
						<div th:if="${contest.img} == null">
							<img src="/images/public.jpg" class=" icon-lock" style="width: 500px; height: 500px; ">
						</div>					
					</div>
					<div class="col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated">
						<div id="show"></div>
						<h1 th:text="|[${contest.category}] ${contest.ttl}|"></h1>
						<h4 th:text="|작성자 ${contest.writer}|"></h4>
						
						<div th:if="${contest.style} != null or ${contest.style} != ''">
								<h4 th:text="|#${contest.style}|" style="color: #117bd9"></h4>
						</div>
						
						<!-- 신고수 -->
						<th:block sec:authorize="!isAuthenticated()">
							<span onclick="login()" style='font-size: 20px;'>&#128680;</span><span th:text=${contest.rprt}></span>
						</th:block>
						
						<th:block sec:authorize="isAuthenticated()">
							<span id="modalUp" style='font-size: 20px;'>&#128680;</span><span th:text=${contest.rprt}></span>
						</th:block>
						
						<!-- 조회수 -->
						 <span style='font-size: 30px;'>&#128065;</span>
						 <span th:text=${contest.inq}></span>
						 <!-- 좋아요수 -->
						 <span th:text=${contest.likes} style="display:inline-block; width: 50px; text-align: right;"></span>
						 
				
						<!-- 비회원 하트버튼 -->
						<th:block sec:authorize="!isAuthenticated()">
								<div id="love" class="stage heart" onclick="login()" style="position:relative; top:-70px; right: -65px;">
								</div>
						</th:block>
	
						<!-- 회원 좋아요 하트버튼 -->
						<th:block sec:authorize="isAuthenticated()">
							
							<div th:if="${likeCheck} != null and  ${likeCheck.targetNo} == ${contest.cNo}">
								<!-- 관심공모전인경우 -->
								<div id="love" class="stage heart active" onclick="loveCheck(this)" style="position:relative; top:-70px; right: -65px;">
								</div>
							</div>
							
							<div th:if="${likeCheck} == null">
								<!-- 관심공모전이 아닌경우 -->
								<div id="love" class="stage heart" onclick="loveCheck(this)" style="position:relative; top:-70px; right: -65px;">
								</div>
							</div>
						</th:block>
						
						<!-- 마감연장일 있는경우 -->
						<div th:if="${contest.dtExtns} != null">
							<div><p th:text="|공모기간: ${#dates.format(contest.dtReg, 'yy/MM/dd')} ~ ${#dates.format(contest.dtExtns, 'yy/MM/dd')}|"></p></div>
						</div>

						<!-- 마감연장일 없는경우 -->
						<div th:if="${contest.dtExtns} == null">
							<div><p th:text="|공모기간: ${#dates.format(contest.dtReg, 'yy/MM/dd')} ~ ${#dates.format(contest.dtCls, 'yy/MM/dd')}|"></p></div>
						</div>
	
						<!-- 우승금액 -->
						<div th:each="w : ${winnerList}">
							<p class="price" th:text="|${w.grade}등 : ${#numbers.formatInteger(w.wPay, 0, 'COMMA') + '원'}|"></p>
						</div>

						<div class="col-sm-6">
							<div class="input-group col-md-6 d-flex mb-3"></div>
							<div class="w-100"></div>
							<div class="col-md-12"></div>
						</div>

						<!-- 비회원 -->
						<th:block sec:authorize="!isAuthenticated()">
							<div class="contestBtn">
								<button type="button" onclick="clip(); return false;" class="w-btn w-btn-gra1">링크복사</button>
								<button type="button" onclick="login()" class="w-btn w-btn-gra1" >응모하기</button>
							</div>
						</th:block>

						<!-- 공모전 작성자 제외 일반회원 -->
						<th:block sec:authorize="isAuthenticated()">
							<div class="contestBtn" th:if="|${session.member.getUserId()}| != ${contest.writer} ">
									<button type="button" onclick="clip(); return false;" class="w-btn w-btn-gra1">링크복사</button>
									<!-- 공모게시글에 대한 응모하기 버튼 -->
									<button type="button" th:onclick="|location.href='@{/design/designInsertForm(cNo=${contest.cNo})}'|" class="w-btn w-btn-gra1" >응모하기</button> 
							</div>

							<!-- 공모전 작성자만 -->
							<div class="contestBtn" th:if="|${session.member.getUserId()}| == ${contest.writer} " >
									<button id="updateDate" type="button" class="w-btn w-btn-gra1">마감연장</button>
									<button id="contestUpdate" type="button" class="w-btn w-btn-gra1">수정</button>
									<button id="delBtn" type="button" class="w-btn w-btn-gra1">삭제</button>
							</div>
						</th:block>
					</div>
				</div>

				<div class="row mt-5" >
					<div class="col-md-12 nav-link-wrap" id="find" style="min-height: 500px;">
						<div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">

							<ul class="nav nav-tabs font-alt navbar" role="tablist">
								<li id="liCntn" class="active"><a href="#description" data-toggle="tab"><span class="icon-tools-2">요청사항</span></a></li>
								<li id="liQuestions"><a href="#data-sheet" data-toggle="tab"><span class="icon-tools-2">문의사항</span></a></li>
								<li id="lientry"><a href="#reviews" data-toggle="tab"><span class="icon-tools-2">참여작</span></a></li>
							</ul>
						</div>

						<div class="col-sm-12">
							<div class="tab-content" role="tabpanel"
								aria-labelledby="day-1-tab">
								<div id="divCntn" class="tab-pane active">
									<div th:if="${contest.cntn} != null">
										<div id="cotestCntn" th:utext=${contest.cntn}></div>
										<div id="designBox"></div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="block-27" id="returnPaging"></div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!--마감기한 연장 모달 폼 -->
		<div id="extensionModal" class="modal">
			<div class="modal_content">
				<span class="close">&times;</span>
				<h3>공모전 마감기한 연장</h3>
				<div id=updateModel></div>
				<div id="modelBtn">
					<button id="extension" class="modelBtn1" style="width: 50px;" type="button">연장하기</button>
				</div>
			</div>
		</div>
		
		<!-- 신고 등록 폼 -->
	    <div id="rprtModal" class="modal">
				<div class="modal_content">
					<h2>신고</h2>
					<div id="box">
						<label>신고게시글</label>
						<input type="text" id="targetId" name="targetId" th:value="${contest.cNo}" readonly><br>
						<label>신고자</label>
						<input type="text" id="userId" name="userId" th:value="${sessionId}"><br>
						<label>신고사유</label>
						<textarea rows="5" cols="30" id="banCntn" name="banCntn" placeholder="신고사유에 대해 작성해주세요."></textarea>
						<button type="button" id="cancel">취소</button>
						<button type="button" id="punish">신고</button>
					</div>
				</div>
			<div class="modal_layer"></div>
		</div>
		
		<!-- 디자인 상세보기 모달 -->
		<div id="designModel" class="modal">
			<div class="img_modal_content">
				<span id="designCancel" class="close">&times;</span>
				<h3 id="title"></h3>
				<div id="modelSelect"></div>
			</div>
		</div>
		
		<!-- 참여작 페이지처리를 위한 히든인풋. -->
		<input type="hidden" name="designPage" id="designPage" value="1">
		
		<!-- 참여작 페이지처리를 위한 히든인풋. -->
		<input type="hidden" name="questionsPage" id="questionsPage" value="1"> 


		<script>
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		let cNo = '[[${contest.cNo}]]';
		let userId = '[[${session.member != null ? session.member.userId :''}]]';
		let writer = '[[${contest.writer}]]';
		
		//로그인모달창.
		function login(){
			 $("#header_modal").show();
		}
		
		//링크복사 -------------------------------------------------------
		function clip(){
			var url = '';
			var textarea = document.createElement("textarea");
			document.body.appendChild(textarea);
			url = window.document.location.href;
			textarea.value = url;
			textarea.select();
			document.execCommand("copy");
			document.body.removeChild(textarea);
			alert("URL이 복사되었습니다.")
		}
		
		//모달창-----------------------------------------------------------
		var extensionModal = document.getElementById("extensionModal");
		var rprtModal = document.getElementById("rprtModal");
		var designModel = document.getElementById("designModel");
		
		// <span> (x), close the modal
		$('.close').on("click", function(){
			extensionModal.style.display = "none";
		})
		
		// 모달창 띄우기,마감연장일이 이미 지정된 경우 모달창 띄우지 않도록.
		$('#updateDate').on("click", function(){ 
		  
		let dtExtns = '[[${contest.dtExtns}]]';
		
		if(dtExtns == '' || null || undefined || 0 || NaN){
			extensionModal.style.display = "block";
		}else{
				alert('마감연장 1회만 가능합니다.')
				return false;
			}
		})

		//마감연장 모달창 출력.
		$('#updateDate').on("click", function(){
			let dtReg = '[[${#dates.format(contest.dtReg,'yyyy/MM/dd')}]]';
			let dtCls = '[[${#dates.format(contest.dtCls,'yyyy/MM/dd')}]]';
			
		/*	//li태그 생성후 모달창 붙여넣기 */
			$('#updateModel').empty();
			let li = `  <div>등록일 : ${dtReg} </div>
						<div >마감일 : ${dtCls} </div>
						<input type="date" id="dtCls">
					`;
			$('#updateModel').append(li);
			
		}); 
		
		//마감연장 모달창 수정처리
		$('#extension').on('click', function () {
			
			let date = $(this).parent().parent().find($('input[type="date"]')).val();
			let dtCls = '[[${#dates.format(contest.dtCls,'yyyy-MM-dd')}]]';
			
			if(date <= dtCls){
				alert(dtCls + '이전날짜는 불가능합니다.')
				console.log(date);
				console.log(dtCls);
				return false;
			}
			
			$.ajax({
		           url:"/contest/updateExtension",
		           method: 'put',
		           dataType: "json",
		           data: JSON.stringify({cNo,dtExtns:date}),
		           contentType : "application/json",
		           beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
		           success: function (result) {
		        	   if(result > 0){ //수정처리된 객체가 있다면
		                 alert('수정처리 성공');
		        	   }else{
		        		   alert('마감연장 1회만 가능합니다.')
		        	   }
		                  location.href='/contest/select?cNo='+cNo; 
		           },
		           fail: function () {
		                 	alert('수정처리 실패')
		           }
				})
			
		})
		
		//공모전 수정페이지 이동--------------------------------------------------
		$('#contestUpdate').on('click', function(){
			if (!confirm('공모전을 수정하시겠습니까?')) {
				return false;
			}else{
				location.href="/contest/update?cNo="+cNo;
			}
			
		});
	
		//공모전 삭제-----------------------------------------------------------
		$('#delBtn').on('click', delContest);
		function delContest(){
			if (!confirm('공모전을 삭제하시겠습니까?')) {
				return false;
			}
			
			$.ajax({
	            url:'/contest/delete',
	            method:"post",
	            data : {cNo},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				if(res == 1){
					alert('삭제 완료');
					location.href="/contest/List";
				}else {
					alert('응모작품이 있어 삭제 불가능합니다.');
					location.href="../contest/select?cNo="+ cNo;
					
				}
				
			})
		};
		
		//요청사항/문의내용/참여작 버튼이벤트-----------------------------------------------------------
		$('#liCntn').on('click', contentSelect);
		$('#liQuestions').on('click', questions);
		$('#lientry').on('click', contest);
		
		//페이지 이동 함수
		function gopage(i,id) {
			
		//참여작 페이징.
			if(id == "design"){
				$('#designPage').val(i); 
				contest(); 
			}
		//문의사항 페이징.
			if(id == "questions"){
				$('#questionsPage').val(i);
				console.log($('#questionsPage').val());
				questions();
			}
		}
		//-------------------------------------------------------------
		
		//요청사항 출력
		function contentSelect(){
			$.ajax({
	            url:'/contest/cntnSelect',
	            method:"post",
	            data : {cNo,userId},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				$('#returnPaging').empty();
				$("#cotestCntn").empty();
				$("#cotestCntn").append(res.cntn);
			})
			
		};
		
		//문의사항 관련 생성 함수 --------------------------------------------------------
		//문의사항 박스 생성
		function questionBox(){
			let box = `	 <label>제목</label><input type="text" name="Ttl" required="required" ><br>
						<textarea name="cntn" class="form-control" id="Cntn" cols="20" rows="4" placeholder="문의사항 입력해주세요." required="required"></textarea>
						<input type="checkbox" id="secretYn" name="secretYn">비밀글 
						<button type="button" id="insertBtn" class="btn btn-g btn-round btn-lg">등록</button>
					`;
			
			return box;
		} 
		
		//문의사항 생성
		function make(question){
			let delBtn = '';
			let upBtn = '';
			let repInsert = '';
			let p = '';
			
			//문의 작성자일 경우만 삭제,수정버튼
			if(question.userId == userId){
				delBtn = `<button class='qDelete'>삭제</button>`;
				upBtn = `<button class='qUpdate'>수정</button>`;
			
			//공모전 작성자일 경우에만 답변등록.
			}if(writer ==userId){
				repInsert = `<button type="button" class="questionRep" >답변등록</button>`
			}
			
			 //회원아이디에 따라 다르게 표시됌.(수정,삭제,답변등록)
			 // 비공개인 경우(문의작성자와 공모전작성자만 확인가능.) 공고문103
			if(question.secretYn == 'Y' && question.userId != userId &&  writer != userId  || question.secretYn == 'Y' && userId == ""){
				p =`<ul class="children" style="list-style: none">
						<li class="comment">
						<div class="comment-body" id="${question.qNo}">
							<h3>비공개 문의</h3>
				            <div class="meta">${question.writingDt}</div>
				            <p>비공개내용입니다.</p>
				            ${delBtn} ${upBtn}
				            ${repInsert}
							<input type="hidden" value="${question.secretYn}">
						</div>
						</li>
					</ul>`
			}
			else { //공개인경우
				console.log('공개')
				p =`<ul class="children" style="list-style: none">
						<li class="comment">
						<div class="comment-body" id="${question.qNo}">
							<h3>${question.userId} : ${question.ttl}</h3>
				            <div class="meta">${question.writingDt}</div>
				            <p>${question.cntn}</p>
				            ${delBtn} ${upBtn}
				            ${repInsert}
							<input type="hidden" value="${question.secretYn}">
						</div>
						</li>
					</ul>`
			}
   			return p;
   		}
		//답변생성
		 function makeRe(questionRep){
			 let delBtn = '';
			 let upBtn = '';
			 let userId = '[[${session.member != null ? session.member.userId :''}]]';
			 let p;
				
			//한 문의당 답변은 1개만 가능 답변등록 버튼 삭제
	   			$("#" + questionRep.rerepTgt).children('button:eq(0)').remove();
			 
			//문의답변 작성자일 경우에만 삭제,수정 버튼 생성
				if(questionRep.userId ==userId){
					delBtn = `<button class='qDelete'>삭제</button>`;
					upBtn = `<button class='qUpdate'>수정</button>`;
				}
			 
				if(questionRep.secretYn == 'Y' && questionRep.userId != userId &&  writer != userId  || questionRep.secretYn == 'Y' && userId == ""){
	   				p = `<ul class="children" style="list-style: none">
			                <li class="comment" >
				                <div class="comment-body" id="${questionRep.qNo}">
				                <div class="meta">작성일:${questionRep.writingDt} </div>
				                  <p>비공개 답변</p>
				                  ${delBtn} ${upBtn}
				                </div>
				              </li>
			             </ul>`;
				}
				else{
					p = `<ul class="children" style="list-style: none">
		                <li class="comment" >
			                <div class="comment-body" id="${questionRep.qNo}">
			                <h3>${questionRep.userId}</h3>
			                <div class="meta">작성일:${questionRep.writingDt} </div>
			                  <p>${questionRep.cntn}</p>
			                  ${delBtn} ${upBtn}
			                </div>
			              </li>
		             </ul>`;
				}
            return p;
   		}
		
		//문의 및 문의답변 출력-----------------------------------------------------------
		function questions(){
			let page = $('input[name="questionsPage"]').val();
			
			$.ajax({
	            url:"/questions/qList",
	            method:"post",
	            data : {targetId:cNo, category:'T01',page},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				console.log(res.paging);
				//기존 박스 지우기
				$('#returnPaging').empty();
				$("#cotestCntn").empty();
				
				//작성자가 아니면 문의사항 입력박스 출력
				if(userId != writer){
					$("#cotestCntn").append(questionBox());
				}
				//리턴값 문의사항이 없으면 출력
				if(res.questions == 0){
					$("#cotestCntn").append($('<p>').append("문의사항이 없습니다."))
				}
				//문의사항이 있다면
				for(data of res.questions){
					if(data.rerepTgt == null){ 
						//문의사항
						$("#cotestCntn").append(make(data));
					}					
					else {
						//답변사항
						$("#" + data.rerepTgt).append(makeRe(data));
					} 
				}
				//기존 페이징 삭제후 붙이기
				$('#returnPaging').empty();
				$('#returnPaging').append(makePageing(res.paging,"questions")); 
	        })
		}
		
		//일반회원 문의등록,수정삭제 -----------------------------------------------------------------------
		//문의등록처리
		$('#divCntn').on("click", "#insertBtn", function(){
			
			//비밀글 체크시 값
			let secretYn;
			if($(this).prev('input').is(":checked")){
				secretYn = 'Y';
			}
			let Ttl =$(this).parent().children('input').val();
 			let Cntn = $(this).parent().children('textarea').val(); 
 			let targetId = cNo;
 			let category = 'T01';
 			
 			console.log(Cntn)
 			console.log(Ttl)
 			
 			if(userId == ''){
 				login() //로그인모달창.
 			//내용이 없고 등록버튼을 눌렀을경우
 			}else if(Cntn == '' || Ttl  == ''){
 				alert('문의사항을 입력해주세요');
 			//문의사항 등록처리
 			}else{
 				$.ajax({
 	 	   			url : '/questions/insertAjax',
 	 	   			method : 'post',
 	 	   			data : {userId, Ttl, Cntn, targetId,category,secretYn},
 	 	   			beforeSend : function(xhr)
 	 	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
 	 					xhr.setRequestHeader(header, token);
 	 	            }
 	 	   		}).then(res => {
 	 	   			//문의 부분에 등록하기
 	 	   			console.log(res);
 	 	   			alert('문의등록 완료')
 	 	   			$("#cotestCntn").children("p").remove();
 	 	   			$("#cotestCntn").children("ul").before(make(res)); //문의사항 맨앞에 붙이기.
 	 	   		})
 			}
		});
		//문의사항 삭제
		$("#divCntn").on("click", ".qDelete", function(){
			let btn = $(this);
			let qNo = $(this).parent("div").attr('id');
			
 			$.ajax({
 	   			url : '/questions/delete',
 	   			method : 'post',
 	   			data : {qNo,userId},
 	   			beforeSend : function(xhr)
 	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
 					xhr.setRequestHeader(header, token);
 	            },
				success : function(result){
						alert('삭제완료');
						btn.closest(".comment").remove();
				 },
		           fail: function () {
		        	   alert('삭제실패');
		           }
				})
		});
		
		//문의내용 수정폼으로 변경
		$("#divCntn").on('click', '.qUpdate', function(e){
			let btn = $(this);
			let qNo = $(this).parent("div").attr('id');
			
			let p = $(this).parent("div").children("p").text();	
		     $(this).parent().children('p').replaceWith("<div><input type='hidden' id='qNo' name='qNo' value='" + qNo +"'></input> <input type='text' id='qCntn' name='qCntn' value='" + p + "'></input>");
			
			$(this).toggleClass("updateBtn"); 
		});
		
		//문의 수정처리(수정폼에서 추가된 updateBtn)
		$("#divCntn").on('click', '.updateBtn', function(e){
			let btn = $(this);
			let Cntn = $('#qCntn').val();
			let qNo = $('#qNo').val();
			let targetId = cNo;
 			let category = 'T01';
 			
			let updateBtn = `<button class='qUpdate'>수정</button>`;
			
			$.ajax({
				url : '/questions/update',
				method : 'POST',
				data : {qNo, Cntn,userId,targetId,category},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
				success : function(result){
						alert('수정성공');
						btn.parent().children('div:eq(1)').replaceWith("<p>" + result.cntn + "</p>");
				},
		        fail: function () {
	                 	alert('수정실패')
	           }		
			})
		});
		//공모작성자 문의답변 등록,수정,삭제 -----------------------------------------------------------------------
		//답변등록 입력폼
		function makeFrm(qTgt) {
			let form = `<form>
							<input type="hidden" id="qTgt" name="qTgt" value="${qTgt}">
				            <textarea class="form-control" id="qCntn" name="qCntn" rows="3"></textarea>
				            <button type="button" id="qTgt" class="questionRepInsert">답변등록</button>
				        </form>`
		    return form;
		}
		
		//답변등록 누를경우 생성되는 등록 입력폼
		$('#divCntn').on("click", ".questionRep", function(){
			 let qTgt = $(this).parent("div").attr('id');
 			$(this).parent("div").append(makeFrm(qTgt));
 			$(this).remove();
 			
		});
		//답변등록처리 및 붙여넣기.
		$('#divCntn').on("click", "#qTgt", function(){
			let btn =  $(this);
			let insertForm = $(this).parent('form');
			let qNo = $(this).prev().prev().val();
			let Cntn =$(this).prev().val();
			let secretYn = insertForm.prev().val();
			
			if(Cntn == '' ){
 				alert('답변을 입력해주세요');
 			//문의사항 등록처리
 			}else{
 				$.ajax({
 	 	   			url : '/questions/insertAjax',
 	 	   			method : 'post',
 	 	   			data : {userId, Cntn, rerepTgt:qNo,category:'T01',targetId:cNo,secretYn},
 	 	   			beforeSend : function(xhr)
 	 	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
 	 					xhr.setRequestHeader(header, token);
 	 	            },
	 	 	   		success : function(result){
	 	 	   			alert('답변등록 완료')
	 	 	   			insertForm.replaceWith(makeRe(result)); //답변 등록폼 제거, 댓글교체
	 	 	   			
	 	 	   		},
		            fail: function () {
		                 	alert('수정처리 실패')
		            }
 				})
			}
		})
		//참여작 출력-----------------------------------------------------------
		function contest(){
			let page = $('input[name="designPage"]').val();
			let save="N";
			$.ajax({
	            url:'/contest/ajaxDesignRead',
	            method:"post",
	            data : {cNo,page,save},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				console.log(res.design);
				console.log(res.paging);
				$("#cotestCntn").empty();
				$("#designBox").empty();
				
				if(res.design == 0){
					let p = '참여작이 없습니다.'
					$("#cotestCntn").append(p); 
				}
				for(design of res.design){
					
					if(writer == userId){
						$("#designBox").append(makeDesignNo(design)); 
					}
					else if(design.pubcYn == 'N') {//공개여부가 Yes이면
					 	$("#designBox").append(makeDesignNo(design)); 
					}else{//공개여부가 No이면
						$("#designBox").append(makeDesignYes(design)); 
					}
				 }		
					//기존 페이징 삭제후 붙이기
					$('#returnPaging').empty();
					$('#returnPaging').append(makePageing(res.paging,"design")); 
					
					
			})
		}
		
		//참여작 생성(공개)
		function makeDesignNo(design){
   			let div = `<div class="col-sm-6 col-md-4 col-lg-4">
				           <div id="${design.dgnNo}" class="shop-item">
				                <div class="shop-item-image">
				                	<img src="/fileView/${design.sevNm}" style="width: 340px; height: 340px">
				                </div>
				                <div class="shop-item-detail">
				               		 <h3 class="content-box-title font-serif">${design.dgnNo}</h3>
				                  	<span class="icon-magnifying-glass btn btn-round btn-b">상세조회</span></a>
				           	    </div>
				    		</div>
				    	</div>
				    	` ;
   			return div;
   		}
		//참여작 생성(비공개)   
		function makeDesignYes(design){
   			let div = `<ul style="list-style: none"> 
		                  <li class="comment">
		                    <div class="comment-body" id="${design.dgnNo}" style="float: left; margin-left: 20px; margin-botton: 20px;">
		                  	  <img src="/images/public.jpg" class=" icon-lock" style="width: 340px; height: 340px"></a>
		                      <div class="meta">${design.dgnNo}</div>
		                   </li>
                   		 </ul> `
   			return div;
   		}
		
		//디자인 공개여부 모달창---------------------------------------------------------------
		$('#designBox').on("click", function(e){
			let dNo = $(this).children('div').children('div').attr("id");
			designModel.style.display = "block";
			
			$.ajax({
				url: '/design/ajaxSelect',
				method: 'post',
				data: {dgnNo:dNo},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
			}).then(res => {
				console.log(res);
				let user = res.userId;
				let title = res.name;
				let cntn = res.cntn;
				
				$('#title').empty();
				let content = `<h3>${user} 님의 참여작품 </h3>
								<p>작품명 : ${title} </p>
								<p>${cntn} </p>
							  `
				
				$('#title').append(content);
				
				//모달내용을 지운뒤 붙여넣기.
				$('#modelSelect').empty();
				for(file of res.files){
					makeDesign(file.sevNm,title,dNo);
				}
				
			})
		})
		
		//모달창 :디자인 응모작품 생성.
		function makeDesign(fileName,dNo){
			let design = `  <div class="design" id="${dNo}" style="float: left ">
									<img src="/fileView/${fileName}" style="width: 500px; height: 500px">
						   </div>
						  `
				$('#modelSelect').append(design);
		}
		//모달창 숨기기.
		$("#designCancel").on('click', function() {
			$("#designModel").hide();
		});
		
		
		
		//하트클릭시 DB입력(등록,취소)-----------------------------------------------------------
		function loveCheck(e) {
			$(e).toggleClass("active");//css 변경
			//이벤트객체console.log(this.contest);
			let category = 'T01';
			let targetNo = cNo;
			
			//하트가 눌렸을 경우 실행
			if ($(e).hasClass("active")) {
				$.ajax({
					url: '../likes/lInsert',
					method: 'post',
					data: {targetNo,category},
					beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
				}).then(res => {
					if(res > 0){
						alert('관심공모전 추가완료!')
						location.href='/contest/select?cNo='+cNo;
						
					}else{
						alert('관심공모전 추가실패!')
					}
				})

			//하트가 눌리지 않았을 경우 실행
			} else if (!($(e).hasClass("active"))) {
					$.ajax({
						url: '../likes/lDelete',
						method: 'post',
						data: {targetNo,category},
						beforeSend: function (xhr) {
							/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
							xhr.setRequestHeader(header, token);
						},
					}).then(res => {
						if(res > 0){
							alert('관심공모전 취소완료!')
							location.href='/contest/select?cNo='+cNo;
						}else{
							alert('관심공모전 취소실패!')
						}
					})
				}
		}
		
		// 페이징 만들기
		function makePageing(page,id) {
			if (page.totalRecord == 0) {
				return;
			}
			let pagination = $("<div/>")
			let ul = $("<ul/>").attr("class","pagination");
			if (page.startPage > 1) {
				$(ul).append($("<li/>").html("&laquo;")
										.css("font-size", "30px")
										.attr("class","page-item")
										.on("click", function () {
												gopage(page.startPage - page.pageSize)
										}));
			}

			//페이지 버튼 생성.
			for (let i = page.startPage; i <= page.endPage; i++) {
				if (page.page == i) {
					$(ul).append($("<li/>") .text(i).css("font-size", "20px")
											.css("padding", "10px")
											.css("border-radius", " 10% / 50% ")
											.css("background", "#dce3fd")
											.attr("class", "page-link active")
					);
				} else {
					$(ul).append($("<li/>").text(i).css("font-size", "20px")
											.css("padding", "10px")
											.attr("class", "page-link")
											.on("click", function () {
												gopage($(this).text(),id);
											})); //페이지이동 함수
				}
			}
			if (page.endPage < page.lastPage) {
				$(ul).append($("<li/>").html("&raquo;")
										.css("font-size", "30px")
										.attr("class","page-item")
										.on("click", function () {
												gopage(page.startPage + page.pageSize)
										}));
			}
			pagination.append(ul);
			return pagination;
		}
		
		//신고부분=========================================================
		   //신고 모달창 띄우기
		   $('#modalUp').on('click', function() {
			   console.log('클릭');
			   console.log($("#rprtModal"))
			   $("#rprtModal").show();
		   })
		   
		   //모달창에서 취소를 눌렀을 경우
		   $("#cancel").on('click', function() {
				$("#rprtModal").hide();
			});
		   
		   //모달창에서 신고를 눌렀을 경우
		   $("#punish").on('click', function() {
			   let targetId = $("#targetId").val();
			   let banCntn = $("#banCntn").val();
			   let writer = "[[${contest.writer}]]"
			   let banType = 'P1';
			    $.ajax({
						url : "/punishInsert",
						method : 'post',
						contentType : 'application/x-www-form-urlencoded',
						data : {userId:userId, targetId:cNo, banType:banType,banCntn:banCntn, targetCat:"T01", writer: writer},
						beforeSend : function(xhr)
		                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
		    				xhr.setRequestHeader(header, token);
		                },
						success : function(data) {
							if(data == 0){
								alert('이미 신고된 게시글 입니다.');
							}else{
								alert('신고되었습니다.');
								$("#rprtModal").hide();
							}
						},
						fail : function(result) {
							alert('필수항목을 입력해주세요')
						}
					})
		   })

		
	</script>
	</div>
</body>
</html>