<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/model.css">
<link rel="stylesheet" href="/css/cotestForm.css">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="content">

		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">공모전</h2>
                <div class="module-subtitle font-serif" >공모전 응모신청</div>
              </div>
            </div>
          </div>
        </section>		
		
		<div class="contestContainer">
			<textarea rows="20" cols="90">
[콘테스트 참여 약관 동의]
1. 로고,일러스트 콘테스트에는 어떠한 스톡이미지, 프리백터,클럽아트도 사용해서는 안됩니다.
  상업적 사용이 제한되는 폰트, 스톡이미지의 사용 규정 및 범위를 위반할 시, 계정이 영구적으로 삭제될 수 있습니다. 작품에 유료 폰트,스톡이미지,프리백터 등을 사용한 경우에는 반드시 의뢰자에게 저작권 문제가 없을을 명시해야한 합니다.
2. 이벤티의 판단하에 본 디자인이 다른 디자이너의 작품을 도용한 것으로 판단되는 경우, 이벤티는 해당 디자이너의 활동을 제지 혹은 금지할 수 있습니다.
또한 상금이 지급되었을 경우 라우드소싱은 디자이너에게 전액 환불을 요구 할 수 있으며, 이에서 파생되는 의뢰자와의 분쟁 및 손해에 관해서는 관련법규에 따라 디자이너에게 배상의 의무가 부여될 수 있습니다.
 반드시 자신의 디자인만 등록해 주세요.
3. 로고, 일러스트 드으이 디자인은 반드시 백터 형태로 작업해야 합니다.
4. 잘못된 디자인으로 인해 법적인 문제에 휘말리게 될 경우, 모든 법적 그리고 금전적인 손실에 대한 책임은 디자이너 측에 있습니다.
5. 이벤티는 실제 상업적으로 사용될 디자인을 위뢰하는 경우 전문 디자이너 플랫폼입니다.
   동일 디자이너의 사연에 대해 의뢰자의 불만이 지속적으로 발생 시, 이벤티 내부 검수를 통해 참여가 제한될 수 있습니다.
</textarea>
			<br> <input type="checkbox" id="contestCheck">약관에 전부 동의합니다..<br>
		
		
			<!-- 공모전등록 입력폼 -->
			<form action="/design/designInsert" enctype="multipart/form-data" id="contestfrm" name="contestfrm" method="post" onsubmit="return check();">
				<input type="hidden" id="token" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<ul>
					<!-- 임시저장값 hidden -->
					<li><label>디자인번호</label><input type="text" id="dgnNo" name="dgnNo" th:value="${dNo}" readonly="readonly"><br /></li>
					<li><label>공모번호</label><input type="text" name="cNo" th:value="${contest.cNo}" readonly="readonly"></li>
					<li><input type="hidden" name="caregory" th:value="${contest.categoryCode}"></li>
					<li><label>카테고리</label><input type="text" th:value="${contest.category}" readonly="readonly"></li>
					<li><label>작성자</label><input type="text" name="userId" th:value="|${session.member.getUserId()}|" readonly="readonly"><br /></li>
					<li><label>등록일</label><input type="date" name="dtReg" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" readonly></li>
					<li><label>제목</label><input type="text" id="name" name="name" required="required"></li>
					<li><textarea name="cntn" class="form-control" id="cntn" cols="30" rows="4" placeholder="내용을 입력해주세요." required="required"></textarea></li>
					<li><label>예금주 : </label><input type="text" th:value="${user.depotr}" disabled="disabled"></li>
					<li><label>은행명 : </label><input type="text" th:value="${user.bank}" disabled="disabled"></li>
					<li><label>계좌번호: </label><input type="text" th:value="${user.accnt}" disabled="disabled"></li>
				</ul>

				<div class="col-md-12">
					<div class="form-group">
						<div><input type="checkbox" name="pubcYn" value="Y">비공개</div>
						<div><input type="checkbox" name="save" value="Y">임시저장<br></div>
						<input id="imgInp" type="file" name="uploadFile" multiple="multiple" required="required">
						<div class="fileDown">
							<img id="blah" src="#" alt="your image" width="250px" />
							<button type="button" id="cancel" class="btn btn-warning cancel">
								<span>Cancel</span>
							</button>
						</div>
					</div>
				</div>
				<button type="reset">초기화</button>
				<button type="button" id="saveFile" >불러오기</button>
				<button type="submit" id="insertForm">등록</button>
				<button type="button" id="cancleBtn" onclick="location.href='/contest/List'">취소</button>
			</form>
		</div>
		
		<!-- 임시저장 모달 -->
		<div id="saveDesign" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<h2>임시저장 디자인 리스트</h2>
				<div id="button_box"> </div>
			</div>
		</div>
		
		
		<script>
			//csrf설정
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			let oEditors = []

			smartEditor = function() {
				console.log("Naver SmartEditor")
				nhn.husky.EZCreator.createInIFrame({
					oAppRef : oEditors,
					elPlaceHolder : "cntn",
					sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
					fCreator : "createSEditor2"
				})
			}

			$(document).ready(function() {
				smartEditor()
			})
			
			// Get the modal-----------------------------------------------------------------
			var saveModal = document.getElementById("saveDesign");
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];
			
			// <span> (x), close the modal
			span.onclick = function() {
			  saveModal.style.display = "none";
			}
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			  if (event.target == modal) {
			    saveModal.style.display = "none";
			  }
			}
			
			$('#saveFile').on('click', function () {
				saveModal.style.display = "block";
			});
			
			//modal--------------------------------------------------------------------
			
			

			//등록버튼 누를시
			$('#insertForm').on('click', function() {
				oEditors.getById["cntn"].exec("UPDATE_CONTENTS_FIELD", [])
				let cntn = document.getElementById("cntn").value;

			});

			//폼 등록버튼 전송전 체크함수.
			function check() {
				let check = $('input[type="checkbox"]').is(":checked");

				//유의사항 체크확인
				if (!check) {
					alert('약관에 동의하세요.');
					return false;
					
				}//임시저장 확인
				else if ($('input[name="save"]').is(":checked") == true) {
					console.log($(this));
					if (!confirm('임시저장 하시겠습니까?')) {
						return false;
					}else{
						return true;
					}
				}	
				//비공개 확인
				else if ($('input[name="pubcYn"]').is(":checked") == true) {
					if (!confirm('비공개로 디자인 응모하시겠습니까?')) {
						return false;
					}else{
						return true;
					}
				//공개 응모확인.	
				}else if (!confirm('공개로 디자인 응모시겠습니까?')) {
					return false;
				}
				return true;
			}
			
			console.log(($('input[name="save"]').is(":checked")));
			
			//파일 업로드 이미지 미리보기
			//파일 INPUT창에 변화가 있을 경우 실행
			$("#imgInp").on('change', function() {
				//파일을 올렸을 경우 input type=file은 사라지고 이미지만 띄어진다.
				$(this).toggleClass("fileDown"); //input파일
				$(this).next().toggleClass("fileDown"); //div
				readURL(this);
			});

			//이미지 미리보기 처리
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function(e) {
						$("#blah").attr('src', e.target.result);
					}

					reader.readAsDataURL(input.files[0]);
				}
			}

			//파일 삭제
			$("#cancel").on('click', function() {
				//파일을 지우고 싶을때 삭제버튼을 누르면 이미지는 사라지고 input type=file 입력폼이 다시 나타난다.
				$(this).parent().prev().toggleClass("fileDown");
				$(this).parent().toggleClass("fileDown");
				//file영역에 있던 값 삭제
				$("#imgInp").val('');
			})
			
			
		//임시저장 불러오기-----------------------------------------------------
		 $('#saveFile').on('click', function() {
			let userId = '[[${session.member.userId}]]';
			let cNo = '[[${contest.cNo}]]';
			
			//게시글 불러오기
			$.ajax({
				url : "/design/dSave",
				method : 'post',
				data : {cNo,userId},
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            },
				success : function(data) {
					$("#button_box").empty();
					//임시저장된 게시글이 없을 경우
					if(data == 0){
						alert('임시저장된 디자인이 없습니다.');
					}else {
						for(design of data){
							$("#button_box").append(choiceDesign(design));
						}
					} 
				},
				fail : function(result) {
					alert('필수항목을 입력해주세요')
				}
			})
		})
		
		function choiceDesign(design) {
	    	let span = `<span id="modal_choice_btn">[${design.dgnNo}] ${design.name}</span><button type="button" onclick=checkFile('${design.dgnNo}')>불러오기</button><br>`;
	    	return span;
	    }
		    
		    //임시저장된 디자인 1건 가져오기
		    function checkFile(dgnNo) {
		    	$("#saveDesign").hide();
		    	
		    	//게시글 불러오기
				$.ajax({
					url : "/design/saveSelect",
					method : 'POST',
					data : {dgnNo},
		   			beforeSend : function(xhr)
		            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
		            },
					success : function(data) {
						console.log(data);
								 $("#dgnNo").val(data[0].dgnNo);
								$("#name").val(data[0].name);
								oEditors.getById["cntn"].exec("PASTE_HTML", [data[0].cntn]);
								
								if(data[0].sevNm != null){
							    	imgReader(data[0].sevNm);
								}
								//from 업데이트로 변경.
								$("#contestfrm").attr("action", "/design/saveUpdate");
					
					},
					fail : function(result) {
						alert('필수항목을 입력해주세요')
					}
		    })
		    }
		    
		    //이미지 미리보기 처리
			function imgReader(img){
				$("#imgInp").toggleClass("fileDown"); //input파일
				$("#imgInp").next().toggleClass("fileDown"); //div
				$("#blah").attr('src', '/fileView/'+img);
			}
		</script>
	</div>
</body>
</html>