<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<link rel="stylesheet" href="/css/model.css">
<link rel="stylesheet" href="/css/heart.css">
<link rel="stylesheet" href="/css/contest/button.css"><!--버튼 스타일 -->
<link rel="stylesheet" href="/css/contest/model.css"><!-- 모달 스타일 -->
<style>
#returnPaging{
	margin-top: 20px;
	margin-bottom: 40px;
}
.container {
    width: 75%;
}
label {
	font-weight:bold;
	font-size: 20px;
	display:inline-block;
	text-align:center;
	width:60px;
	margin: 10px;
}
#boxList{
	margin-left: 70px;
}
 #order_check  {
 	width: 20%;
	margin: 7px 10px;
}
.col-md-4{
    top: -100px !important;
	margin-bottom: -115px !important;
	margin-left: -25px !important;
	
	}
.module-small {
    padding: 20px 0;
    z-index: 1 ;
}
.col-sm-3 {
    width: 40%;
    display: flex;
    flex-direction: row;
}
#cotestHeader{
	display:flex;
	flex-direction: row;
    align-items: center;
}

</style>
</head>
<body>
	<div layout:fragment="content" class="content">
		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/assets/images/gallery_bg.jpg" style="background-image: url(&quot;assets/images/gallery_bg.jpg&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">공모전 전체리스트</h2>
              </div>
            </div>
          </div>
        </section>


		<section class="module-small">
          <div class="container">
          
          	   <!-- 좋아요리스트 조회 및 공모전 작성 버튼 -->
				<div class="col-sm-3 mb-sm-20"  style="position:relative; top:-13px; right:-1200px; width: 100px;  z-index: 1 ;">
					<!-- 비회원 좋아요버튼-->
					<th:block sec:authorize="!isAuthenticated()">
							<div id="love" class="stage heart" th:onclick="|location.href='@{/loginPage}'|"></div>
					</th:block>
					
					<!-- 회원 좋아요버튼-->
					<th:block sec:authorize="isAuthenticated()">
							<div id="love" class="stage heart" onclick="likeClick(this)"></div>
					</th:block>
				</div>
          
          	<div id="cotestHeader">
	              <!-- 공모전 정렬기준 -->
	              <div class="col-sm-3 mb-sm-20" id="order_check">
	                <select id="order" name="order" class="form-control" style="font-size: 18px; font-weight:bold; height: 40px; cursor: pointer;">
						<option value="inq DESC" selected="selected">조회수</option>
						<option value="likes DESC">좋아요순</option>
						<option value="pay DESC">금액순</option>
						<option value="dDay">마감일 빠른순</option>
						<option value="dDay DESC">마감 느린순</option>
	                </select>
	              </div>
	              
	              
	              	<!-- 분류별 기준 뽑아오기 -->
	              	 <div id="catrgory_check">
	                		<input type="checkbox" name="category" value="D1" onclick="doOpenCheck(this);"><label>현수막</label>
							<input type="checkbox" name="category" value="D2" onclick="doOpenCheck(this);"><label>배너</label>
							<input type="checkbox" name="category" value="D3" onclick="doOpenCheck(this);"><label>로고</label>
							<input type="checkbox" name="category" value="D4" onclick="doOpenCheck(this);"><label>포스터</label>
							<input type="checkbox" name="category" value="D5" onclick="doOpenCheck(this);"><label>기타</label>
	                </div>
	              
	              <div class="col-sm-3"   >
	              	<!-- 비회원 공모전작성버튼-->
					<th:block sec:authorize="!isAuthenticated()">
						<button class="w-btn w-btn-gra1" th:onclick="|location.href='@{/loginPage}'|">공모전 작성</button>
					</th:block>
					
					<!-- 일반회원 공모전작성버튼-->
					<th:block sec:authorize="isAuthenticated()">
						<a href="./insert">
							<button class="w-btn w-btn-gra1">공모전 작성</button>
						</a>
					</th:block>
					
					<!-- 마감된 공모전 조회 -->
					<button type="button" id="history" class="w-btn w-btn-gra1 w-btn-gra-anim   status" >마감공모전 조회</button>
					<button type="button" id="now" class="w-btn w-btn-gra1 w-btn-gra-anim   status" style="display:none;">진행공모전 조회</button>
	              </div>
	           </div>
	         </div>
        </section>
           

			<div class="container">
				<!-- 공모전 리스트 -->
				<div class="row multi-columns-row" id="boxList"  > </div>

				<!-- //페이징 경로 :: 문자 -->
				<div class="row mt-5" id="paging">
					<div class="col text-center">
						<div class="block-27" id="returnPaging">
						</div>
					</div>
				</div>
		
				<!-- 페이징/정렬처리 -->
				<input type="hidden" name="orderSelect" value="dt_Reg">
				<input type="hidden" name="categorySelect" value="">
				<input type="hidden" name="page" value="1">
				<input type="hidden" name="history" value="">
			</div>
			
			<!-- 우승자 상세보기 모달 -->
			<div id="winnerModel" class="modal">
				<div class="img_modal_content">
					<span id="winnerCancel" class="close">&times;</span>
					<h3 id="coNo" style="width: 50%; margin: 30px auto 10px; text-align: center;"></h3>
					<div id="modelSelect"></div>
				</div>
				<div class="modal_layer"></div>
			</div>


			<!-- 자바스크립트 -->
			<script>
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				contestList(); // 첫 화면 리스트출력

			
				//우승자 모달창 출력----------------------------------------------------
				var winnerModel = document.getElementById("winnerModel");
		
				// <span> (x), close the modal
				$('.close').on("click", function(){
					winnerModel.style.display = "none";
				})
				
				$("#boxList").on("click", ".shop-item-image", function(){
					
					let coNo = $(this).prev().attr("id");
					console.log($(this));
					
					if($('#history').css("display") != "none"){
						location.href = "/contest/select?cNo=" + coNo;
						return false;
					}
	
						$.ajax({
							url: '/winner/select',
							method: 'post',
							data:{ coNo },
							beforeSend: function (xhr) {
								/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
								xhr.setRequestHeader(header, token);
							},
							success: function (result) {
				        	   	console.log(result);
				        	   	
								if(result == null || result==''){
									alert('등록된 우승자가 없습니다.')
									return false;
								}			        	   	
				        	   	
				        	   	$('#modelSelect').empty();
				        	   	for(winner of result){
					        	   	makeWinner(winner);
				        	   	}
				        	   	winnerModel.style.display = "block";
					        },
					        fail: function () {
				        		console.log("실패");
					        }
						
						})
				})
				
				//우승자 모달창 생성.
				//모달창 :디자인 응모작품 생성.
				function makeWinner(data){
					$('#coNo').empty();
					$('#coNo').text("["+data.TTL + "] 우승자");
					
					let img = null;
					
					if(data.GRADE == 1){
						img = 'first'
					}else if(data.GRADE == 2){
						img = 'second'
					}else{
						img = 'third'
					}
					
					let design = `  <div class="design" id="${data.DGN_NO}" style="width: 50%; margin: 0 auto;">
						 				<div style="width: 70%; margin: 10px auto 10px;display: flex; ">
											<img src="/images/${img}.jpg" style="width: 100px; height: 100px; ">
											<p style="margin: 50px 0 10px;">작품명 : ${data.NAME}</p>
											<a href="/prtfl/dgnerSelect?userId=${data.USER_ID}" style="margin-top: 33px;"><button>포트폴리오</button></a>
										</div>
										<img src="/fileView/${data.SEVNM}" style="width: 500px; height: 500px; border-radius: 3%;" >
								   </div>
								  `
						$('#modelSelect').append(design);
					
				}
				
				
				//페이지 이동----------------------------------------------------
				function gopage(i) {
					let page = $('input[name="page"]').val(i);
					
					//하트가 눌렸을 경우 실행
					if ($("#love").hasClass("active")) { 
						likeSelect();
					
					//하트가 눌리지 않았을 경우 실행
					} else { 
						//정렬 리스트 불러오는 함수
						checkSelect();
					}
					
				}
				//공모전 기본 전체리스트----------------------------------------------------
				function contestList() {
					
					$.ajax({
						url: '/contest/List',
						method: 'post',
						data: JSON.stringify({
							order
						}),
						contentType: "application/json",
						beforeSend: function (xhr) {
							/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
							xhr.setRequestHeader(header, token);
						},
					}).then(res => {
						console.log(res.paging)
						//map =>  contest,paging 
						$('#boxList').empty();
						for (contest of res.contest) {
							$('#boxList').append(makeBox(contest));
						}
						$('#returnPaging').empty();
						$('#returnPaging').append(makePageing(res.paging));
					})
				};
				//전체리스트 끝
				
				//정렬기준 변경 ex)조회순
				$('#order').on("change", function () {
					let order = $(this).val();
					$('input[name=orderSelect]').val(order);
					$('input[name=page]').val(1);
					checkSelect();

				});


				//분류별 조회 선택 ex)현수막
				$('input[type=checkbox][name=category]').each(function (index) {
					$(this).change(function () {
						if (this.checked) {
							$('input[name=categorySelect]').val($(this).val());//체크값 조회
						}else{
							$('input[name=categorySelect]').val(""); //전체조회
						}
							$('input[name=page]').val(1); //1페이지 
							checkSelect();
					});
				});
				
				//지난공모전 분류,정렬기준 전체확인 => 리스트출력.
				$('.status').on("click", function(){
					
					let id = $(this).attr("id");
					
					if(id == 'history'){
						$('input[name=history]').val('history');
						$(this).css('display', 'none');
						$('#now').css('display', 'block');
					}else{
						$('input[name=history]').val('');
						$(this).css('display', 'none');
						$('#history').css('display', 'block');
					}
					$('input[name=page]').val(1);
					checkSelect();
				});
				

				//분류,정렬기준 전체확인 => 리스트 출력.
				function checkSelect() {
					let ing = $('input[name=history]').val();
					let category = $('input[name=categorySelect]').val();
					let order = $('input[name=orderSelect]').val();
					let page = $('input[name=page]').val();
					
					$.ajax({
						url: '/contest/List',
						method: 'post',
						data: {
							category,
							order,
							page,
							ing
						},
						beforeSend: function (xhr) {
							/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
							xhr.setRequestHeader(header, token);
						},
					}).then(res => {
						//등록된 공모전이 없을경우 기존페이지로 이동.
						if (res.contest == 0) {
							location.href = '/contest/List';
							alert('등록된 공모전이 없습니다');
						}else{
							//기존 리스트 삭제 -> div생성 붙여넣기
							$('#boxList').empty();
							for (contest of res.contest) {
								$('#boxList').append(makeBox(contest));
							}

							//기존 페이징 삭제 -> 다시붙여넣기
							$('#returnPaging').empty();
							$('#returnPaging').append(makePageing(res.paging));
						}
					}).catch(error => console.log(error));
				}

				//체크박스 1건만 선택가능하도록 설정.
				function doOpenCheck(check) {
					var obj = document.getElementsByName("category");
					for (var i = 0; i < obj.length; i++) {
						if (obj[i] != check) {
							obj[i].checked = false;
						}
					}
				}

				//공모전 1건의 대한 박스 생성
				function makeBox(contest) {
					//로그인 회원의 하트눌려진것만 체크
					let dDay = 'D-'+contest.dDay;
					let active= '';
					let img= '';
					let link = ` <a href="/contest/select?cNo=${contest.cNo}" class="btn btn-round btn-b">
								 <span class="icon-magnifying-glass">상세조회</span></a>
								`;
					
					// 마감된 공고문 리스트 생성
					//숫자 문자형 변환 -> - 제거
					if(contest.dDay < 0){
						data = (contest.dDay).toString();
						let str = (data.substr(1));
						dDay = 'D+'+str;
						
						link = ` <a href="#" class="btn btn-round btn-b">
							 <span class="icon-magnifying-glass">우승자조회</span></a>
							`;
					}
					
					if(contest.userLike > 0){
						//console.log(contest.cNo);
						//console.log(contest.userLike);
						active = 'active';
					}
					if(contest.img == null){
						img =  `<img src="/images/public.jpg" class="icon-lock" style="width: 400px; height: 400px; border-radius: 5%; ">`
					}else{
						img = `<img src="/fileView/${contest.img}" style="width: 400px; height: 400px; border-radius: 5%; ">`
					}
					let p = ` 
								<div class="col-sm-6 col-md-4 col-lg-4">
					                <div class="shop-item" >
								  		  <div id="${contest.cNo}" class="stage heart ${active}" onclick="loveCheck(this)" style="position:relative; top:90px; z-index: 1;  right: -310px;">
								  		  </div>
						                  <div class="shop-item-image">${img}
							                    <div class="shop-item-detail">
										   				<div>
										   				  <h3 class="content-box-title font-serif">[${contest.category}] ${dDay}</h3>
										   				  <h3 class="content-box-title font-serif">${contest.ttl}</h3>
										                  <h3 class="content-box-title font-serif">₩${contest.payComma}</h3>
										                  <span>#${contest.style}</span>
										                   <p>
																신고<span id="rprt">${contest.rprt}</span>
																조회<span id="inq">${contest.inq}</span>
																좋아요<span id="likes">${contest.likes}</span>
														   </p>
														 </div>
							                    		${link}
							                    </div>
						                  </div>
						              </div>
					              </div> `;
					return p;
				}


				// 페이징 만들기
				function makePageing(page) {
					if (page.totalRecord == 0) {
						return;
					}
					let pagination = $("<div/>")
					let ul = $("<ul/>").attr("class","pagination");
					if (page.startPage > 1) {
						$(ul).append($("<li/>").html("&laquo;")
												.css("font-size", "30px")
												.attr("class","page-item")
												.on("click", function () {
														gopage(page.startPage - page.pageSize)
												}));
					}

					//페이지 버튼 생성.
					for (let i = page.startPage; i <= page.endPage; i++) {
						if (page.page == i) {
							$(ul).append($("<li/>") .text(i).css("font-size", "20px")
													.css("padding", "10px")
													.css("border-radius", " 10% / 50% ")
													.css("background", "#dce3fd")
													.attr("class", "page-link active")
							);
						} else {
							$(ul).append($("<li/>").text(i).css("font-size", "20px")
													.css("padding", "10px")
													.attr("class", "page-link")
													.on("click", function () {
														gopage($(this).text());
													})); //페이지이동 함수
						}
					}
					if (page.endPage < page.lastPage) {
						$(ul).append($("<li/>").html("&raquo;")
												.css("font-size", "30px")
												.attr("class","page-item")
												.on("click", function () {
														gopage(page.startPage + page.pageSize)
												}));
					}
					pagination.append(ul);
					return pagination;
				}

				//공모전 전체하트를 클릭했을 경우 => 나의 좋아요 공모전박스 생성출력.
				function likeClick(e) {
					$('input[name=page]').val(1);
					$(e).toggleClass("active"); 
					likeSelect();
				}

				function likeSelect(){
					let page = $('input[name=page]').val();
					
					if ($("#love").hasClass("active")) { //하트가 눌렸을 경우 실행

						$.ajax({
							url: '/contest/ajaxlike',
							method: 'post',
							data:{page},
							beforeSend: function (xhr) {
								/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
								xhr.setRequestHeader(header, token);
							},
						}).then(res => {
							//map =>  contest,paging 
							console.log(res);
							
							//관심 공모전이 없을경우
							if(res.contest == ''){
								alert('관심공모전이 없습니다.')
								$("#love").toggleClass("active");//css 변경
								checkSelect();
								return false;
							}
							
							$('#boxList').empty();
							$('#cotestHeader').hide();
							for (contest of res.contest) {
								$('#boxList').append(makeBox_map(contest));
							}

							$('#returnPaging').empty();
							$('#returnPaging').append(makePageing(res.paging));

						})
					} else if (!$("#love").hasClass("active")) { //하트가 눌리지 않았을 경우 실행
						//정렬 리스트 불러오는 함수
						$('#cotestHeader').show();
						let page = $('input[name=page]').val(1);
						checkSelect();
					}
				}


				//Map : 로그인회원의 좋아요 공모전박스생성
				 function makeBox_map(contest) {
					 let dDay = 'D-'+contest.DDAY;
					
					// 이미지가 없을경우.
					 if(contest.IMG == null){
							img =  `<img src="/images/public.jpg" class=" icon-lock" style="width: 400px; height: 400px; border-radius: 5%; ">`
						}else{
							img = `<img src="/fileView/${contest.IMG}" style="width: 400px; height: 400px; border-radius: 5%; ">`
						}
					
					// 마감된 공고문 리스트 생성
					//숫자 문자형 변환 -> - 제거
					if(contest.DDAY < 0){
						data = (contest.DDAY).toString();
						let str = (data.substr(1));
						dDay = 'D+'+str;
						}
					
					let p = ` 
						<div class="col-sm-6 col-md-4 col-lg-4">
			                <div class="shop-item">
		  					<div id="${contest.C_NO}" class="stage heart active" onclick="loveCheck(this)" style="position:relative; top:90px; z-index: 1;  right: -310px;"></div>
			                  <div class="shop-item-image">${img}
			                    <div class="shop-item-detail">
					   				<div>
					   				 <h3 class="content-box-title font-serif">[${contest.CATEGORY}] ${dDay}</h3>
					   				  <h3 class="content-box-title font-serif">${contest.TTL}</h3>
					                  <h3 class="content-box-title font-serif">₩${contest.PAYCOMMA}</h3>
									   <p>#${contest.STYLE}</p>
					                  <p>
											신고<span id="rprt">${contest.RPRT}</span>
											조회<span id="inq">${contest.INQ}</span>
											좋아요<span id="likes">${contest.LIKES}</span>
									   </p>
									</div>
			                    	<a href="/contest/select?cNo=${contest.C_NO}" class="btn btn-round btn-b">
			                    	<span class="icon-magnifying-glass">상세조회</span></a>
			                    </div>
			                  </div>
			                </div>
			              </div> `;
					
					return p;
				} 

				//하트클릭시 DB입력(등록,취소)
				$('#boxList').on("click",".shop-item" ,function(){
					let cNo = $(this).attr("id");
					
				})
				//이벤트 e찾기..
				function loveCheck(e) {
					$(e).toggleClass("active");//css 변경
					//이벤트객체	console.log(this.contest);
					let category = 'T01';
					let targetNo = e.id; //이벤트 윈도우객체에서 찾기.
					
					//하트가 눌렸을 경우 실행
					if ($(e).hasClass("active")) {
						$.ajax({
							url: '/likes/lInsert',
							method: 'post',
							data: {targetNo,category},
							beforeSend: function (xhr) {
								/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
								xhr.setRequestHeader(header, token);
							},
						}).then(res => {
							if(res > 0){
								alert('관심 공모전 추가완료!')
									//전체하트가 눌려진 상태로 재실행
									if ($("#love").hasClass("active")) { 
										loveClick();
									//기본 정렬리스트 재실행
									}else{
										checkSelect();
									}
								
							}else{
								alert('관심 공모전 추가실패!')
							}
						})

						//하트가 눌리지 않았을 경우 실행
					} else if (!($(e).hasClass("active"))) {
						//하트가 눌렸을 경우 실행
							$.ajax({
								url: '/likes/lDelete',
								method: 'post',
								data: {targetNo,category}, 
								beforeSend: function (xhr) {
									/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
									xhr.setRequestHeader(header, token);
								},
							}).then(res => {
								if(res > 0){
									alert('관심 공모전 취소완료!')

									//전체하트가 눌려진 상태로 재실행
									if ($("#love").hasClass("active")) { 
										likeClick();
										
									//기본 정렬리스트 재실행
									}else{
										checkSelect();
									}
									
								}else{
									alert('관심 공모전 취소실패!')
								}
							})
						}
				}
			</script>
		</div>
</body>

</html>