<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<style>
.contestContainer {
	padding: 20px;
	margin: auto;
	float: center;
}
ul{
	list-style: none;
}
</style>
</style>
</head>
<body>
	<div layout:fragment="content" class="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-end justify-content-center">
					<div
						class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 class="mb-0 bread">공모전 수정</h2>
					</div>
				</div>
			</div>
		</section>
		<div class="contestContainer">
			<form name= "contestfrm">
				<ul>
					<li>
						<th:block th:switch="${contest.category}">
							<span th:case="D1"><label>분류별</label><input type="text"  readonly value="현수막"><br/></span>
							<span th:case="D2"><label>분류별</label><input type="text"  readonly value="배너"><br/></span>
							<span th:case="D3"><label>분류별</label><input type="text"  readonly value="로고"><br/></span>
							<span th:case="D4"><label>분류별</label><input type="text"  readonly value="포스터"><br/></span>
							<span th:case="D5"><label>분류별</label><input type="text"  readonly value="기타"><br/></span>
						</th:block>
					</li>
					<li>
						<label>공모번호</label><input type="text" name="cNo" th:value="${contest.cNo}" readonly><br />
					</li>
					<li>
						<label>작성자</label><input type="text"  th:value="${contest.writer}" readonly="readonly"><br /></li>
					<li>
						<label>제목</label><input type="text" name="ttl" th:value="${contest.ttl}"><br /></li>
					<li>
						<label>내용</label> <textarea rows="10" cols="50" name="cntn" th:text="${contest.cntn}"></textarea></li>
					<li>
						<label>첨부파일</label><input type="file"  multiple><br /></li>
					<li>
						<label>등록일</label><input type="date" readonly="readonly" th:value="${#dates.format(contest.dtReg, 'yyyy-MM-dd')}"><br />
					</li>
					<li>
						<label>마감일</label><input type="date"  th:value="${#dates.format(contest.dtCls, 'yyyy-MM-dd')}" readonly="readonly"><br />
					</li>
					<li>
						<label>1등상금</label><input type="number"  readonly="readonly" value=""><br />
					</li>
					<li>
						<label>2등상금</label><input type="number" readonly="readonly" value=""><br />
					</li>
					<li>
						<label>3등상금</label><input type="number" readonly="readonly" value=""><br />
					</li>
					<li>
						<th:block th:switch="${contest.style}">
						<span th:case="DS1"><label>선호스타일</label><span th:text="고전적인"></span></span>
						<span th:case="DS2"><label>선호스타일</label><span th:text="화사한"></span></span>
						<span th:case="DS3"><label>선호스타일</label><span th:text="분위기있는"></span></span>
						<span th:case="DS4"><label>선호스타일</label><span th:text="차분한"></span></span>
						<span th:case="DS5"><label>선호스타일</label><span th:text="발랄한"></span></span>
						<span th:case="DS6"><label>선호스타일</label><span th:text="재미있는"></span></span>
						<span th:case="DS7"><label>선호스타일</label><span th:text="진중한"></span></span>
						<span th:case="DS8"><label>선호스타일</label><span th:text="귀여운"></span></span>
						<span th:case="DS9"><label>선호스타일</label><span th:text="단순한"></span></span>
						<span th:case="DS0"><label>선호스타일</label><span th:text="기타"></span></span>
					</li>
				</ul>
				
				<button type="submit" id="updateBtn">수정</button>
				<button type="reset">취소</button>
			</form>
		</div>
	<script>
	
	//공모전 수정처리
	$('#updateBtn').on('click', function insert(){
		
		$.ajax({
	           url:"/contest/update",
	           method: 'put',
	           data: JSON.stringify( $('#contestfrm').serializeObject()),
	           success: function (result) {
	                 	alert('수정처리 성공')
	                 console.log(result);
	           },
	           fail: function () {
	                 	alert('수정처리 실패')
	           }
			})
		})
		
	</script>
	</div>
</body>
</html>