<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<style>
h3 {
	font-weight: bold;
	text-align: center;
}

.contestContainer {
	padding: 20px;
	margin: auto;
	float: center;
}

ul {
	list-style: none;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	height: 60%;
	text-align: left;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	
}
#modelBtn{
	text-align: center;
}
.modelBtn1 {
	display :inline-block;
}
</style>
</head>
<body>
	<div layout:fragment="content" class="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-end justify-content-center">
					<div
						class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 class="mb-0 bread">공모전 등록</h2>
					</div>
				</div>
			</div>
		</section>
		<div class="contestContainer">
			<textarea rows="20" cols="90">
[공모전 유의사항]
 (저작권법 제10조)공모전에 출품된 응모작의 저작권(저작재산권과 저작인격권)은 저작자인 응모자에게 원시적으로 귀속된다. 공모전 주최자는 입상하지 않은 응모작에 대해서는 어떠한 권리도 취득할 수 없다. 공모전 주최자는 별도의 반환 요청이 없는 한 입상하지 않은 응모작을 공모전 종료일로부터 3개월 이내에 모두 폐기하여야 한다.
 공모전 주최자는 응모작을 접수할 때 응모작 반환 여부에 대한 응모자의 의사를 확인하는 절차를 마련하여야 한다. 응모자가 저작물의 반환을 요구하는 경우에는 응모자에게 반환하되, 반환과 관련한 추가 비용이 발생 하는 경우 응모자가 부담할 수 있다. 공모전 주최자는 필요 최소한 범위 내에서 해당 입상작에 대한 이용허락을 받는 것을 원칙으로 하고, 응모자는 공모전에 응모함으로써 추후 입상할경우 주최자의 이용을 허락한 것으로 본다.
  다만, 공모전 주최자는 공모전의 목적에 합당하도록 이용허락의 조건(독점 또는 비독점 이용·이용방법·기간·횟수·장소·이용매체·이용허락의 대가 등)을 결정하여 공모전요강에 명시하여야 하고, 이용허락에 따른 정당한 대가를 지급하여야한다. 이때 정당한 대가는 일정한 조건 하에서 상금·상품 등으로 대체될 수있다. 공모전 주최자가 공모전 요강에서 공고한 이용허락 범위를 초과하여 입상작을 이용하거나, 2차적저작물작성권의 이용허락이 필요한 경우에는
 저작권법에 따라 입상자와 별도로 합의하여야 한다. 공모전 주최자가 입상작 발표 후 입상작의 저작재산권 전부 또는 일부를 양도받고자 하는 경우 정당한 대가 지급을 전제로 별도의 합의를 통해 다른 사람들보다 우선하여 해당 저작재산권을 양도받을 수 있다. 공모전 주최자가 입상작을 이용할 때에는 입상자의 저작인격권을존중하여야 한다. 공모전 주최자는 원칙적으로 저작자인 입상자의 성명을 표시하고, 입상작의 내용·형식 및 제호의 동일성을 유지하여야한다. 공모전 주최자가 입상작의 저작재산권 전부 또는 일부를 양도받는경우라 하더라도 동일하다 
</textarea>
			<br> <input type="checkbox" id="contestCheck">확인하였습니다.<br>

			<!-- 공모전등록 입력폼 -->
			<form action="/contest/insert" enctype="multipart/form-data" name="contestfrm" method="post" onsubmit="return check();">
				<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<ul>
					<li><label>분류</label> 
						현수막 <input type="radio" name="category" value="D1" checked>
						배너<input type="radio" name="category" value="D2"> 
						로고<input type="radio" name="category" value="D3">
						포스터<input type="radio" name="category" value="D4"> 
						기타 <input type="radio" name="category" value="D5"></li>
						
						
					<!-- 임시저장값 hidden -->
					<li><label>공모번호</label><input type="text" name="cNo" th:value="${cNo}" readonly="readonly"><br /></li>
					<li><label>작성자</label><input type="text" name="writer" th:value="|${session.member.getUserId()}|" readonly="readonly"><br /></li>
					<li><label>제목</label><input type="text" name="ttl" required="required"><br /></li>
					<li><label>내용</label> <textarea name="cntn" class="form-control" id="cntn" cols="30" rows="4" placeholder="내용을 입력해주세요." required="required"></textarea></li>
					<li><label>첨부파일1</label><input type="file" name="uploadFile" multiple="multiple"><br /></li>
					<li><label>등록일</label><input type="date" name="dtReg" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" readonly><br /></li>
					<li><label>마감일</label><input type="date" id="dtCls"  name="dtCls" required="required"><br /></li>
					<li><label>선호스타일</label> <select name="style" >
							<option value="none">=== 선호스타일 ===</option>
							<option value="DS1">고전적인</option>
							<option value="DS2">화사한</option>
							<option value="DS3">분위기있는</option>
							<option value="DS4">차분한</option>
							<option value="DS5">발랄한</option>
							<option value="DS6">재미있는</option>
							<option value="DS7">진중한</option>
							<option value="DS8">귀여운</option>
							<option value="DS9">단순한</option>
							<option value="DS0">기타</option>
					</select>
						<button>추가</button></li>

				<li><label>1등금액</label><input id="wPay1" class="wPay" type="number" name="winnerPay[]" required="required" ><br /></li>
				<li><label>2등금액</label><input id="wPay2"  class="wPay" type="number" name="winnerPay[]"><br /></li>
				<li><label>3등금액</label><input id="wPay3" class="wPay" type="number" name="winnerPay[]"><br /></li>
				<li><input type="checkbox" name="save" value="Y"><lable>임시저장</lable></li>
				</ul>
			<button type="reset">초기화</button>
			<button type="submit">등록</button>
			</form>
			
			<button type="button" id="cancleBtn" onclick="location.href='/contest/List'">취소</button>
			<button id="insertBtn">등록(->결제)</button>

			<!-- The Modal -->
			<div id="myModal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h3>공모전 결제정보</h3>
					<ul id="contestPay">
					</ul>
					<div id="modelBtn">
						<button id="Payment" class="modelBtn1" style="width:50px;"  type="button" >결제</button>
						<button id="cancle" class="modelBtn1"style="width:50px;" type="button">취소</button>
					</div>
				</div>

			</div>

			<script>
			
			//등록누를시 결제통해서 가도록.. 변경하기
			$('#insertBtn').on("click", function(){
				
				//입력한 값 변수저장
				let ttl = $('input[name="ttl"]').val();
				let date = $('input[name="dtReg"]').val();
				let wpay1 =   parseInt($('input[id="wPay1"]').val());
				let wpay2 =   parseInt($('input[id="wPay2"]').val());
				let wpay3 =   parseInt($('input[id="wPay3"]').val());
				let total = (wpay1 + wpay2 + wpay1);
				let insertPay = parseInt(30000);
				let Payment = insertPay + total;
				
				//문자열 변경후 3자리 콤마지정.
				total = total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
				insertPay = insertPay.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
				Payment = Payment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
				
				
				$('#contestPay').empty();
				//li태그 생성후 모달창 붙여넣기
				let li = ` <li> <span></span></li>
							<li>제 목 : ${ttl} </li>
							<li>등록일 : ${date} </li>
							<li>총상금 : ${total} </li>
							<li>등록비 : ${insertPay}</li>
							<hr>
							<li>총합계 : ${Payment}</li>
						`
				$('#contestPay').append(li);
				
				
			}); 
			
			//csrf설정
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			let oEditors = []

			smartEditor = function() {
				console.log("Naver SmartEditor")
				nhn.husky.EZCreator.createInIFrame({
					oAppRef : oEditors,
					elPlaceHolder : "cntn",
					sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
					fCreator : "createSEditor2"
				})
			}

			$(document).ready(function() {
				smartEditor()
			})

			$('#insertBtn').on('click', function insert() {
				oEditors.getById["cntn"].exec("UPDATE_CONTENTS_FIELD", [])
				let cntn = document.getElementById("cntn").value
			
			})
		
			//등록일 이전날짜 선택불가
			var now_utc = Date.now()
			var timeOff = new Date().getTimezoneOffset()*60000;
			var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
			document.getElementById('dtCls').setAttribute("min", today); //max로 변경할경우 오늘이후로 선택불가
			
		
			// Get the modal
			var modal = document.getElementById("myModal");
			
			// Get the button that opens the modal
			var btn = document.getElementById("insertBtn");
			
			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];
			
			// When the user clicks the button, open the modal 
			btn.onclick = function() {
			  modal.style.display = "block";
			}
			
			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
			  modal.style.display = "none";
			}
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			  if (event.target == modal) {
			    modal.style.display = "none";
			  }
			}
			
			
			//폼 등록버튼 전송전 체크함수.
			function check(){
					let check = $('input[type="checkbox"]').is(":checked");

					if (check == false) {//유의사항 체크확인
						alert('유의사항을 확인하세요.');
						return false;
					}
					//임시저장 확인
					else if ($('input[name="save"]').is(":checked") == true) {
						console.log($(this));
						if (!confirm('임시저장 하시겠습니까?')) {
							return false;
						}
					} 
					else{//등록확인
						if (!confirm('공모전을 등록하시겠습니까?')) {
							return false;
						}
					}
				}
		
		</script>
		</div>
	</div>
</body>
</html>