<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<link rel="stylesheet" href="/css/contest/model.css">
<link rel="stylesheet" href="/css/contest/cotestForm.css">
<style>
input[type=number]{
	width: 30%;
}

</style>
</head>
<body>
	<div layout:fragment="content" class="content">
		
		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/images/gold_01.gif" style="background-image: url(&quot;/images/gold_01.gif&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt" style="margin: 0;">공모전 작성</h2>
              </div>
            </div>
          </div>
        </section>	
		
		<div class="contestContainer">
		<button type="button" id="saveFile" class="btn btn-g btn-round">불러오기</button><br>
		<h3>[공모전 유의사항]</h3>
		<textarea rows="15" cols="108" readonly="readonly">
 (저작권법 제10조)공모전에 출품된 응모작의 저작권(저작재산권과 저작인격권)은 저작자인 응모자에게 원시적으로 귀속된다. 공모전 주최자는 입상하지 않은 응모작에 대해서는 어떠한 권리도 취득할 수 없다. 공모전 주최자는 별도의 반환 요청이 없는 한 입상하지 않은 응모작을 공모전 종료일로부터 3개월 이내에 모두 폐기하여야 한다.
 공모전 주최자는 응모작을 접수할 때 응모작 반환 여부에 대한 응모자의 의사를 확인하는 절차를 마련하여야 한다. 응모자가 저작물의 반환을 요구하는 경우에는 응모자에게 반환하되, 반환과 관련한 추가 비용이 발생 하는 경우 응모자가 부담할 수 있다. 공모전 주최자는 필요 최소한 범위 내에서 해당 입상작에 대한 이용허락을 받는 것을 원칙으로 하고, 응모자는 공모전에 응모함으로써 추후 입상할경우 주최자의 이용을 허락한 것으로 본다.
  다만, 공모전 주최자는 공모전의 목적에 합당하도록 이용허락의 조건(독점 또는 비독점 이용·이용방법·기간·횟수·장소·이용매체·이용허락의 대가 등)을 결정하여 공모전요강에 명시하여야 하고, 이용허락에 따른 정당한 대가를 지급하여야한다. 이때 정당한 대가는 일정한 조건 하에서 상금·상품 등으로 대체될 수있다. 공모전 주최자가 공모전 요강에서 공고한 이용허락 범위를 초과하여 입상작을 이용하거나, 2차적저작물작성권의 이용허락이 필요한 경우에는
 저작권법에 따라 입상자와 별도로 합의하여야 한다. 공모전 주최자가 입상작 발표 후 입상작의 저작재산권 전부 또는 일부를 양도받고자 하는 경우 정당한 대가 지급을 전제로 별도의 합의를 통해 다른 사람들보다 우선하여 해당 저작재산권을 양도받을 수 있다. 공모전 주최자가 입상작을 이용할 때에는 입상자의 저작인격권을존중하여야 한다. 공모전 주최자는 원칙적으로 저작자인 입상자의 성명을 표시하고, 입상작의 내용·형식 및 제호의 동일성을 유지하여야한다. 공모전 주최자가 입상작의 저작재산권 전부 또는 일부를 양도받는경우라 하더라도 동일하다 
</textarea>
			<div id="checkbox_div" >
				<input type="checkbox" id="contestCheck">확인하였습니다.<br>
			</div>
			<!-- 공모전등록 입력폼 -->
			<form action="/contest/insert" enctype="multipart/form-data" id="contestfrm" name="contestfrm" method="post">
				<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<input type="hidden" name="cNo" id="cNo">
				<ul>
					<li id="radioBox">
						<input type="radio" name="category" value="D1" checked><label>현수막</label>
						<input type="radio" name="category" value="D2"><label>배너</label>
						<input type="radio" name="category" value="D3"><label>로고 </label>
						<input type="radio" name="category" value="D4"><label>포스터 </label>
						<input type="radio" name="category" value="D5"><label>기타</label>
					</li> 
						
					<li><label>작성자</label><input type="text" name="writer" th:value="|${session.member.getUserId()}|" readonly="readonly"><br /></li>
					<li><label>제  목</label><input type="text" id="ttl" name="ttl" required="required"><br /></li>
					<li><label>등록일</label><input type="date" name="dtReg" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" readonly><br /></li>
					<li><label>마감일</label><input type="date" id="dtCls"  name="dtCls" required="required"><br /></li>
					
					<li><label>스타일</label> 
						
						<select id="contestStyl" name="contestStyl" onchange="contestStyleFun(this)">
							<option value="">-- 선호스타일 선택 --</option>
							<option th:each="style : ${styles}" th:value="${style?.codeId}" th:text="${style?.codeName}"></option>
						</select>
					
					<input type="hidden" value="" name="style" id="style" />
         			<ul id="styleName" class="contestTag"></ul>
	
	
				<li><label>1 등</label><input id="wPay1" class="wPay" type="number" name="winnerPay[]" required="required" ><br /></li>
				<li><label>2 등</label><input id="wPay2"  class="wPay" type="number" name="winnerPay[]"><br /></li>
				<li><label>3 등</label><input id="wPay3" class="wPay" type="number" name="winnerPay[]"><br /></li>
				<li><label>등록비</label><input type="number" id="pay" name="pay" value="1" readonly="readonly" ><br /></li>
				<li><label>요청사항</label><textarea id="cntn" name="cntn" class="form-control" cols="30" rows="4" required="required"></textarea></li>
				</ul>
				
				<input type="checkbox" name="save" value="Y">임시저장<br>
				
					<div class="col-md-12" style="padding-left:0px">
						<div class="form-group">
							<input id="imgInp" type="file" name="uploadFile" required="required" >
							<div class="fileDown">
								<img id="blah" src="#" alt = "your image" width="250px" />
									<button type="button" id="cancel" class="btn btn-warning cancel">
										<span>X</span>
							       </button>
							</div>
						</div>
					</div>
			<div class="contestBtn">
				<button type="reset"  class="btn btn-g btn-round">초기화</button>
				<button type="button" id="cancleBtn"  class="btn btn-g btn-round" onclick="location.href='/contest/List'">취소</button> 
				<button type="button" id="insertForm"  class="btn btn-g btn-round" onclick="check()">등록</button>
			</div>		
			</form>
			
			
			<!-- 결제정보 모달 -->
			<div id="myModal" class="modal">
				<!-- Modal content -->
				<div class="pay_modal_content">
					<span class="close">&times;</span>
					<h3>공모전 결제정보</h3>
					<ul id="contestPay">
					</ul>
					<div id="modelBtn">
						<button id="Payment" class="modelBtn1" style="width:50px;"  type="button" >결제</button>
					</div>
				</div>
				<div class="modal_layer"></div>
			</div>
			
			<!-- 임시저장 모달 -->
			<div id="saveContest" class="modal">
				<div class="modal_content">
					<span class="close">&times;</span>
					<h2>임시저장 공모전 리스트</h2>
					<div id="button_box"> </div>
				</div>
				<div class="modal_layer"></div>
			</div>				

			<script>
			//csrf설정
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			let oEditors = []

			smartEditor = function() {
				console.log("Naver SmartEditor")
				nhn.husky.EZCreator.createInIFrame({
					oAppRef : oEditors,
					elPlaceHolder : "cntn",
					sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
					fCreator : "createSEditor2"
				})
			}

			$(document).ready(function() {
				smartEditor()
			})

			
			//등록일 이전날짜 선택불가
			var now_utc = Date.now()
			var timeOff = new Date().getTimezoneOffset()*60000;
			var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
			document.getElementById('dtCls').setAttribute("min", today); //max로 변경할경우 오늘이후로 선택불가
		
			
			// Get the modal-----------------------------------------------------------------
			var modal = document.getElementById("myModal");
			var saveModal = document.getElementById("saveContest");
			
			// Get the <span> element that closes the modal
			var paySpan = document.getElementsByClassName("close")[0];
			var saveSpan = document.getElementsByClassName("close")[1];
			
			// <span> (x), close the modal
			paySpan.onclick = function() {
			  modal.style.display = "none";
			}
			saveSpan.onclick = function() {
			  saveModal.style.display = "none";
			}
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			  if (event.target == modal) {
			    modal.style.display = "none";
			    saveModal.style.display = "none";
			  }
			}
			//modal--------------------------------------------------------------------
			
			//태그
			var styletag = {};
	        var styletagCounter = 0;
	
	        // 입력한 값을 태그로 생성한다.
	        function styleAddTag (value) {
	        	styletag[styletagCounter] = value;
	        	styletagCounter++;  // del-btn 의 고유 id 가 된다.
	        }
	        
	        function styleTag(){
	        	return Object.values(styletag).filter(function (word) {
	                return word !== "";
	            });
	        }
	        
	        // 삭제 버튼 
	        // 인덱스 검사 후 삭제
	        $(document).on("click", ".style-del-btn", function (e) {
	            var index = $(this).attr("idx");
	            console.log(index);
	            styletag[index] = "";
	            $(this).parent().remove();
	        });
	        
			//스타일태그
			  function contestStyleFun(e){
		    	  let tagText = e.options[e.selectedIndex].text;
		  		  let tagValue = e.options[e.selectedIndex].value;
		     	 
		      	// 값이 없으면 동작 안합니다.
		           if (tagValue !== "") {
		
		             // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
		             var result = Object.values(styletag).filter(function (word) {
		                 return word === tagValue;
		               })
		
		             // 태그 중복 검사
		             if (result.length == 0) {
		               $("#styleName").append("<li class='tag-item'>" + tagText + "<span class='style-del-btn' idx='" + styletagCounter + "'>x</span></li>");
		               styleAddTag(tagValue);
		             } else {
		               alert("태그값이 중복됩니다.");
		             }
		           }
		      }
	
			
			//폼 등록버튼 -> 유의사항/임시저장/등록 및 불러오기수정(결제) 함수
			function check(){
					//네이버 에디터
					oEditors.getById["cntn"].exec("UPDATE_CONTENTS_FIELD", [])
					let cntn = document.getElementById("cntn").value;
					let check = $('input[type="checkbox"]').is(":checked");
					
					//공모전 스타일
			        var contestStyle = styleTag(); // return array
			        $("#style").val(contestStyle);
			        console.log( contestStyle)

					if (check == false) {//유의사항 체크확인
						alert('유의사항을 확인하세요.');
					
					}else if($('input[name="ttl"]').val() == "" || $('input[name="ttl"]').val() == null){
						alert('제목을 입력해주세요.')
					}else if(cntn == "<p>&nbsp;</p>" || cntn == null){
						alert('요청사항을 입력해주세요.')
					}else if($('input[name="dtCls"]').val() == null || $('input[name="dtCls"]').val() == ""){ 
						alert('마감일을 입력해주세요.')
					}
					else if($('input[id="wPay1"]').val() == "" || $('input[id="wPay1"]').val() == null){
						alert('1등 금액은 필수입니다.')
						
					}//임시저장 확인
					else if ($('input[name="save"]').is(":checked") == true) {
						if (confirm('임시저장 하시겠습니까?')) {
							console.log($('#cntn'));
							$('#contestfrm').submit(); //insert 실행
						}
					}//등록확인
					else{
						if (confirm('공모전을 등록하시겠습니까?')) {
							requestPay(); //결제함수실행.
						}
					}
				}
			// 결제함수
			function requestPay(){
				//등록시 모달창을 띄워서 결제정보를 확인.
				 modal.style.display = "block";
					
					//입력한 값 변수저장
					let cNo = $('input[name="cNo"]').val();
					let ttl = $('input[name="ttl"]').val();
					let date = $('input[name="dtReg"]').val();
					let wpay1 =   Number($('input[id="wPay1"]').val());
					let wpay2 =   Number($('input[id="wPay2"]').val());
					let wpay3 =   Number($('input[id="wPay3"]').val());
					let insertPay =   Number($('input[id="pay"]').val());
					let totalWpay = wpay1+wpay2+wpay3;
					let payment = totalWpay+ insertPay;
					
					//문자열 변경후 3자리 콤마지정.
					totalWpay = totalWpay.toLocaleString();
					insertPay = insertPay.toLocaleString();
					payment = payment.toLocaleString();
					
					
					$('#contestPay').empty();
					//li태그 생성후 모달창 붙여넣기
					let li = ` <li> <span></span></li>
								<li>제 목 : ${ttl} </li>
								<li>등록일 : ${date} </li>
								<li>상금액 : ${totalWpay} </li>
								<li>등록비 : ${insertPay}</li>
								<hr>
								<li>총합계 : ${payment}</li>
							`
					$('#contestPay').append(li);
				
			$('#Payment').on("click" , function(){
					const IMP = window.IMP; // 생략 가능
					IMP.init("imp42430553"); // 예: imp00000000a
					var today = new Date();
					var hours = today.getHours(); // 시
					var minutes = today.getMinutes();  // 분
					var seconds = today.getSeconds();  // 초
					var milliseconds = today.getMilliseconds();
					var makeMerchantUid = hours + minutes + seconds + milliseconds;
					//회원정보
					let userId = '[[${session.member.userId}]]';
					let userEmail = '[[${session.member.userEmail}]]';
					let userName = '[[${session.member.name}]]';
					let userPhone = '[[${session.member.userPhone}]]';
			
					//결제창 실행코드.
					IMP.request_pay({
						pg: 'kicc', //고정코드
						pay_method: 'card', //고정코드
						merchant_uid: "evt" + makeMerchantUid, //상점에서 생성한 고유 주문번호
						name: ttl,  // 공고제목,
						amount: payment,  // 가격
						buyer_email: userEmail,	
						buyer_name: userName,	
						buyer_tel: userPhone	
					}, 
					// callback
					function(rsp){ 
						if (rsp.success) {
							// 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
							// jQuery로 HTTP 요청
							$.ajax({
								url: "/contest/requestPay",
								method: "POST",
								contentType: "application/json",
								dataType: "json",
								data: JSON.stringify({
							        moType:'M1',  //입금코드
							        moPrice:payment,//가격
							        userId, 		//회원ID
							        userName,		//성명
									payNo: rsp.pg_tid, // 결제 고유번호
									targetId:cNo, //공모번호
									moCat:"T01"	//카테고리
							   }),
							   beforeSend : function(xhr){
				                    xhr.setRequestHeader(header, token);
				               },
				               success: function(res){
				            	   //임시저장 불러온 값이 없는경우
				            	   //console.log(res.targetId);
				            	   if($('input[name="cNo"]').val() == null || $('input[name="cNo"]').val() ==""){
				            		   $('input[name="cNo"]').val(res.targetId);
				            	   }
				            	   
				                  $('#contestfrm').submit(); ///공모전 등록
				                  alert("공모전이 등록되었습니다.");
				                  
				               },
				               error: function(err){
				                  console.log(err)
				               }
			             })
						} else {
							alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
						}
					})//callback 끝
				})//click event 끝
				
			}
			
			//-------------------------------------------------------------------
			
			 //파일 업로드 이미지 미리보기
		    //파일 INPUT창에 변화가 있을 경우 실행
		    $("#imgInp").on('change', function() {
		    	//파일을 올렸을 경우 input type=file은 사라지고 이미지만 띄어진다.
		    	$(this).toggleClass("fileDown"); //input파일
		    	$(this).next().toggleClass("fileDown"); //div
				readURL(this);
			});
			
		    //이미지 미리보기 처리
			function readURL(input){
				if(input.files && input.files[0]){
					var reader = new FileReader();
					
					reader.onload = function(e) {
						$("#blah").attr('src', e.target.result);
					}
					
					reader.readAsDataURL(input.files[0]);
				}
			}
		    
		    //파일 삭제
		    $("#cancel").on('click', function() {
		    	//파일을 지우고 싶을때 삭제버튼을 누르면 이미지는 사라지고 input type=file 입력폼이 다시 나타난다.
		    	$(this).parent().prev().toggleClass("fileDown");
		    	$(this).parent().toggleClass("fileDown");
		    	//file영역에 있던 값 삭제
		    	$("#imgInp").val('');
		    })
		    
		    
		    
		  //불러오기
		 $('#saveFile').on('click', function() {
			let userId = '[[${session.member.userId}]]';
			
			//게시글 불러오기
			$.ajax({
				url : "/contest/cSave",
				method : 'post',
				data : {writer:userId, save:'Y'},
	   			beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            },
				success : function(data) {
					$("#button_box").empty();
					//임시저장된 게시글이 없을 경우
					if(data == 0){
						alert('임시저장된 게시글이 없습니다.');
					}else {
						saveModal.style.display = "block";
						for(contest of data){
							$("#button_box").append(choiceCotest(contest));
						}
					} 
				},
				fail : function(result) {
					alert('필수항목을 입력해주세요')
				}
			})
		})
		
		function choiceCotest(contest) {
	    	let span = `<span id="modal_choice_btn">[${contest.cNo}] ${contest.ttl}</span><button type="button" onclick=checkFile('${contest.cNo}')>선택</button><br>`;
	    	return span;
	    }
		    
		    //임시저장된 게시글 중 한건 가져오기
		    function checkFile(cNo) {
		    	$("#saveContest").hide();
		    	
		    	//게시글 불러오기
				$.ajax({
					url : "/contest/saveSelect",
					method : 'POST',
					data : {cNo},
		   			beforeSend : function(xhr)
		            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
		            },
					success : function(data) {
						
								$('input[name="cntn"]').text("");
								$("#cNo").val(data.cNo);
								$("#ttl").val(data.ttl);
								$("input:radio[name='category']:radio[value='"+data.category+"']").attr('checked', true);
								oEditors.getById["cntn"].exec("PASTE_HTML", [data.cntn]);
								
								
								//from 업데이트로 변경.
								$("#contestfrm").attr("action", "/contest/saveUpdate");
								
								if(data.img != null){
							    	imgReader(data.img);
								}
								
								//등록된 스타일이 있을경우
								if(data.style != null){
									
							        //태그생성.
							        let style = data.style;
							        styletag = style.split(",");
							        styletagCounter = styletag.length;
							        for(let i=0; i<styletagCounter; i++){
							        	
							        	//옵션에 있는 전체값과 기존스타일과 비교해서 값이 같으면 텍스트값 태그 생성.
							        	$('#contestStyl').find('option').map(function() {
									       if($(this).val() == styletag[i]){
									    	   $("#styleName").append("<li class='tag-item'>" + $(this).text() + "<span class='style-del-btn' idx='" + i + "'>x</span></li>");
									        }
										})
							        }
									
								}
// 								console.log(data.winnerVO)
// 								console.log($('input[name="winnerPay[]"'))
// 								console.log($('input[name="winnerPay[]"')[0].value)
								//등록된 상금내역 불러오기
									
									$('input[name="winnerPay[]"]').each(function (i) {
										
				                           if(data.winnerVO[i].grade != null){
				                              $(this).val((data.winnerVO[i].wPay));
				                           }else{
												console.log("왜안돼?")
												console.log($(this))
											}
				                        }) 
					
					},
					fail : function(result) {
						alert('필수항목을 입력해주세요')
					}
		    })
		    }
		    
		    //이미지 미리보기 처리
			function imgReader(img){
				$("#imgInp").toggleClass("fileDown"); //input파일
				$("#imgInp").next().toggleClass("fileDown"); //div
				$("#blah").attr('src', '/fileView/'+img);
			}
		    
		    
		 
		
		
		</script>
		</div>
	</div>
</body>
</html>