<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<style>
.fileDown{
	display : none;
}
.contestContainer {
	padding: 20px;
	margin: auto;
	float: center;
}
ul{
	list-style: none;
}
</style>
</head>
<body>
	<div layout:fragment="content" class="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div
					class="row no-gutters slider-text align-items-end justify-content-center">
					<div
						class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 class="mb-0 bread">공모전 수정</h2>
					</div>
				</div>
			</div>
		</section>
		<div class="contestContainer">
			<form action="/contest/update" enctype="multipart/form-data" name="contestfrm" method="post" onsubmit="return check();">
				<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<ul>
					<li><div th:text="|분류별 ${contest.category}|"></div></li>
					<li><div th:text="|공모번호 ${contest.cNo}|"></div></li>
					<li><div th:text="|작성자 ${contest.writer}"></div></li>
					<li><div th:text="|공모기간 ${#dates.format(contest.dtReg, 'yyyy-MM-dd')} ~ ${#dates.format(contest.dtCls, 'yyyy-MM-dd')}|"></div></li>
					<li> <label>제목</label><input type="text" name="ttl" th:value="${contest.ttl}"><br /></li> <li>
					<li><textarea th:utext="${contest.cntn}" name="cntn" class="form-control" id="cntn" cols="30" rows="4" required="required"></textarea></li>
				</ul>
				
					
					<div class="col-md-12">
                     <div class="form-group" id="fileInsert">
                        <!-- 이미지가 있을 경우와 없을 경우 if문으로 처리 -->
                        <input type="file" id="imgInp" name="uploadFile" th:if="|${fileList == null}|"/>
                        <div th:each="f : ${fileList}">
                           <div th:if="|/fileView/${f.sevNm} != null}|">
                              <img id="blah" th:src="|/fileView/${f.sevNm}|" alt = "your image" width="250px" />
                              <button type="button" id="cancel" class="btn btn-warning cancel">
                                   <span>Cancel</span>
                                  </button>
                           </div>
                        </div>
                     </div>
                  </div>
				
				<button type="button" id="updateBtn">수정</button>
				<button type="reset">취소</button>
			</form>
		</div>
	<script>
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	let oEditors = []

	smartEditor = function() {
		console.log("Naver SmartEditor")
		nhn.husky.EZCreator.createInIFrame({
			oAppRef : oEditors,
			elPlaceHolder : "cntn",
			sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
			fCreator : "createSEditor2"
		})
	}

	$(document).ready(function() {
		smartEditor()
	})

	//수정처리
	$('#updateBtn').on('click', function (){
		oEditors.getById["cntn"].exec("UPDATE_CONTENTS_FIELD", [])
		
		var cNo = '[[${contest.cNo}]]';
	 	var ttl = $("input[name='ttl']").val();
	 	var cntn =  $("textarea[name='cntn']").val();
	 	var fNm = $("input[type='file']").val();
		
		$.ajax({
	           url:"/contest/update",
	           method: 'put',
	           dataType: "json",
	           data: JSON.stringify({cNo,ttl,cntn}),
	           contentType : "application/json",
	           beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
	           success: function (result) {
	                 alert('수정처리 성공');
	                  location.href='/contest/select?cNo='+cNo; 
	           },
	           fail: function () {
	                 	alert('수정처리 실패')
	           }
			})
		})
		
		//파일 업로드 이미지 미리보기
       //파일 INPUT창에 변화가 있을 경우 실행
       $(document).on("change", "#imgInp", function() {
         $("#imgInp").toggleClass("fileDown");
          //파일을 다시 등록하는 과정에서 이미지 미리보기 부분이 사라지지 않아서 삭제처리
          //#imgInp의 바로 밑의 형제 삭제
          $("#imgInp").next().remove();
          
          //이미지 미리보기 생성
          let fileForm = `
            <div>
            <img id="blah" src="#" alt = "your image" width="250px" />
            <button type="button" id="cancel" class="btn btn-warning cancel">
                 <span>Cancel</span>
                </button>
         </div>`
          
          $("#fileInsert").append(fileForm);
          
         readURL(this);
      });
      
       //이미지 미리보기 처리
      function readURL(input){
         if(input.files && input.files[0]){
            var reader = new FileReader();
            
            reader.onload = function(e) {
               $("#blah").attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
         }
      }
       
       //파일 삭제
       $(document).on('click', "#cancel", function() {
          //파일 등록부분 모두 삭제 후 다시 생성
          $("#fileInsert").empty();
          
          let fileForm = `<input type="file" id="imgInp" name="uploadFile" />
            <div class="fileDown">
            <img id="blah" src="#" alt = "your image" width="250px" />
            <button type="button" id="cancel" class="btn btn-warning cancel">
                 <span>Cancel</span>
                </button>
         </div>`
          
          $("#fileInsert").append(fileForm);
       })
      
		
		
		
		
		
	</script>
	</div>
</body>
</html>