<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/model.css"> <!-- 모달 스타일 -->
<link rel="stylesheet" href="/css/heart.css"> <!-- 좋아요 스타일 -->
	<meta charset="UTF-8">
	<title>공모전 상세조회</title>
	<style>
		ul {
			list-style: none;
		}

		button {
			width: 150px;
			height: 70px;
			margin: 5px;
			padding: 0;
			text-align: center;
		}

		.cotestCntn {
			width: 100px;
			height: 70px;
			margin: 5px;
			padding: 0;
			text-align: center;
		}
	</style>
</head>

<body>
	<div layout:fragment="content" class="content">
		<section class="hero-wrap hero-wrap-2"
			style="background-image: url(&quot;/images/bg_2.jpg&quot;); background-position: 50% 0%;"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-end justify-content-center">
					<div class="col-md-9 ftco-animate mb-5 text-center fadeInUp ftco-animated">
						<h2 class="mb-0 bread">공모전 상세조회</h2>

					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mb-5 ftco-animate fadeInUp ftco-animated">
						<!-- 파일이미지 출력 -->
						<div th:each="f : ${fileList}">
							<a th:href="|/fileView/${f.sevNm}|" class="image-popup prod-img-bg">
								<img th:src="|/fileView/${f.sevNm}|" style="width: 540px; height: 785px"
									class="img-fluid" alt="Colorlib Template"></a>
						</div>
					</div>
					<div class="col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated">
						<div id="show"></div>
						<span th:text=${contest.cNo} id="cNo"></span>
							<p th:text=${contest.category}></p>
							<h1 th:text=${contest.ttl}></h1>
							
							<!-- 마감연장일 있는경우 -->
							<div th:if="${contest.dtExtns} != null">
								<div th:text="|${#dates.format(contest.dtReg, 'yyyy-MM-dd')} - ${#dates.format(contest.dtExtns, 'yyyy-MM-dd')}|"></div>
							</div>
							
							<!-- 마감연장일 없는경우 -->
							<div th:if="${contest.dtExtns} == null">
								<div th:text="|${#dates.format(contest.dtReg, 'yyyy-MM-dd')} - ${#dates.format(contest.dtCls, 'yyyy-MM-dd')}|"></div>
							</div>

						<div class="rating d-flex" style="height: 100px; width: 500px">
							<div class="text-left mr-4"> &#128680;
								<!-- 비회원 하트버튼 -->
								<th:block sec:authorize="!isAuthenticated()">
									 <div class="stage" style="float: right; height: 50px;">
										<a href="../loginPage"><div id="love" class="stage heart"><span th:text=${contest.likes}></span></div></a>
									</div>
								</th:block>
								
								<!-- 회원 하트버튼 -->
								<th:block sec:authorize="isAuthenticated()">
									 <div class="stage" style="float: right;">
										<div id="love" class="stage heart" onclick="loveCheck(this)"><span th:text=${contest.likes}></span></div>
									</div>
								</th:block>
								
								<span th:text=${contest.rprt}></span>
								<span style='font-size: 30px;'>&#128065;</span>
								<span th:text=${contest.inq}></span>
							</div>
						</div>
						<div th:each="w : ${winnerList}">
							<p class="price">
								<span th:text="|${w.grade}등 : ${#numbers.formatInteger(w.wPay, 0, 'COMMA') + '원'}|"></span>
							</p>
						</div>


						<div th:if="${contest.style} != null">
							<p>
								<span th:text="|#${contest.style}|"></span>
							</p>
						</div>
						<div class="row mt-4">
							<div class="input-group col-md-6 d-flex mb-3"></div>
							<div class="w-100"></div>
							<div class="col-md-12"></div>
						</div>

						<!-- 비회원 -->
						<th:block sec:authorize="!isAuthenticated()">
							<p>
								<a href="#" ><button type="button" class="btn btn-primary py-3 px-5 mr-2">링크복사</button></a>
								<a href="../loginPage" ><button type="button" class="btn btn-primary py-3 px-5 mr-2">응모하기</button></a>
							</p>
						</th:block>
						
						<!-- 공모전 작성자 제외 일반회원 -->
						<th:block sec:authorize="isAuthenticated()">
						<div th:if="|${session.member.getUserId()}| != ${contest.writer} ">
							<p>
								<a href="#" ><button type="button" class="btn btn-primary py-3 px-5 mr-2">링크복사</button></a>
								<!-- 공모게시글에 대한 응모하기 버튼 -->
								<a th:href="@{/design/designInsertForm(cNo=${contest.cNo})}" ><button type="button" class="btn btn-primary py-3 px-5 mr-2" >응모하기</button></a>
							</p>
						</div>

						<!-- 공모전 작성자만 -->
						 <div th:if="|${session.member.getUserId()}| == ${contest.writer} ">
							<div>
								<a th:href="@{/contest/update(cNo=${contest.cNo})}"><button type="button" class="btn btn-primary py-3 px-5 mr-2">수정</button></a>
								<button type="button" id="delBtn" class="btn btn-primary py-3 px-5">삭제</button>
							</div>
							<div>
								<button id="updateDate" type="button" class="btn btn-primary py-3 px-5">마감연장</button>
								<a href="#" ><button id="winnerInsert" type="button" class="btn btn-primary py-3 px-5">결과등록</button></a>
							</div>
						 </div>
						</th:block>
					</div>
				</div>

				<div class="row mt-5">
					<div class="col-md-12 nav-link-wrap">
						<div class="nav nav-pills d-flex text-center" id="v-pills-tab"
							role="tablist" aria-orientation="vertical">
							<a
								class="nav-link ftco-animate active mr-lg-1 fadeInUp ftco-animated"
								id="v-pills-1-tab" data-toggle="pill" role="tab"
								aria-controls="v-pills-1" aria-selected="true">요청사항</a> <a
								class="nav-link ftco-animate mr-lg-1 fadeInUp ftco-animated"
								id="v-pills-2-tab" data-toggle="pill" role="tab"
								aria-controls="v-pills-2" aria-selected="false">문의사항</a> <a
								class="nav-link ftco-animate fadeInUp ftco-animated"
								id="v-pills-3-tab" data-toggle="pill" role="tab"
								aria-controls="v-pills-3" aria-selected="false">참여작</a>

						</div>
					</div>

					<div class="col-md-12 tab-wrap">

						<div class="tab-content bg-light" id="v-pills-tabContent">

							<div class="tab-pane fade show active" id="v-pills-1"
								role="tabpanel" aria-labelledby="day-1-tab">
								<div class="p-4" style="height: 1400px">
									<div id="contestCntn">
										 <div th:if="${contest.cntn} != null">
											<span id="cotestCntn" th:utext=${contest.cntn}></span>
										 </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- The Modal -->
			<div id="myModal" class="modal">

				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<h3>공모전 마감기한 연장</h3>
					<div id=updateModel> </div>
					<div id="modelBtn">
						<button id="extension" class="modelBtn1" style="width:50px;"  type="button" >연장하기</button>
					</div>
				</div>

			</div>
		
		
		<script >
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		let cNo = $('#cNo').text();
		
		
		// Get the modal
		var modal = document.getElementById("myModal");
		
		// Get the button that opens the modal
		var btn = document.getElementById("updateDate");
		
		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		  modal.style.display = "block";
		}
		
		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		  modal.style.display = "none";
		}
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";
		  }
		}
		
		//마감연장 모달창 출력.
		$('#updateDate').on("click", function(){
			let dtReg = '[[${#dates.format(contest.dtReg,'yyyy/MM/dd')}]]';
			let dtCls = '[[${#dates.format(contest.dtCls,'yyyy/MM/dd')}]]';
			
			$('#updateModel').empty();
			//li태그 생성후 모달창 붙여넣기
			let li = `  <div>등록일 : ${dtReg} </div>
						<div>마감일 : ${dtCls} </div>
						<input type="date">
					`
			$('#updateModel').append(li);
			
		}); 
		
		//마감연장 모달창 수정처리
		$('#extension').on('click', function () {
			let date = $(this).parent().parent().find($('input[type="date"]')).val();
			console.log(date);
			
			$.ajax({
		           url:"/contest/update",
		           method: 'put',
		           dataType: "json",
		           data: JSON.stringify({cNo,dtExtns:date}),
		           contentType : "application/json",
		           beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
		           success: function (result) {
		        	   console.log(result);
		        	   if(result > 0){ //수정처리된 객체가 있다면
		                 alert('수정처리 성공');
		        	   }else{
		        		   alert('마감연장 1회만 가능합니다.')
		        	   }
		                  location.href='/contest/select?cNo='+cNo; 
		           },
		           fail: function () {
		                 	alert('수정처리 실패')
		           }
				})
			
		})
		
	
		//공모전 삭제
		$('#delBtn').on('click', delContest);
		function delContest(){
			if (!confirm('공모전을 삭제하시겠습니까?')) {
				return false;
			}
			
			$.ajax({
	            url:'../contest/delete',
	            method:"post",
	            data : {cNo},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				if(res == 1){
					alert('삭제 완료');
					location.href="../contest/List";
				}else {
					alert('응모작품이 있어 삭제 불가능합니다.');
					location.href="../contest/select?cNo="+ cNo;
					
				}
				
			})
		};
		
		//요청사항/문의내용/참여작 버튼이벤트
		$('#v-pills-1-tab').on('click', contentSelect);
		$('#v-pills-2-tab').on('click', questions);
		$('#v-pills-3-tab').on('click', contest);
		
		//요청사항 출력
		function contentSelect(){
			$.ajax({
	            url:'../contest/select',
	            method:"post",
	            data : {cNo},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				console.log(res);
				$("#contestCntn").empty();
				$("#contestCntn").append(res.cntn);
			})
			
		};
		
		//문의 및 문의답변 출력
		function questions(){
			$.ajax({
	            url:"../questions/qList",
	            method:"post",
	            data : {targetId:cNo, category:'T01'},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				$("#contestCntn").empty();
				$("#contestCntn").append(questionBox());
			
				//리턴값이 없으면 출력
				if(res == 0){
					$("#contestCntn").append($('<p>').append("문의사항이 없습니다."))
				}
				for(data of res){
					if(data.rerepTgt == null){
						$("#contestCntn").append(make(data));
					}					
					else {
						$("#" + data.rerepTgt).append(makeRe(data));
					} 
				}
	        })
		}
		//문의사항 박스 생성
		function questionBox(){
			let box = `	
						<form action="/questions/insert" name="questionfrm" method="post">
						<input type="hidden" id="token" name="${header}" value="${token}" />
								<ul style="list-style: none;">
								<li list-style: none;><label>제목</label><input type="text" name="ttl" required="required" ><br/></li>
								<li><textarea name="cntn" class="form-control" id="cntn" cols="20" rows="4" placeholder="문의사항 입력해주세요." required="required"></textarea></li>
								</ul>
								<button type="reset" >초기화</button>
								<button type="submit" id="insertBtn">등록</button>
						</form> `;
			
			return box;
		}
		
		//문의사항 생성
		function make(question){
   			let p = `<ul>
	                  <li class="comment">
	                    <div class="comment-body" id="${question.qNo}">
	                      <h3>${question.ttl}</h3>
	                      <div class="meta">작성자:${question.userId} </div>
	                      <div class="meta">작성일:${question.writingDt} </div>
	                      <div class="meta">문의내용:${question.cntn}</div>
	                      </div>
	                   </li>
                    </ul>
                	`
   			return p;
   		}
		//답변생성
		 function makeRe(questionRep){
			//답변이 있으면 id확인하고 있으면 답변등록 없애기..
   			let p = `<ul class="children">
                <li class="comment">
                <div class="comment-body">
                <h3>답변</h3>
                <div class="meta">작성자:${questionRep.userId} </div>
                <div class="meta">작성일:${questionRep.writingDt} </div>
                  <p>${questionRep.cntn}</p>
                </div>
              </li>
            </ul>`
            
            return p;
   		}
			
		//참여작 출력
		function contest(){
			
			$.ajax({
	            url:'../contest/design',
	            method:"post",
	            data : {cNo},
	            beforeSend : function(xhr)
                {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token);
                },
			}).then(res => {
				$("#contestCntn").empty();
				if(res  == 0){
					let p = '참여작이 없습니다.'
					$("#contestCntn").append(p); 
					
				}
				for(design of res){
					console.log(design.dgnNo);
					console.log(design.pubcYn);
					if(design.pubcYn == 'Y') {//공개여부가 Yes이면
					 	$("#contestCntn").append(makeDesignYes(design)); 
					}else{//공개여부가 No이면
						$("#contestCntn").append(makeDesignNo(design)); 
					}
				 }
			})
		}
		
		//참여작 생성(공개)
		function makeDesignYes(design){
   			let div = `<ul>
		                  <li class="comment">
		                    <div class="comment-body" id="${design.dgnNo}" style="float: left; margin-left: 40px;">
		                    <img src="/images/${design.centerImg}" style="width: 400px; height: 400px"></a>
		                      <div class="meta">${design.dgnNo}</div>
		                   </li>
                   		 </ul> `
   			return div;
   		}
		//참여작 생성(비공개)
		function makeDesignNo(design){
   			let div = `<ul>
		                  <li class="comment">
		                    <div class="comment-body" id="${design.dgnNo}" style="float: left; margin-left: 40px;">
		                      <div style="width: 400px; height: 400px; background:gray; color:#000; text-align:center; line-height: 350px;")>비공개 작품</div>
		                      <div class="meta">${design.dgnNo}</div>
		                   </li>
                   		 </ul> `
   			return div;
   		}
		
		//하트클릭시 DB입력(등록,취소)
		function loveCheck(e) {
			$(e).toggleClass("active");//css 변경
			//이벤트객체console.log(this.contest);
			let category = 'T01';
			let targetNo = $('#cNo').text();
			
			//하트가 눌렸을 경우 실행
			if ($(e).hasClass("active")) {
				$.ajax({
					url: '../likes/lInsert',
					method: 'post',
					data: {targetNo,category},
					beforeSend: function (xhr) {
						/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
					},
				}).then(res => {
					if(res > 0){
						alert('관심공모전 추가완료!')
					}else{
						alert('관심공모전 추가실패!')
					}
				})

			//하트가 눌리지 않았을 경우 실행
			} else if (!($(e).hasClass("active"))) {
					$.ajax({
						url: '../likes/lDelete',
						method: 'post',
						data: {targetNo,category},
						beforeSend: function (xhr) {
							/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
							xhr.setRequestHeader(header, token);
						},
					}).then(res => {
						if(res > 0){
							alert('관심공모전 취소완료!')
						}else{
							alert('관심공모전 취소실패!')
						}
					})
				}
		}
		myLoveCheck();
		//좋아요 확인
		function myLoveCheck() {
			let targetNo = $('#cNo').text();
			$.ajax({
				url: '../contest/ajaxlike',
				method: 'post',
				data: {targetNo},
				beforeSend: function (xhr) {
					/*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
			}).then(res => {
				//현재 공모전이 좋아요등록 상태이면..
				for(contest of res.contest){
					/* console.log(contest.C_NO == targetNo); */
					if(contest.C_NO == targetNo){
						$('#love').toggleClass("active");
					}
				}
			})
		}
		
	</script>
	</div>
</body>
</html>