<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<link rel="stylesheet" href="/css/contest/model.css">
<link rel="stylesheet" href="/css/contest/cotestForm.css">
<style>
.fileDown{
	display : none;
}
ul{
	list-style: none;
}label{
	text-align: center;
}#ptext{
	color: red;
	font-size: 18px;
	text-align: center;
	margin: 30px 0 0px;
}
</style>
</head>
<body>
	<div layout:fragment="content" class="content">
		<section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="/images/gold_01.gif" style="background-image: url(&quot;/images/gold_01.gif&quot;);">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt" style="margin: 0;">공모전 수정</h2>
              </div>
            </div>
          </div>
        </section>
        
		<p id="ptext">*중요사항은 참가작품에 영향을 끼칠수 있기때문에 수정에 제한적입니다.</p>
		<div class="contestContainer">
			<form action="/contest/update" enctype="multipart/form-data" name="contestfrm" method="post" >
				<input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<ul>
					<li><input hidden="hidden" type="text" name="cNo" th:value="${contest.cNo}"><br /></li> <li>
					<li> <label>제목</label><input type="text" name="ttl" th:value="${contest.ttl}"><br /></li> <li>
					<textarea th:utext="${contest.cntn}" id="cntn" name="cntn" class="form-control"  cols="30" rows="4"></textarea>
				</ul>
				
					
					<div class="col-md-12">
                     <div class="form-group" id="fileInsert">
                        <!-- 이미지가 있을 경우와 없을 경우 if문으로 처리 -->
                        <input type="file" id="imgInp" name="uploadFile" th:if="|$lists.isEmpty(fileList)|"/>
                        <div th:each="f : ${fileList}">
                           <div th:if="|/fileView/${f.sevNm} != null}|">
                              <img id="blah" th:src="|/fileView/${f.sevNm}|" alt = "your image" width="250px" />
                              <button type="button" id="cancel" class="btn btn-warning cancel">
                                   <span>X</span>
                                  </button>
                           </div>
                        </div>
                     </div>
                  </div>
					<div class="contestUpBtn">
						<button type="submit" id="updateBtn" class="btn btn-y btn-round">수정</button>
						<button type="button" id="cancleBtn" class="btn btn-g btn-round" th:onclick="|location.href='@{/contest/select(cNo=${contest.cNo})}'|">취소</button>
					</div>
			</form>
		</div>
	<script>
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	let oEditors = []

	smartEditor = function() {
		console.log("Naver SmartEditor")
		nhn.husky.EZCreator.createInIFrame({
			oAppRef : oEditors,
			elPlaceHolder : "cntn",
			sSkinURI : "/smarteditor2/SmartEditor2Skin.html",
			fCreator : "createSEditor2",
			htParams: { fOnBeforeUnload : function(){}}
		})
	}

	$(document).ready(function() {
		smartEditor()
	})
	
	//수정버튼 누를시
	$('#updateBtn').on('click', function () {
				oEditors.getById["cntn"].exec("UPDATE_CONTENTS_FIELD", [])
				let cntn = document.getElementById("cntn").value;
			
	});

		
		//파일 업로드 이미지 미리보기
       //파일 INPUT창에 변화가 있을 경우 실행
       $(document).on("change", "#imgInp", function() {
         $("#imgInp").toggleClass("fileDown");
          //파일을 다시 등록하는 과정에서 이미지 미리보기 부분이 사라지지 않아서 삭제처리
          //#imgInp의 바로 밑의 형제 삭제
          $("#imgInp").next().remove();
          
          //이미지 미리보기 생성
          let fileForm = `
            <div>
            <img id="blah" src="#" alt = "your image" width="250px" />
            <button type="button" id="cancel" class="btn btn-warning cancel">
                 <span>Cancel</span>
                </button>
         </div>`
          
          $("#fileInsert").append(fileForm);
          
         readURL(this);
      });
      
       //이미지 미리보기 처리
      function readURL(input){
         if(input.files && input.files[0]){
            var reader = new FileReader();
            
            reader.onload = function(e) {
               $("#blah").attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
         }
      }
       
       //파일 삭제
       $(document).on('click', "#cancel", function() {
          //파일 등록부분 모두 삭제 후 다시 생성
          $("#fileInsert").empty();
          
          let fileForm = `<input type="file" id="imgInp" name="uploadFile" />
            <div class="fileDown">
            <img id="blah" src="#" alt = "your image" width="250px" />
            <button type="button" id="cancel" class="btn btn-warning cancel">
                 <span>Cancel</span>
                </button>
         </div>`
          
          $("#fileInsert").append(fileForm);
       })
      
		
		
		
		
		
	</script>
	</div>
</body>
</html>