<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventi.left.casting.mapper.CastingMapper">
	<sql id="targetId">
		<where>
		<if test="userId != null and userId != ''">
			C.USER_ID = #{userId}
		</if>
		
		<if test="clientId != null and clientId != ''">
			C.CLIENT_ID = #{clientId}
		</if>
		</where>
	</sql>
	
	<sql id="cancelCntn">
		<if test="cancel != null and cancel != ''">
			,CANCEL = #{cancel}
		</if>
	</sql>
	
	<!-- user별 의뢰 전체 조회 -->
	<select id="mcCastingList" resultType="com.eventi.left.casting.service.CastingVO">
		SELECT C.CASTING_NO, C.USER_ID, C.CLIENT_ID, 
		       CODEARR_SELECT(C.E_TYPE) ETYPE, C.E_INTRO, C.E_SDT, C.E_LDT, 
		       C.E_STIME, C.E_LTIME, C.CASTING_PRICE, C.DT,
		       <![CDATA[ 
		       CASE WHEN TRUNC(C.E_LDT) < TRUNC(SYSDATE) AND C.PROGRESS != '행사취소' AND C.PROGRESS != '정산완료' AND C.PROGRESS != '노쇼' THEN '행사완료'
			        ELSE PROGRESS
			        END AS PROGRESS, C.CANCEL
			   ]]>
		FROM CASTING C
		<include refid="targetId" />
	</select>
	
	<!-- 의뢰 추가 -->
	<insert id="castingInsert">
		INSERT INTO CASTING(CASTING_NO, USER_ID, CLIENT_ID, E_TYPE, E_INTRO, E_SDT, E_LDT, E_STIME, E_LTIME, CASTING_PRICE, DT)
		VALUES('CA'||CAST_SEQ.NEXTVAL, #{userId}, #{clientId}, #{eType}, #{eIntro}, #{eSdt}, #{eLdt}, #{eStime}, #{eLtime}, #{castingPrice}, SYSDATE)
	</insert>
	
	<!-- 진행현황 업데이트 -->
	<update id="progressUpdate">
		UPDATE CASTING
		SET PROGRESS = #{progress}
		<include refid="cancelCntn" />
		WHERE CASTING_NO = #{castingNo}
	</update>
	
	<!-- 환불금액 확인 -->
	<select id="refund" resultType="com.eventi.left.casting.service.CastingVO">
		SELECT C.CASTING_NO, C.USER_ID, C.CLIENT_ID, C.CASTING_PRICE, TRUNC(C.E_LDT) - TRUNC(SYSDATE) AS LASTDAY,
		       CASE WHEN TRUNC(C.E_LDT) - TRUNC(SYSDATE) >= 14 THEN C.CASTING_PRICE
                    WHEN TRUNC(C.E_LDT) - TRUNC(SYSDATE) >= 7 THEN C.CASTING_PRICE * 0.5
                    WHEN TRUNC(C.E_LDT) - TRUNC(SYSDATE) >= 4 THEN C.CASTING_PRICE * 0.3
			        ELSE 0
			        END AS CHECKS	   
		  FROM CASTING C
         WHERE C.CASTING_NO = #{castingNo}
	</select>
</mapper>