<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventi.left.design.mapper.DesignMapper">
	
	<!-- 회원 아이디가 있다면 -->
	<sql id="check">
			<if test="userId != null and userId != ''">
				and user_Id = #{userId}
			</if>
	</sql>
	<!-- 검색처리 -->
	<sql id="search">
			<if test="name != null and name != ''">
				and name LIKE '%'||#{name}||'%' 
			</if>
	</sql>	
	
	<select id="designList" resultType="DesignVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
			SELECT *
			FROM design
			order by dt DESC
	  	<![CDATA[
			) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM DESIGN
		where SAVE = 'N'
		<include refid="check" /> 
		<include refid="search" /> 
	</select>
	
	<!-- 공모전1건에 대한 디자인리스트중에서 1번째 대표이미지와 같은 파일명가져오기. -->
	<select id="contestDesignList" resultType="DesignVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
			select c.c_no,
				   d.dgn_no,
				   d.user_id user_id,
				   d.name, d.cntn,
				   d.dt, d.center_img,
				   d.pubc_yn,
				   f.sev_nm sevNm
			
			from contest c join design d on c.c_no = d.c_no
                           join files f on f.target_id = d.dgn_no
			
			and c.c_no = #{cNo}
			and d.center_img = f.f_nm
			and d.save = 'N'
			order by dt DESC
		<![CDATA[
			) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 회원유저의 디자인리스트 대한 내역 -->
	<select id="userDesignList" resultType="DesignVO">
	SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
		SELECT d.*,f.sev_nm sevNm,c.ttl contestTtl 
		
		FROM DESIGN d join files f on f.target_id = d.dgn_no
		              join contest c  on d.c_no = c.c_no
		              
		and USER_ID = #{userId}
		and d.center_img = f.f_nm
		and d.save = 'N'
		<include refid="search" /> 
		order by dt DESC
	<![CDATA[
			) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<select id="getDesign" resultType="DesignVO">
		SELECT * FROM DESIGN
		  WHERE dgn_no = #{dgnNo}
		order by dt DESC
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="dgnNo" resultType="String" order="BEFORE">
			SELECT 'DE'||(MAX(TO_NUMBER(SUBSTR(DGN_NO,3)))+1) dgnNo
			FROM DESIGN
		</selectKey>
		INSERT INTO DESIGN(DGN_NO,
							USER_ID,
							C_NO,NAME,
							CAREGORY,
							CNTN,
							DT,
							CENTER_IMG,
							PUBC_YN,
							SAVE)
		VALUES( #{dgnNo},
				#{userId},
				#{cNo},
				#{name},
				#{caregory},
				#{cntn},
				current_date,
				#{centerImg},
				#{pubcYn},
				#{save})  
	</insert>
	
	<update id="update">
		update design
		set name = #{name},
		    cntn = #{cntn},
		    center_img = #{centerImg},
		    pubc_yn = #{pubcYn},
		    save = #{save}
		where dgn_no = #{dgnNo}
		and user_id = #{userId}
	</update>
	
	<delete id="delete">
		delete design
		where dgn_no = #{dgnNo}
	</delete>
	
	<select id="getSequence" resultType="string">
		SELECT 'DE'||(MAX(TO_NUMBER(SUBSTR(DGN_NO,3)))+1) dgnNo
		FROM DESIGN
	</select>
	
	<select id="entryDesign" resultType="int">
		select count(*)
		  from design
		where c_no =#{cNo}
		AND SAVE = 'N'
	</select>
	
	<select id="saveGetdesign" resultType="DesignVO">
		SELECT d.*,f.sev_nm sevNm
		
		FROM CONTEST c join design d on c.c_no = d.c_no
                        join files f on d.dgn_no = f.target_id
		and d.save = 'Y'
		and d.dgn_no = #{dgnNo}
	</select>
	
	<select id="dSave" resultType="DesignVO">
		select * 
		  FROM design
		  WHERE user_id = #{userId}
          AND SAVE = 'Y'
        and c_no = #{cNo}
	</select>
	
</mapper>