<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventi.left.design.mapper.DesignMapper">
	
	<!-- 회원 아이디가 있다면 -->
	<sql id="check">
			<if test="userId != null and userId != ''">
				and user_Id = #{userId}
			</if>
	</sql>
	<!-- 검색처리 -->
	<sql id="category">
		<if test="caregory == null">
			and caregory = 'D1'
		</if>
		<if test="caregory != null and caregory != ''">
			and caregory = #{caregory} 
		</if>
	</sql>
	<sql id="search">
			<if test="name != null and name != ''">
				and name LIKE '%'||#{name}||'%' 
			</if>
			<if test="cntn != null and cntn != ''">
				and cntn LIKE '%'||#{cntn}||'%' 
			</if>
	</sql>
	
	<sql id="likeDesign">
		<if test="likeDesign != null and likeDesign != ''">
			AND L.USER_ID = #{likeDesign}
		</if>
	</sql>
	
	<!-- 로그인했을경우, 좋아요 체크확인 -->
	<sql id="loginLikeCheck">
		<if test="userId != null and userId != ''">
			,(select count(*) from likes where target_no = dgn_no and user_id= #{userId})AS mylike
		</if>
	</sql>
	
	<select id="designList" resultType="DesignVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
			SELECT d.dgn_no,d.user_id,d.c_no,d.name,d.cntn,d.win_yn,d.dt,d.pubc_yn,d.save,code_select(d.caregory)caregory,
                    (select sev_nm 
                      from files 
                      where target_id = dgn_no
                      and f_nm = center_img) AS center_img
                       <include refid="loginLikeCheck" />
			FROM design d, likes l
			WHERE d.dgn_no = l.target_no(+)
            AND d.SAVE = 'N'
			AND d.PUBC_YN = 'N'
			<include refid="search" />
			<include refid="category" />
			<include refid="likeDesign" />
			order by #{order} DESC
	  	<![CDATA[
			) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 응모조회 리스트 개수 반환 -->
	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM DESIGN
		where SAVE = 'N'
		<include refid="check" /> 
		<include refid="search" /> 
	</select>
	
	<!-- 전체디자인 리스트 개수 반환 -->
	<select id="allCount" resultType="int">
		SELECT COUNT(*)
		FROM DESIGN d, likes l
		WHERE d.dgn_no = l.target_no(+)
		AND SAVE = 'N'
		AND PUBC_YN = 'N'
		<include refid="search" /> 
		<include refid="category" /> 
		<include refid="likeDesign" />
	</select>
	
	<!-- 공모전1건에 대한 디자인리스트중에서 1번째 대표이미지와 같은 파일명가져오기. -->
	<select id="contestDesignList" resultType="DesignVO">
		SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
			select c.c_no,
				   d.caregory,
				   d.dgn_no,
				   d.user_id user_id,
				   d.name,
				   d.cntn,
				   d.dt,
				   d.center_img,
				   d.pubc_yn,
				   f.sev_nm sevNm
			
			from contest c join design d on c.c_no = d.c_no
                           join files f on f.target_id = d.dgn_no
			
			and c.c_no = #{cNo}
			and d.center_img = f.f_nm
			and d.save = 'N'
			order by dt DESC
		<![CDATA[
			) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<!-- 회원유저의 디자인리스트 대한 내역 -->
	<select id="userDesignList" resultType="DesignVO">
	SELECT * FROM (SELECT ROWNUM RN, A.* FROM (
		SELECT d.*,f.sev_nm sevNm,c.ttl contestTtl 
		
		FROM DESIGN d join files f on f.target_id = d.dgn_no
		              join contest c  on d.c_no = c.c_no
		              
		and USER_ID = #{userId}
		and d.center_img = f.f_nm
		and d.save = 'N'
		<include refid="search" /> 
		<include refid="category" /> 
		order by dt DESC
	<![CDATA[
			) A WHERE ROWNUM <= #{last}) WHERE RN >= #{first}
		]]>
	</select>
	
	<!--디자인한건조회 -->
	<select id="getDesign" resultType="DesignVO">
		SELECT c.writer,
	           c.ttl contestTtl,
	           d.DGN_NO,
	           d.USER_ID,
	           d.C_NO,
	           d.NAME,
	           CODE_SELECT(d.CAREGORY) CAREGORY,
	           d.CNTN,
	           d.DT,
	           d.CENTER_IMG,
	           d.PUBC_YN,
	           d.SAVE,
			   (SELECT COUNT(WIN_YN) FROM DESIGN WHERE USER_ID=#{userId} AND WIN_YN = 'Y') CNT,
			   (SELECT SEV_NM FROM FILES WHERE TARGET_ID=#{userId}) MAINIMG
		  FROM DESIGN d join contest c
                        on d.c_no = c.c_no                
		 and dgn_no = #{dgnNo}
		 ORDER BY DT DESC
	</select>
	
	<select id="oneDesign" resultType="com.eventi.left.design.service.DesignVO">
		SELECT 
	           d.DGN_NO,
	           d.USER_ID,
	           d.C_NO,
	           d.NAME,
	           CODE_SELECT(d.CAREGORY) CAREGORY,
	           d.CNTN,
	           d.DT,
	           d.CENTER_IMG,
	           d.PUBC_YN,
	           d.SAVE,
			   (SELECT COUNT(WIN_YN) FROM DESIGN WHERE USER_ID=#{userId} AND WIN_YN = 'Y') CNT,
			   (SELECT SEV_NM FROM FILES WHERE TARGET_ID=#{userId}) MAINIMG
		  FROM DESIGN d           
         where dgn_no = #{dgnNo}
		 ORDER BY DT DESC
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="dgnNo" resultType="String" order="BEFORE">
			SELECT 'DE'||(MAX(TO_NUMBER(SUBSTR(DGN_NO,3)))+1) dgnNo
			FROM DESIGN
		</selectKey>
		INSERT INTO DESIGN(DGN_NO,
							USER_ID,
							C_NO,NAME,
							CAREGORY,
							CNTN,
							DT,
							CENTER_IMG,
							PUBC_YN,
							SAVE)
		VALUES( #{dgnNo},
				#{userId},
				#{cNo},
				#{name},
				#{caregory},
				#{cntn},
				current_date,
				#{centerImg},
				#{pubcYn},
				#{save})  
	</insert>
	
	<update id="update">
		update design
		set name = #{name},
		    cntn = #{cntn},
		    center_img = #{centerImg},
		    pubc_yn = #{pubcYn},
		    save = #{save}
		where dgn_no = #{dgnNo}
		and user_id = #{userId}
	</update>
	
	<update id="winnerCheck">
		UPDATE DESIGN
		   SET WIN_YN = 'Y'
		 WHERE DGN_NO = #{dgnNo}
	</update>
	
	<delete id="delete">
		delete design
		where dgn_no = #{dgnNo}
	</delete>
	
	<select id="getSequence" resultType="string">
		SELECT 'DE'||(MAX(TO_NUMBER(SUBSTR(DGN_NO,3)))+1) dgnNo
		FROM DESIGN
	</select>
	
	<select id="entryDesign" resultType="int">
		select count(*)
		  from design
		where c_no =#{cNo}
		AND SAVE = 'N'
	</select>
	
	<select id="saveGetdesign" resultType="DesignVO">
		SELECT d.*,f.sev_nm sevNm
		
		FROM CONTEST c join design d on c.c_no = d.c_no
                        join files f on d.dgn_no = f.target_id
		and d.save = 'Y'
		and d.dgn_no = #{dgnNo}
	</select>
	
	<select id="dSave" resultType="DesignVO">
		select * 
		  FROM design
		  WHERE user_id = #{userId}
          AND SAVE = 'Y'
        and c_no = #{cNo}
	</select>
	
</mapper>