<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.eventi.left.faq.mapper.FaqMapper">
<sql id="fSelect">
	<where>
		<!-- 검색창 입력 시 -->
		<if test="faqTtl !=null and faqTtl != ''">
			AND ( FAQ_TTL LIKE '%${faqTtl}%' OR FAQ_ANS LIKE '%${faqTtl}%' ) <!-- where or를 ()로 묶어야 밑으로 안감 and가 먼저  -->
		</if>
	</where>	
</sql>		
	<select id="getFaqList" resultType="FaqVO">
		SELECT FAQ_NO, FAQ_TTL, FAQ_ANS   
		FROM FAQ
		<include refid="fSelect" />
	</select>

</mapper>